noderedintento2.json
[
    {
        "id": "7c7ba89072d1dd3c",
        "type": "tab",
        "label": "FOTA",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2ad68381a3dc4040",
        "type": "http response",
        "z": "7c7ba89072d1dd3c",
        "name": "OTA Response",
        "statusCode": "",
        "headers": {},
        "x": 2772.559814453125,
        "y": 663.1071910858154,
        "wires": []
    },
    {
        "id": "8502d09406bbd444",
        "type": "http in",
        "z": "7c7ba89072d1dd3c",
        "name": "OTA Manager",
        "url": "/esp8266-ota",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 88.05558013916016,
        "y": 648.2856712341309,
        "wires": [
            [
                "8cfb8485a04db8d7"
            ]
        ]
    },
    {
        "id": "6ff634a59949a605",
        "type": "file",
        "z": "7c7ba89072d1dd3c",
        "name": "Save md5 Checksum",
        "filename": "",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "x": 1539.9998168945312,
        "y": 845.8333740234375,
        "wires": [
            []
        ]
    },
    {
        "id": "69bd33ed2e2ae33b",
        "type": "file in",
        "z": "7c7ba89072d1dd3c",
        "name": "Read firmware",
        "filename": "",
        "format": "",
        "x": 842.0833740234375,
        "y": 846.6666870117188,
        "wires": [
            [
                "63e1462db675a6a6"
            ]
        ]
    },
    {
        "id": "e4636335fb05fa1c",
        "type": "change",
        "z": "7c7ba89072d1dd3c",
        "name": "Extract filename",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "firmware.directory",
                "tot": "flow"
            },
            {
                "t": "change",
                "p": "filename",
                "pt": "msg",
                "from": "$",
                "fromt": "re",
                "to": "req.files.firmware[0].originalname",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "req",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "res",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 619.375,
        "y": 847.9166870117188,
        "wires": [
            [
                "69bd33ed2e2ae33b"
            ]
        ]
    },
    {
        "id": "c2eadb14eafaf111",
        "type": "change",
        "z": "7c7ba89072d1dd3c",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "filename",
                "pt": "msg",
                "from": "bin$",
                "fromt": "re",
                "to": "md5",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1225.625,
        "y": 846.25,
        "wires": [
            [
                "6ff634a59949a605"
            ]
        ]
    },
    {
        "id": "706287f585f1d199",
        "type": "comment",
        "z": "7c7ba89072d1dd3c",
        "name": "Firmware Upgrade",
        "info": "The system determines which firmware to send based\non the MAC address, version, and MD5 headers in the\nrequest from the ESP8266.\n\nFirstly, it checks if a firmware hash file with \nthe MAC address as the name exists, or else if a \nfirmware file with the version as the name exists.\nIf neither exist then no update is available.\n\nIt then reads the corresponding MD5 hash from the\nhash file and compares to the MD5 hash in the\nrequest.  If they match then the firmware is up\nto date and no update is required.\n\nOtherwise, it sends the contents of the firmware\nbin file and the MD5 hash value.",
        "x": 103.5,
        "y": 46,
        "wires": []
    },
    {
        "id": "bb92e46511dc2d85",
        "type": "comment",
        "z": "7c7ba89072d1dd3c",
        "name": "Firmware Management",
        "info": "",
        "x": 110.5,
        "y": 542,
        "wires": []
    },
    {
        "id": "9c7372f546f35fb7",
        "type": "template",
        "z": "7c7ba89072d1dd3c",
        "name": "Firmware Manager",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<html>\n    <head>\n        <title>ESP8266 OTA Firmware Manager</title>\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n        <link rel=\"stylesheet\" href=\"http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css\">\n        <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js\"></script>\n        <script src=\"http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js\"></script>\n        <style>\n            .file-btn-grp {\n                display: none;\n            }\n            body {\n                background-color: #f6f6f6;\n            }\n            .text_holder {\n                display: block;\n                max-width: 100%;\n                word-wrap: break-word;\n                line-height: 30px;\n            }\n            #main {\n                margin-top: 50px;\n                background-color: #ffffff;\n                border-radius: 5px;\n                width: 70%;\n                min-width: 500px;\n                border: 1px solid #545454;\n            }\n            .alert {\n                margin-top: 10px;\n                margin-bottom: 5px;\n            }\n            .link {\n                font-style: italic;\n            }\n            .listentry {\n                display: none;\n                list-style-type: none;\n            }\n        </style>\n\n    </head>\n    <body>\n        <div class=\"container\" id=\"main\">\n            <h1><small>ESP8266 OTA Firmware Manager</small></h1>\n            <h2><small>Upload New Firmware</small></h2>\n\n            <form role =\"form\" id=\"main_input_box\" action=\"esp8266-ota\" method=\"POST\" enctype=\"multipart/form-data\" class=\"form-inline\">\n                <input type=\"file\" accept=\".bin\" class=\"hidden\" id=\"fileUpload\" name=\"firmware\" placeholder=\"firmware.bin\">\n                <div class=\"form-group\">\n                <div class=\"input-group\">\n                    <span class=\"input-group-btn\">\n                        <button id=\"browse\" type=\"button\" class=\"btn btn-primary\">Browse...</button>\n                    </span>\n                    <input id=\"filename\" size=100 readonly=\"\" class=\"form-control\" placeholder=\"Firmware.bin\">\n                    <span class=\"input-group-btn\">\n                        <input type=\"submit\" value=\"Upload\" class=\"btn btn-primary add_button\">\n                    </span>\n                </div>\n                </div>\n            </form>\n\n            <h2><small>Current Firmware</small></h2>\n            <ul class=\"list-group\" id=\"list_of_items\">\n            </ul>\n        </div>\n\n        <div id=\"linkModal\" class=\"modal fade\" role=\"dialog\">\n            <div class=\"modal-dialog\">\n        \n                <!-- Modal content-->\n                <div class=\"modal-content\">\n                    <div class=\"modal-header\">\n                        <button type=\"button\" class=\"close\" data-dismiss=\"modal\">&times;</button>\n                        <h4 class=\"modal-title\">Create Symbolic Link</h4>\n                    </div>\n                    <div class=\"modal-body\">\n                        <form class=\"form-horizontal\" id=\"linkForm\" role=\"form\" action=\"#\" method=\"POST\">\n                            <div class=\"form-group\">\n                                <label class=\"control-label  col-sm-2\" for=\"linkName\">Link:</label> \n                                <div class=\"col-sm-10\">\n                                    <input id=\"linkName\" name=\"linkName\" class=\"form-control\"/>\n                                </div>\n                            </div>\n                            <div class=\"form-group\">\n                                <label class=\"control-label  col-sm-2\" for=\"linkFile\">To:</label> \n                                <div class=\"col-sm-10\">\n                                    <input class=\"form-control\" id=\"linkFile\" name=\"linkFile\"/>\n                                </div>\n                            </div>\n                        </form>\n                    </div>\n                    <div class=\"modal-footer\">\n                        <button type=\"submit\" class=\"btn btn-success link-create\">Create</button>\n                        <button type=\"button\" class=\"btn btn-warning\" data-dismiss=\"modal\">Cancel</button>\n                    </div>\n                </div>\n            </div>\n        </div>\n        \n        <script>\n\n            var deleteButton = \"<button id='delete' class='btn btn-warning'>Delete</button>\";\n            var linkButton = \"<button id='link' class='btn btn-success'>Link</button>\";\n            var oneButton = \"<div class='file-btn-grp btn-group pull-right'>\" + deleteButton + \"</div>\";\n            var twoButtons = \"<div class='file-btn-grp btn-group pull-right'>\" + deleteButton + linkButton + \"</div>\";\n            \n            function addListEntry(list, filename, linkname) {\n            \n                var entry;\n                \n                if (linkname === undefined) {\n                    entry = $(\"<li class='listentry list-group-item'><div class='text_holder'><span>\" \n                    + filename + \"</span>\" + twoButtons + \"</div></li>\");\n                } else {\n                    entry = $(\"<li class='listentry list-group-item'><div class='text_holder'><span class='link'>\" \n                    + filename + \"</span> <span class='glyphicon glyphicon-arrow-right'></span> \" \n                    + linkname + oneButton + \"</div></li>\");\n                }\n                \n                entry.mouseover(function(){\n                    $(this).find(\".btn-group\").fadeIn(\"fast\");\n                });\n                entry.mouseleave(function(){\n                    $(this).find(\".btn-group\").fadeOut(\"slow\");\n                });\n                \n                entry.on(\"click\", \"button#delete\", function(){\n                    var listItem = this.parentElement.parentElement.parentElement;\n                    var file = this.parentElement.parentElement.childNodes[0].childNodes[0].data;\n                    $.ajax({\n                        type: 'DELETE',\n                        data: {\"filename\": file},\n                        success: function(result) {\n                            $(listItem).fadeOut(\"slow\", function(){\n                                listItem.remove();\n                            });\n                        },\n                        error: function(result) {\n                            $(listItem).append(\"<div class='alert alert-danger'>\"\n                                + \"<a href='#' class='close' data-dismiss='alert'\"\n                                + \"aria-label='close'>&times;</a>\"\n                                + result.responseText + \"</div>\");\n                        }\n                    });\n                });\n           \n                entry.on(\"click\", \"button#link\", function(){\n                    var file = this.parentElement.parentElement.childNodes[0].childNodes[0].data;\n                    $(\"#linkName\").val(\"\");\n                    $(\"#linkFile\").prop(\"disabled\", true).val(file);\n                    $(\"#linkName\").parent().removeClass(\"has-error\");\n                    $(\"#linkModal\").modal();\n                    $('#linkModal').on('shown.bs.modal', function () {\n                        $('#linkName').focus();\n                    });\n                });\n                \n                if (list.children().length == 0) {\n                    list.append(entry);\n                    entry.fadeIn(\"slow\");\n                    return;\n                }\n\n                if (filename < $(\"li:first span:first\", list).text()) {\n                    $(\"li:first\", list).before(entry);\n                    entry.fadeIn(\"slow\");\n                    return;\n                }\n                if (filename > $(\"li:last span:first\", list).text()) {\n                    $(\"li:last\", list).after(entry);\n                    entry.fadeIn(\"slow\");\n                    return;\n                }\n                \n                var count = 0;\n                var $li = $(\"li\", list);\n                do {\n                    var index = parseInt($li.length / 2);\n                    var $compare = $li.eq(index);\n                    var compare = $(\"span:first\",$compare).text();\n                    if (filename === compare) {\n                        break;\n                    }\n                    else if (filename > compare) {\n                        $li = $li.slice(index, $li.length);\n                    } else {\n                        $li = $li.slice(0, index);\n                    }\n                } while ($li.length > 1);\n\n                if (filename === compare) {\n                    $compare.slideUp(\"fast\").slideDown(\"slow\");\n                    return;\n                } else if (filename < compare) { \n                    entry.insertBefore($compare); \n                } else { \n                    entry.insertAfter($compare); \n                }\n                entry.slideDown(\"slow\");\n            }\n            \n            \n            var files = String(\"{{payload.files}}\").split(',');\n            var links = String(\"{{payload.links}}\").split(',');\n            \n            var list_of_items = $(\"#list_of_items\");\n            \n            files.forEach(function(file,index) {\n                if (links[index] == \"\") {\n                    addListEntry(this, file.slice(0,-4));\n                } else {\n                    addListEntry(this, file.slice(0,-4), links[index].slice(0,-4));\n                }\n            },list_of_items);\n           \n           \n            $(\"#linkModal\").on(\"click\", \"button.link-create\", function(event){\n               event.preventDefault();\n               if ($(\"#linkName\").val() == \"\") {\n                    $('#linkName').focus();\n                    $('#linkName').parent().addClass(\"has-error\");\n                    return false;\n               }\n               $(\"#linkFile\").prop(\"disabled\",false);               \n               $.ajax({\n                    type: 'PUT',\n                    data: $(\"#linkForm\").serialize(),\n                    success: function(result) {\n                        $(\"#linkModal\").modal('hide');\n                        addListEntry(list_of_items, $('#linkName').val(), $('#linkFile').val());\n                    },\n                    error: function(result) {\n                        $(\"#linkFile\").prop(\"disabled\", true);\n                        $('#linkName').focus();\n                        $('#linkName').parent().addClass(\"has-error\");\n                        $(linkForm).append(\"<div id='linkError' class='alert alert-danger'>\"\n                             + \"<a href='#' class='close' data-dismiss='alert'\"\n                             + \"aria-label='close'>&times;</a>\"\n                             + result.responseText + \"</div>\");\n                    }\n                });\n            });\n            \n            $(\"#browse\").on('click', function () {\n                fileUpload.click();\n            });\n            \n            $(\"#fileUpload\").on('change', function () {\n                $(\"#filename\").val($(\"#fileUpload\").val().split('/').pop().split('\\\\').pop());\n            });\n            \n            var frm = $(\"#main_input_box\");\n            \n            frm.submit( function( e ) {\n                e.preventDefault();\n                if ($('#fileUpload').val() == \"\") return null;\n                $.ajax( {\n                    url: frm.attr('action'),\n                    type: frm.attr('method'),\n                    data: new FormData( this ),\n                    processData: false,\n                    contentType: false,\n                    success: function(result) {\n                        addListEntry(list_of_items, $('#fileUpload').val().slice(0,-4).split('\\\\').pop());\n                        $('#fileUpload').val('');\n                        $(':text').val('');\n                    },\n                    error: function(result) {\n                        $(\"#main_input_box\").append(\"<div class='alert alert-danger'>\"\n                             + \"<a href='#' class='close' data-dismiss='alert'\"\n                             + \"aria-label='close'>&times;</a>\"\n                             + result.responseText + \"</div>\");\n                    }\n\n                });\n            });\n        </script>\n    </body>\n</html>",
        "output": "str",
        "x": 1381.3333740234375,
        "y": 645.8135375976562,
        "wires": [
            [
                "2ad68381a3dc4040"
            ]
        ]
    },
    {
        "id": "daaca47c80264d70",
        "type": "http in",
        "z": "7c7ba89072d1dd3c",
        "name": "OTA Delete",
        "url": "/esp8266-ota",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 83.125,
        "y": 933.75,
        "wires": [
            [
                "eaf40199f8b6d71d"
            ]
        ]
    },
    {
        "id": "aca24d0fc8a2a578",
        "type": "catch",
        "z": "7c7ba89072d1dd3c",
        "name": "File Error",
        "scope": [
            "b69788b460e3ac03",
            "fe265907de7bade9",
            "ee213d56e336d4f4",
            "77a4e6f021646d34",
            "3bc7d7e21c47b0f9"
        ],
        "x": 1870.6665573120117,
        "y": 805.3333158493042,
        "wires": [
            [
                "b2b8eb7b4c6c51e7"
            ]
        ]
    },
    {
        "id": "b2b8eb7b4c6c51e7",
        "type": "change",
        "z": "7c7ba89072d1dd3c",
        "name": "Error",
        "rules": [
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "500",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "error.message",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2159,
        "y": 791,
        "wires": [
            [
                "2ad68381a3dc4040"
            ]
        ]
    },
    {
        "id": "6d6a592a8fba20c9",
        "type": "change",
        "z": "7c7ba89072d1dd3c",
        "name": "Change to MD5 filename",
        "rules": [
            {
                "t": "change",
                "p": "payload.filename",
                "pt": "msg",
                "from": "bin",
                "fromt": "str",
                "to": "md5",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1879.1666564941406,
        "y": 936.6666269302368,
        "wires": [
            [
                "fe265907de7bade9"
            ]
        ]
    },
    {
        "id": "edd5bc31f415f63a",
        "type": "http in",
        "z": "7c7ba89072d1dd3c",
        "name": "OTA Link",
        "url": "/esp8266-ota",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 84,
        "y": 1041.5,
        "wires": [
            [
                "74776e2131d2d671"
            ]
        ]
    },
    {
        "id": "74776e2131d2d671",
        "type": "change",
        "z": "7c7ba89072d1dd3c",
        "name": "Extract filename",
        "rules": [
            {
                "t": "change",
                "p": "payload.linkName",
                "pt": "msg",
                "from": "$",
                "fromt": "re",
                "to": ".bin",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload.linkFile",
                "pt": "msg",
                "from": "$",
                "fromt": "re",
                "to": ".bin",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1385,
        "y": 1044,
        "wires": [
            [
                "ee213d56e336d4f4"
            ]
        ]
    },
    {
        "id": "2adaa44e64e4f3cd",
        "type": "change",
        "z": "7c7ba89072d1dd3c",
        "name": "Change to MD5 Filename",
        "rules": [
            {
                "t": "change",
                "p": "payload.linkName",
                "pt": "msg",
                "from": "bin$",
                "fromt": "re",
                "to": "md5",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload.linkFile",
                "pt": "msg",
                "from": "bin$",
                "fromt": "re",
                "to": "md5",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1908,
        "y": 1045,
        "wires": [
            [
                "77a4e6f021646d34"
            ]
        ]
    },
    {
        "id": "eaf40199f8b6d71d",
        "type": "change",
        "z": "7c7ba89072d1dd3c",
        "name": "Extract filename",
        "rules": [
            {
                "t": "change",
                "p": "payload.filename",
                "pt": "msg",
                "from": "$",
                "fromt": "re",
                "to": ".bin",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1382.5,
        "y": 937.5,
        "wires": [
            [
                "b69788b460e3ac03"
            ]
        ]
    },
    {
        "id": "7430c374738db5fd",
        "type": "http response",
        "z": "7c7ba89072d1dd3c",
        "name": "OTA Response",
        "x": 3210.059814453125,
        "y": 366.06256103515625,
        "wires": []
    },
    {
        "id": "0b17e668141376e9",
        "type": "file in",
        "z": "7c7ba89072d1dd3c",
        "name": "Load Firmware",
        "filename": "",
        "format": "",
        "sendError": false,
        "x": 2586.999786376953,
        "y": 399.88400077819824,
        "wires": [
            [
                "7430c374738db5fd",
                "ae905b443aea754b"
            ]
        ]
    },
    {
        "id": "dd31d9a46f183fb4",
        "type": "change",
        "z": "7c7ba89072d1dd3c",
        "name": "No Update",
        "rules": [
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "304",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2956.107421875,
        "y": 258.52682304382324,
        "wires": [
            [
                "7430c374738db5fd"
            ]
        ]
    },
    {
        "id": "3872aaf65c1ac73d",
        "type": "change",
        "z": "7c7ba89072d1dd3c",
        "name": "Forbidden",
        "rules": [
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "403",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Forbidden",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2933.999755859375,
        "y": 135.84826469421387,
        "wires": [
            [
                "7430c374738db5fd"
            ]
        ]
    },
    {
        "id": "ae905b443aea754b",
        "type": "debug",
        "z": "7c7ba89072d1dd3c",
        "name": "Update sent",
        "active": true,
        "console": "false",
        "complete": "req.headers.x-esp8266-sta-mac",
        "x": 2932.0000610351562,
        "y": 405.955472946167,
        "wires": []
    },
    {
        "id": "073994ad04e55070",
        "type": "change",
        "z": "7c7ba89072d1dd3c",
        "name": "Save MD5 Hash",
        "rules": [
            {
                "t": "set",
                "p": "headers.x-MD5",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "change",
                "p": "filename",
                "pt": "msg",
                "from": "md5",
                "fromt": "str",
                "to": "bin",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2375.785789489746,
        "y": 387.0268669128418,
        "wires": [
            [
                "0b17e668141376e9"
            ]
        ]
    },
    {
        "id": "4e0def69467825a7",
        "type": "switch",
        "z": "7c7ba89072d1dd3c",
        "name": "Update type",
        "property": "req.headers.x-esp8266-mode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "spiffs",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "sketch",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "outputs": 2,
        "x": 474.5179748535156,
        "y": 228.52685356140137,
        "wires": [
            [
                "dd31d9a46f183fb4"
            ],
            [
                "26d2c2dd26d31e40"
            ]
        ]
    },
    {
        "id": "d43822b9c9a381aa",
        "type": "switch",
        "z": "7c7ba89072d1dd3c",
        "name": "Compare MD5 hash",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "req.headers.x-esp8266-sketch-md5",
                "vt": "msg"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "outputs": 2,
        "x": 1945.41064453125,
        "y": 342.13403129577637,
        "wires": [
            [
                "dd31d9a46f183fb4",
                "101295a9af7ea8bd"
            ],
            [
                "073994ad04e55070",
                "2d02d7da2e070c1e"
            ]
        ]
    },
    {
        "id": "9f4b2d782f08cffc",
        "type": "catch",
        "z": "7c7ba89072d1dd3c",
        "name": "File error",
        "scope": [
            "0b17e668141376e9",
            "0078990cce286bc6"
        ],
        "x": 2628.3572387695312,
        "y": 348.52682304382324,
        "wires": [
            [
                "dd31d9a46f183fb4",
                "82301f66929cdb08"
            ]
        ]
    },
    {
        "id": "763b87da052e4a96",
        "type": "switch",
        "z": "7c7ba89072d1dd3c",
        "name": "Check user agent",
        "property": "req.headers.user-agent",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "ESP8266-http-Update",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "outputs": 2,
        "x": 311.21436309814453,
        "y": 134.95541191101074,
        "wires": [
            [
                "3872aaf65c1ac73d"
            ],
            [
                "4e0def69467825a7"
            ]
        ]
    },
    {
        "id": "26d2c2dd26d31e40",
        "type": "change",
        "z": "7c7ba89072d1dd3c",
        "name": "Get MAC hash filename",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "firmware.directory",
                "tot": "flow"
            },
            {
                "t": "change",
                "p": "filename",
                "pt": "msg",
                "from": "$",
                "fromt": "re",
                "to": "req.headers.x-esp8266-sta-mac",
                "tot": "msg"
            },
            {
                "t": "change",
                "p": "filename",
                "pt": "msg",
                "from": "$",
                "fromt": "re",
                "to": ".md5",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 703.6428451538086,
        "y": 354.9554100036621,
        "wires": [
            [
                "36d0b38813dbc2ad"
            ]
        ]
    },
    {
        "id": "0078990cce286bc6",
        "type": "file in",
        "z": "7c7ba89072d1dd3c",
        "name": "Load Hash",
        "filename": "",
        "format": "utf8",
        "sendError": false,
        "x": 1734.410629272461,
        "y": 341.7768840789795,
        "wires": [
            [
                "d43822b9c9a381aa"
            ]
        ]
    },
    {
        "id": "6aac906cf3a083ec",
        "type": "change",
        "z": "7c7ba89072d1dd3c",
        "name": "Get Version hash filename",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "firmware.directory",
                "tot": "flow"
            },
            {
                "t": "change",
                "p": "filename",
                "pt": "msg",
                "from": "$",
                "fromt": "re",
                "to": "req.headers.x-esp8266-version",
                "tot": "msg"
            },
            {
                "t": "change",
                "p": "filename",
                "pt": "msg",
                "from": "$",
                "fromt": "re",
                "to": ".md5",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1183.7857666015625,
        "y": 459.5982036590576,
        "wires": [
            [
                "a402644db54e0842",
                "9171c2995a01d659"
            ]
        ]
    },
    {
        "id": "82301f66929cdb08",
        "type": "debug",
        "z": "7c7ba89072d1dd3c",
        "name": "Firmware file error",
        "active": false,
        "console": "false",
        "complete": "error",
        "x": 2891.2142944335938,
        "y": 347.09826469421387,
        "wires": []
    },
    {
        "id": "374cc65a2aea1c65",
        "type": "http in",
        "z": "7c7ba89072d1dd3c",
        "name": "OTA Request",
        "url": "/esp8266-ota/update",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 75,
        "y": 134.95541191101074,
        "wires": [
            [
                "763b87da052e4a96",
                "7abf7af3590bc0bd"
            ]
        ]
    },
    {
        "id": "6a19586aabd4911b",
        "type": "switch",
        "z": "7c7ba89072d1dd3c",
        "name": "",
        "property": "req.headers.x-esp8266-version",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 687.4642333984375,
        "y": 466.74108695983887,
        "wires": [
            [
                "6aac906cf3a083ec"
            ],
            [
                "5c499075e8a8cf9a"
            ]
        ]
    },
    {
        "id": "5c499075e8a8cf9a",
        "type": "change",
        "z": "7c7ba89072d1dd3c",
        "name": "Version in Request",
        "rules": [
            {
                "t": "set",
                "p": "req.headers.x-esp8266-version",
                "pt": "msg",
                "to": "req.params.version",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 896.9285278320312,
        "y": 532.8125286102295,
        "wires": [
            [
                "6aac906cf3a083ec"
            ]
        ]
    },
    {
        "id": "7abf7af3590bc0bd",
        "type": "debug",
        "z": "7c7ba89072d1dd3c",
        "name": "Update req",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 246.2144012451172,
        "y": 235.66967582702637,
        "wires": []
    },
    {
        "id": "dad3d4123a304441",
        "type": "debug",
        "z": "7c7ba89072d1dd3c",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1291.773494720459,
        "y": 382.1797161102295,
        "wires": []
    },
    {
        "id": "ddefea2de2bf1888",
        "type": "debug",
        "z": "7c7ba89072d1dd3c",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1315.0234375,
        "y": 294.0390625,
        "wires": []
    },
    {
        "id": "9171c2995a01d659",
        "type": "debug",
        "z": "7c7ba89072d1dd3c",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "filename",
        "x": 1393.0234375,
        "y": 555.0390625,
        "wires": []
    },
    {
        "id": "6b029063c6efcefd",
        "type": "debug",
        "z": "7c7ba89072d1dd3c",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "filename",
        "x": 1770.0234375,
        "y": 524.0390625,
        "wires": []
    },
    {
        "id": "225499c2d9f0cdaa",
        "type": "debug",
        "z": "7c7ba89072d1dd3c",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "filename",
        "x": 1789.0234375,
        "y": 407.0390625,
        "wires": []
    },
    {
        "id": "101295a9af7ea8bd",
        "type": "debug",
        "z": "7c7ba89072d1dd3c",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "filename",
        "x": 2148.0234375,
        "y": 279.0390625,
        "wires": []
    },
    {
        "id": "2d02d7da2e070c1e",
        "type": "debug",
        "z": "7c7ba89072d1dd3c",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "filename",
        "x": 2170.0234375,
        "y": 506.0390625,
        "wires": []
    },
    {
        "id": "3bc7d7e21c47b0f9",
        "type": "fs-ops-move",
        "z": "7c7ba89072d1dd3c",
        "name": "Store firmware",
        "sourcePath": "req.files.firmware[0].destination",
        "sourcePathType": "msg",
        "sourceFilename": "req.files.firmware[0].filename",
        "sourceFilenameType": "msg",
        "destPath": "firmware.directory",
        "destPathType": "flow",
        "destFilename": "req.files.firmware[0].originalname",
        "destFilenameType": "msg",
        "link": false,
        "x": 365.89284896850586,
        "y": 818.3332557678223,
        "wires": [
            [
                "e4636335fb05fa1c",
                "2ad68381a3dc4040"
            ]
        ]
    },
    {
        "id": "ee213d56e336d4f4",
        "type": "fs-ops-move",
        "z": "7c7ba89072d1dd3c",
        "name": "Link firmware",
        "sourcePath": "",
        "sourcePathType": "str",
        "sourceFilename": "payload.linkFile",
        "sourceFilenameType": "msg",
        "destPath": "firmware.directory",
        "destPathType": "flow",
        "destFilename": "payload.linkName",
        "destFilenameType": "msg",
        "link": true,
        "x": 1644.5,
        "y": 1044,
        "wires": [
            [
                "2adaa44e64e4f3cd"
            ]
        ]
    },
    {
        "id": "77a4e6f021646d34",
        "type": "fs-ops-move",
        "z": "7c7ba89072d1dd3c",
        "name": "Link MD5",
        "sourcePath": "",
        "sourcePathType": "str",
        "sourceFilename": "payload.linkFile",
        "sourceFilenameType": "msg",
        "destPath": "firmware.directory",
        "destPathType": "flow",
        "destFilename": "payload.linkName",
        "destFilenameType": "msg",
        "link": true,
        "x": 2152.5,
        "y": 1044,
        "wires": [
            [
                "2ad68381a3dc4040"
            ]
        ]
    },
    {
        "id": "b69788b460e3ac03",
        "type": "fs-ops-delete",
        "z": "7c7ba89072d1dd3c",
        "name": "Delete firmware",
        "path": "firmware.directory",
        "pathType": "flow",
        "filename": "payload.filename",
        "filenameType": "msg",
        "x": 1628.6250457763672,
        "y": 936.5832777023315,
        "wires": [
            [
                "6d6a592a8fba20c9"
            ]
        ]
    },
    {
        "id": "fe265907de7bade9",
        "type": "fs-ops-delete",
        "z": "7c7ba89072d1dd3c",
        "name": "Delete MD5 Hash",
        "path": "firmware.directory",
        "pathType": "flow",
        "filename": "payload.filename",
        "filenameType": "msg",
        "x": 2170.833206176758,
        "y": 936.6665878295898,
        "wires": [
            [
                "2ad68381a3dc4040"
            ]
        ]
    },
    {
        "id": "a402644db54e0842",
        "type": "fs-ops-access",
        "z": "7c7ba89072d1dd3c",
        "name": "Check for MD5 file exists",
        "path": "",
        "pathType": "str",
        "filename": "filename",
        "filenameType": "msg",
        "read": true,
        "write": false,
        "throwerror": false,
        "x": 1497.2857055664062,
        "y": 459.6696147918701,
        "wires": [
            [
                "0078990cce286bc6",
                "225499c2d9f0cdaa"
            ],
            [
                "dd31d9a46f183fb4",
                "6b029063c6efcefd"
            ]
        ]
    },
    {
        "id": "36d0b38813dbc2ad",
        "type": "fs-ops-access",
        "z": "7c7ba89072d1dd3c",
        "name": "Check for MD5 file exists",
        "path": "",
        "pathType": "str",
        "filename": "filename",
        "filenameType": "msg",
        "read": true,
        "write": false,
        "throwerror": false,
        "x": 990,
        "y": 340,
        "wires": [
            [
                "0078990cce286bc6",
                "ddefea2de2bf1888"
            ],
            [
                "6a19586aabd4911b",
                "dad3d4123a304441"
            ]
        ]
    },
    {
        "id": "5b85929ef9ed529e",
        "type": "fs-ops-link",
        "z": "7c7ba89072d1dd3c",
        "name": "Get Links",
        "path": "firmware.directory",
        "pathType": "flow",
        "filename": "payload.files",
        "filenameType": "msg",
        "link": "payload.links",
        "linkType": "msg",
        "x": 776.4999923706055,
        "y": 648.3333110809326,
        "wires": [
            [
                "9c7372f546f35fb7"
            ]
        ]
    },
    {
        "id": "8cfb8485a04db8d7",
        "type": "fs-ops-dir",
        "z": "7c7ba89072d1dd3c",
        "name": "Firmware listing",
        "path": "firmware.directory",
        "pathType": "flow",
        "filter": "*.bin",
        "filterType": "str",
        "dir": "payload.files",
        "dirType": "msg",
        "x": 493.0355987548828,
        "y": 647.8015928268433,
        "wires": [
            [
                "5b85929ef9ed529e"
            ]
        ]
    },
    {
        "id": "63e1462db675a6a6",
        "type": "md5",
        "z": "7c7ba89072d1dd3c",
        "name": "",
        "fieldToHash": "payload",
        "hashField": "payload",
        "hashFieldType": "msg",
        "x": 1031.6668090820312,
        "y": 846.6666259765625,
        "wires": [
            [
                "c2eadb14eafaf111"
            ]
        ]
    },
    {
        "id": "b42e11fcc373762c",
        "type": "config",
        "z": "7c7ba89072d1dd3c",
        "name": "Firmware Config",
        "properties": [
            {
                "p": "firmware.directory",
                "pt": "flow",
                "to": "/home/ubuntu/OTA/",
                "tot": "str"
            }
        ],
        "active": true,
        "x": 123.0714111328125,
        "y": 360.1428527832031,
        "wires": []
    },
    {
        "id": "0b9037af0d25a3ce",
        "type": "httpInMultipart",
        "z": "7c7ba89072d1dd3c",
        "name": "OTA Upload",
        "url": "/esp8266-ota",
        "method": "post",
        "fields": "[{ \"name\": \"firmware\"}]",
        "swaggerDoc": "",
        "x": 79.7857437133789,
        "y": 812.4286108016968,
        "wires": [
            [
                "3bc7d7e21c47b0f9"
            ]
        ]
    },
    {
        "id": "26d89e64ce06e6f1",
        "type": "ui_slider",
        "z": "7c7ba89072d1dd3c",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "3c960899fa01d2dd",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 130,
        "y": 1200,
        "wires": [
            [
                "32c4a9c5ad06b67d"
            ]
        ]
    },
    {
        "id": "32c4a9c5ad06b67d",
        "type": "json",
        "z": "7c7ba89072d1dd3c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 310,
        "y": 1200,
        "wires": [
            [
                "e8e1b2bffccee919"
            ]
        ]
    },
    {
        "id": "e8e1b2bffccee919",
        "type": "function",
        "z": "7c7ba89072d1dd3c",
        "name": "",
        "func": "var level=msg.payload;\nmsg.payload={\"level\":level}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 1200,
        "wires": [
            [
                "f5f35eb772ec111d"
            ]
        ]
    },
    {
        "id": "3bafcd8dce5f9e68",
        "type": "mqtt in",
        "z": "7c7ba89072d1dd3c",
        "name": "",
        "topic": "infind/GRUPO12/led/status",
        "qos": "2",
        "datatype": "auto",
        "broker": "e57fe7d2d2792c89",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 190,
        "y": 1360,
        "wires": [
            [
                "6d77e140d0ef4f8d",
                "138da9fb884dbdc4"
            ]
        ]
    },
    {
        "id": "6d77e140d0ef4f8d",
        "type": "debug",
        "z": "7c7ba89072d1dd3c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 1360,
        "wires": []
    },
    {
        "id": "470c3dd09376fef2",
        "type": "comment",
        "z": "7c7ba89072d1dd3c",
        "name": "Control Intensidad LED",
        "info": "",
        "x": 180,
        "y": 1160,
        "wires": []
    },
    {
        "id": "e2c3b4af2d4923c4",
        "type": "comment",
        "z": "7c7ba89072d1dd3c",
        "name": "Nivel de intensidad actual del LED",
        "info": "",
        "x": 220,
        "y": 1320,
        "wires": []
    },
    {
        "id": "e3fd973ad3869801",
        "type": "mqtt in",
        "z": "7c7ba89072d1dd3c",
        "name": "",
        "topic": "infind/GRUPO12/datos",
        "qos": "2",
        "datatype": "auto",
        "broker": "dfefd42be31cab40",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 180,
        "y": 1820,
        "wires": [
            [
                "9d52bc1b59836886"
            ]
        ]
    },
    {
        "id": "dd89b0c431e25ff6",
        "type": "debug",
        "z": "7c7ba89072d1dd3c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 1820,
        "wires": []
    },
    {
        "id": "6b8440d243203cc3",
        "type": "mqtt in",
        "z": "7c7ba89072d1dd3c",
        "name": "",
        "topic": "infind/GRUPO12/conexion",
        "qos": "2",
        "datatype": "auto",
        "broker": "dfefd42be31cab40",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 190,
        "y": 1540,
        "wires": [
            [
                "78305e0f61227517"
            ]
        ]
    },
    {
        "id": "78305e0f61227517",
        "type": "debug",
        "z": "7c7ba89072d1dd3c",
        "name": "Conexion",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 1540,
        "wires": []
    },
    {
        "id": "f6b911c5b294baad",
        "type": "comment",
        "z": "7c7ba89072d1dd3c",
        "name": "Estado de conexión del dispositivo",
        "info": "",
        "x": 220,
        "y": 1500,
        "wires": []
    },
    {
        "id": "90da9810ba42611d",
        "type": "change",
        "z": "7c7ba89072d1dd3c",
        "name": "RSSI",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.RSSI",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 1900,
        "wires": [
            [
                "f0a5171df3b4b549"
            ]
        ]
    },
    {
        "id": "f0a5171df3b4b549",
        "type": "ui_text",
        "z": "7c7ba89072d1dd3c",
        "group": "0e28385771958ad0",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RSSI actual",
        "format": "{{msg.payload}} dBm",
        "layout": "row-spread",
        "className": "",
        "x": 890,
        "y": 1900,
        "wires": []
    },
    {
        "id": "03776e59718571b7",
        "type": "change",
        "z": "7c7ba89072d1dd3c",
        "name": "SSID",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.SSID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 1960,
        "wires": [
            [
                "4a4ce6f1ef906339"
            ]
        ]
    },
    {
        "id": "4a4ce6f1ef906339",
        "type": "ui_text",
        "z": "7c7ba89072d1dd3c",
        "group": "0e28385771958ad0",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SSID",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 870,
        "y": 1960,
        "wires": []
    },
    {
        "id": "938ee91799c12483",
        "type": "change",
        "z": "7c7ba89072d1dd3c",
        "name": "Local IP",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.IP",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 2020,
        "wires": [
            [
                "e1260545ee0c7f3c"
            ]
        ]
    },
    {
        "id": "e1260545ee0c7f3c",
        "type": "ui_text",
        "z": "7c7ba89072d1dd3c",
        "group": "0e28385771958ad0",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "localIP",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 870,
        "y": 2020,
        "wires": []
    },
    {
        "id": "0a4f67f942988cb7",
        "type": "change",
        "z": "7c7ba89072d1dd3c",
        "name": "temp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.Temperatura",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 1620,
        "wires": [
            [
                "80b96a575ab11f11"
            ]
        ]
    },
    {
        "id": "da303c4316813c91",
        "type": "change",
        "z": "7c7ba89072d1dd3c",
        "name": "hum",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.Humedad",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 1680,
        "wires": [
            [
                "c350f832b94029f5"
            ]
        ]
    },
    {
        "id": "cdfaa626814f24fe",
        "type": "change",
        "z": "7c7ba89072d1dd3c",
        "name": "uptime",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Uptime",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 1740,
        "wires": [
            [
                "fd6d2be4e3b84784"
            ]
        ]
    },
    {
        "id": "affa2782451b81f0",
        "type": "change",
        "z": "7c7ba89072d1dd3c",
        "name": "vcc",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Vcc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 1560,
        "wires": [
            [
                "e4548f489d8c1eab"
            ]
        ]
    },
    {
        "id": "e4548f489d8c1eab",
        "type": "ui_text",
        "z": "7c7ba89072d1dd3c",
        "group": "66165aac48c29051",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "bateria",
        "format": "{{msg.payload}} mV",
        "layout": "row-spread",
        "className": "",
        "x": 870,
        "y": 1560,
        "wires": []
    },
    {
        "id": "c350f832b94029f5",
        "type": "ui_gauge",
        "z": "7c7ba89072d1dd3c",
        "name": "",
        "group": "66165aac48c29051",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "humedad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 880,
        "y": 1680,
        "wires": []
    },
    {
        "id": "80b96a575ab11f11",
        "type": "ui_gauge",
        "z": "7c7ba89072d1dd3c",
        "name": "",
        "group": "66165aac48c29051",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "temperatura",
        "label": "ºC",
        "format": "{{value}}",
        "min": "-10",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 890,
        "y": 1620,
        "wires": []
    },
    {
        "id": "fd6d2be4e3b84784",
        "type": "ui_text",
        "z": "7c7ba89072d1dd3c",
        "group": "66165aac48c29051",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "uptime",
        "format": "{{msg.payload}} ms",
        "layout": "row-spread",
        "className": "",
        "x": 870,
        "y": 1740,
        "wires": []
    },
    {
        "id": "893a2925ba9147a0",
        "type": "comment",
        "z": "7c7ba89072d1dd3c",
        "name": "Datos de los sensores",
        "info": "",
        "x": 180,
        "y": 1780,
        "wires": []
    },
    {
        "id": "138da9fb884dbdc4",
        "type": "ui_text",
        "z": "7c7ba89072d1dd3c",
        "group": "3c960899fa01d2dd",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "estado del led",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 480,
        "y": 1420,
        "wires": []
    },
    {
        "id": "9d52bc1b59836886",
        "type": "json",
        "z": "7c7ba89072d1dd3c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 390,
        "y": 1820,
        "wires": [
            [
                "affa2782451b81f0",
                "0a4f67f942988cb7",
                "da303c4316813c91",
                "cdfaa626814f24fe",
                "dd89b0c431e25ff6",
                "90da9810ba42611d",
                "03776e59718571b7",
                "938ee91799c12483"
            ]
        ]
    },
    {
        "id": "f5f35eb772ec111d",
        "type": "mqtt out",
        "z": "7c7ba89072d1dd3c",
        "name": "",
        "topic": "infind/GRUPO12/led/cmd",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e57fe7d2d2792c89",
        "x": 750,
        "y": 1200,
        "wires": []
    },
    {
        "id": "000caaad088210e4",
        "type": "mqtt out",
        "z": "7c7ba89072d1dd3c",
        "name": "",
        "topic": "infind/GRUPO12/config",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e57fe7d2d2792c89",
        "x": 930,
        "y": 2360,
        "wires": []
    },
    {
        "id": "6da2a993cd0915fe",
        "type": "ui_numeric",
        "z": "7c7ba89072d1dd3c",
        "name": "",
        "label": "actualiza",
        "tooltip": "",
        "group": "3c960899fa01d2dd",
        "order": 3,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": "10",
        "className": "",
        "x": 140,
        "y": 2320,
        "wires": [
            [
                "c648b62001b39d6e"
            ]
        ]
    },
    {
        "id": "8719f029c21824b2",
        "type": "ui_numeric",
        "z": "7c7ba89072d1dd3c",
        "name": "",
        "label": "envia",
        "tooltip": "",
        "group": "3c960899fa01d2dd",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "step": "25",
        "className": "",
        "x": 130,
        "y": 2260,
        "wires": [
            [
                "3e01d0616b406cd0"
            ]
        ]
    },
    {
        "id": "0d52ce873e357737",
        "type": "ui_numeric",
        "z": "7c7ba89072d1dd3c",
        "name": "",
        "label": "velocidad",
        "tooltip": "",
        "group": "3c960899fa01d2dd",
        "order": 4,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "20",
        "step": 1,
        "className": "",
        "x": 140,
        "y": 2380,
        "wires": [
            [
                "e44281a7de6f8945"
            ]
        ]
    },
    {
        "id": "eae4203238cd77d6",
        "type": "ui_switch",
        "z": "7c7ba89072d1dd3c",
        "name": "",
        "label": "led",
        "tooltip": "",
        "group": "3c960899fa01d2dd",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 2440,
        "wires": [
            [
                "580361030b79eff7"
            ]
        ]
    },
    {
        "id": "2d1907bd0f758371",
        "type": "ui_switch",
        "z": "7c7ba89072d1dd3c",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "3c960899fa01d2dd",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 2500,
        "wires": [
            [
                "5363d39eaaed1094"
            ]
        ]
    },
    {
        "id": "242c5454f86a7f7d",
        "type": "debug",
        "z": "7c7ba89072d1dd3c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 2420,
        "wires": []
    },
    {
        "id": "a3253f5aec158390",
        "type": "function",
        "z": "7c7ba89072d1dd3c",
        "name": "",
        "func": "var level=msg.payload;\nmsg.payload={\"level\":level}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 2020,
        "wires": [
            []
        ]
    },
    {
        "id": "17f8dc77e2372997",
        "type": "function",
        "z": "7c7ba89072d1dd3c",
        "name": "",
        "func": "var actualiza=msg.payload;\nmsg.actualiza={\"actualiza\":actualiza}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 2080,
        "wires": [
            []
        ]
    },
    {
        "id": "c8fbc0fd6fa0bc6c",
        "type": "function",
        "z": "7c7ba89072d1dd3c",
        "name": "",
        "func": "var velocidad=msg.payload;\nmsg.velocidad={\"velocidad\":velocidad}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 2140,
        "wires": [
            []
        ]
    },
    {
        "id": "8cf908670f48c48a",
        "type": "function",
        "z": "7c7ba89072d1dd3c",
        "name": "",
        "func": "var led=msg.led;\nmsg.led={\"led\":led}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 2200,
        "wires": [
            []
        ]
    },
    {
        "id": "a26feff1459ac1fb",
        "type": "function",
        "z": "7c7ba89072d1dd3c",
        "name": "",
        "func": "var envia=msg.envia\nvar actualiza=msg.actualiza\nvar velocidad=msg.velocidad\nvar led=msg.led\nvar switches=msg.switch\nvar enviado=flow.get(\"enviar\")\nif (enviado==true){\n    msg.payload={\"envia\":envia,\"actualiza\":actualiza,\"velocidad\":velocidad,\"led\":led,\"switch\":switches}\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 2360,
        "wires": [
            [
                "242c5454f86a7f7d",
                "000caaad088210e4"
            ]
        ]
    },
    {
        "id": "3aec1e1174c22fb4",
        "type": "change",
        "z": "7c7ba89072d1dd3c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "envia",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 2260,
        "wires": [
            [
                "a26feff1459ac1fb"
            ]
        ]
    },
    {
        "id": "f0d6753e481eb04f",
        "type": "change",
        "z": "7c7ba89072d1dd3c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "velocidad",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 2380,
        "wires": [
            [
                "a26feff1459ac1fb"
            ]
        ]
    },
    {
        "id": "c7efa48c1a6fdcc1",
        "type": "change",
        "z": "7c7ba89072d1dd3c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "led",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 2440,
        "wires": [
            [
                "a26feff1459ac1fb"
            ]
        ]
    },
    {
        "id": "6a73156acb64e6f9",
        "type": "change",
        "z": "7c7ba89072d1dd3c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "switch",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 2500,
        "wires": [
            [
                "a26feff1459ac1fb"
            ]
        ]
    },
    {
        "id": "3e01d0616b406cd0",
        "type": "json",
        "z": "7c7ba89072d1dd3c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 290,
        "y": 2260,
        "wires": [
            [
                "3aec1e1174c22fb4"
            ]
        ]
    },
    {
        "id": "c648b62001b39d6e",
        "type": "json",
        "z": "7c7ba89072d1dd3c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 290,
        "y": 2320,
        "wires": [
            [
                "0c296475f8d43048"
            ]
        ]
    },
    {
        "id": "e44281a7de6f8945",
        "type": "json",
        "z": "7c7ba89072d1dd3c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 290,
        "y": 2380,
        "wires": [
            [
                "f0d6753e481eb04f"
            ]
        ]
    },
    {
        "id": "580361030b79eff7",
        "type": "json",
        "z": "7c7ba89072d1dd3c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 290,
        "y": 2440,
        "wires": [
            [
                "c7efa48c1a6fdcc1"
            ]
        ]
    },
    {
        "id": "5363d39eaaed1094",
        "type": "json",
        "z": "7c7ba89072d1dd3c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 290,
        "y": 2500,
        "wires": [
            [
                "6a73156acb64e6f9"
            ]
        ]
    },
    {
        "id": "0c296475f8d43048",
        "type": "change",
        "z": "7c7ba89072d1dd3c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "actualiza",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 2320,
        "wires": [
            [
                "a26feff1459ac1fb"
            ]
        ]
    },
    {
        "id": "8b0d7e29357c7953",
        "type": "change",
        "z": "7c7ba89072d1dd3c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "enviar",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 2680,
        "wires": [
            []
        ]
    },
    {
        "id": "02f637d7f8ee895e",
        "type": "debug",
        "z": "7c7ba89072d1dd3c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 2760,
        "wires": []
    },
    {
        "id": "8983fb9844dc40af",
        "type": "ui_switch",
        "z": "7c7ba89072d1dd3c",
        "name": "",
        "label": "mandar",
        "tooltip": "",
        "group": "3c960899fa01d2dd",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 140,
        "y": 2680,
        "wires": [
            [
                "8b0d7e29357c7953",
                "02f637d7f8ee895e"
            ]
        ]
    },
    {
        "id": "3c960899fa01d2dd",
        "type": "ui_group",
        "name": "Configuración del LED",
        "tab": "af2bb2d1d7845908",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e57fe7d2d2792c89",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "dfefd42be31cab40",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "0e28385771958ad0",
        "type": "ui_group",
        "name": "Estado de conexión",
        "tab": "af2bb2d1d7845908",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "66165aac48c29051",
        "type": "ui_group",
        "name": "Medida de los sensores",
        "tab": "af2bb2d1d7845908",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "af2bb2d1d7845908",
        "type": "ui_tab",
        "name": "Tarea 6. Tarea Grupal ESP8266",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    }
]