NodeRED/ACTUADORES_Angel.json
[
    {
        "id": "540701d375a59d3e",
        "type": "tab",
        "label": "ACTUADORES",
        "disabled": false,
        "info": ""
    },
    {
        "id": "629fd4e66d3d5389",
        "type": "mqtt in",
        "z": "540701d375a59d3e",
        "name": "",
        "topic": "II12/+/led/status",
        "qos": "2",
        "datatype": "auto",
        "broker": "c7a3425e606353b2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 220,
        "y": 400,
        "wires": [
            [
                "bbd97b7a97c67776"
            ]
        ]
    },
    {
        "id": "f527e8a8e69130c0",
        "type": "change",
        "z": "540701d375a59d3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "polaridad",
                "pt": "msg",
                "to": "payload.Polaridad",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.LED",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 400,
        "wires": [
            [
                "a84e7d8c48fdf35b",
                "a5c98d86408004db"
            ]
        ]
    },
    {
        "id": "bbd97b7a97c67776",
        "type": "json",
        "z": "540701d375a59d3e",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 450,
        "y": 400,
        "wires": [
            [
                "3ffb6007aca287ce",
                "722cb7773754a68c"
            ]
        ]
    },
    {
        "id": "3ffb6007aca287ce",
        "type": "debug",
        "z": "540701d375a59d3e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 540,
        "wires": []
    },
    {
        "id": "a84e7d8c48fdf35b",
        "type": "switch",
        "z": "540701d375a59d3e",
        "name": "",
        "property": "identificador",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ID1",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID2",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID3",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID4",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 990,
        "y": 400,
        "wires": [
            [
                "e2bb9a813b0e7ce2",
                "8c0fb45837610515",
                "bae105db8a5811f6"
            ],
            [
                "7a73b399a6ba4ca8",
                "5ae5fece25b2c822"
            ],
            [
                "5cda163c5a25f828",
                "dc9b20d9333d81b7"
            ],
            [
                "545a3cde97d2459a",
                "f99eaa6eadeababb"
            ]
        ]
    },
    {
        "id": "722cb7773754a68c",
        "type": "change",
        "z": "540701d375a59d3e",
        "name": "ID",
        "rules": [
            {
                "t": "set",
                "p": "identificador",
                "pt": "msg",
                "to": "payload.CHIPID",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "ID1",
                "pt": "msg",
                "to": "ID1",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "ID2",
                "pt": "msg",
                "to": "ID2",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "ID3",
                "pt": "msg",
                "to": "ID3",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "ID4",
                "pt": "msg",
                "to": "ID4",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 400,
        "wires": [
            [
                "f527e8a8e69130c0",
                "43a9f4512f9ec20c"
            ]
        ]
    },
    {
        "id": "98dec6301074202b",
        "type": "mqtt in",
        "z": "540701d375a59d3e",
        "name": "",
        "topic": "II12/+/switch/status",
        "qos": "2",
        "datatype": "auto",
        "broker": "c7a3425e606353b2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 2010,
        "y": 220,
        "wires": [
            [
                "b71429b43d89e047"
            ]
        ]
    },
    {
        "id": "d4ec3bf6a51f7763",
        "type": "change",
        "z": "540701d375a59d3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.SWITCH",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "polaridad",
                "pt": "msg",
                "to": "payload.Polaridad",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2580,
        "y": 220,
        "wires": [
            [
                "a5269d1f15add531"
            ]
        ]
    },
    {
        "id": "b71429b43d89e047",
        "type": "json",
        "z": "540701d375a59d3e",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 2290,
        "y": 220,
        "wires": [
            [
                "6209722395423724"
            ]
        ]
    },
    {
        "id": "bcd30f9c8dc39cef",
        "type": "switch",
        "z": "540701d375a59d3e",
        "name": "",
        "property": "identificador",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ID1",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID2",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID3",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID4",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 2950,
        "y": 220,
        "wires": [
            [
                "e632edd1bb7267b0",
                "bf9066120d319514",
                "0e79de034cbd49f5",
                "73cf56f7252b81b1"
            ],
            [
                "a49722fbfa424033",
                "90dca1f6b08dcfec"
            ],
            [
                "238b748167b40a50",
                "3b8ba9a11fe33f6e"
            ],
            [
                "39fefb37c7b50cd7",
                "8097d965f757442f"
            ]
        ]
    },
    {
        "id": "6209722395423724",
        "type": "change",
        "z": "540701d375a59d3e",
        "name": "ID",
        "rules": [
            {
                "t": "set",
                "p": "identificador",
                "pt": "msg",
                "to": "payload.CHIPID",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "ID1",
                "pt": "msg",
                "to": "ID1",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "ID2",
                "pt": "msg",
                "to": "ID2",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "ID3",
                "pt": "msg",
                "to": "ID3",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "ID4",
                "pt": "msg",
                "to": "ID4",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2410,
        "y": 220,
        "wires": [
            [
                "d4ec3bf6a51f7763",
                "8062145cac5495e0",
                "58fe7e2624ea8f15"
            ]
        ]
    },
    {
        "id": "a5269d1f15add531",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var fecha = new Date ();\n\nmsg.time = fecha.toLocaleString(\"es-ES\",{\"timeZone\": \"Europe/Madrid\"});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2760,
        "y": 220,
        "wires": [
            [
                "bcd30f9c8dc39cef"
            ]
        ]
    },
    {
        "id": "bf9066120d319514",
        "type": "ui_text",
        "z": "540701d375a59d3e",
        "group": "58cd41ecad3d35cb",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización switch:",
        "format": "{{msg.time}}",
        "layout": "row-spread",
        "className": "",
        "x": 3300,
        "y": 120,
        "wires": []
    },
    {
        "id": "90dca1f6b08dcfec",
        "type": "ui_text",
        "z": "540701d375a59d3e",
        "group": "52478992b88bbf8c",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización switch:",
        "format": "{{msg.time}}",
        "layout": "row-spread",
        "className": "",
        "x": 3300,
        "y": 200,
        "wires": []
    },
    {
        "id": "3b8ba9a11fe33f6e",
        "type": "ui_text",
        "z": "540701d375a59d3e",
        "group": "1d0d307fb3c6d364",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización switch:",
        "format": "{{msg.time}}",
        "layout": "row-spread",
        "className": "",
        "x": 3300,
        "y": 280,
        "wires": []
    },
    {
        "id": "8097d965f757442f",
        "type": "ui_text",
        "z": "540701d375a59d3e",
        "group": "88ea1dac2052caf5",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización switch:",
        "format": "{{msg.time}}",
        "layout": "row-spread",
        "className": "",
        "x": 3300,
        "y": 360,
        "wires": []
    },
    {
        "id": "b2e20c76f8808537",
        "type": "comment",
        "z": "540701d375a59d3e",
        "name": "Lectura PWM",
        "info": "",
        "x": 250,
        "y": 320,
        "wires": []
    },
    {
        "id": "3e02ddb9893f1c57",
        "type": "comment",
        "z": "540701d375a59d3e",
        "name": "Lectura Switch",
        "info": "",
        "x": 1980,
        "y": 140,
        "wires": []
    },
    {
        "id": "e632edd1bb7267b0",
        "type": "ui_led",
        "z": "540701d375a59d3e",
        "order": 5,
        "group": "58cd41ecad3d35cb",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#00cc00",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 3230,
        "y": 80,
        "wires": []
    },
    {
        "id": "a49722fbfa424033",
        "type": "ui_led",
        "z": "540701d375a59d3e",
        "order": 5,
        "group": "52478992b88bbf8c",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#00cc00",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 3230,
        "y": 160,
        "wires": []
    },
    {
        "id": "238b748167b40a50",
        "type": "ui_led",
        "z": "540701d375a59d3e",
        "order": 5,
        "group": "1d0d307fb3c6d364",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#00cc00",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 3230,
        "y": 240,
        "wires": []
    },
    {
        "id": "39fefb37c7b50cd7",
        "type": "ui_led",
        "z": "540701d375a59d3e",
        "order": 5,
        "group": "88ea1dac2052caf5",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#00cc00",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 3230,
        "y": 320,
        "wires": []
    },
    {
        "id": "fb539822e4205170",
        "type": "ui_slider",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Intensidad",
        "tooltip": "",
        "group": "58cd41ecad3d35cb",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 530,
        "y": 1380,
        "wires": [
            [
                "348e43853b2331a1"
            ]
        ]
    },
    {
        "id": "a58ade0602cc5932",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var level=global.get(\"ledlevel1\")\nvar id=global.get(\"ID1\");\nmsg.payload={\"level\":level, \"id\":id}\nmsg.topic=\"II12/\"+id+\"/led/cmd\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 1380,
        "wires": [
            [
                "90e332c53bf44dc6",
                "d3b97a847b436668",
                "479e9861bc50bbeb"
            ]
        ]
    },
    {
        "id": "a36cfc0533c9ec62",
        "type": "comment",
        "z": "540701d375a59d3e",
        "name": "Control Intensidad LED",
        "info": "",
        "x": 180,
        "y": 1260,
        "wires": []
    },
    {
        "id": "90e332c53bf44dc6",
        "type": "mqtt out",
        "z": "540701d375a59d3e",
        "name": "led/cmd",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "759329fc13f505d4",
        "x": 1240,
        "y": 1500,
        "wires": []
    },
    {
        "id": "7470a2e352bd68ed",
        "type": "ui_slider",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Intensidad",
        "tooltip": "",
        "group": "52478992b88bbf8c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 530,
        "y": 1460,
        "wires": [
            [
                "a3bdbe063880bfe8"
            ]
        ]
    },
    {
        "id": "a0d3f6cc3d56b183",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var level=global.get(\"ledlevel2\")\nvar id=global.get(\"ID2\");\nmsg.payload={\"level\":level, \"id\":id}\nmsg.topic=\"II12/\"+id+\"/led/cmd\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 1460,
        "wires": [
            [
                "90e332c53bf44dc6",
                "479e9861bc50bbeb"
            ]
        ]
    },
    {
        "id": "c9028d4a43391009",
        "type": "ui_slider",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Intensidad",
        "tooltip": "",
        "group": "1d0d307fb3c6d364",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 530,
        "y": 1540,
        "wires": [
            [
                "a46d56a6329749ee"
            ]
        ]
    },
    {
        "id": "6e3c806d3756e587",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var level=global.get(\"ledlevel3\")\nvar id=global.get(\"ID3\");\nmsg.payload={\"level\":level, \"id\":id}\nmsg.topic=\"II12/\"+id+\"/led/cmd\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 1540,
        "wires": [
            [
                "90e332c53bf44dc6",
                "479e9861bc50bbeb"
            ]
        ]
    },
    {
        "id": "17d8ac52a9071835",
        "type": "ui_slider",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Intensidad",
        "tooltip": "",
        "group": "88ea1dac2052caf5",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 530,
        "y": 1620,
        "wires": [
            [
                "f8acabba6b7f0355"
            ]
        ]
    },
    {
        "id": "8a30596885e8b146",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var level=global.get(\"ledlevel4\")\nvar id=global.get(\"ID4\");\nmsg.payload={\"level\":level, \"id\":id}\nmsg.topic=\"II12/\"+id+\"/led/cmd\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 1620,
        "wires": [
            [
                "90e332c53bf44dc6",
                "479e9861bc50bbeb"
            ]
        ]
    },
    {
        "id": "a5c98d86408004db",
        "type": "debug",
        "z": "540701d375a59d3e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 180,
        "wires": []
    },
    {
        "id": "e8f01d7c85cd4f18",
        "type": "ui_toast",
        "z": "540701d375a59d3e",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1030,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "43a9f4512f9ec20c",
        "type": "switch",
        "z": "540701d375a59d3e",
        "name": "",
        "property": "payload.origen",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "control",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 250,
        "y": 700,
        "wires": [
            [
                "201c953f410ef65b"
            ]
        ]
    },
    {
        "id": "32d0f650e638dbbf",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var level = msg.payload.LED;\nmsg.payload={};\n\nif(level==255)\n{\n    msg.payload=\"Alerta temperatura-HUERTO 1 \\n Foco apagado\"\n}\nelse\n{\n    msg.payload=\"HUERTO 1-Temperatura controlada. \\n Foco restablecido\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 620,
        "wires": [
            [
                "e8f01d7c85cd4f18"
            ]
        ]
    },
    {
        "id": "9006750b53da599a",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var level = msg.payload.LED;\nmsg.payload={};\n\nif(level==255)\n{\n    msg.payload=\"Alerta temperatura-HUERTO 2 \\n Foco apagado\"\n}\nelse\n{\n    msg.payload=\"HUERTO 2-Temperatura controlada. \\n Foco restablecido\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 700,
        "wires": [
            [
                "e8f01d7c85cd4f18"
            ]
        ]
    },
    {
        "id": "3339b7648b62a73c",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var level = msg.payload.LED;\nmsg.payload={};\n\nif(level==255)\n{\n    msg.payload=\"Alerta temperatura-HUERTO 3 \\n Foco apagado\"\n}\nelse\n{\n    msg.payload=\"HUERTO 3-Temperatura controlada. \\n Foco restablecido\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 760,
        "wires": [
            [
                "e8f01d7c85cd4f18"
            ]
        ]
    },
    {
        "id": "09f549468eeca6a0",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var level = msg.payload.LED;\nmsg.payload={};\n\nif(level==255)\n{\n    msg.payload=\"Alerta temperatura-HUERTO 4  \\n Foco apagado\"\n}\nelse\n{\n    msg.payload=\"HUERTO 4-Temperatura controlada. \\n Foco restablecido\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 840,
        "wires": [
            [
                "e8f01d7c85cd4f18"
            ]
        ]
    },
    {
        "id": "587fdf3c779f94a8",
        "type": "inject",
        "z": "540701d375a59d3e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"CHIPID\":\"ESP3096728\",\"Polaridad\":0,\"LED\":255,\"origen\":\"control\",\"id\":0}",
        "payloadType": "json",
        "x": 520,
        "y": 240,
        "wires": [
            [
                "3247084dcd2b7e96",
                "722cb7773754a68c"
            ]
        ]
    },
    {
        "id": "3247084dcd2b7e96",
        "type": "debug",
        "z": "540701d375a59d3e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 200,
        "wires": []
    },
    {
        "id": "e2bb9a813b0e7ce2",
        "type": "debug",
        "z": "540701d375a59d3e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 120,
        "wires": []
    },
    {
        "id": "201c953f410ef65b",
        "type": "switch",
        "z": "540701d375a59d3e",
        "name": "",
        "property": "identificador",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ID1",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID2",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID3",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID4",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 430,
        "y": 740,
        "wires": [
            [
                "32d0f650e638dbbf"
            ],
            [
                "9006750b53da599a"
            ],
            [
                "3339b7648b62a73c"
            ],
            [
                "09f549468eeca6a0"
            ]
        ]
    },
    {
        "id": "7354f3b52efdda16",
        "type": "ui_toast",
        "z": "540701d375a59d3e",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 3070,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "8062145cac5495e0",
        "type": "switch",
        "z": "540701d375a59d3e",
        "name": "",
        "property": "payload.origen",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "control",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2290,
        "y": 420,
        "wires": [
            [
                "f87e0d4065165251"
            ]
        ]
    },
    {
        "id": "fb57cd4aafc63a47",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var level = msg.payload.LED;\nmsg.payload={};\n\nif(level==0)\n{\n    msg.payload=\"Alerta humedad-HUERTO 1 \\n Ventilacion encendida\"\n}\nelse\n{\n    msg.payload=\"HUERTO 1-Humedad controlada. \\n Ventilador restablecido\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2680,
        "y": 340,
        "wires": [
            [
                "7354f3b52efdda16"
            ]
        ]
    },
    {
        "id": "f87e0d4065165251",
        "type": "switch",
        "z": "540701d375a59d3e",
        "name": "",
        "property": "identificador",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ID1",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID2",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID3",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID4",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 2470,
        "y": 460,
        "wires": [
            [
                "fb57cd4aafc63a47"
            ],
            [
                "a7657ff88c106f92"
            ],
            [
                "f107cc09ff4d23ad"
            ],
            [
                "70f77493d9608c8c"
            ]
        ]
    },
    {
        "id": "a7657ff88c106f92",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var level = msg.payload.LED;\nmsg.payload={};\n\nif(level==0)\n{\n    msg.payload=\"Alerta humedad-HUERTO 2 \\n Ventilacion encendida\"\n}\nelse\n{\n    msg.payload=\"HUERTO 2-Humedad controlada. \\n Ventilador restablecido\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2680,
        "y": 400,
        "wires": [
            [
                "7354f3b52efdda16"
            ]
        ]
    },
    {
        "id": "70f77493d9608c8c",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var level = msg.payload.LED;\nmsg.payload={};\n\nif(level==0)\n{\n    msg.payload=\"Alerta humedad-HUERTO 4 \\n Ventilacion encendida\"\n}\nelse\n{\n    msg.payload=\"HUERTO 4-Humedad controlada. \\n Ventilador restablecido\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2680,
        "y": 520,
        "wires": [
            [
                "7354f3b52efdda16"
            ]
        ]
    },
    {
        "id": "f107cc09ff4d23ad",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var level = msg.payload.LED;\nmsg.payload={};\n\nif(level==0)\n{\n    msg.payload=\"Alerta humedad-HUERTO 3 \\n Ventilacion encendida\"\n}\nelse\n{\n    msg.payload=\"HUERTO 3-Humedad controlada. \\n Ventilador restablecido\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2680,
        "y": 460,
        "wires": [
            [
                "7354f3b52efdda16"
            ]
        ]
    },
    {
        "id": "8b562b2fc770bd99",
        "type": "mqtt in",
        "z": "540701d375a59d3e",
        "name": "",
        "topic": "II12/+/riego/status",
        "qos": "2",
        "datatype": "auto",
        "broker": "c7a3425e606353b2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 2010,
        "y": 720,
        "wires": [
            [
                "6b9dd61f41de350a"
            ]
        ]
    },
    {
        "id": "21d47fca922f61e1",
        "type": "change",
        "z": "540701d375a59d3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.RIEGO",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "polaridad",
                "pt": "msg",
                "to": "payload.Polaridad",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2580,
        "y": 720,
        "wires": [
            [
                "128fdbaa25a61e25"
            ]
        ]
    },
    {
        "id": "6b9dd61f41de350a",
        "type": "json",
        "z": "540701d375a59d3e",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 2290,
        "y": 720,
        "wires": [
            [
                "26e8096b7dd52ce8"
            ]
        ]
    },
    {
        "id": "d3b3c91f90d24c64",
        "type": "switch",
        "z": "540701d375a59d3e",
        "name": "",
        "property": "identificador",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ID1",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID2",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID3",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID4",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 2950,
        "y": 720,
        "wires": [
            [
                "fe4e8e88bdb360c7",
                "89530c8fe03571d4",
                "1886abaa2d044389",
                "9f24342fe1bb4dad"
            ],
            [
                "4394f95772186ff0",
                "c5aa5bef58a50a79"
            ],
            [
                "7f082da271126fe0",
                "14101d551ccfb541"
            ],
            [
                "54d270449e465247",
                "cd9955df8e5bb239"
            ]
        ]
    },
    {
        "id": "26e8096b7dd52ce8",
        "type": "change",
        "z": "540701d375a59d3e",
        "name": "ID",
        "rules": [
            {
                "t": "set",
                "p": "identificador",
                "pt": "msg",
                "to": "payload.CHIPID",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "ID1",
                "pt": "msg",
                "to": "ID1",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "ID2",
                "pt": "msg",
                "to": "ID2",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "ID3",
                "pt": "msg",
                "to": "ID3",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "ID4",
                "pt": "msg",
                "to": "ID4",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2410,
        "y": 720,
        "wires": [
            [
                "21d47fca922f61e1",
                "a4a53e8765a6cace"
            ]
        ]
    },
    {
        "id": "128fdbaa25a61e25",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var fecha = new Date ();\n\nmsg.time = fecha.toLocaleString(\"es-ES\",{\"timeZone\": \"Europe/Madrid\"});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2760,
        "y": 720,
        "wires": [
            [
                "d3b3c91f90d24c64"
            ]
        ]
    },
    {
        "id": "89530c8fe03571d4",
        "type": "ui_text",
        "z": "540701d375a59d3e",
        "group": "58cd41ecad3d35cb",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización riego:",
        "format": "{{msg.time}}",
        "layout": "row-spread",
        "className": "",
        "x": 3300,
        "y": 620,
        "wires": []
    },
    {
        "id": "3cdac7c43737ea00",
        "type": "comment",
        "z": "540701d375a59d3e",
        "name": "Lectura Switch",
        "info": "",
        "x": 1980,
        "y": 640,
        "wires": []
    },
    {
        "id": "fe4e8e88bdb360c7",
        "type": "ui_led",
        "z": "540701d375a59d3e",
        "order": 8,
        "group": "58cd41ecad3d35cb",
        "width": 0,
        "height": 0,
        "label": "Estado riego:",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#07a8f2",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 3230,
        "y": 580,
        "wires": []
    },
    {
        "id": "fac65a7038d677c0",
        "type": "ui_toast",
        "z": "540701d375a59d3e",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 3070,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "a4a53e8765a6cace",
        "type": "switch",
        "z": "540701d375a59d3e",
        "name": "",
        "property": "payload.origen",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "control",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2290,
        "y": 920,
        "wires": [
            [
                "9be2b77455481f12"
            ]
        ]
    },
    {
        "id": "905d91fbd394c100",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var level = msg.payload.LED;\nmsg.payload={};\n\nif(level==255)\n{\n    msg.payload=\"Alerta humedad-HUERTO 1 \\n Ventilacion encendida\"\n}\nelse\n{\n    msg.payload=\"HUERTO 1-Humedad controlada. \\n Ventilador restablecido\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2680,
        "y": 840,
        "wires": [
            [
                "fac65a7038d677c0"
            ]
        ]
    },
    {
        "id": "9be2b77455481f12",
        "type": "switch",
        "z": "540701d375a59d3e",
        "name": "",
        "property": "identificador",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ID1",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID2",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID3",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID4",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 2470,
        "y": 960,
        "wires": [
            [
                "905d91fbd394c100"
            ],
            [
                "acd3b508220daae4"
            ],
            [
                "74e30f289bca547f"
            ],
            [
                "a18cd5efb0bfd548"
            ]
        ]
    },
    {
        "id": "acd3b508220daae4",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var level = msg.payload.LED;\nmsg.payload={};\n\nif(level==255)\n{\n    msg.payload=\"Alerta humedad-HUERTO 2 \\n Ventilacion encendida\"\n}\nelse\n{\n    msg.payload=\"HUERTO 2-Humedad controlada. \\n Ventilador restablecido\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2680,
        "y": 900,
        "wires": [
            [
                "fac65a7038d677c0"
            ]
        ]
    },
    {
        "id": "a18cd5efb0bfd548",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var level = msg.payload.LED;\nmsg.payload={};\n\nif(level==255)\n{\n    msg.payload=\"Alerta humedad-HUERTO 4 \\n Ventilacion encendida\"\n}\nelse\n{\n    msg.payload=\"HUERTO 4-Humedad controlada. \\n Ventilador restablecido\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2680,
        "y": 1020,
        "wires": [
            [
                "fac65a7038d677c0"
            ]
        ]
    },
    {
        "id": "74e30f289bca547f",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var level = msg.payload.LED;\nmsg.payload={};\n\nif(level==255)\n{\n    msg.payload=\"Alerta humedad-HUERTO 3 \\n Ventilacion encendida\"\n}\nelse\n{\n    msg.payload=\"HUERTO 3-Humedad controlada. \\n Ventilador restablecido\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2680,
        "y": 960,
        "wires": [
            [
                "fac65a7038d677c0"
            ]
        ]
    },
    {
        "id": "c5aa5bef58a50a79",
        "type": "ui_text",
        "z": "540701d375a59d3e",
        "group": "52478992b88bbf8c",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización riego:",
        "format": "{{msg.time}}",
        "layout": "row-spread",
        "className": "",
        "x": 3300,
        "y": 700,
        "wires": []
    },
    {
        "id": "4394f95772186ff0",
        "type": "ui_led",
        "z": "540701d375a59d3e",
        "order": 8,
        "group": "52478992b88bbf8c",
        "width": 0,
        "height": 0,
        "label": "Estado riego:",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#07a8f2",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 3230,
        "y": 660,
        "wires": []
    },
    {
        "id": "14101d551ccfb541",
        "type": "ui_text",
        "z": "540701d375a59d3e",
        "group": "1d0d307fb3c6d364",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización riego:",
        "format": "{{msg.time}}",
        "layout": "row-spread",
        "className": "",
        "x": 3300,
        "y": 780,
        "wires": []
    },
    {
        "id": "7f082da271126fe0",
        "type": "ui_led",
        "z": "540701d375a59d3e",
        "order": 8,
        "group": "1d0d307fb3c6d364",
        "width": 0,
        "height": 0,
        "label": "Estado riego:",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#07a8f2",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 3230,
        "y": 740,
        "wires": []
    },
    {
        "id": "cd9955df8e5bb239",
        "type": "ui_text",
        "z": "540701d375a59d3e",
        "group": "88ea1dac2052caf5",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización riego:",
        "format": "{{msg.time}}",
        "layout": "row-spread",
        "className": "",
        "x": 3300,
        "y": 860,
        "wires": []
    },
    {
        "id": "54d270449e465247",
        "type": "ui_led",
        "z": "540701d375a59d3e",
        "order": 7,
        "group": "88ea1dac2052caf5",
        "width": 0,
        "height": 0,
        "label": "Estado riego:",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#07a8f2",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 3230,
        "y": 820,
        "wires": []
    },
    {
        "id": "58fe7e2624ea8f15",
        "type": "debug",
        "z": "540701d375a59d3e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2720,
        "y": 120,
        "wires": []
    },
    {
        "id": "43b1747609c10876",
        "type": "comment",
        "z": "540701d375a59d3e",
        "name": "Control Switch",
        "info": " * ",
        "x": 180,
        "y": 1840,
        "wires": []
    },
    {
        "id": "ec168ecc7d92a4cd",
        "type": "ui_switch",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Activar Riego",
        "tooltip": "",
        "group": "58cd41ecad3d35cb",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1940,
        "y": 1380,
        "wires": [
            [
                "ec54f4dfd91986ac"
            ]
        ]
    },
    {
        "id": "9e22ef03f5b54c65",
        "type": "mqtt out",
        "z": "540701d375a59d3e",
        "name": "switch/cmd",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c7a3425e606353b2",
        "x": 2410,
        "y": 1520,
        "wires": []
    },
    {
        "id": "ec54f4dfd91986ac",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var level=msg.payload\nvar id=global.get(\"ID1\");\n\nmsg.payload={\"level\":level, \"id\":id};\nmsg.topic=\"II12/\"+id+\"/riego/cmd\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2160,
        "y": 1380,
        "wires": [
            [
                "9e22ef03f5b54c65"
            ]
        ]
    },
    {
        "id": "54db08c2e55054ef",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var level=msg.payload\nvar id=global.get(\"ID2\");\n\nmsg.payload={\"level\":level, \"id\":id};\nmsg.topic=\"II12/\"+id+\"/riego/cmd\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2160,
        "y": 1460,
        "wires": [
            [
                "9e22ef03f5b54c65"
            ]
        ]
    },
    {
        "id": "7bd02b65faba6657",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var level=msg.payload\nvar id=global.get(\"ID3\");\n\nmsg.payload={\"level\":level, \"id\":id};\nmsg.topic=\"II12/\"+id+\"/riego/cmd\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2160,
        "y": 1540,
        "wires": [
            [
                "9e22ef03f5b54c65"
            ]
        ]
    },
    {
        "id": "655d2b7f4d13c585",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var level=msg.payload;\nvar id=global.get(\"ID4\");\n\nmsg.payload={\"level\":level, \"id\":id};\nmsg.topic=\"II12/\"+id+\"/riego/cmd\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2160,
        "y": 1620,
        "wires": [
            [
                "9e22ef03f5b54c65"
            ]
        ]
    },
    {
        "id": "7e7f73e98b1a2db4",
        "type": "comment",
        "z": "540701d375a59d3e",
        "name": "Control Switch",
        "info": " * ",
        "x": 1780,
        "y": 1320,
        "wires": []
    },
    {
        "id": "58083eef22113180",
        "type": "ui_switch",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Activar Riego",
        "tooltip": "",
        "group": "52478992b88bbf8c",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1940,
        "y": 1460,
        "wires": [
            [
                "54db08c2e55054ef"
            ]
        ]
    },
    {
        "id": "d29d69b6e27ae6f3",
        "type": "ui_switch",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Activar Riego",
        "tooltip": "",
        "group": "1d0d307fb3c6d364",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1940,
        "y": 1540,
        "wires": [
            [
                "7bd02b65faba6657"
            ]
        ]
    },
    {
        "id": "4cba4074128fc522",
        "type": "ui_switch",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Activar Riego",
        "tooltip": "",
        "group": "88ea1dac2052caf5",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1940,
        "y": 1620,
        "wires": [
            [
                "655d2b7f4d13c585"
            ]
        ]
    },
    {
        "id": "d3b97a847b436668",
        "type": "debug",
        "z": "540701d375a59d3e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 1340,
        "wires": []
    },
    {
        "id": "f8acabba6b7f0355",
        "type": "change",
        "z": "540701d375a59d3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ledlevel4",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 1620,
        "wires": [
            [
                "8a30596885e8b146"
            ]
        ]
    },
    {
        "id": "a46d56a6329749ee",
        "type": "change",
        "z": "540701d375a59d3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ledlevel3",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 1540,
        "wires": [
            [
                "6e3c806d3756e587"
            ]
        ]
    },
    {
        "id": "a3bdbe063880bfe8",
        "type": "change",
        "z": "540701d375a59d3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ledlevel2",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 1460,
        "wires": [
            [
                "a0d3f6cc3d56b183"
            ]
        ]
    },
    {
        "id": "348e43853b2331a1",
        "type": "change",
        "z": "540701d375a59d3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ledlevel1",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 1380,
        "wires": [
            [
                "a58ade0602cc5932",
                "f83399a185b1754d"
            ]
        ]
    },
    {
        "id": "f83399a185b1754d",
        "type": "debug",
        "z": "540701d375a59d3e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 1260,
        "wires": []
    },
    {
        "id": "d2921fc433673f0c",
        "type": "ui_slider",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Intensidad",
        "tooltip": "",
        "group": "547f7947c387bf77",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 110,
        "y": 1380,
        "wires": [
            [
                "fb539822e4205170",
                "62851eca3293a5b8",
                "4983f34e8a911682",
                "89a5c9d3243d25e0"
            ]
        ]
    },
    {
        "id": "a8efedd5e931a08d",
        "type": "ui_switch",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Activar Riego",
        "tooltip": "",
        "group": "547f7947c387bf77",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1560,
        "y": 1380,
        "wires": [
            [
                "ec168ecc7d92a4cd",
                "184d60eb4dc2ba06",
                "6f3ebf9b8c3d1cc5",
                "2466929cc1946482"
            ]
        ]
    },
    {
        "id": "73cf56f7252b81b1",
        "type": "ui_text",
        "z": "540701d375a59d3e",
        "group": "547f7947c387bf77",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización switch:",
        "format": "{{msg.time}}",
        "layout": "row-spread",
        "className": "",
        "x": 3300,
        "y": 460,
        "wires": []
    },
    {
        "id": "0e79de034cbd49f5",
        "type": "ui_led",
        "z": "540701d375a59d3e",
        "order": 6,
        "group": "547f7947c387bf77",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#00cc00",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 3230,
        "y": 420,
        "wires": []
    },
    {
        "id": "9f24342fe1bb4dad",
        "type": "ui_text",
        "z": "540701d375a59d3e",
        "group": "547f7947c387bf77",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización riego:",
        "format": "{{msg.time}}",
        "layout": "row-spread",
        "className": "",
        "x": 3300,
        "y": 940,
        "wires": []
    },
    {
        "id": "1886abaa2d044389",
        "type": "ui_led",
        "z": "540701d375a59d3e",
        "order": 6,
        "group": "547f7947c387bf77",
        "width": 0,
        "height": 0,
        "label": "Estado riego:",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#07a8f2",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 3230,
        "y": 900,
        "wires": []
    },
    {
        "id": "2c28fe4b620c12ec",
        "type": "ui_text",
        "z": "540701d375a59d3e",
        "group": "58cd41ecad3d35cb",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización LED",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1710,
        "y": 60,
        "wires": []
    },
    {
        "id": "8c0fb45837610515",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var fecha = new Date ();\n\nmsg.payload={};\nmsg.payload = fecha.toLocaleString(\"es-ES\",{\"timeZone\": \"Europe/Madrid\"});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 80,
        "wires": [
            [
                "2c28fe4b620c12ec"
            ]
        ]
    },
    {
        "id": "a000428928f8f5d4",
        "type": "ui_gauge",
        "z": "540701d375a59d3e",
        "name": "",
        "group": "58cd41ecad3d35cb",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "LED PWM",
        "label": "Intensidad",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1570,
        "y": 160,
        "wires": []
    },
    {
        "id": "bae105db8a5811f6",
        "type": "range",
        "z": "540701d375a59d3e",
        "minin": "0",
        "maxin": "255",
        "minout": "100",
        "maxout": "0",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 1350,
        "y": 160,
        "wires": [
            [
                "a000428928f8f5d4"
            ]
        ]
    },
    {
        "id": "0d0e48939b1ff598",
        "type": "ui_text",
        "z": "540701d375a59d3e",
        "group": "52478992b88bbf8c",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización LED",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1650,
        "y": 240,
        "wires": []
    },
    {
        "id": "7a73b399a6ba4ca8",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var fecha = new Date ();\n\nmsg.payload={};\nmsg.payload = fecha.toLocaleString(\"es-ES\",{\"timeZone\": \"Europe/Madrid\"});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 280,
        "wires": [
            [
                "0d0e48939b1ff598"
            ]
        ]
    },
    {
        "id": "6d0affdf8b529fda",
        "type": "ui_gauge",
        "z": "540701d375a59d3e",
        "name": "",
        "group": "52478992b88bbf8c",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "LED PWM",
        "label": "Intensidad",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1730,
        "y": 340,
        "wires": []
    },
    {
        "id": "5ae5fece25b2c822",
        "type": "range",
        "z": "540701d375a59d3e",
        "minin": "0",
        "maxin": "255",
        "minout": "100",
        "maxout": "0",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 1350,
        "y": 360,
        "wires": [
            [
                "6d0affdf8b529fda"
            ]
        ]
    },
    {
        "id": "0ec40aa338cbd086",
        "type": "ui_text",
        "z": "540701d375a59d3e",
        "group": "1d0d307fb3c6d364",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización LED",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1710,
        "y": 440,
        "wires": []
    },
    {
        "id": "5cda163c5a25f828",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var fecha = new Date ();\n\nmsg.payload={};\nmsg.payload = fecha.toLocaleString(\"es-ES\",{\"timeZone\": \"Europe/Madrid\"});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 460,
        "wires": [
            [
                "0ec40aa338cbd086"
            ]
        ]
    },
    {
        "id": "012fe5609d3b2886",
        "type": "ui_gauge",
        "z": "540701d375a59d3e",
        "name": "",
        "group": "1d0d307fb3c6d364",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "LED PWM",
        "label": "units",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1690,
        "y": 560,
        "wires": []
    },
    {
        "id": "dc9b20d9333d81b7",
        "type": "range",
        "z": "540701d375a59d3e",
        "minin": "0",
        "maxin": "255",
        "minout": "100",
        "maxout": "0",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 1350,
        "y": 560,
        "wires": [
            [
                "012fe5609d3b2886"
            ]
        ]
    },
    {
        "id": "f2947bee18861f6e",
        "type": "ui_text",
        "z": "540701d375a59d3e",
        "group": "88ea1dac2052caf5",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización LED",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1710,
        "y": 660,
        "wires": []
    },
    {
        "id": "545a3cde97d2459a",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var fecha = new Date ();\n\nmsg.time = fecha.toLocaleString(\"es-ES\",{\"timeZone\": \"Europe/Madrid\"});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 660,
        "wires": [
            [
                "f2947bee18861f6e"
            ]
        ]
    },
    {
        "id": "77905976fb1c6f71",
        "type": "ui_gauge",
        "z": "540701d375a59d3e",
        "name": "",
        "group": "88ea1dac2052caf5",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "LED PWM",
        "label": "units",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1690,
        "y": 740,
        "wires": []
    },
    {
        "id": "f99eaa6eadeababb",
        "type": "range",
        "z": "540701d375a59d3e",
        "minin": "0",
        "maxin": "255",
        "minout": "100",
        "maxout": "0",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 1350,
        "y": 740,
        "wires": [
            [
                "77905976fb1c6f71"
            ]
        ]
    },
    {
        "id": "a86ac8aea05287ac",
        "type": "mqtt out",
        "z": "540701d375a59d3e",
        "name": "config",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "759329fc13f505d4",
        "x": 3130,
        "y": 3860,
        "wires": []
    },
    {
        "id": "da81e269e8b1a244",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var envia=flow.get(\"envia1\")\nvar actualiza=flow.get(\"actualiza1\")\nvar velocidad=flow.get(\"velocidad1\")\nvar led=flow.get(\"polaridad_PWM1\")\nvar switches=flow.get(\"polaridad_SWITCH1\")\nvar id=global.get(\"ID1\")\nvar HumMax=flow.get(\"HumAlarma1\")\nvar TempMax=flow.get(\"TempAlarma1\")\nvar T_RiegoOFF=flow.get(\"T_RiegoOFF1\")\nvar T_RiegoON=flow.get(\"T_RiegoON1\")\n\nmsg.topic=\"II12/\"+id+\"/config\"\n\nmsg.payload={\"envia\":envia,\"actualiza\":actualiza,\"velocidad\":velocidad,\"LED\":led,\"SWITCH\":switches,\"T_MAX\":TempMax,\"HUM_MAX\":HumMax,\"T_RIEGO_OFF\":T_RiegoOFF,\"T_RIEGO_ON\":T_RiegoON}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2790,
        "y": 3600,
        "wires": [
            [
                "a86ac8aea05287ac",
                "de41274065fc26b0"
            ]
        ]
    },
    {
        "id": "bac977f8dd0aa3f2",
        "type": "ui_numeric",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Comprobación Actualizaciones",
        "tooltip": "",
        "group": "caf217567928ca0b",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} min",
        "min": 0,
        "max": "300",
        "step": "5",
        "className": "",
        "x": 710,
        "y": 4340,
        "wires": [
            [
                "bfd31f4c6baea9bf"
            ]
        ]
    },
    {
        "id": "b0f756d021c567f0",
        "type": "ui_numeric",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Periodo Envio Mensajes",
        "tooltip": "",
        "group": "54f7a86bb1024036",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} s",
        "min": "25",
        "max": "500",
        "step": "25",
        "className": "",
        "x": 750,
        "y": 3880,
        "wires": [
            [
                "62e67b9361ae9eb5"
            ]
        ]
    },
    {
        "id": "ca60d42462131e73",
        "type": "ui_numeric",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Velocidad cambio",
        "tooltip": "",
        "group": "caf217567928ca0b",
        "order": 5,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "20",
        "step": 1,
        "className": "",
        "x": 690,
        "y": 4580,
        "wires": [
            [
                "1335a81382dd7cc3"
            ]
        ]
    },
    {
        "id": "62e67b9361ae9eb5",
        "type": "change",
        "z": "540701d375a59d3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "envia1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 3880,
        "wires": [
            [
                "da81e269e8b1a244"
            ]
        ]
    },
    {
        "id": "bfd31f4c6baea9bf",
        "type": "change",
        "z": "540701d375a59d3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "actualiza4",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 4340,
        "wires": [
            [
                "4a77f2d674118ff1"
            ]
        ]
    },
    {
        "id": "1335a81382dd7cc3",
        "type": "change",
        "z": "540701d375a59d3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "velocidad4",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 4580,
        "wires": [
            [
                "4a77f2d674118ff1"
            ]
        ]
    },
    {
        "id": "53102a4341d8775d",
        "type": "change",
        "z": "540701d375a59d3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "polaridad_PWM2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 2500,
        "wires": [
            [
                "645347b961594fe7"
            ]
        ]
    },
    {
        "id": "773ff8b4248a56ca",
        "type": "ui_switch",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Polaridad LED",
        "tooltip": "",
        "group": "03b5bf71738e3f11",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 600,
        "y": 2500,
        "wires": [
            [
                "53102a4341d8775d"
            ]
        ]
    },
    {
        "id": "59a83d529d24eab4",
        "type": "ui_switch",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Switch",
        "tooltip": "",
        "group": "58cd41ecad3d35cb",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 550,
        "y": 1960,
        "wires": [
            [
                "afdcea91305bbb71"
            ]
        ]
    },
    {
        "id": "5245d90bc443f1c5",
        "type": "mqtt out",
        "z": "540701d375a59d3e",
        "name": "switch/cmd",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c7a3425e606353b2",
        "x": 1130,
        "y": 2080,
        "wires": []
    },
    {
        "id": "afdcea91305bbb71",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var level=msg.payload\nvar id=global.get(\"ID1\");\n\nmsg.payload={\"level\":level, \"id\":id};\nmsg.topic=\"II12/\"+id+\"/switch/cmd\"\nglobal.set(\"switchval1\",level)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 1960,
        "wires": [
            [
                "5245d90bc443f1c5"
            ]
        ]
    },
    {
        "id": "53fd843d917bfddd",
        "type": "change",
        "z": "540701d375a59d3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "polaridad_SWITCH1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 2820,
        "wires": [
            [
                "da81e269e8b1a244"
            ]
        ]
    },
    {
        "id": "c4b562e81503080e",
        "type": "ui_switch",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Polaridad SWITCH",
        "tooltip": "",
        "group": "54f7a86bb1024036",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 610,
        "y": 2820,
        "wires": [
            [
                "53fd843d917bfddd"
            ]
        ]
    },
    {
        "id": "87df4b4955728686",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var level=msg.payload\nvar id=global.get(\"ID2\");\n\nmsg.payload={\"level\":level, \"id\":id};\nmsg.topic=\"II12/\"+id+\"/switch/cmd\"\nglobal.set(\"switchval2\",level)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 2020,
        "wires": [
            [
                "5245d90bc443f1c5"
            ]
        ]
    },
    {
        "id": "2f0b2f7b81452a30",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var level=msg.payload\nvar id=global.get(\"ID3\");\n\nmsg.payload={\"level\":level, \"id\":id};\nmsg.topic=\"II12/\"+id+\"/switch/cmd\"\nglobal.set(\"switchval3\",level)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 2080,
        "wires": [
            [
                "5245d90bc443f1c5"
            ]
        ]
    },
    {
        "id": "a2db79afc37c48a2",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var level=msg.payload\nvar id=global.get(\"ID4\");\n\nmsg.payload={\"level\":level, \"id\":id};\nmsg.topic=\"II12/\"+id+\"/switch/cmd\"\nglobal.set(\"switchval4\",level)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 2140,
        "wires": [
            [
                "5245d90bc443f1c5"
            ]
        ]
    },
    {
        "id": "21226a4a58e30ee2",
        "type": "change",
        "z": "540701d375a59d3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "polaridad_SWITCH2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 2880,
        "wires": [
            [
                "645347b961594fe7"
            ]
        ]
    },
    {
        "id": "41dc51cb2e4bb6e2",
        "type": "ui_switch",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Polaridad SWITCH",
        "tooltip": "",
        "group": "03b5bf71738e3f11",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 610,
        "y": 2880,
        "wires": [
            [
                "21226a4a58e30ee2"
            ]
        ]
    },
    {
        "id": "487b6d0f52b3a618",
        "type": "change",
        "z": "540701d375a59d3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "polaridad_SWITCH3",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 2940,
        "wires": [
            [
                "1d70846d96fc540c"
            ]
        ]
    },
    {
        "id": "270ef0bfdd48bfca",
        "type": "ui_switch",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Polaridad SWITCH",
        "tooltip": "",
        "group": "e7572a7306abb0da",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 610,
        "y": 2940,
        "wires": [
            [
                "487b6d0f52b3a618"
            ]
        ]
    },
    {
        "id": "a75dfbf65b2dd162",
        "type": "change",
        "z": "540701d375a59d3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "polaridad_SWITCH4",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 3000,
        "wires": [
            [
                "4a77f2d674118ff1"
            ]
        ]
    },
    {
        "id": "5ffca585c231368c",
        "type": "ui_switch",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Polaridad SWITCH",
        "tooltip": "",
        "group": "caf217567928ca0b",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 610,
        "y": 3000,
        "wires": [
            [
                "a75dfbf65b2dd162"
            ]
        ]
    },
    {
        "id": "90cbe0999f1aa659",
        "type": "change",
        "z": "540701d375a59d3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "polaridad_PWM1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 2420,
        "wires": [
            [
                "da81e269e8b1a244"
            ]
        ]
    },
    {
        "id": "e1314ccdb99e39ce",
        "type": "ui_switch",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Polaridad LED",
        "tooltip": "",
        "group": "54f7a86bb1024036",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 600,
        "y": 2420,
        "wires": [
            [
                "90cbe0999f1aa659"
            ]
        ]
    },
    {
        "id": "84f6a4111ac8d50d",
        "type": "change",
        "z": "540701d375a59d3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "polaridad_PWM3",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 2620,
        "wires": [
            [
                "4a77f2d674118ff1"
            ]
        ]
    },
    {
        "id": "4dab721f362f8682",
        "type": "ui_switch",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Polaridad LED",
        "tooltip": "",
        "group": "caf217567928ca0b",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 600,
        "y": 2620,
        "wires": [
            [
                "84f6a4111ac8d50d"
            ]
        ]
    },
    {
        "id": "f5468aa9d1092e68",
        "type": "change",
        "z": "540701d375a59d3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "polaridad_PWM3",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 2560,
        "wires": [
            [
                "1d70846d96fc540c"
            ]
        ]
    },
    {
        "id": "fd0ecd8f3b1c96fd",
        "type": "ui_switch",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Polaridad LED",
        "tooltip": "",
        "group": "e7572a7306abb0da",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 600,
        "y": 2560,
        "wires": [
            [
                "f5468aa9d1092e68"
            ]
        ]
    },
    {
        "id": "5b21fbbd527bd79a",
        "type": "ui_numeric",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Periodo Envio Mensajes",
        "tooltip": "",
        "group": "03b5bf71738e3f11",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} s",
        "min": "25",
        "max": "500",
        "step": "25",
        "className": "",
        "x": 750,
        "y": 3940,
        "wires": [
            [
                "e63c93e402af08dc"
            ]
        ]
    },
    {
        "id": "e63c93e402af08dc",
        "type": "change",
        "z": "540701d375a59d3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "envia2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 3940,
        "wires": [
            [
                "645347b961594fe7"
            ]
        ]
    },
    {
        "id": "7be82fd1e519451f",
        "type": "ui_numeric",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Periodo Envio Mensajes",
        "tooltip": "",
        "group": "e7572a7306abb0da",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} s",
        "min": "25",
        "max": "500",
        "step": "25",
        "className": "",
        "x": 750,
        "y": 4000,
        "wires": [
            [
                "34aec25d2f7b8289"
            ]
        ]
    },
    {
        "id": "34aec25d2f7b8289",
        "type": "change",
        "z": "540701d375a59d3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "envia3",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 4000,
        "wires": [
            [
                "1d70846d96fc540c"
            ]
        ]
    },
    {
        "id": "e9a219417ece4e59",
        "type": "ui_numeric",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Periodo Envio Mensajes",
        "tooltip": "",
        "group": "caf217567928ca0b",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} s",
        "min": "25",
        "max": "500",
        "step": "25",
        "className": "",
        "x": 750,
        "y": 4060,
        "wires": [
            [
                "416a7fd44a34dcbe"
            ]
        ]
    },
    {
        "id": "416a7fd44a34dcbe",
        "type": "change",
        "z": "540701d375a59d3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "envia4",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 4060,
        "wires": [
            [
                "4a77f2d674118ff1"
            ]
        ]
    },
    {
        "id": "214b25f735142b1b",
        "type": "ui_numeric",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Comprobación Actualizaciones",
        "tooltip": "",
        "group": "e7572a7306abb0da",
        "order": 4,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} min",
        "min": 0,
        "max": "300",
        "step": "5",
        "className": "",
        "x": 710,
        "y": 4280,
        "wires": [
            [
                "ce4f8584234302c6"
            ]
        ]
    },
    {
        "id": "ce4f8584234302c6",
        "type": "change",
        "z": "540701d375a59d3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "actualiza3",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 4280,
        "wires": [
            [
                "1d70846d96fc540c"
            ]
        ]
    },
    {
        "id": "f16209cac25bd96a",
        "type": "ui_numeric",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Comprobación Actualizaciones",
        "tooltip": "",
        "group": "03b5bf71738e3f11",
        "order": 4,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} min",
        "min": 0,
        "max": "300",
        "step": "5",
        "className": "",
        "x": 710,
        "y": 4220,
        "wires": [
            [
                "4fb7bbd9abd20f44"
            ]
        ]
    },
    {
        "id": "4fb7bbd9abd20f44",
        "type": "change",
        "z": "540701d375a59d3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "actualiza2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 4220,
        "wires": [
            [
                "645347b961594fe7"
            ]
        ]
    },
    {
        "id": "d1ec9d707e6d2014",
        "type": "ui_numeric",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Comprobación Actualizaciones",
        "tooltip": "",
        "group": "54f7a86bb1024036",
        "order": 4,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} min",
        "min": 0,
        "max": "300",
        "step": "5",
        "className": "",
        "x": 710,
        "y": 4160,
        "wires": [
            [
                "7d817793eea43a7a"
            ]
        ]
    },
    {
        "id": "7d817793eea43a7a",
        "type": "change",
        "z": "540701d375a59d3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "actualiza1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 4160,
        "wires": [
            [
                "da81e269e8b1a244"
            ]
        ]
    },
    {
        "id": "76154fa92c583b6f",
        "type": "ui_numeric",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Velocidad cambio",
        "tooltip": "",
        "group": "e7572a7306abb0da",
        "order": 5,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "20",
        "step": 1,
        "className": "",
        "x": 690,
        "y": 4520,
        "wires": [
            [
                "e3ba347a80a0c489"
            ]
        ]
    },
    {
        "id": "e3ba347a80a0c489",
        "type": "change",
        "z": "540701d375a59d3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "velocidad3",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 4520,
        "wires": [
            [
                "1d70846d96fc540c"
            ]
        ]
    },
    {
        "id": "006a208b9b5e0d3f",
        "type": "ui_numeric",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Velocidad cambio",
        "tooltip": "",
        "group": "03b5bf71738e3f11",
        "order": 5,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "20",
        "step": 1,
        "className": "",
        "x": 690,
        "y": 4460,
        "wires": [
            [
                "525b2c36cfb8729b"
            ]
        ]
    },
    {
        "id": "525b2c36cfb8729b",
        "type": "change",
        "z": "540701d375a59d3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "velocidad2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 4460,
        "wires": [
            [
                "645347b961594fe7"
            ]
        ]
    },
    {
        "id": "1c5e717537322c51",
        "type": "ui_numeric",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Velocidad cambio",
        "tooltip": "",
        "group": "54f7a86bb1024036",
        "order": 5,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "20",
        "step": 1,
        "className": "",
        "x": 690,
        "y": 4400,
        "wires": [
            [
                "338920d889bf0e39"
            ]
        ]
    },
    {
        "id": "338920d889bf0e39",
        "type": "change",
        "z": "540701d375a59d3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "velocidad1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 4400,
        "wires": [
            [
                "da81e269e8b1a244"
            ]
        ]
    },
    {
        "id": "645347b961594fe7",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var envia=global.get(\"envia2\")\nvar actualiza=global.get(\"actualiza2\")\nvar velocidad=global.get(\"velocidad2\")\nvar led=global.get(\"polaridadl2\")\nvar switches=global.get(\"polaridads2\")\nvar id=global.get(\"ID2\")\nvar HumMax=global.get(\"HumAlarma2\")\nvar TempMax=global.get(\"TempAlarma2\")\nvar T_RiegoOFF=flow.get(\"T_RiegoOFF2\")\nvar T_RiegoON=flow.get(\"T_RiegoON2\")\n\nmsg.topic=\"II12/\"+id+\"/config\"\n\nmsg.payload={\"envia\":envia,\"actualiza\":actualiza,\"velocidad\":velocidad,\"LED\":led,\"SWITCH\":switches,\"T_MAX\":TempMax,\"HUM_MAX\":HumMax,\"T_RIEGO_OFF\":T_RiegoOFF,\"T_RIEGO_ON\":T_RiegoON}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2790,
        "y": 3780,
        "wires": [
            [
                "a86ac8aea05287ac"
            ]
        ]
    },
    {
        "id": "1d70846d96fc540c",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var envia=global.get(\"envia3\")\nvar actualiza=global.get(\"actualiza3\")\nvar velocidad=global.get(\"velocidad3\")\nvar led=global.get(\"polaridadl3\")\nvar switches=global.get(\"polaridads3\")\nvar id=global.get(\"ID3\")\nvar HumMax=global.get(\"HumAlarma3\")\nvar TempMax=global.get(\"TempAlarma3\")\nvar T_RiegoOFF=flow.get(\"T_RiegoOFF3\")\nvar T_RiegoON=flow.get(\"T_RiegoON3\")\n\nmsg.topic=\"II12/\"+id+\"/config\"\n\nmsg.payload={\"envia\":envia,\"actualiza\":actualiza,\"velocidad\":velocidad,\"LED\":led,\"SWITCH\":switches,\"T_MAX\":TempMax,\"HUM_MAX\":HumMax,\"T_RIEGO_OFF\":T_RiegoOFF,\"T_RIEGO_ON\":T_RiegoON}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2790,
        "y": 3940,
        "wires": [
            [
                "a86ac8aea05287ac"
            ]
        ]
    },
    {
        "id": "4a77f2d674118ff1",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var envia=global.get(\"envia4\")\nvar actualiza=global.get(\"actualiza4\")\nvar velocidad=global.get(\"velocidad4\")\nvar led=global.get(\"polaridadl4\")\nvar switches=global.get(\"polaridads4\")\nvar id=global.get(\"ID4\")\nvar HumMax=global.get(\"HumAlarma4\")\nvar TempMax=global.get(\"TempAlarma4\")\nvar T_RiegoOFF=flow.get(\"T_RiegoOFF4\")\nvar T_RiegoON=flow.get(\"T_RiegoON4\")\n\nmsg.topic=\"II12/\"+id+\"/config\"\n\nmsg.payload={\"envia\":envia,\"actualiza\":actualiza,\"velocidad\":velocidad,\"LED\":led,\"SWITCH\":switches,\"T_MAX\":TempMax,\"HUM_MAX\":HumMax,\"T_RIEGO_OFF\":T_RiegoOFF,\"T_RIEGO_ON\":T_RiegoON}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2790,
        "y": 4120,
        "wires": [
            [
                "a86ac8aea05287ac"
            ]
        ]
    },
    {
        "id": "73a874d2ce099846",
        "type": "ui_numeric",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "HumAlarma",
        "tooltip": "",
        "group": "54f7a86bb1024036",
        "order": 8,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "40",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 690,
        "y": 3200,
        "wires": [
            [
                "922ce515e97d9387"
            ]
        ]
    },
    {
        "id": "c3ae9dddf70e748b",
        "type": "ui_numeric",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "TempAlarma",
        "tooltip": "",
        "group": "caf217567928ca0b",
        "order": 6,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "25",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 690,
        "y": 3720,
        "wires": [
            [
                "3d9a36eacedc555d"
            ]
        ]
    },
    {
        "id": "3d9a36eacedc555d",
        "type": "change",
        "z": "540701d375a59d3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "TempAlarma4",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 3720,
        "wires": [
            [
                "4a77f2d674118ff1"
            ]
        ]
    },
    {
        "id": "922ce515e97d9387",
        "type": "change",
        "z": "540701d375a59d3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "HumAlarma1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 3200,
        "wires": [
            [
                "da81e269e8b1a244"
            ]
        ]
    },
    {
        "id": "f0cf0acf6e662200",
        "type": "ui_numeric",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "HumAlarma",
        "tooltip": "",
        "group": "03b5bf71738e3f11",
        "order": 6,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "40",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 690,
        "y": 3260,
        "wires": [
            [
                "9581db71370275de"
            ]
        ]
    },
    {
        "id": "9581db71370275de",
        "type": "change",
        "z": "540701d375a59d3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "HumAlarma2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 3260,
        "wires": [
            [
                "645347b961594fe7"
            ]
        ]
    },
    {
        "id": "e7a23d1d3b9df04c",
        "type": "ui_numeric",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "HumAlarma",
        "tooltip": "",
        "group": "e7572a7306abb0da",
        "order": 6,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "40",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 690,
        "y": 3320,
        "wires": [
            [
                "ea41b3f3229da539"
            ]
        ]
    },
    {
        "id": "ea41b3f3229da539",
        "type": "change",
        "z": "540701d375a59d3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "HumAlarma3",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 3320,
        "wires": [
            [
                "1d70846d96fc540c"
            ]
        ]
    },
    {
        "id": "7bef56c1d5f8b623",
        "type": "ui_numeric",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "HumAlarma",
        "tooltip": "",
        "group": "caf217567928ca0b",
        "order": 7,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "40",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 690,
        "y": 3380,
        "wires": [
            [
                "05b005337f69371b"
            ]
        ]
    },
    {
        "id": "05b005337f69371b",
        "type": "change",
        "z": "540701d375a59d3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "HumAlarma4",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 3380,
        "wires": [
            [
                "4a77f2d674118ff1"
            ]
        ]
    },
    {
        "id": "4cda1baf8c79fe4d",
        "type": "ui_numeric",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "TempAlarma",
        "tooltip": "",
        "group": "e7572a7306abb0da",
        "order": 7,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "25",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 690,
        "y": 3660,
        "wires": [
            [
                "85d49bbef82b6ce0"
            ]
        ]
    },
    {
        "id": "85d49bbef82b6ce0",
        "type": "change",
        "z": "540701d375a59d3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "TempAlarma3",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 3660,
        "wires": [
            [
                "1d70846d96fc540c"
            ]
        ]
    },
    {
        "id": "d79dcbbbf2a59734",
        "type": "ui_numeric",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "TempAlarma",
        "tooltip": "",
        "group": "03b5bf71738e3f11",
        "order": 7,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "25",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 690,
        "y": 3600,
        "wires": [
            [
                "ab44581e94a9e105"
            ]
        ]
    },
    {
        "id": "ab44581e94a9e105",
        "type": "change",
        "z": "540701d375a59d3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "TempAlarma2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 3600,
        "wires": [
            [
                "645347b961594fe7"
            ]
        ]
    },
    {
        "id": "cca85ff2b98130d5",
        "type": "ui_numeric",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "TempAlarma",
        "tooltip": "",
        "group": "54f7a86bb1024036",
        "order": 6,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "25",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 690,
        "y": 3540,
        "wires": [
            [
                "e66b37983d466e95"
            ]
        ]
    },
    {
        "id": "e66b37983d466e95",
        "type": "change",
        "z": "540701d375a59d3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "TempAlarma1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 3540,
        "wires": [
            [
                "da81e269e8b1a244"
            ]
        ]
    },
    {
        "id": "c7477fc300575fc4",
        "type": "ui_switch",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Switch",
        "tooltip": "",
        "group": "52478992b88bbf8c",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 550,
        "y": 2020,
        "wires": [
            [
                "87df4b4955728686"
            ]
        ]
    },
    {
        "id": "ba8ceebf2e3aa546",
        "type": "ui_switch",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Switch",
        "tooltip": "",
        "group": "1d0d307fb3c6d364",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 550,
        "y": 2080,
        "wires": [
            [
                "2f0b2f7b81452a30"
            ]
        ]
    },
    {
        "id": "50f86edb9a61ca80",
        "type": "ui_switch",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Switch",
        "tooltip": "",
        "group": "88ea1dac2052caf5",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 550,
        "y": 2140,
        "wires": [
            [
                "a2db79afc37c48a2"
            ]
        ]
    },
    {
        "id": "de41274065fc26b0",
        "type": "debug",
        "z": "540701d375a59d3e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 3100,
        "y": 3560,
        "wires": []
    },
    {
        "id": "ba16ed7bae74f265",
        "type": "ui_switch",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Switch",
        "tooltip": "",
        "group": "547f7947c387bf77",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 170,
        "y": 1960,
        "wires": [
            [
                "59a83d529d24eab4",
                "3519a975c60f06c4",
                "a8f8a0205360d4ac",
                "e12bafb8eef2b06d"
            ]
        ]
    },
    {
        "id": "04c10db2edc6871e",
        "type": "ui_switch",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Polaridad LED",
        "tooltip": "",
        "group": "756f99e69c4296a5",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 180,
        "y": 2420,
        "wires": [
            [
                "e1314ccdb99e39ce",
                "c57c115420f18d03",
                "6cbfcce493451187",
                "46ab38b929d02b6d"
            ]
        ]
    },
    {
        "id": "9af3601bd4cc2eac",
        "type": "ui_switch",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Polaridad SWITCH",
        "tooltip": "",
        "group": "756f99e69c4296a5",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 190,
        "y": 2820,
        "wires": [
            [
                "c4b562e81503080e",
                "23456facd8ec5b2f",
                "e117d388083e59f2",
                "80373227d0fc3371"
            ]
        ]
    },
    {
        "id": "cd17d567d3707768",
        "type": "ui_numeric",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "HumAlarma",
        "tooltip": "",
        "group": "756f99e69c4296a5",
        "order": 6,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "40",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 290,
        "y": 3200,
        "wires": [
            [
                "73a874d2ce099846",
                "9d7269ca92a13a2d",
                "c734a1b205a7fc0c",
                "63723b637d1b7d73"
            ]
        ]
    },
    {
        "id": "dd558a35b746a7a7",
        "type": "ui_numeric",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "TempAlarma",
        "tooltip": "",
        "group": "756f99e69c4296a5",
        "order": 7,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "25",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 310,
        "y": 3540,
        "wires": [
            [
                "cca85ff2b98130d5",
                "c6de11b760d22773",
                "3549f6530bc0dba8",
                "b0f035b89abac58a"
            ]
        ]
    },
    {
        "id": "a874d4cc7a7381f4",
        "type": "ui_numeric",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Periodo Envio Mensajes",
        "tooltip": "",
        "group": "756f99e69c4296a5",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} s",
        "min": "25",
        "max": "500",
        "step": "25",
        "className": "",
        "x": 310,
        "y": 3880,
        "wires": [
            [
                "b0f756d021c567f0",
                "e23a79b3b2880d5f",
                "252fa3a48f6fd5c0",
                "3d7cc399a0bd7379"
            ]
        ]
    },
    {
        "id": "cde99497cff5faad",
        "type": "ui_numeric",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Comprobación Actualizaciones",
        "tooltip": "",
        "group": "756f99e69c4296a5",
        "order": 4,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} min",
        "min": 0,
        "max": "300",
        "step": "5",
        "className": "",
        "x": 310,
        "y": 4160,
        "wires": [
            [
                "d1ec9d707e6d2014",
                "d3710c9ba253d1ac",
                "891bccce3e2e8c97",
                "96440f3876db7910"
            ]
        ]
    },
    {
        "id": "5b45a93e19823b1c",
        "type": "ui_numeric",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Velocidad cambio",
        "tooltip": "",
        "group": "756f99e69c4296a5",
        "order": 5,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "20",
        "step": 1,
        "className": "",
        "x": 270,
        "y": 4400,
        "wires": [
            [
                "1c5e717537322c51",
                "4b0518b7b3830ebc",
                "50cabcf83e200688",
                "97470540cff5b528"
            ]
        ]
    },
    {
        "id": "718306819405a885",
        "type": "ui_numeric",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Programar Riego: ",
        "tooltip": "",
        "group": "54f7a86bb1024036",
        "order": 7,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} min",
        "min": "0",
        "max": "1000",
        "step": 1,
        "className": "",
        "x": 690,
        "y": 4680,
        "wires": [
            [
                "3363f235c0174fb9"
            ]
        ]
    },
    {
        "id": "3363f235c0174fb9",
        "type": "change",
        "z": "540701d375a59d3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "T_RiegoOFF1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 4680,
        "wires": [
            [
                "da81e269e8b1a244"
            ]
        ]
    },
    {
        "id": "102665111d6dafd8",
        "type": "ui_numeric",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Tiempo de riego",
        "tooltip": "",
        "group": "54f7a86bb1024036",
        "order": 9,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} min",
        "min": "40",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 2200,
        "y": 4700,
        "wires": [
            [
                "b8afbef4e9f6b689"
            ]
        ]
    },
    {
        "id": "abac68fe68c25157",
        "type": "ui_numeric",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Tiempo de riego",
        "tooltip": "",
        "group": "03b5bf71738e3f11",
        "order": 8,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} min",
        "min": "40",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 2200,
        "y": 4760,
        "wires": [
            [
                "08b8ea350e0e5dc4"
            ]
        ]
    },
    {
        "id": "9892f0d80008e470",
        "type": "ui_numeric",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Tiempo de riego",
        "tooltip": "",
        "group": "e7572a7306abb0da",
        "order": 8,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} min",
        "min": "40",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 2200,
        "y": 4820,
        "wires": [
            [
                "f502426dac2d66f0"
            ]
        ]
    },
    {
        "id": "46078bb6a02b146d",
        "type": "ui_numeric",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Tiempo de riego",
        "tooltip": "",
        "group": "caf217567928ca0b",
        "order": 8,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} min",
        "min": "40",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 2200,
        "y": 4880,
        "wires": [
            [
                "7d952ab3b5d8c9f7"
            ]
        ]
    },
    {
        "id": "04b244b83c5f18c5",
        "type": "ui_numeric",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Tiempo de riego",
        "tooltip": "",
        "group": "756f99e69c4296a5",
        "order": 8,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} min",
        "min": "40",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 1840,
        "y": 4700,
        "wires": [
            [
                "102665111d6dafd8",
                "95ed33a6226a11d6",
                "32ecdfe95ba83a8a",
                "c3756376e09e37b0"
            ]
        ]
    },
    {
        "id": "4b5929e8e6ca732c",
        "type": "ui_numeric",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Programar Riego: ",
        "tooltip": "",
        "group": "03b5bf71738e3f11",
        "order": 9,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "1000",
        "step": 1,
        "className": "",
        "x": 690,
        "y": 4740,
        "wires": [
            [
                "957a15516a869722"
            ]
        ]
    },
    {
        "id": "957a15516a869722",
        "type": "change",
        "z": "540701d375a59d3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "T_RiegoOFF2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 4740,
        "wires": [
            [
                "645347b961594fe7"
            ]
        ]
    },
    {
        "id": "562ed407ce668cb8",
        "type": "ui_numeric",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Programar Riego: ",
        "tooltip": "",
        "group": "e7572a7306abb0da",
        "order": 9,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "1000",
        "step": 1,
        "className": "",
        "x": 690,
        "y": 4800,
        "wires": [
            [
                "24fbe478163f7c4f"
            ]
        ]
    },
    {
        "id": "24fbe478163f7c4f",
        "type": "change",
        "z": "540701d375a59d3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "T_RiegoOFF3",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 4800,
        "wires": [
            [
                "1d70846d96fc540c"
            ]
        ]
    },
    {
        "id": "c86d7c0f7a7791c6",
        "type": "ui_numeric",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Programar Riego: ",
        "tooltip": "",
        "group": "caf217567928ca0b",
        "order": 9,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "1000",
        "step": 1,
        "className": "",
        "x": 690,
        "y": 4860,
        "wires": [
            [
                "7056151a08a37523"
            ]
        ]
    },
    {
        "id": "7056151a08a37523",
        "type": "change",
        "z": "540701d375a59d3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "T_RiegoOFF4",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 4860,
        "wires": [
            [
                "4a77f2d674118ff1"
            ]
        ]
    },
    {
        "id": "123463c071271220",
        "type": "ui_numeric",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Programar Riego: ",
        "tooltip": "",
        "group": "756f99e69c4296a5",
        "order": 9,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "1000",
        "step": 1,
        "className": "",
        "x": 270,
        "y": 4680,
        "wires": [
            [
                "718306819405a885",
                "c42f1c4989b9f7fb",
                "3b3def0fad6221fe",
                "630454f7fdadef3c"
            ]
        ]
    },
    {
        "id": "b8afbef4e9f6b689",
        "type": "change",
        "z": "540701d375a59d3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "T_RiegoON1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2440,
        "y": 4700,
        "wires": [
            [
                "da81e269e8b1a244"
            ]
        ]
    },
    {
        "id": "08b8ea350e0e5dc4",
        "type": "change",
        "z": "540701d375a59d3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "T_RiegoON2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2420,
        "y": 4760,
        "wires": [
            [
                "645347b961594fe7"
            ]
        ]
    },
    {
        "id": "f502426dac2d66f0",
        "type": "change",
        "z": "540701d375a59d3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "T_RiegoON3",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2420,
        "y": 4820,
        "wires": [
            [
                "1d70846d96fc540c"
            ]
        ]
    },
    {
        "id": "7d952ab3b5d8c9f7",
        "type": "change",
        "z": "540701d375a59d3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "T_RiegoON4",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2420,
        "y": 4880,
        "wires": [
            [
                "4a77f2d674118ff1"
            ]
        ]
    },
    {
        "id": "7e0b32683a88afa4",
        "type": "comment",
        "z": "540701d375a59d3e",
        "name": "Datos de Configuracion",
        "info": "",
        "x": 180,
        "y": 2340,
        "wires": []
    },
    {
        "id": "62851eca3293a5b8",
        "type": "delay",
        "z": "540701d375a59d3e",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 330,
        "y": 1460,
        "wires": [
            [
                "7470a2e352bd68ed"
            ]
        ]
    },
    {
        "id": "4983f34e8a911682",
        "type": "delay",
        "z": "540701d375a59d3e",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 330,
        "y": 1540,
        "wires": [
            [
                "c9028d4a43391009"
            ]
        ]
    },
    {
        "id": "89a5c9d3243d25e0",
        "type": "delay",
        "z": "540701d375a59d3e",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 330,
        "y": 1620,
        "wires": [
            [
                "17d8ac52a9071835"
            ]
        ]
    },
    {
        "id": "479e9861bc50bbeb",
        "type": "debug",
        "z": "540701d375a59d3e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 1620,
        "wires": []
    },
    {
        "id": "3519a975c60f06c4",
        "type": "delay",
        "z": "540701d375a59d3e",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 350,
        "y": 2020,
        "wires": [
            [
                "c7477fc300575fc4"
            ]
        ]
    },
    {
        "id": "a8f8a0205360d4ac",
        "type": "delay",
        "z": "540701d375a59d3e",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 350,
        "y": 2080,
        "wires": [
            [
                "ba8ceebf2e3aa546"
            ]
        ]
    },
    {
        "id": "e12bafb8eef2b06d",
        "type": "delay",
        "z": "540701d375a59d3e",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 350,
        "y": 2140,
        "wires": [
            [
                "50f86edb9a61ca80"
            ]
        ]
    },
    {
        "id": "184d60eb4dc2ba06",
        "type": "delay",
        "z": "540701d375a59d3e",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 1750,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "6f3ebf9b8c3d1cc5",
        "type": "delay",
        "z": "540701d375a59d3e",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 1750,
        "y": 1540,
        "wires": [
            []
        ]
    },
    {
        "id": "2466929cc1946482",
        "type": "delay",
        "z": "540701d375a59d3e",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 1750,
        "y": 1620,
        "wires": [
            []
        ]
    },
    {
        "id": "c57c115420f18d03",
        "type": "delay",
        "z": "540701d375a59d3e",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 410,
        "y": 2500,
        "wires": [
            [
                "773ff8b4248a56ca",
                "7d6355f1cdbbe0e8"
            ]
        ]
    },
    {
        "id": "6cbfcce493451187",
        "type": "delay",
        "z": "540701d375a59d3e",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 410,
        "y": 2560,
        "wires": [
            [
                "fd0ecd8f3b1c96fd"
            ]
        ]
    },
    {
        "id": "46ab38b929d02b6d",
        "type": "delay",
        "z": "540701d375a59d3e",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 410,
        "y": 2620,
        "wires": [
            [
                "4dab721f362f8682"
            ]
        ]
    },
    {
        "id": "7d6355f1cdbbe0e8",
        "type": "debug",
        "z": "540701d375a59d3e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 2260,
        "wires": []
    },
    {
        "id": "23456facd8ec5b2f",
        "type": "delay",
        "z": "540701d375a59d3e",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 390,
        "y": 2880,
        "wires": [
            [
                "41dc51cb2e4bb6e2"
            ]
        ]
    },
    {
        "id": "e117d388083e59f2",
        "type": "delay",
        "z": "540701d375a59d3e",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 390,
        "y": 2940,
        "wires": [
            [
                "270ef0bfdd48bfca"
            ]
        ]
    },
    {
        "id": "80373227d0fc3371",
        "type": "delay",
        "z": "540701d375a59d3e",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 390,
        "y": 3000,
        "wires": [
            [
                "5ffca585c231368c"
            ]
        ]
    },
    {
        "id": "03bb0ff166e5c7aa",
        "type": "inject",
        "z": "540701d375a59d3e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "70",
        "payloadType": "json",
        "x": 130,
        "y": 3200,
        "wires": [
            [
                "cd17d567d3707768"
            ]
        ]
    },
    {
        "id": "9d7269ca92a13a2d",
        "type": "delay",
        "z": "540701d375a59d3e",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 490,
        "y": 3260,
        "wires": [
            [
                "f0cf0acf6e662200"
            ]
        ]
    },
    {
        "id": "c734a1b205a7fc0c",
        "type": "delay",
        "z": "540701d375a59d3e",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 490,
        "y": 3320,
        "wires": [
            [
                "e7a23d1d3b9df04c"
            ]
        ]
    },
    {
        "id": "63723b637d1b7d73",
        "type": "delay",
        "z": "540701d375a59d3e",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 490,
        "y": 3380,
        "wires": [
            [
                "7bef56c1d5f8b623"
            ]
        ]
    },
    {
        "id": "6a32132aad0543d9",
        "type": "inject",
        "z": "540701d375a59d3e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "40",
        "payloadType": "json",
        "x": 130,
        "y": 3540,
        "wires": [
            [
                "dd558a35b746a7a7"
            ]
        ]
    },
    {
        "id": "c6de11b760d22773",
        "type": "delay",
        "z": "540701d375a59d3e",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 490,
        "y": 3600,
        "wires": [
            [
                "d79dcbbbf2a59734"
            ]
        ]
    },
    {
        "id": "3549f6530bc0dba8",
        "type": "delay",
        "z": "540701d375a59d3e",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 490,
        "y": 3660,
        "wires": [
            [
                "4cda1baf8c79fe4d"
            ]
        ]
    },
    {
        "id": "b0f035b89abac58a",
        "type": "delay",
        "z": "540701d375a59d3e",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 490,
        "y": 3720,
        "wires": [
            [
                "c3ae9dddf70e748b"
            ]
        ]
    },
    {
        "id": "b822986ea3f0eb6b",
        "type": "inject",
        "z": "540701d375a59d3e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "30",
        "payloadType": "json",
        "x": 90,
        "y": 3880,
        "wires": [
            [
                "a874d4cc7a7381f4"
            ]
        ]
    },
    {
        "id": "e23a79b3b2880d5f",
        "type": "delay",
        "z": "540701d375a59d3e",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 530,
        "y": 3940,
        "wires": [
            [
                "5b21fbbd527bd79a"
            ]
        ]
    },
    {
        "id": "252fa3a48f6fd5c0",
        "type": "delay",
        "z": "540701d375a59d3e",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 530,
        "y": 4000,
        "wires": [
            [
                "7be82fd1e519451f"
            ]
        ]
    },
    {
        "id": "3d7cc399a0bd7379",
        "type": "delay",
        "z": "540701d375a59d3e",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 530,
        "y": 4060,
        "wires": [
            [
                "e9a219417ece4e59"
            ]
        ]
    },
    {
        "id": "9c96398d90941194",
        "type": "inject",
        "z": "540701d375a59d3e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ }",
        "payloadType": "json",
        "x": 90,
        "y": 4160,
        "wires": [
            [
                "cde99497cff5faad"
            ]
        ]
    },
    {
        "id": "d3710c9ba253d1ac",
        "type": "delay",
        "z": "540701d375a59d3e",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 490,
        "y": 4220,
        "wires": [
            [
                "f16209cac25bd96a"
            ]
        ]
    },
    {
        "id": "891bccce3e2e8c97",
        "type": "delay",
        "z": "540701d375a59d3e",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 490,
        "y": 4280,
        "wires": [
            [
                "214b25f735142b1b"
            ]
        ]
    },
    {
        "id": "96440f3876db7910",
        "type": "delay",
        "z": "540701d375a59d3e",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 490,
        "y": 4340,
        "wires": [
            [
                "bac977f8dd0aa3f2"
            ]
        ]
    },
    {
        "id": "4b0518b7b3830ebc",
        "type": "delay",
        "z": "540701d375a59d3e",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 490,
        "y": 4460,
        "wires": [
            [
                "006a208b9b5e0d3f"
            ]
        ]
    },
    {
        "id": "50cabcf83e200688",
        "type": "delay",
        "z": "540701d375a59d3e",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 490,
        "y": 4520,
        "wires": [
            [
                "76154fa92c583b6f"
            ]
        ]
    },
    {
        "id": "97470540cff5b528",
        "type": "delay",
        "z": "540701d375a59d3e",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 490,
        "y": 4580,
        "wires": [
            [
                "ca60d42462131e73"
            ]
        ]
    },
    {
        "id": "158f2ba805edf20a",
        "type": "inject",
        "z": "540701d375a59d3e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ }",
        "payloadType": "json",
        "x": 90,
        "y": 4400,
        "wires": [
            [
                "5b45a93e19823b1c"
            ]
        ]
    },
    {
        "id": "dc27bf34dd39c59b",
        "type": "inject",
        "z": "540701d375a59d3e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "30",
        "payloadType": "json",
        "x": 90,
        "y": 4680,
        "wires": [
            [
                "123463c071271220"
            ]
        ]
    },
    {
        "id": "c42f1c4989b9f7fb",
        "type": "delay",
        "z": "540701d375a59d3e",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 470,
        "y": 4740,
        "wires": [
            [
                "4b5929e8e6ca732c"
            ]
        ]
    },
    {
        "id": "3b3def0fad6221fe",
        "type": "delay",
        "z": "540701d375a59d3e",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 470,
        "y": 4800,
        "wires": [
            [
                "562ed407ce668cb8"
            ]
        ]
    },
    {
        "id": "630454f7fdadef3c",
        "type": "delay",
        "z": "540701d375a59d3e",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 470,
        "y": 4860,
        "wires": [
            [
                "c86d7c0f7a7791c6"
            ]
        ]
    },
    {
        "id": "2b0070a0de9a4929",
        "type": "inject",
        "z": "540701d375a59d3e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "15",
        "payloadType": "json",
        "x": 1670,
        "y": 4700,
        "wires": [
            [
                "04b244b83c5f18c5"
            ]
        ]
    },
    {
        "id": "95ed33a6226a11d6",
        "type": "delay",
        "z": "540701d375a59d3e",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 2010,
        "y": 4760,
        "wires": [
            [
                "abac68fe68c25157"
            ]
        ]
    },
    {
        "id": "32ecdfe95ba83a8a",
        "type": "delay",
        "z": "540701d375a59d3e",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 2010,
        "y": 4820,
        "wires": [
            [
                "9892f0d80008e470"
            ]
        ]
    },
    {
        "id": "c3756376e09e37b0",
        "type": "delay",
        "z": "540701d375a59d3e",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 2010,
        "y": 4880,
        "wires": [
            [
                "46078bb6a02b146d"
            ]
        ]
    },
    {
        "id": "c7a3425e606353b2",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "58cd41ecad3d35cb",
        "type": "ui_group",
        "name": "Actuadores",
        "tab": "594cecd70ae88430",
        "order": 3,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "52478992b88bbf8c",
        "type": "ui_group",
        "name": "Actuadores",
        "tab": "cb0a8f66055dc5e4",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1d0d307fb3c6d364",
        "type": "ui_group",
        "name": "Actuadores",
        "tab": "3ea480f31c69cc51",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "88ea1dac2052caf5",
        "type": "ui_group",
        "name": "Actuadores",
        "tab": "56d00aae9c36eba0",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "759329fc13f505d4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "547f7947c387bf77",
        "type": "ui_group",
        "name": "Actuadores",
        "tab": "17ed4c3a57d6103c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "caf217567928ca0b",
        "type": "ui_group",
        "name": "Configuración-HUERTO4",
        "tab": "eda22f146f0db9bf",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "54f7a86bb1024036",
        "type": "ui_group",
        "name": "Configuración-HUERTO1",
        "tab": "eda22f146f0db9bf",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "03b5bf71738e3f11",
        "type": "ui_group",
        "name": "Configuración-HUERTO2",
        "tab": "eda22f146f0db9bf",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e7572a7306abb0da",
        "type": "ui_group",
        "name": "Configuración-HUERTO3",
        "tab": "eda22f146f0db9bf",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "756f99e69c4296a5",
        "type": "ui_group",
        "name": "GLOBAL",
        "tab": "eda22f146f0db9bf",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "594cecd70ae88430",
        "type": "ui_tab",
        "name": "HUERTO 1",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cb0a8f66055dc5e4",
        "type": "ui_tab",
        "name": "HUERTO 2",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3ea480f31c69cc51",
        "type": "ui_tab",
        "name": "HUERTO 3",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "56d00aae9c36eba0",
        "type": "ui_tab",
        "name": "HUERTO 4",
        "icon": "dashboard",
        "order": 7,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "17ed4c3a57d6103c",
        "type": "ui_tab",
        "name": "HUERTO-GLOBAL",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "eda22f146f0db9bf",
        "type": "ui_tab",
        "name": "Configuración del Dispositivo",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]
