NodeRED/ActuadoresFinal.json
[
    {
        "id": "975b9b075cf5923a",
        "type": "tab",
        "label": "ACTUADORES",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7a00d5fbaad1d72e",
        "type": "mqtt in",
        "z": "975b9b075cf5923a",
        "name": "",
        "topic": "II12/+/led/status",
        "qos": "2",
        "datatype": "auto",
        "broker": "c7a3425e606353b2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 220,
        "y": 400,
        "wires": [
            [
                "92af2d43a4427814"
            ]
        ]
    },
    {
        "id": "f5436f07551b5c66",
        "type": "change",
        "z": "975b9b075cf5923a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "polaridad",
                "pt": "msg",
                "to": "payload.Polaridad",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.LED",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 400,
        "wires": [
            [
                "7793a8a765c6bbbd",
                "9fda537648c25e24"
            ]
        ]
    },
    {
        "id": "92af2d43a4427814",
        "type": "json",
        "z": "975b9b075cf5923a",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 450,
        "y": 400,
        "wires": [
            [
                "184fa56a76741063",
                "a58835a8c3bd0227"
            ]
        ]
    },
    {
        "id": "184fa56a76741063",
        "type": "debug",
        "z": "975b9b075cf5923a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 540,
        "wires": []
    },
    {
        "id": "7793a8a765c6bbbd",
        "type": "switch",
        "z": "975b9b075cf5923a",
        "name": "",
        "property": "identificador",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ID1",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID2",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID3",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID4",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 990,
        "y": 400,
        "wires": [
            [
                "880810d255c83a94",
                "c980607361e61b02",
                "0b67936418a91469"
            ],
            [
                "a782d854423925dc",
                "795c684d89d9e966"
            ],
            [
                "5c8804198e313ac0",
                "b887f84318647155"
            ],
            [
                "c7f919dbcfaedee9",
                "1041455be6736375"
            ]
        ]
    },
    {
        "id": "a58835a8c3bd0227",
        "type": "change",
        "z": "975b9b075cf5923a",
        "name": "ID",
        "rules": [
            {
                "t": "set",
                "p": "identificador",
                "pt": "msg",
                "to": "payload.CHIPID",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "ID1",
                "pt": "msg",
                "to": "ID1",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "ID2",
                "pt": "msg",
                "to": "ID2",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "ID3",
                "pt": "msg",
                "to": "ID3",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "ID4",
                "pt": "msg",
                "to": "ID4",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 400,
        "wires": [
            [
                "f5436f07551b5c66",
                "6125016ef8052abf"
            ]
        ]
    },
    {
        "id": "758e4f5dbfbc8d0c",
        "type": "mqtt in",
        "z": "975b9b075cf5923a",
        "name": "",
        "topic": "II12/+/switch/status",
        "qos": "2",
        "datatype": "auto",
        "broker": "c7a3425e606353b2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 2010,
        "y": 220,
        "wires": [
            [
                "cfa7c6ecbda0a01c"
            ]
        ]
    },
    {
        "id": "a03cbc2a96027890",
        "type": "change",
        "z": "975b9b075cf5923a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.SWITCH",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "polaridad",
                "pt": "msg",
                "to": "payload.Polaridad",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2580,
        "y": 220,
        "wires": [
            [
                "6c6119f1e87d221f"
            ]
        ]
    },
    {
        "id": "cfa7c6ecbda0a01c",
        "type": "json",
        "z": "975b9b075cf5923a",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 2290,
        "y": 220,
        "wires": [
            [
                "46ccd182136d61b9"
            ]
        ]
    },
    {
        "id": "0cfd52e1ca103c4d",
        "type": "switch",
        "z": "975b9b075cf5923a",
        "name": "",
        "property": "identificador",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ID1",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID2",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID3",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID4",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 2950,
        "y": 220,
        "wires": [
            [
                "600d3f4435a9d4f3",
                "a5ccd0cf9da3df44",
                "f920a68d689e33be",
                "b35d09e1c46c0517"
            ],
            [
                "dd54284a0bbb5ead",
                "2d1b891d8d8ec8b5"
            ],
            [
                "d6bc9a46787cda40",
                "1d239cd428d439d1"
            ],
            [
                "4d09c31d8957853c",
                "8fb24e7aed74b9a9"
            ]
        ]
    },
    {
        "id": "46ccd182136d61b9",
        "type": "change",
        "z": "975b9b075cf5923a",
        "name": "ID",
        "rules": [
            {
                "t": "set",
                "p": "identificador",
                "pt": "msg",
                "to": "payload.CHIPID",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "ID1",
                "pt": "msg",
                "to": "ID1",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "ID2",
                "pt": "msg",
                "to": "ID2",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "ID3",
                "pt": "msg",
                "to": "ID3",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "ID4",
                "pt": "msg",
                "to": "ID4",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2410,
        "y": 220,
        "wires": [
            [
                "a03cbc2a96027890",
                "ed1fe835ea90524c",
                "2326491542dcca98"
            ]
        ]
    },
    {
        "id": "6c6119f1e87d221f",
        "type": "function",
        "z": "975b9b075cf5923a",
        "name": "",
        "func": "var fecha = new Date ();\n\nmsg.time = fecha.toLocaleString(\"es-ES\",{\"timeZone\": \"Europe/Madrid\"});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2760,
        "y": 220,
        "wires": [
            [
                "0cfd52e1ca103c4d"
            ]
        ]
    },
    {
        "id": "a5ccd0cf9da3df44",
        "type": "ui_text",
        "z": "975b9b075cf5923a",
        "group": "58cd41ecad3d35cb",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización switch:",
        "format": "{{msg.time}}",
        "layout": "row-spread",
        "className": "",
        "x": 3300,
        "y": 120,
        "wires": []
    },
    {
        "id": "2d1b891d8d8ec8b5",
        "type": "ui_text",
        "z": "975b9b075cf5923a",
        "group": "52478992b88bbf8c",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización switch:",
        "format": "{{msg.time}}",
        "layout": "row-spread",
        "className": "",
        "x": 3300,
        "y": 200,
        "wires": []
    },
    {
        "id": "1d239cd428d439d1",
        "type": "ui_text",
        "z": "975b9b075cf5923a",
        "group": "1d0d307fb3c6d364",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización switch:",
        "format": "{{msg.time}}",
        "layout": "row-spread",
        "className": "",
        "x": 3300,
        "y": 280,
        "wires": []
    },
    {
        "id": "8fb24e7aed74b9a9",
        "type": "ui_text",
        "z": "975b9b075cf5923a",
        "group": "88ea1dac2052caf5",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización switch:",
        "format": "{{msg.time}}",
        "layout": "row-spread",
        "className": "",
        "x": 3300,
        "y": 360,
        "wires": []
    },
    {
        "id": "788fa3d5c0b5d657",
        "type": "comment",
        "z": "975b9b075cf5923a",
        "name": "Lectura PWM",
        "info": "",
        "x": 250,
        "y": 320,
        "wires": []
    },
    {
        "id": "98d371a77a936473",
        "type": "comment",
        "z": "975b9b075cf5923a",
        "name": "Lectura Switch",
        "info": "",
        "x": 1980,
        "y": 140,
        "wires": []
    },
    {
        "id": "600d3f4435a9d4f3",
        "type": "ui_led",
        "z": "975b9b075cf5923a",
        "order": 5,
        "group": "58cd41ecad3d35cb",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#00cc00",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 3230,
        "y": 80,
        "wires": []
    },
    {
        "id": "dd54284a0bbb5ead",
        "type": "ui_led",
        "z": "975b9b075cf5923a",
        "order": 5,
        "group": "52478992b88bbf8c",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#00cc00",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 3230,
        "y": 160,
        "wires": []
    },
    {
        "id": "d6bc9a46787cda40",
        "type": "ui_led",
        "z": "975b9b075cf5923a",
        "order": 5,
        "group": "1d0d307fb3c6d364",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#00cc00",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 3230,
        "y": 240,
        "wires": []
    },
    {
        "id": "4d09c31d8957853c",
        "type": "ui_led",
        "z": "975b9b075cf5923a",
        "order": 5,
        "group": "88ea1dac2052caf5",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#00cc00",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 3230,
        "y": 320,
        "wires": []
    },
    {
        "id": "e7081f488ef3523c",
        "type": "ui_slider",
        "z": "975b9b075cf5923a",
        "name": "",
        "label": "Intensidad",
        "tooltip": "",
        "group": "58cd41ecad3d35cb",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 1490,
        "y": 1400,
        "wires": [
            [
                "526f4488f8042690",
                "59f4ef976696ac32"
            ]
        ]
    },
    {
        "id": "526f4488f8042690",
        "type": "function",
        "z": "975b9b075cf5923a",
        "name": "",
        "func": "var level=msg.payload\nvar id=global.get(\"ID1\");\nmsg.payload={\"level\":level, \"id\":id}\nmsg.topic=\"II12/\"+id+\"/led/cmd\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1680,
        "y": 1400,
        "wires": [
            [
                "5dad51514050381e",
                "24e7f42150011f09",
                "5b4611a10f0574e4"
            ]
        ]
    },
    {
        "id": "a75485ac7c6f6398",
        "type": "comment",
        "z": "975b9b075cf5923a",
        "name": "Control Intensidad LED",
        "info": "",
        "x": 900,
        "y": 1280,
        "wires": []
    },
    {
        "id": "5dad51514050381e",
        "type": "mqtt out",
        "z": "975b9b075cf5923a",
        "name": "led/cmd",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "759329fc13f505d4",
        "x": 1960,
        "y": 1520,
        "wires": []
    },
    {
        "id": "840ffafdd50a0c9e",
        "type": "ui_slider",
        "z": "975b9b075cf5923a",
        "name": "",
        "label": "Intensidad",
        "tooltip": "",
        "group": "52478992b88bbf8c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 1490,
        "y": 1480,
        "wires": [
            [
                "6b8263e8ba2a620f"
            ]
        ]
    },
    {
        "id": "6b8263e8ba2a620f",
        "type": "function",
        "z": "975b9b075cf5923a",
        "name": "",
        "func": "var level=msg.payload\nvar id=global.get(\"ID2\");\nmsg.payload={\"level\":level, \"id\":id}\nmsg.topic=\"II12/\"+id+\"/led/cmd\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1680,
        "y": 1480,
        "wires": [
            [
                "5dad51514050381e",
                "5b4611a10f0574e4"
            ]
        ]
    },
    {
        "id": "c994698815da4e2d",
        "type": "ui_slider",
        "z": "975b9b075cf5923a",
        "name": "",
        "label": "Intensidad",
        "tooltip": "",
        "group": "1d0d307fb3c6d364",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 1490,
        "y": 1560,
        "wires": [
            [
                "8b1bbcd79a4aa40b"
            ]
        ]
    },
    {
        "id": "8b1bbcd79a4aa40b",
        "type": "function",
        "z": "975b9b075cf5923a",
        "name": "",
        "func": "var level=msg.payload\nvar id=global.get(\"ID3\");\nmsg.payload={\"level\":level, \"id\":id}\nmsg.topic=\"II12/\"+id+\"/led/cmd\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1680,
        "y": 1560,
        "wires": [
            [
                "5dad51514050381e",
                "5b4611a10f0574e4"
            ]
        ]
    },
    {
        "id": "d20f8b349ee9f157",
        "type": "ui_slider",
        "z": "975b9b075cf5923a",
        "name": "",
        "label": "Intensidad",
        "tooltip": "",
        "group": "88ea1dac2052caf5",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 1490,
        "y": 1640,
        "wires": [
            [
                "3ce28ad83faffcca"
            ]
        ]
    },
    {
        "id": "3ce28ad83faffcca",
        "type": "function",
        "z": "975b9b075cf5923a",
        "name": "",
        "func": "var level=msg.payload\nvar id=global.get(\"ID4\");\nmsg.payload={\"level\":level, \"id\":id}\nmsg.topic=\"II12/\"+id+\"/led/cmd\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1680,
        "y": 1640,
        "wires": [
            [
                "5dad51514050381e",
                "5b4611a10f0574e4"
            ]
        ]
    },
    {
        "id": "9fda537648c25e24",
        "type": "debug",
        "z": "975b9b075cf5923a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 180,
        "wires": []
    },
    {
        "id": "3f697cd9daca7781",
        "type": "ui_toast",
        "z": "975b9b075cf5923a",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 930,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "6125016ef8052abf",
        "type": "switch",
        "z": "975b9b075cf5923a",
        "name": "",
        "property": "payload.origen",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "control",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 250,
        "y": 700,
        "wires": [
            [
                "4b0cf52f260b596c"
            ]
        ]
    },
    {
        "id": "b30fc782ba85fd7e",
        "type": "function",
        "z": "975b9b075cf5923a",
        "name": "",
        "func": "var level = msg.payload.LED;\nmsg.payload={};\nmsg.topic=\"HUERTO 1\";\nif(level==255)\n{\n    msg.payload=\"Alerta temperatura máxima alcanzada-Foco apagado\"\n    msg.telegram=\"Alerta temperatura máxima alcanzada-HUERTO 1 \\n Foco apagado\"\n}\nelse if(level==0)\n{\n    msg.payload=\"Alerta temperatura mínima alcanzada-Foco encendido\"\n    msg.telegram=\"Alerta temperatura mínima alcanzada-HUERTO 1 \\n Foco encendido\"\n}\nelse\n{\n    msg.payload=\"Temperatura controlada. \\n Foco restablecido\"\n}\nmsg.payload.type=\"message\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 680,
        "wires": [
            [
                "3f697cd9daca7781",
                "a142f67bdc807359"
            ]
        ]
    },
    {
        "id": "e5bdc8f51b6c9682",
        "type": "inject",
        "z": "975b9b075cf5923a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"CHIPID\":\"ESP3096728\",\"Polaridad\":0,\"LED\":255,\"origen\":\"control\",\"id\":0}",
        "payloadType": "json",
        "x": 520,
        "y": 240,
        "wires": [
            [
                "1a97431a9f2aeb7a",
                "a58835a8c3bd0227"
            ]
        ]
    },
    {
        "id": "1a97431a9f2aeb7a",
        "type": "debug",
        "z": "975b9b075cf5923a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 200,
        "wires": []
    },
    {
        "id": "880810d255c83a94",
        "type": "debug",
        "z": "975b9b075cf5923a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 120,
        "wires": []
    },
    {
        "id": "4b0cf52f260b596c",
        "type": "switch",
        "z": "975b9b075cf5923a",
        "name": "",
        "property": "identificador",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ID1",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID2",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID3",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID4",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 430,
        "y": 740,
        "wires": [
            [
                "b30fc782ba85fd7e"
            ],
            [
                "872e11306da5dcd1"
            ],
            [
                "0809770fe10f13fe"
            ],
            [
                "c44ea476f8872b38"
            ]
        ]
    },
    {
        "id": "a1f49e53f20c8efa",
        "type": "ui_toast",
        "z": "975b9b075cf5923a",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 2730,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "ed1fe835ea90524c",
        "type": "switch",
        "z": "975b9b075cf5923a",
        "name": "",
        "property": "payload.origen",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "control",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2130,
        "y": 400,
        "wires": [
            [
                "04737c8e7fd7d77e"
            ]
        ]
    },
    {
        "id": "a7635ac17f448dbe",
        "type": "function",
        "z": "975b9b075cf5923a",
        "name": "",
        "func": "var level = msg.payload.SWITCH;\nmsg.payload={};\nmsg.topic=\"HUERTO 1\";\nif(level==0)\n{\n    msg.payload=\"Alerta humedad maxima-HUERTO 1-Ventilacion encendida\"\n}\nelse if(level==1)\n{\n    msg.payload=\"Alerta humedad mínima-HUERTO 1-Ventilacion apagada\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2520,
        "y": 380,
        "wires": [
            [
                "a1f49e53f20c8efa",
                "150fa3f286734855"
            ]
        ]
    },
    {
        "id": "04737c8e7fd7d77e",
        "type": "switch",
        "z": "975b9b075cf5923a",
        "name": "",
        "property": "identificador",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ID1",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID2",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID3",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID4",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 2310,
        "y": 440,
        "wires": [
            [
                "a7635ac17f448dbe"
            ],
            [
                "8b75ed766a665fc1"
            ],
            [
                "024f43c0d6636352"
            ],
            [
                "31cf27c6b90daa7d"
            ]
        ]
    },
    {
        "id": "3354abe7336b9382",
        "type": "mqtt in",
        "z": "975b9b075cf5923a",
        "name": "",
        "topic": "II12/+/riego/status",
        "qos": "2",
        "datatype": "auto",
        "broker": "c7a3425e606353b2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 2010,
        "y": 720,
        "wires": [
            [
                "482e7b6324a37b62",
                "045ff6517e30ae85"
            ]
        ]
    },
    {
        "id": "6dce269540e13379",
        "type": "change",
        "z": "975b9b075cf5923a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.RIEGO",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2580,
        "y": 720,
        "wires": [
            [
                "9a9138ae11eb15ec"
            ]
        ]
    },
    {
        "id": "482e7b6324a37b62",
        "type": "json",
        "z": "975b9b075cf5923a",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 2290,
        "y": 720,
        "wires": [
            [
                "1850df8143d4ee1a"
            ]
        ]
    },
    {
        "id": "f01cdc4b0ead58aa",
        "type": "switch",
        "z": "975b9b075cf5923a",
        "name": "",
        "property": "identificador",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ID1",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID2",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID3",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID4",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 2950,
        "y": 720,
        "wires": [
            [
                "27295d8c8f798f24",
                "a939afb57896eabc",
                "2696761a21c36805",
                "cf471a2cb0133c7d"
            ],
            [
                "a85cb69fb81d72a8",
                "682dfb44dc5ba67e"
            ],
            [
                "0aa6b93de1884de9",
                "b336f65c7a408a1a"
            ],
            [
                "115e286d81f524a2",
                "e253a385928ee168"
            ]
        ]
    },
    {
        "id": "1850df8143d4ee1a",
        "type": "change",
        "z": "975b9b075cf5923a",
        "name": "ID",
        "rules": [
            {
                "t": "set",
                "p": "identificador",
                "pt": "msg",
                "to": "payload.CHIPID",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "ID1",
                "pt": "msg",
                "to": "ID1",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "ID2",
                "pt": "msg",
                "to": "ID2",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "ID3",
                "pt": "msg",
                "to": "ID3",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "ID4",
                "pt": "msg",
                "to": "ID4",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2410,
        "y": 720,
        "wires": [
            [
                "6dce269540e13379",
                "468e3ddbe3662147"
            ]
        ]
    },
    {
        "id": "9a9138ae11eb15ec",
        "type": "function",
        "z": "975b9b075cf5923a",
        "name": "",
        "func": "var fecha = new Date ();\n\nmsg.time = fecha.toLocaleString(\"es-ES\",{\"timeZone\": \"Europe/Madrid\"});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2760,
        "y": 720,
        "wires": [
            [
                "f01cdc4b0ead58aa"
            ]
        ]
    },
    {
        "id": "a939afb57896eabc",
        "type": "ui_text",
        "z": "975b9b075cf5923a",
        "group": "58cd41ecad3d35cb",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización riego:",
        "format": "{{msg.time}}",
        "layout": "row-spread",
        "className": "",
        "x": 3300,
        "y": 620,
        "wires": []
    },
    {
        "id": "a32b90fdf388bb1c",
        "type": "comment",
        "z": "975b9b075cf5923a",
        "name": "Lectura Riego",
        "info": "",
        "x": 1970,
        "y": 640,
        "wires": []
    },
    {
        "id": "27295d8c8f798f24",
        "type": "ui_led",
        "z": "975b9b075cf5923a",
        "order": 8,
        "group": "58cd41ecad3d35cb",
        "width": 0,
        "height": 0,
        "label": "Estado riego:",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#07a8f2",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 3230,
        "y": 580,
        "wires": []
    },
    {
        "id": "1a60ccef0ac50601",
        "type": "ui_toast",
        "z": "975b9b075cf5923a",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 2990,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "468e3ddbe3662147",
        "type": "switch",
        "z": "975b9b075cf5923a",
        "name": "",
        "property": "payload.origen",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "control",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2390,
        "y": 940,
        "wires": [
            [
                "3c2cf8b6742b69ab"
            ]
        ]
    },
    {
        "id": "3c2cf8b6742b69ab",
        "type": "switch",
        "z": "975b9b075cf5923a",
        "name": "",
        "property": "identificador",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ID1",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID2",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID3",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID4",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 2530,
        "y": 940,
        "wires": [
            [
                "fa791d8d9618ce4b"
            ],
            [
                "6902ac2f8b99454e"
            ],
            [
                "b69c9954226b6915"
            ],
            [
                "561d01e46b864ce9"
            ]
        ]
    },
    {
        "id": "682dfb44dc5ba67e",
        "type": "ui_text",
        "z": "975b9b075cf5923a",
        "group": "52478992b88bbf8c",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización riego:",
        "format": "{{msg.time}}",
        "layout": "row-spread",
        "className": "",
        "x": 3300,
        "y": 700,
        "wires": []
    },
    {
        "id": "a85cb69fb81d72a8",
        "type": "ui_led",
        "z": "975b9b075cf5923a",
        "order": 8,
        "group": "52478992b88bbf8c",
        "width": 0,
        "height": 0,
        "label": "Estado riego:",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#07a8f2",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 3230,
        "y": 660,
        "wires": []
    },
    {
        "id": "b336f65c7a408a1a",
        "type": "ui_text",
        "z": "975b9b075cf5923a",
        "group": "1d0d307fb3c6d364",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización riego:",
        "format": "{{msg.time}}",
        "layout": "row-spread",
        "className": "",
        "x": 3300,
        "y": 780,
        "wires": []
    },
    {
        "id": "0aa6b93de1884de9",
        "type": "ui_led",
        "z": "975b9b075cf5923a",
        "order": 8,
        "group": "1d0d307fb3c6d364",
        "width": 0,
        "height": 0,
        "label": "Estado riego:",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#07a8f2",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 3230,
        "y": 740,
        "wires": []
    },
    {
        "id": "e253a385928ee168",
        "type": "ui_text",
        "z": "975b9b075cf5923a",
        "group": "88ea1dac2052caf5",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización riego:",
        "format": "{{msg.time}}",
        "layout": "row-spread",
        "className": "",
        "x": 3300,
        "y": 860,
        "wires": []
    },
    {
        "id": "115e286d81f524a2",
        "type": "ui_led",
        "z": "975b9b075cf5923a",
        "order": 7,
        "group": "88ea1dac2052caf5",
        "width": 0,
        "height": 0,
        "label": "Estado riego:",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#07a8f2",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 3230,
        "y": 820,
        "wires": []
    },
    {
        "id": "2326491542dcca98",
        "type": "debug",
        "z": "975b9b075cf5923a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2720,
        "y": 120,
        "wires": []
    },
    {
        "id": "a175aee3226ccac2",
        "type": "comment",
        "z": "975b9b075cf5923a",
        "name": "Control Switch",
        "info": " * ",
        "x": 900,
        "y": 1860,
        "wires": []
    },
    {
        "id": "d10894e55ca360b5",
        "type": "ui_switch",
        "z": "975b9b075cf5923a",
        "name": "",
        "label": "Activar Riego",
        "tooltip": "",
        "group": "58cd41ecad3d35cb",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 2710,
        "y": 1400,
        "wires": [
            [
                "1d61fc9d901150c7"
            ]
        ]
    },
    {
        "id": "8b1630206cb2aaee",
        "type": "mqtt out",
        "z": "975b9b075cf5923a",
        "name": "riego/cmd",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c7a3425e606353b2",
        "x": 3120,
        "y": 1540,
        "wires": []
    },
    {
        "id": "1d61fc9d901150c7",
        "type": "function",
        "z": "975b9b075cf5923a",
        "name": "",
        "func": "var level=msg.payload\nvar id=global.get(\"ID1\");\n\nmsg.payload={\"level\":level, \"id\":id};\nmsg.topic=\"II12/\"+id+\"/riego/cmd\"\nglobal.set(\"riego1\",level)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2880,
        "y": 1400,
        "wires": [
            [
                "8b1630206cb2aaee"
            ]
        ]
    },
    {
        "id": "7898da8f3b3a8503",
        "type": "function",
        "z": "975b9b075cf5923a",
        "name": "",
        "func": "var level=msg.payload\nvar id=global.get(\"ID2\");\n\nmsg.payload={\"level\":level, \"id\":id};\nmsg.topic=\"II12/\"+id+\"/riego/cmd\"\nglobal.set(\"riego2\",level)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2880,
        "y": 1480,
        "wires": [
            [
                "8b1630206cb2aaee"
            ]
        ]
    },
    {
        "id": "c0776601ea43aa39",
        "type": "function",
        "z": "975b9b075cf5923a",
        "name": "",
        "func": "var level=msg.payload\nvar id=global.get(\"ID3\");\n\nmsg.payload={\"level\":level, \"id\":id};\nmsg.topic=\"II12/\"+id+\"/riego/cmd\"\nglobal.set(\"riego3\",level)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2880,
        "y": 1560,
        "wires": [
            [
                "8b1630206cb2aaee"
            ]
        ]
    },
    {
        "id": "9a325d4ef0789311",
        "type": "function",
        "z": "975b9b075cf5923a",
        "name": "",
        "func": "var level=msg.payload;\nvar id=global.get(\"ID4\");\n\nmsg.payload={\"level\":level, \"id\":id};\nmsg.topic=\"II12/\"+id+\"/riego/cmd\"\nglobal.set(\"riego4\",level)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2880,
        "y": 1640,
        "wires": [
            [
                "8b1630206cb2aaee"
            ]
        ]
    },
    {
        "id": "fa85c10f66fe290d",
        "type": "comment",
        "z": "975b9b075cf5923a",
        "name": "Control Riego",
        "info": " * ",
        "x": 2650,
        "y": 1300,
        "wires": []
    },
    {
        "id": "b7928785da5387b3",
        "type": "ui_switch",
        "z": "975b9b075cf5923a",
        "name": "",
        "label": "Activar Riego",
        "tooltip": "",
        "group": "52478992b88bbf8c",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 2710,
        "y": 1480,
        "wires": [
            [
                "7898da8f3b3a8503"
            ]
        ]
    },
    {
        "id": "8f8bd05545b456e8",
        "type": "ui_switch",
        "z": "975b9b075cf5923a",
        "name": "",
        "label": "Activar Riego",
        "tooltip": "",
        "group": "1d0d307fb3c6d364",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 2710,
        "y": 1560,
        "wires": [
            [
                "c0776601ea43aa39"
            ]
        ]
    },
    {
        "id": "7d17f9c8153926f8",
        "type": "ui_switch",
        "z": "975b9b075cf5923a",
        "name": "",
        "label": "Activar Riego",
        "tooltip": "",
        "group": "88ea1dac2052caf5",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 2710,
        "y": 1640,
        "wires": [
            [
                "9a325d4ef0789311"
            ]
        ]
    },
    {
        "id": "24e7f42150011f09",
        "type": "debug",
        "z": "975b9b075cf5923a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1870,
        "y": 1360,
        "wires": []
    },
    {
        "id": "59f4ef976696ac32",
        "type": "debug",
        "z": "975b9b075cf5923a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1690,
        "y": 1280,
        "wires": []
    },
    {
        "id": "1e905697699ad5be",
        "type": "ui_slider",
        "z": "975b9b075cf5923a",
        "name": "",
        "label": "Intensidad",
        "tooltip": "",
        "group": "aa08f4fcfef10122",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 990,
        "y": 1400,
        "wires": [
            [
                "e7081f488ef3523c",
                "ffa957bb06ceaae9",
                "f691d60aa7a3f8c0",
                "382a66e14516a0e8",
                "e045ecd941893e83"
            ]
        ]
    },
    {
        "id": "99a47dacb4a7f030",
        "type": "ui_switch",
        "z": "975b9b075cf5923a",
        "name": "",
        "label": "Activar Riego",
        "tooltip": "",
        "group": "aa08f4fcfef10122",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 2280,
        "y": 1400,
        "wires": [
            [
                "d10894e55ca360b5",
                "ee1c122588538728",
                "71a9ea1be83c84a0",
                "1c5904687bf872f9",
                "e96a59f5b61e3d72"
            ]
        ]
    },
    {
        "id": "b35d09e1c46c0517",
        "type": "ui_text",
        "z": "975b9b075cf5923a",
        "group": "aa08f4fcfef10122",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización switch:",
        "format": "{{msg.time}}",
        "layout": "row-spread",
        "className": "",
        "x": 3300,
        "y": 460,
        "wires": []
    },
    {
        "id": "f920a68d689e33be",
        "type": "ui_led",
        "z": "975b9b075cf5923a",
        "order": 3,
        "group": "aa08f4fcfef10122",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#00cc00",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 3230,
        "y": 420,
        "wires": []
    },
    {
        "id": "cf471a2cb0133c7d",
        "type": "ui_text",
        "z": "975b9b075cf5923a",
        "group": "aa08f4fcfef10122",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización riego:",
        "format": "{{msg.time}}",
        "layout": "row-spread",
        "className": "",
        "x": 3300,
        "y": 940,
        "wires": []
    },
    {
        "id": "2696761a21c36805",
        "type": "ui_led",
        "z": "975b9b075cf5923a",
        "order": 6,
        "group": "aa08f4fcfef10122",
        "width": 0,
        "height": 0,
        "label": "Estado riego:",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#07a8f2",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 3230,
        "y": 900,
        "wires": []
    },
    {
        "id": "45677be3ad478faf",
        "type": "ui_text",
        "z": "975b9b075cf5923a",
        "group": "58cd41ecad3d35cb",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización LED",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1570,
        "y": 80,
        "wires": []
    },
    {
        "id": "c980607361e61b02",
        "type": "function",
        "z": "975b9b075cf5923a",
        "name": "",
        "func": "var fecha = new Date ();\n\nmsg.payload={};\nmsg.payload = fecha.toLocaleString(\"es-ES\",{\"timeZone\": \"Europe/Madrid\"});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 80,
        "wires": [
            [
                "45677be3ad478faf"
            ]
        ]
    },
    {
        "id": "a43dfac6f41bbce1",
        "type": "ui_gauge",
        "z": "975b9b075cf5923a",
        "name": "",
        "group": "58cd41ecad3d35cb",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "LED PWM",
        "label": "Intensidad",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1530,
        "y": 160,
        "wires": []
    },
    {
        "id": "0b67936418a91469",
        "type": "range",
        "z": "975b9b075cf5923a",
        "minin": "0",
        "maxin": "255",
        "minout": "100",
        "maxout": "0",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 1350,
        "y": 160,
        "wires": [
            [
                "a43dfac6f41bbce1"
            ]
        ]
    },
    {
        "id": "beaae81b93a3d438",
        "type": "ui_text",
        "z": "975b9b075cf5923a",
        "group": "52478992b88bbf8c",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización LED",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1590,
        "y": 280,
        "wires": []
    },
    {
        "id": "a782d854423925dc",
        "type": "function",
        "z": "975b9b075cf5923a",
        "name": "",
        "func": "var fecha = new Date ();\n\nmsg.payload={};\nmsg.payload = fecha.toLocaleString(\"es-ES\",{\"timeZone\": \"Europe/Madrid\"});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 280,
        "wires": [
            [
                "beaae81b93a3d438"
            ]
        ]
    },
    {
        "id": "0a0793adc3821902",
        "type": "ui_gauge",
        "z": "975b9b075cf5923a",
        "name": "",
        "group": "52478992b88bbf8c",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "LED PWM",
        "label": "Intensidad",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1570,
        "y": 360,
        "wires": []
    },
    {
        "id": "795c684d89d9e966",
        "type": "range",
        "z": "975b9b075cf5923a",
        "minin": "0",
        "maxin": "255",
        "minout": "100",
        "maxout": "0",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 1350,
        "y": 360,
        "wires": [
            [
                "0a0793adc3821902"
            ]
        ]
    },
    {
        "id": "ed36e991c039d6c1",
        "type": "ui_text",
        "z": "975b9b075cf5923a",
        "group": "1d0d307fb3c6d364",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización LED",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1590,
        "y": 460,
        "wires": []
    },
    {
        "id": "5c8804198e313ac0",
        "type": "function",
        "z": "975b9b075cf5923a",
        "name": "",
        "func": "var fecha = new Date ();\n\nmsg.payload={};\nmsg.payload = fecha.toLocaleString(\"es-ES\",{\"timeZone\": \"Europe/Madrid\"});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 460,
        "wires": [
            [
                "ed36e991c039d6c1"
            ]
        ]
    },
    {
        "id": "21b32a4bd19030da",
        "type": "ui_gauge",
        "z": "975b9b075cf5923a",
        "name": "",
        "group": "1d0d307fb3c6d364",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "LED PWM",
        "label": "units",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1570,
        "y": 560,
        "wires": []
    },
    {
        "id": "b887f84318647155",
        "type": "range",
        "z": "975b9b075cf5923a",
        "minin": "0",
        "maxin": "255",
        "minout": "100",
        "maxout": "0",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 1350,
        "y": 560,
        "wires": [
            [
                "21b32a4bd19030da"
            ]
        ]
    },
    {
        "id": "7b8baa3bbf587907",
        "type": "ui_text",
        "z": "975b9b075cf5923a",
        "group": "88ea1dac2052caf5",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización LED",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1610,
        "y": 660,
        "wires": []
    },
    {
        "id": "c7f919dbcfaedee9",
        "type": "function",
        "z": "975b9b075cf5923a",
        "name": "",
        "func": "var fecha = new Date ();\n\nmsg.time = fecha.toLocaleString(\"es-ES\",{\"timeZone\": \"Europe/Madrid\"});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 660,
        "wires": [
            [
                "7b8baa3bbf587907"
            ]
        ]
    },
    {
        "id": "8e65b18f272b0d7c",
        "type": "ui_gauge",
        "z": "975b9b075cf5923a",
        "name": "",
        "group": "88ea1dac2052caf5",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "LED PWM",
        "label": "units",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1690,
        "y": 740,
        "wires": []
    },
    {
        "id": "1041455be6736375",
        "type": "range",
        "z": "975b9b075cf5923a",
        "minin": "0",
        "maxin": "255",
        "minout": "100",
        "maxout": "0",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 1350,
        "y": 740,
        "wires": [
            [
                "8e65b18f272b0d7c"
            ]
        ]
    },
    {
        "id": "b49697e6171b9ac0",
        "type": "ui_switch",
        "z": "975b9b075cf5923a",
        "name": "",
        "label": "Switch",
        "tooltip": "",
        "group": "58cd41ecad3d35cb",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1270,
        "y": 1980,
        "wires": [
            [
                "c0efbbc994af2481"
            ]
        ]
    },
    {
        "id": "ace25ec9e3e5c257",
        "type": "mqtt out",
        "z": "975b9b075cf5923a",
        "name": "switch/cmd",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c7a3425e606353b2",
        "x": 1850,
        "y": 2080,
        "wires": []
    },
    {
        "id": "c0efbbc994af2481",
        "type": "function",
        "z": "975b9b075cf5923a",
        "name": "",
        "func": "var level=msg.payload\nvar id=global.get(\"ID1\");\n\nmsg.payload={\"level\":level, \"id\":id};\nmsg.topic=\"II12/\"+id+\"/switch/cmd\"\nglobal.set(\"switchval1\",level)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1540,
        "y": 1980,
        "wires": [
            [
                "ace25ec9e3e5c257"
            ]
        ]
    },
    {
        "id": "899f9b4a58a16193",
        "type": "function",
        "z": "975b9b075cf5923a",
        "name": "",
        "func": "var level=msg.payload\nvar id=global.get(\"ID2\");\n\nmsg.payload={\"level\":level, \"id\":id};\nmsg.topic=\"II12/\"+id+\"/switch/cmd\"\nglobal.set(\"switchval2\",level)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1540,
        "y": 2040,
        "wires": [
            [
                "ace25ec9e3e5c257"
            ]
        ]
    },
    {
        "id": "5cf00d42e4db26f5",
        "type": "function",
        "z": "975b9b075cf5923a",
        "name": "",
        "func": "var level=msg.payload\nvar id=global.get(\"ID3\");\n\nmsg.payload={\"level\":level, \"id\":id};\nmsg.topic=\"II12/\"+id+\"/switch/cmd\"\nglobal.set(\"switchval3\",level)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1540,
        "y": 2100,
        "wires": [
            [
                "ace25ec9e3e5c257"
            ]
        ]
    },
    {
        "id": "cdd1382596781f17",
        "type": "function",
        "z": "975b9b075cf5923a",
        "name": "",
        "func": "var level=msg.payload\nvar id=global.get(\"ID4\");\n\nmsg.payload={\"level\":level, \"id\":id};\nmsg.topic=\"II12/\"+id+\"/switch/cmd\"\nglobal.set(\"switchval4\",level)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1540,
        "y": 2160,
        "wires": [
            [
                "ace25ec9e3e5c257"
            ]
        ]
    },
    {
        "id": "7a505de78564fb19",
        "type": "ui_switch",
        "z": "975b9b075cf5923a",
        "name": "",
        "label": "Switch",
        "tooltip": "",
        "group": "52478992b88bbf8c",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1270,
        "y": 2040,
        "wires": [
            [
                "899f9b4a58a16193"
            ]
        ]
    },
    {
        "id": "0647eb1b9040ced4",
        "type": "ui_switch",
        "z": "975b9b075cf5923a",
        "name": "",
        "label": "Switch",
        "tooltip": "",
        "group": "1d0d307fb3c6d364",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1270,
        "y": 2100,
        "wires": [
            [
                "5cf00d42e4db26f5"
            ]
        ]
    },
    {
        "id": "19347f38f5bfeb61",
        "type": "ui_switch",
        "z": "975b9b075cf5923a",
        "name": "",
        "label": "Switch",
        "tooltip": "",
        "group": "88ea1dac2052caf5",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1270,
        "y": 2160,
        "wires": [
            [
                "cdd1382596781f17"
            ]
        ]
    },
    {
        "id": "bf2bd651c4bcb59e",
        "type": "ui_switch",
        "z": "975b9b075cf5923a",
        "name": "",
        "label": "Switch",
        "tooltip": "",
        "group": "aa08f4fcfef10122",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 890,
        "y": 1980,
        "wires": [
            [
                "b49697e6171b9ac0",
                "c04d1f31cf87a734",
                "59a8c7cff9e67d04",
                "3ebaf81e67841134",
                "02c1adfd274bef66"
            ]
        ]
    },
    {
        "id": "ffa957bb06ceaae9",
        "type": "delay",
        "z": "975b9b075cf5923a",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 1290,
        "y": 1480,
        "wires": [
            [
                "840ffafdd50a0c9e"
            ]
        ]
    },
    {
        "id": "f691d60aa7a3f8c0",
        "type": "delay",
        "z": "975b9b075cf5923a",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 1290,
        "y": 1560,
        "wires": [
            [
                "c994698815da4e2d"
            ]
        ]
    },
    {
        "id": "382a66e14516a0e8",
        "type": "delay",
        "z": "975b9b075cf5923a",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 1290,
        "y": 1640,
        "wires": [
            [
                "d20f8b349ee9f157"
            ]
        ]
    },
    {
        "id": "5b4611a10f0574e4",
        "type": "debug",
        "z": "975b9b075cf5923a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1900,
        "y": 1640,
        "wires": []
    },
    {
        "id": "c04d1f31cf87a734",
        "type": "delay",
        "z": "975b9b075cf5923a",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 1070,
        "y": 2040,
        "wires": [
            [
                "7a505de78564fb19"
            ]
        ]
    },
    {
        "id": "59a8c7cff9e67d04",
        "type": "delay",
        "z": "975b9b075cf5923a",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 1070,
        "y": 2100,
        "wires": [
            [
                "0647eb1b9040ced4"
            ]
        ]
    },
    {
        "id": "3ebaf81e67841134",
        "type": "delay",
        "z": "975b9b075cf5923a",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 1070,
        "y": 2160,
        "wires": [
            [
                "19347f38f5bfeb61"
            ]
        ]
    },
    {
        "id": "ee1c122588538728",
        "type": "delay",
        "z": "975b9b075cf5923a",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 2470,
        "y": 1480,
        "wires": [
            [
                "b7928785da5387b3"
            ]
        ]
    },
    {
        "id": "71a9ea1be83c84a0",
        "type": "delay",
        "z": "975b9b075cf5923a",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 2470,
        "y": 1560,
        "wires": [
            [
                "8f8bd05545b456e8"
            ]
        ]
    },
    {
        "id": "1c5904687bf872f9",
        "type": "delay",
        "z": "975b9b075cf5923a",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 2470,
        "y": 1640,
        "wires": [
            [
                "7d17f9c8153926f8"
            ]
        ]
    },
    {
        "id": "872e11306da5dcd1",
        "type": "function",
        "z": "975b9b075cf5923a",
        "name": "",
        "func": "var level = msg.payload.LED;\nmsg.payload={};\nmsg.topic=\"HUERTO 2\";\nif(level==255)\n{\n    msg.payload=\"Alerta temperatura maxina alcanzada-HUERTO 2 \\n Foco apagado\"\n}\nelse if(level==0)\n{\n    msg.payload=\"Alerta temperatura mínima alcanzada-HUERTO 2 \\n Foco encendido\"\n}\nelse\n{\n    msg.payload=\"Temperatura controlada. \\n Foco restablecido\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 720,
        "wires": [
            [
                "3f697cd9daca7781",
                "55c45bfbf0f3c791"
            ]
        ]
    },
    {
        "id": "0809770fe10f13fe",
        "type": "function",
        "z": "975b9b075cf5923a",
        "name": "",
        "func": "var level = msg.payload.LED;\nmsg.payload={};\nmsg.topic=\"HUERTO 3\";\nif(level==255)\n{\n    msg.payload=\"Alerta temperatura maxina alcanzada-HUERTO 3 \\n Foco apagado\"\n}\nelse if(level==0)\n{\n    msg.payload=\"Alerta temperatura mínima alcanzada-HUERTO 3 \\n Foco encendido\"\n}\nelse\n{\n    msg.payload=\"Temperatura controlada. \\n Foco restablecido\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 760,
        "wires": [
            [
                "3f697cd9daca7781",
                "781a69e98c5dd6b9"
            ]
        ]
    },
    {
        "id": "c44ea476f8872b38",
        "type": "function",
        "z": "975b9b075cf5923a",
        "name": "",
        "func": "var level = msg.payload.LED;\nmsg.payload={};\nmsg.topic=\"HUERTO 4\";\nif(level==255)\n{\n    msg.payload=\"Alerta temperatura maxina alcanzada-HUERTO 4 \\n Foco apagado\"\n}\nelse if(level==0)\n{\n    msg.payload=\"Alerta temperatura mínima alcanzada-HUERTO 4 \\n Foco encendido\"\n}\nelse\n{\n    msg.payload=\"HUERTO 4-Temperatura controlada. \\n Foco restablecido\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 800,
        "wires": [
            [
                "3f697cd9daca7781",
                "d3acbf77be6f2959"
            ]
        ]
    },
    {
        "id": "8b75ed766a665fc1",
        "type": "function",
        "z": "975b9b075cf5923a",
        "name": "",
        "func": "var level = msg.payload.SWITCH;\nmsg.payload={};\nmsg.topic=\"HUERTO 2\";\nif(level==0)\n{\n    msg.payload=\"Alerta humedad maxima-HUERTO 2-Ventilacion encendida\"\n}\nelse if(level==1)\n{\n    msg.payload=\"Alerta humedad mínima-HUERTO 2-Ventilacion apagada\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2520,
        "y": 420,
        "wires": [
            [
                "a1f49e53f20c8efa",
                "fd5f4fbb62de458f"
            ]
        ]
    },
    {
        "id": "024f43c0d6636352",
        "type": "function",
        "z": "975b9b075cf5923a",
        "name": "",
        "func": "var level = msg.payload.SWITCH;\nmsg.payload={};\nmsg.topic=\"HUERTO 3\";\nif(level==0)\n{\n    msg.payload=\"Alerta humedad maxima-HUERTO 3-Ventilacion encendida\"\n}\nelse if(level==1)\n{\n    msg.payload=\"Alerta humedad mínima-HUERTO 3-Ventilacion apagada\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2520,
        "y": 460,
        "wires": [
            [
                "a1f49e53f20c8efa",
                "761b21cc1c01243d"
            ]
        ]
    },
    {
        "id": "31cf27c6b90daa7d",
        "type": "function",
        "z": "975b9b075cf5923a",
        "name": "",
        "func": "var level = msg.payload.SWITCH;\nmsg.payload={};\nmsg.topic=\"HUERTO 4\";\nif(level==0)\n{\n    msg.payload=\"Alerta humedad maxima-HUERTO 4-Ventilacion encendida\"\n}\nelse if(level==1)\n{\n    msg.payload=\"Alerta humedad mínima-Ventilacion apagada\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2520,
        "y": 500,
        "wires": [
            [
                "a1f49e53f20c8efa",
                "794ba19260e713ae"
            ]
        ]
    },
    {
        "id": "fa791d8d9618ce4b",
        "type": "function",
        "z": "975b9b075cf5923a",
        "name": "",
        "func": "var level = msg.payload.RIEGO;\nmsg.payload={};\nmsg.topic=\"HUERTO 1\";\nif(level==0)\n{\n    msg.payload=\"Riego encendido\"\n}\nelse if(level==1)\n{\n    msg.payload=\"Riego apagado\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2760,
        "y": 880,
        "wires": [
            [
                "1a60ccef0ac50601"
            ]
        ]
    },
    {
        "id": "6902ac2f8b99454e",
        "type": "function",
        "z": "975b9b075cf5923a",
        "name": "",
        "func": "var level = msg.payload.RIEGO;\nmsg.payload={};\nmsg.topic=\"HUERTO 1\";\nif(level==0)\n{\n    msg.payload=\"Riego encendidp-HUERTO 2\"\n}\nelse if(level==1)\n{\n    msg.payload=\"Riego apagado-HUERTO 2\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2760,
        "y": 920,
        "wires": [
            [
                "1a60ccef0ac50601"
            ]
        ]
    },
    {
        "id": "b69c9954226b6915",
        "type": "function",
        "z": "975b9b075cf5923a",
        "name": "",
        "func": "var level = msg.payload.RIEGO;\nmsg.payload={};\nmsg.topic=\"HUERTO 3\";\nif(level==0)\n{\n    msg.payload=\"Riego encendidp-HUERTO 3\"\n}\nelse if(level==1)\n{\n    msg.payload=\"Riego apagado-HUERTO 3\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2760,
        "y": 960,
        "wires": [
            [
                "1a60ccef0ac50601"
            ]
        ]
    },
    {
        "id": "561d01e46b864ce9",
        "type": "function",
        "z": "975b9b075cf5923a",
        "name": "",
        "func": "var level = msg.payload.RIEGO;\nmsg.payload={};\nmsg.topic=\"HUERTO 4\";\nif(level==0)\n{\n    msg.payload=\"Riego encendidp-HUERTO 4\"\n}\nelse if(level==1)\n{\n    msg.payload=\"Riego apagado-HUERTO 4\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2760,
        "y": 1000,
        "wires": [
            [
                "1a60ccef0ac50601"
            ]
        ]
    },
    {
        "id": "045ff6517e30ae85",
        "type": "debug",
        "z": "975b9b075cf5923a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2230,
        "y": 560,
        "wires": []
    },
    {
        "id": "e045ecd941893e83",
        "type": "debug",
        "z": "975b9b075cf5923a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 1340,
        "wires": []
    },
    {
        "id": "34d3a2840e7e8c3b",
        "type": "switch",
        "z": "975b9b075cf5923a",
        "name": "",
        "property": "ledcambio",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "5",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 790,
        "y": 1540,
        "wires": [
            [
                "1e905697699ad5be"
            ],
            [
                "e7081f488ef3523c"
            ],
            [
                "ffa957bb06ceaae9"
            ],
            [
                "f691d60aa7a3f8c0"
            ],
            [
                "382a66e14516a0e8"
            ]
        ]
    },
    {
        "id": "4dd03cdd2ba196af",
        "type": "debug",
        "z": "975b9b075cf5923a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 1480,
        "wires": []
    },
    {
        "id": "825d813206f5b63e",
        "type": "link in",
        "z": "975b9b075cf5923a",
        "name": "CambiarLED",
        "links": [
            "95b87ff4f775519c"
        ],
        "x": 415,
        "y": 1540,
        "wires": [
            [
                "4dd03cdd2ba196af",
                "a6864f957fbe070f"
            ]
        ]
    },
    {
        "id": "a6864f957fbe070f",
        "type": "change",
        "z": "975b9b075cf5923a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ledcambio",
                "pt": "msg",
                "to": "payload.ledcambio",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.ledlevel",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 1540,
        "wires": [
            [
                "34d3a2840e7e8c3b"
            ]
        ]
    },
    {
        "id": "b123c8059abfc9db",
        "type": "link in",
        "z": "975b9b075cf5923a",
        "name": "sw1",
        "links": [
            "ceda34ba6129e8c8"
        ],
        "x": 1175,
        "y": 1960,
        "wires": [
            [
                "b49697e6171b9ac0"
            ]
        ]
    },
    {
        "id": "48fc7cbdcd08ea59",
        "type": "link in",
        "z": "975b9b075cf5923a",
        "name": "sw2",
        "links": [
            "f78f62cc502dc1a7"
        ],
        "x": 1175,
        "y": 2020,
        "wires": [
            [
                "7a505de78564fb19"
            ]
        ]
    },
    {
        "id": "6398be45bcfde91d",
        "type": "link in",
        "z": "975b9b075cf5923a",
        "name": "sw3",
        "links": [
            "b8da518e7a8db48d"
        ],
        "x": 1175,
        "y": 2080,
        "wires": [
            [
                "0647eb1b9040ced4"
            ]
        ]
    },
    {
        "id": "90c219aa61409ad2",
        "type": "link in",
        "z": "975b9b075cf5923a",
        "name": "sw4",
        "links": [
            "8d927d61c7769b44"
        ],
        "x": 1175,
        "y": 2140,
        "wires": [
            [
                "19347f38f5bfeb61"
            ]
        ]
    },
    {
        "id": "ad067ce0d8760ded",
        "type": "link in",
        "z": "975b9b075cf5923a",
        "name": "swT",
        "links": [
            "854050a84636bd16"
        ],
        "x": 795,
        "y": 1960,
        "wires": [
            [
                "bf2bd651c4bcb59e"
            ]
        ]
    },
    {
        "id": "02c1adfd274bef66",
        "type": "change",
        "z": "975b9b075cf5923a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "switchvalT",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 1920,
        "wires": [
            []
        ]
    },
    {
        "id": "46d35474e56e21fe",
        "type": "link in",
        "z": "975b9b075cf5923a",
        "name": "Riego1",
        "links": [
            "335449661264aa58"
        ],
        "x": 2595,
        "y": 1380,
        "wires": [
            [
                "d10894e55ca360b5"
            ]
        ]
    },
    {
        "id": "8f33568e3ec8ac05",
        "type": "link in",
        "z": "975b9b075cf5923a",
        "name": "Riego2",
        "links": [
            "b314d18c368efc49"
        ],
        "x": 2595,
        "y": 1460,
        "wires": [
            [
                "b7928785da5387b3"
            ]
        ]
    },
    {
        "id": "e888f0240c3f732e",
        "type": "link in",
        "z": "975b9b075cf5923a",
        "name": "Riego3",
        "links": [
            "13fb42f0f6c43073"
        ],
        "x": 2595,
        "y": 1540,
        "wires": [
            [
                "8f8bd05545b456e8"
            ]
        ]
    },
    {
        "id": "4da17f9cdae9fee6",
        "type": "link in",
        "z": "975b9b075cf5923a",
        "name": "Riego4",
        "links": [
            "a581df51973f4ac6"
        ],
        "x": 2595,
        "y": 1620,
        "wires": [
            [
                "7d17f9c8153926f8"
            ]
        ]
    },
    {
        "id": "d27ce4aa8b258006",
        "type": "link in",
        "z": "975b9b075cf5923a",
        "name": "RiegoT",
        "links": [
            "3377ef0f18e305d0"
        ],
        "x": 2175,
        "y": 1380,
        "wires": [
            [
                "99a47dacb4a7f030"
            ]
        ]
    },
    {
        "id": "e96a59f5b61e3d72",
        "type": "change",
        "z": "975b9b075cf5923a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "riegoT",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2480,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "a142f67bdc807359",
        "type": "function",
        "z": "975b9b075cf5923a",
        "name": "",
        "func": "var text=msg.topic+\" - \"+msg.payload\nmsg.payload={}\nmsg.payload.content=text\nmsg.payload.type=\"message\"\nmsg.payload.chatId=global.get(\"chatid\")\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 680,
        "wires": [
            [
                "39a1e27e6ec9995c"
            ]
        ]
    },
    {
        "id": "55c45bfbf0f3c791",
        "type": "delay",
        "z": "975b9b075cf5923a",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 860,
        "y": 720,
        "wires": [
            [
                "a142f67bdc807359"
            ]
        ]
    },
    {
        "id": "781a69e98c5dd6b9",
        "type": "delay",
        "z": "975b9b075cf5923a",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 860,
        "y": 760,
        "wires": [
            [
                "a142f67bdc807359"
            ]
        ]
    },
    {
        "id": "d3acbf77be6f2959",
        "type": "delay",
        "z": "975b9b075cf5923a",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 860,
        "y": 800,
        "wires": [
            [
                "a142f67bdc807359"
            ]
        ]
    },
    {
        "id": "39a1e27e6ec9995c",
        "type": "link out",
        "z": "975b9b075cf5923a",
        "name": "AlertaTemp",
        "links": [
            "540d29a122958d9d"
        ],
        "x": 1155,
        "y": 680,
        "wires": []
    },
    {
        "id": "150fa3f286734855",
        "type": "function",
        "z": "975b9b075cf5923a",
        "name": "",
        "func": "var text=msg.payload //msg.topic+\" - \"+\nmsg.payload={}\nmsg.payload.content=text\nmsg.payload.type=\"message\"\nmsg.payload.chatId=global.get(\"chatid\")\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2920,
        "y": 380,
        "wires": [
            [
                "b4e857e548d0938a"
            ]
        ]
    },
    {
        "id": "fd5f4fbb62de458f",
        "type": "delay",
        "z": "975b9b075cf5923a",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 2720,
        "y": 420,
        "wires": [
            [
                "150fa3f286734855"
            ]
        ]
    },
    {
        "id": "761b21cc1c01243d",
        "type": "delay",
        "z": "975b9b075cf5923a",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 2720,
        "y": 460,
        "wires": [
            [
                "150fa3f286734855"
            ]
        ]
    },
    {
        "id": "794ba19260e713ae",
        "type": "delay",
        "z": "975b9b075cf5923a",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 2720,
        "y": 500,
        "wires": [
            [
                "150fa3f286734855"
            ]
        ]
    },
    {
        "id": "b4e857e548d0938a",
        "type": "link out",
        "z": "975b9b075cf5923a",
        "name": "AlertaTemp",
        "links": [
            "540d29a122958d9d"
        ],
        "x": 3055,
        "y": 380,
        "wires": []
    },
    {
        "id": "c7a3425e606353b2",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "58cd41ecad3d35cb",
        "type": "ui_group",
        "name": "Actuadores",
        "tab": "594cecd70ae88430",
        "order": 2,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "52478992b88bbf8c",
        "type": "ui_group",
        "name": "Actuadores",
        "tab": "cb0a8f66055dc5e4",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1d0d307fb3c6d364",
        "type": "ui_group",
        "name": "Actuadores",
        "tab": "3ea480f31c69cc51",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "88ea1dac2052caf5",
        "type": "ui_group",
        "name": "Actuadores",
        "tab": "56d00aae9c36eba0",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "759329fc13f505d4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "aa08f4fcfef10122",
        "type": "ui_group",
        "name": "Actuadores",
        "tab": "e2099ffd9a3f8bce",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "594cecd70ae88430",
        "type": "ui_tab",
        "name": "HUERTO 1",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cb0a8f66055dc5e4",
        "type": "ui_tab",
        "name": "HUERTO 2",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3ea480f31c69cc51",
        "type": "ui_tab",
        "name": "HUERTO 3",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "56d00aae9c36eba0",
        "type": "ui_tab",
        "name": "HUERTO 4",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e2099ffd9a3f8bce",
        "type": "ui_tab",
        "name": "HUERTO-GLOBAL ACTUADORES",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]