NodeRED/ACTUADORES_Angel.json
[
    {
        "id": "540701d375a59d3e",
        "type": "tab",
        "label": "ACTUADORES",
        "disabled": false,
        "info": ""
    },
    {
        "id": "629fd4e66d3d5389",
        "type": "mqtt in",
        "z": "540701d375a59d3e",
        "name": "",
        "topic": "II12/+/led/status",
        "qos": "2",
        "datatype": "auto",
        "broker": "c7a3425e606353b2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 220,
        "y": 400,
        "wires": [
            [
                "bbd97b7a97c67776"
            ]
        ]
    },
    {
        "id": "f527e8a8e69130c0",
        "type": "change",
        "z": "540701d375a59d3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "polaridad",
                "pt": "msg",
                "to": "payload.Polaridad",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.LED",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 400,
        "wires": [
            [
                "a84e7d8c48fdf35b",
                "a5c98d86408004db"
            ]
        ]
    },
    {
        "id": "bbd97b7a97c67776",
        "type": "json",
        "z": "540701d375a59d3e",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 450,
        "y": 400,
        "wires": [
            [
                "3ffb6007aca287ce",
                "722cb7773754a68c"
            ]
        ]
    },
    {
        "id": "3ffb6007aca287ce",
        "type": "debug",
        "z": "540701d375a59d3e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 540,
        "wires": []
    },
    {
        "id": "a84e7d8c48fdf35b",
        "type": "switch",
        "z": "540701d375a59d3e",
        "name": "",
        "property": "identificador",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ID1",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID2",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID3",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID4",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 990,
        "y": 400,
        "wires": [
            [
                "e2bb9a813b0e7ce2",
                "8c0fb45837610515",
                "bae105db8a5811f6"
            ],
            [
                "7a73b399a6ba4ca8",
                "5ae5fece25b2c822"
            ],
            [
                "5cda163c5a25f828",
                "dc9b20d9333d81b7"
            ],
            [
                "545a3cde97d2459a",
                "f99eaa6eadeababb"
            ]
        ]
    },
    {
        "id": "722cb7773754a68c",
        "type": "change",
        "z": "540701d375a59d3e",
        "name": "ID",
        "rules": [
            {
                "t": "set",
                "p": "identificador",
                "pt": "msg",
                "to": "payload.CHIPID",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "ID1",
                "pt": "msg",
                "to": "ID1",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "ID2",
                "pt": "msg",
                "to": "ID2",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "ID3",
                "pt": "msg",
                "to": "ID3",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "ID4",
                "pt": "msg",
                "to": "ID4",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 400,
        "wires": [
            [
                "f527e8a8e69130c0",
                "43a9f4512f9ec20c"
            ]
        ]
    },
    {
        "id": "98dec6301074202b",
        "type": "mqtt in",
        "z": "540701d375a59d3e",
        "name": "",
        "topic": "II12/+/switch/status",
        "qos": "2",
        "datatype": "auto",
        "broker": "c7a3425e606353b2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 2010,
        "y": 220,
        "wires": [
            [
                "b71429b43d89e047"
            ]
        ]
    },
    {
        "id": "d4ec3bf6a51f7763",
        "type": "change",
        "z": "540701d375a59d3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.SWITCH",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "polaridad",
                "pt": "msg",
                "to": "payload.Polaridad",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2580,
        "y": 220,
        "wires": [
            [
                "a5269d1f15add531"
            ]
        ]
    },
    {
        "id": "b71429b43d89e047",
        "type": "json",
        "z": "540701d375a59d3e",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 2290,
        "y": 220,
        "wires": [
            [
                "6209722395423724"
            ]
        ]
    },
    {
        "id": "bcd30f9c8dc39cef",
        "type": "switch",
        "z": "540701d375a59d3e",
        "name": "",
        "property": "identificador",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ID1",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID2",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID3",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID4",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 2950,
        "y": 220,
        "wires": [
            [
                "e632edd1bb7267b0",
                "bf9066120d319514",
                "0e79de034cbd49f5",
                "73cf56f7252b81b1"
            ],
            [
                "a49722fbfa424033",
                "90dca1f6b08dcfec"
            ],
            [
                "238b748167b40a50",
                "3b8ba9a11fe33f6e"
            ],
            [
                "39fefb37c7b50cd7",
                "8097d965f757442f"
            ]
        ]
    },
    {
        "id": "6209722395423724",
        "type": "change",
        "z": "540701d375a59d3e",
        "name": "ID",
        "rules": [
            {
                "t": "set",
                "p": "identificador",
                "pt": "msg",
                "to": "payload.CHIPID",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "ID1",
                "pt": "msg",
                "to": "ID1",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "ID2",
                "pt": "msg",
                "to": "ID2",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "ID3",
                "pt": "msg",
                "to": "ID3",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "ID4",
                "pt": "msg",
                "to": "ID4",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2410,
        "y": 220,
        "wires": [
            [
                "d4ec3bf6a51f7763",
                "8062145cac5495e0",
                "58fe7e2624ea8f15"
            ]
        ]
    },
    {
        "id": "a5269d1f15add531",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var fecha = new Date ();\n\nmsg.time = fecha.toLocaleString(\"es-ES\",{\"timeZone\": \"Europe/Madrid\"});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2760,
        "y": 220,
        "wires": [
            [
                "bcd30f9c8dc39cef"
            ]
        ]
    },
    {
        "id": "bf9066120d319514",
        "type": "ui_text",
        "z": "540701d375a59d3e",
        "group": "58cd41ecad3d35cb",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización switch:",
        "format": "{{msg.time}}",
        "layout": "row-spread",
        "className": "",
        "x": 3300,
        "y": 120,
        "wires": []
    },
    {
        "id": "90dca1f6b08dcfec",
        "type": "ui_text",
        "z": "540701d375a59d3e",
        "group": "52478992b88bbf8c",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización switch:",
        "format": "{{msg.time}}",
        "layout": "row-spread",
        "className": "",
        "x": 3300,
        "y": 200,
        "wires": []
    },
    {
        "id": "3b8ba9a11fe33f6e",
        "type": "ui_text",
        "z": "540701d375a59d3e",
        "group": "1d0d307fb3c6d364",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización switch:",
        "format": "{{msg.time}}",
        "layout": "row-spread",
        "className": "",
        "x": 3300,
        "y": 280,
        "wires": []
    },
    {
        "id": "8097d965f757442f",
        "type": "ui_text",
        "z": "540701d375a59d3e",
        "group": "88ea1dac2052caf5",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización switch:",
        "format": "{{msg.time}}",
        "layout": "row-spread",
        "className": "",
        "x": 3300,
        "y": 360,
        "wires": []
    },
    {
        "id": "b2e20c76f8808537",
        "type": "comment",
        "z": "540701d375a59d3e",
        "name": "Lectura PWM",
        "info": "",
        "x": 250,
        "y": 320,
        "wires": []
    },
    {
        "id": "3e02ddb9893f1c57",
        "type": "comment",
        "z": "540701d375a59d3e",
        "name": "Lectura Switch",
        "info": "",
        "x": 1980,
        "y": 140,
        "wires": []
    },
    {
        "id": "e632edd1bb7267b0",
        "type": "ui_led",
        "z": "540701d375a59d3e",
        "order": 5,
        "group": "58cd41ecad3d35cb",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#00cc00",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 3230,
        "y": 80,
        "wires": []
    },
    {
        "id": "a49722fbfa424033",
        "type": "ui_led",
        "z": "540701d375a59d3e",
        "order": 5,
        "group": "52478992b88bbf8c",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#00cc00",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 3230,
        "y": 160,
        "wires": []
    },
    {
        "id": "238b748167b40a50",
        "type": "ui_led",
        "z": "540701d375a59d3e",
        "order": 5,
        "group": "1d0d307fb3c6d364",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#00cc00",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 3230,
        "y": 240,
        "wires": []
    },
    {
        "id": "39fefb37c7b50cd7",
        "type": "ui_led",
        "z": "540701d375a59d3e",
        "order": 5,
        "group": "88ea1dac2052caf5",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#00cc00",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 3230,
        "y": 320,
        "wires": []
    },
    {
        "id": "fb539822e4205170",
        "type": "ui_slider",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Intensidad",
        "tooltip": "",
        "group": "58cd41ecad3d35cb",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 1250,
        "y": 1400,
        "wires": [
            [
                "348e43853b2331a1"
            ]
        ]
    },
    {
        "id": "a58ade0602cc5932",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var level=global.get(\"ledlevel1\")\nvar id=global.get(\"ID1\");\nmsg.payload={\"level\":level, \"id\":id}\nmsg.topic=\"II12/\"+id+\"/led/cmd\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1680,
        "y": 1400,
        "wires": [
            [
                "90e332c53bf44dc6",
                "d3b97a847b436668",
                "479e9861bc50bbeb"
            ]
        ]
    },
    {
        "id": "a36cfc0533c9ec62",
        "type": "comment",
        "z": "540701d375a59d3e",
        "name": "Control Intensidad LED",
        "info": "",
        "x": 900,
        "y": 1280,
        "wires": []
    },
    {
        "id": "90e332c53bf44dc6",
        "type": "mqtt out",
        "z": "540701d375a59d3e",
        "name": "led/cmd",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "759329fc13f505d4",
        "x": 1960,
        "y": 1520,
        "wires": []
    },
    {
        "id": "7470a2e352bd68ed",
        "type": "ui_slider",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Intensidad",
        "tooltip": "",
        "group": "52478992b88bbf8c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 1250,
        "y": 1480,
        "wires": [
            [
                "a3bdbe063880bfe8"
            ]
        ]
    },
    {
        "id": "a0d3f6cc3d56b183",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var level=global.get(\"ledlevel2\")\nvar id=global.get(\"ID2\");\nmsg.payload={\"level\":level, \"id\":id}\nmsg.topic=\"II12/\"+id+\"/led/cmd\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1680,
        "y": 1480,
        "wires": [
            [
                "90e332c53bf44dc6",
                "479e9861bc50bbeb"
            ]
        ]
    },
    {
        "id": "c9028d4a43391009",
        "type": "ui_slider",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Intensidad",
        "tooltip": "",
        "group": "1d0d307fb3c6d364",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 1250,
        "y": 1560,
        "wires": [
            [
                "a46d56a6329749ee"
            ]
        ]
    },
    {
        "id": "6e3c806d3756e587",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var level=global.get(\"ledlevel3\")\nvar id=global.get(\"ID3\");\nmsg.payload={\"level\":level, \"id\":id}\nmsg.topic=\"II12/\"+id+\"/led/cmd\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1680,
        "y": 1560,
        "wires": [
            [
                "90e332c53bf44dc6",
                "479e9861bc50bbeb"
            ]
        ]
    },
    {
        "id": "17d8ac52a9071835",
        "type": "ui_slider",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Intensidad",
        "tooltip": "",
        "group": "88ea1dac2052caf5",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 1250,
        "y": 1640,
        "wires": [
            [
                "f8acabba6b7f0355"
            ]
        ]
    },
    {
        "id": "8a30596885e8b146",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var level=global.get(\"ledlevel4\")\nvar id=global.get(\"ID4\");\nmsg.payload={\"level\":level, \"id\":id}\nmsg.topic=\"II12/\"+id+\"/led/cmd\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1680,
        "y": 1640,
        "wires": [
            [
                "90e332c53bf44dc6",
                "479e9861bc50bbeb"
            ]
        ]
    },
    {
        "id": "a5c98d86408004db",
        "type": "debug",
        "z": "540701d375a59d3e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 180,
        "wires": []
    },
    {
        "id": "e8f01d7c85cd4f18",
        "type": "ui_toast",
        "z": "540701d375a59d3e",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1030,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "43a9f4512f9ec20c",
        "type": "switch",
        "z": "540701d375a59d3e",
        "name": "",
        "property": "payload.origen",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "control",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 250,
        "y": 700,
        "wires": [
            [
                "201c953f410ef65b"
            ]
        ]
    },
    {
        "id": "32d0f650e638dbbf",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var level = msg.payload.LED;\nmsg.payload={};\nmsg.topic=\"HUERTO 1\";\nif(level==255)\n{\n    msg.payload=\"Alerta temperatura maxina alcanzada-Foco apagado\"\n    msg.telegram=\"Alerta temperatura maxina alcanzada-HUERTO 1 \\n Foco apagado\"\n}\nelse if(level==0)\n{\n    msg.payload=\"Alerta temperatura mínima alcanzada-Foco encendido\"\n    msg.telegram=\"Alerta temperatura mínima alcanzada-HUERTO 1 \\n Foco encendido\"\n}\nelse\n{\n    msg.payload=\"HUERTO 1-Temperatura controlada. \\n Foco restablecido\"\n}\nmsg.payload.type=\"message\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 660,
        "wires": [
            [
                "e8f01d7c85cd4f18",
                "016a2ed2aa3ff77f",
                "d40f6f46fde3419e"
            ]
        ]
    },
    {
        "id": "587fdf3c779f94a8",
        "type": "inject",
        "z": "540701d375a59d3e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"CHIPID\":\"ESP3096728\",\"Polaridad\":0,\"LED\":255,\"origen\":\"control\",\"id\":0}",
        "payloadType": "json",
        "x": 520,
        "y": 240,
        "wires": [
            [
                "3247084dcd2b7e96",
                "722cb7773754a68c"
            ]
        ]
    },
    {
        "id": "3247084dcd2b7e96",
        "type": "debug",
        "z": "540701d375a59d3e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 200,
        "wires": []
    },
    {
        "id": "e2bb9a813b0e7ce2",
        "type": "debug",
        "z": "540701d375a59d3e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 120,
        "wires": []
    },
    {
        "id": "201c953f410ef65b",
        "type": "switch",
        "z": "540701d375a59d3e",
        "name": "",
        "property": "identificador",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ID1",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID2",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID3",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID4",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 430,
        "y": 740,
        "wires": [
            [
                "32d0f650e638dbbf"
            ],
            [
                "bea16d30fd5cf73c"
            ],
            [
                "cff63e80d05e7337"
            ],
            [
                "11264561ecb2559f"
            ]
        ]
    },
    {
        "id": "7354f3b52efdda16",
        "type": "ui_toast",
        "z": "540701d375a59d3e",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 3070,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "8062145cac5495e0",
        "type": "switch",
        "z": "540701d375a59d3e",
        "name": "",
        "property": "payload.origen",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "control",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2290,
        "y": 420,
        "wires": [
            [
                "f87e0d4065165251"
            ]
        ]
    },
    {
        "id": "fb57cd4aafc63a47",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var level = msg.payload.SWITCH;\nmsg.payload={};\nmsg.topic=\"HUERTO 1\";\nif(level==0)\n{\n    msg.payload=\"Alerta humedad maxima-HUERTO 1-Ventilacion encendida\"\n}\nelse if(level==1)\n{\n    msg.payload=\"Alerta humedad mínima-HUERTO 1-Ventilacion apagada\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2680,
        "y": 340,
        "wires": [
            [
                "7354f3b52efdda16",
                "6fd0c9349c72bd56"
            ]
        ]
    },
    {
        "id": "f87e0d4065165251",
        "type": "switch",
        "z": "540701d375a59d3e",
        "name": "",
        "property": "identificador",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ID1",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID2",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID3",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID4",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 2470,
        "y": 460,
        "wires": [
            [
                "fb57cd4aafc63a47"
            ],
            [
                "c8f994d4efeee4af"
            ],
            [
                "ceee9639b7d1a85a"
            ],
            [
                "d2032c9e32fe8027"
            ]
        ]
    },
    {
        "id": "8b562b2fc770bd99",
        "type": "mqtt in",
        "z": "540701d375a59d3e",
        "name": "",
        "topic": "II12/+/riego/status",
        "qos": "2",
        "datatype": "auto",
        "broker": "c7a3425e606353b2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 2010,
        "y": 720,
        "wires": [
            [
                "6b9dd61f41de350a",
                "fa3f36188b588478"
            ]
        ]
    },
    {
        "id": "21d47fca922f61e1",
        "type": "change",
        "z": "540701d375a59d3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.RIEGO",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2580,
        "y": 720,
        "wires": [
            [
                "128fdbaa25a61e25"
            ]
        ]
    },
    {
        "id": "6b9dd61f41de350a",
        "type": "json",
        "z": "540701d375a59d3e",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 2290,
        "y": 720,
        "wires": [
            [
                "26e8096b7dd52ce8"
            ]
        ]
    },
    {
        "id": "d3b3c91f90d24c64",
        "type": "switch",
        "z": "540701d375a59d3e",
        "name": "",
        "property": "identificador",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ID1",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID2",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID3",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID4",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 2950,
        "y": 720,
        "wires": [
            [
                "fe4e8e88bdb360c7",
                "89530c8fe03571d4",
                "1886abaa2d044389",
                "9f24342fe1bb4dad"
            ],
            [
                "4394f95772186ff0",
                "c5aa5bef58a50a79"
            ],
            [
                "7f082da271126fe0",
                "14101d551ccfb541"
            ],
            [
                "54d270449e465247",
                "cd9955df8e5bb239"
            ]
        ]
    },
    {
        "id": "26e8096b7dd52ce8",
        "type": "change",
        "z": "540701d375a59d3e",
        "name": "ID",
        "rules": [
            {
                "t": "set",
                "p": "identificador",
                "pt": "msg",
                "to": "payload.CHIPID",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "ID1",
                "pt": "msg",
                "to": "ID1",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "ID2",
                "pt": "msg",
                "to": "ID2",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "ID3",
                "pt": "msg",
                "to": "ID3",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "ID4",
                "pt": "msg",
                "to": "ID4",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2410,
        "y": 720,
        "wires": [
            [
                "21d47fca922f61e1",
                "a4a53e8765a6cace"
            ]
        ]
    },
    {
        "id": "128fdbaa25a61e25",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var fecha = new Date ();\n\nmsg.time = fecha.toLocaleString(\"es-ES\",{\"timeZone\": \"Europe/Madrid\"});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2760,
        "y": 720,
        "wires": [
            [
                "d3b3c91f90d24c64"
            ]
        ]
    },
    {
        "id": "89530c8fe03571d4",
        "type": "ui_text",
        "z": "540701d375a59d3e",
        "group": "58cd41ecad3d35cb",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización riego:",
        "format": "{{msg.time}}",
        "layout": "row-spread",
        "className": "",
        "x": 3300,
        "y": 620,
        "wires": []
    },
    {
        "id": "3cdac7c43737ea00",
        "type": "comment",
        "z": "540701d375a59d3e",
        "name": "Lectura Riego",
        "info": "",
        "x": 1970,
        "y": 640,
        "wires": []
    },
    {
        "id": "fe4e8e88bdb360c7",
        "type": "ui_led",
        "z": "540701d375a59d3e",
        "order": 8,
        "group": "58cd41ecad3d35cb",
        "width": 0,
        "height": 0,
        "label": "Estado riego:",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#07a8f2",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 3230,
        "y": 580,
        "wires": []
    },
    {
        "id": "fac65a7038d677c0",
        "type": "ui_toast",
        "z": "540701d375a59d3e",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 3070,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "a4a53e8765a6cace",
        "type": "switch",
        "z": "540701d375a59d3e",
        "name": "",
        "property": "payload.origen",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "control",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2290,
        "y": 920,
        "wires": [
            [
                "9be2b77455481f12"
            ]
        ]
    },
    {
        "id": "9be2b77455481f12",
        "type": "switch",
        "z": "540701d375a59d3e",
        "name": "",
        "property": "identificador",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ID1",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID2",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID3",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID4",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 2470,
        "y": 960,
        "wires": [
            [
                "e51d5e262047041b"
            ],
            [
                "a209d4a8413867db"
            ],
            [
                "d2de6c960434c7ad"
            ],
            [
                "8957d6ee1a33da37"
            ]
        ]
    },
    {
        "id": "c5aa5bef58a50a79",
        "type": "ui_text",
        "z": "540701d375a59d3e",
        "group": "52478992b88bbf8c",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización riego:",
        "format": "{{msg.time}}",
        "layout": "row-spread",
        "className": "",
        "x": 3300,
        "y": 700,
        "wires": []
    },
    {
        "id": "4394f95772186ff0",
        "type": "ui_led",
        "z": "540701d375a59d3e",
        "order": 8,
        "group": "52478992b88bbf8c",
        "width": 0,
        "height": 0,
        "label": "Estado riego:",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#07a8f2",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 3230,
        "y": 660,
        "wires": []
    },
    {
        "id": "14101d551ccfb541",
        "type": "ui_text",
        "z": "540701d375a59d3e",
        "group": "1d0d307fb3c6d364",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización riego:",
        "format": "{{msg.time}}",
        "layout": "row-spread",
        "className": "",
        "x": 3300,
        "y": 780,
        "wires": []
    },
    {
        "id": "7f082da271126fe0",
        "type": "ui_led",
        "z": "540701d375a59d3e",
        "order": 8,
        "group": "1d0d307fb3c6d364",
        "width": 0,
        "height": 0,
        "label": "Estado riego:",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#07a8f2",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 3230,
        "y": 740,
        "wires": []
    },
    {
        "id": "cd9955df8e5bb239",
        "type": "ui_text",
        "z": "540701d375a59d3e",
        "group": "88ea1dac2052caf5",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización riego:",
        "format": "{{msg.time}}",
        "layout": "row-spread",
        "className": "",
        "x": 3300,
        "y": 860,
        "wires": []
    },
    {
        "id": "54d270449e465247",
        "type": "ui_led",
        "z": "540701d375a59d3e",
        "order": 7,
        "group": "88ea1dac2052caf5",
        "width": 0,
        "height": 0,
        "label": "Estado riego:",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#07a8f2",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 3230,
        "y": 820,
        "wires": []
    },
    {
        "id": "58fe7e2624ea8f15",
        "type": "debug",
        "z": "540701d375a59d3e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2720,
        "y": 120,
        "wires": []
    },
    {
        "id": "43b1747609c10876",
        "type": "comment",
        "z": "540701d375a59d3e",
        "name": "Control Switch",
        "info": " * ",
        "x": 900,
        "y": 1860,
        "wires": []
    },
    {
        "id": "ec168ecc7d92a4cd",
        "type": "ui_switch",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Activar Riego",
        "tooltip": "",
        "group": "58cd41ecad3d35cb",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 2660,
        "y": 1400,
        "wires": [
            [
                "ec54f4dfd91986ac"
            ]
        ]
    },
    {
        "id": "9e22ef03f5b54c65",
        "type": "mqtt out",
        "z": "540701d375a59d3e",
        "name": "switch/cmd",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c7a3425e606353b2",
        "x": 3130,
        "y": 1540,
        "wires": []
    },
    {
        "id": "ec54f4dfd91986ac",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var level=msg.payload\nvar id=global.get(\"ID1\");\n\nmsg.payload={\"level\":level, \"id\":id};\nmsg.topic=\"II12/\"+id+\"/riego/cmd\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2880,
        "y": 1400,
        "wires": [
            [
                "9e22ef03f5b54c65"
            ]
        ]
    },
    {
        "id": "54db08c2e55054ef",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var level=msg.payload\nvar id=global.get(\"ID2\");\n\nmsg.payload={\"level\":level, \"id\":id};\nmsg.topic=\"II12/\"+id+\"/riego/cmd\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2880,
        "y": 1480,
        "wires": [
            [
                "9e22ef03f5b54c65"
            ]
        ]
    },
    {
        "id": "7bd02b65faba6657",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var level=msg.payload\nvar id=global.get(\"ID3\");\n\nmsg.payload={\"level\":level, \"id\":id};\nmsg.topic=\"II12/\"+id+\"/riego/cmd\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2880,
        "y": 1560,
        "wires": [
            [
                "9e22ef03f5b54c65"
            ]
        ]
    },
    {
        "id": "655d2b7f4d13c585",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var level=msg.payload;\nvar id=global.get(\"ID4\");\n\nmsg.payload={\"level\":level, \"id\":id};\nmsg.topic=\"II12/\"+id+\"/riego/cmd\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2880,
        "y": 1640,
        "wires": [
            [
                "9e22ef03f5b54c65"
            ]
        ]
    },
    {
        "id": "7e7f73e98b1a2db4",
        "type": "comment",
        "z": "540701d375a59d3e",
        "name": "Control Switch",
        "info": " * ",
        "x": 2500,
        "y": 1340,
        "wires": []
    },
    {
        "id": "58083eef22113180",
        "type": "ui_switch",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Activar Riego",
        "tooltip": "",
        "group": "52478992b88bbf8c",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 2660,
        "y": 1480,
        "wires": [
            [
                "54db08c2e55054ef"
            ]
        ]
    },
    {
        "id": "d29d69b6e27ae6f3",
        "type": "ui_switch",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Activar Riego",
        "tooltip": "",
        "group": "1d0d307fb3c6d364",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 2660,
        "y": 1560,
        "wires": [
            [
                "7bd02b65faba6657"
            ]
        ]
    },
    {
        "id": "4cba4074128fc522",
        "type": "ui_switch",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Activar Riego",
        "tooltip": "",
        "group": "88ea1dac2052caf5",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 2660,
        "y": 1640,
        "wires": [
            [
                "655d2b7f4d13c585"
            ]
        ]
    },
    {
        "id": "d3b97a847b436668",
        "type": "debug",
        "z": "540701d375a59d3e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1870,
        "y": 1360,
        "wires": []
    },
    {
        "id": "f8acabba6b7f0355",
        "type": "change",
        "z": "540701d375a59d3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ledlevel4",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1470,
        "y": 1640,
        "wires": [
            [
                "8a30596885e8b146"
            ]
        ]
    },
    {
        "id": "a46d56a6329749ee",
        "type": "change",
        "z": "540701d375a59d3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ledlevel3",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1470,
        "y": 1560,
        "wires": [
            [
                "6e3c806d3756e587"
            ]
        ]
    },
    {
        "id": "a3bdbe063880bfe8",
        "type": "change",
        "z": "540701d375a59d3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ledlevel2",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1470,
        "y": 1480,
        "wires": [
            [
                "a0d3f6cc3d56b183"
            ]
        ]
    },
    {
        "id": "348e43853b2331a1",
        "type": "change",
        "z": "540701d375a59d3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ledlevel1",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1470,
        "y": 1400,
        "wires": [
            [
                "a58ade0602cc5932",
                "f83399a185b1754d"
            ]
        ]
    },
    {
        "id": "f83399a185b1754d",
        "type": "debug",
        "z": "540701d375a59d3e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1690,
        "y": 1280,
        "wires": []
    },
    {
        "id": "d2921fc433673f0c",
        "type": "ui_slider",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Intensidad",
        "tooltip": "",
        "group": "547f7947c387bf77",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 790,
        "y": 1400,
        "wires": [
            [
                "fb539822e4205170",
                "62851eca3293a5b8",
                "4983f34e8a911682",
                "89a5c9d3243d25e0",
                "7377a13e9ba5e1f7"
            ]
        ]
    },
    {
        "id": "a8efedd5e931a08d",
        "type": "ui_switch",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Activar Riego",
        "tooltip": "",
        "group": "547f7947c387bf77",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 2280,
        "y": 1400,
        "wires": [
            [
                "ec168ecc7d92a4cd",
                "184d60eb4dc2ba06",
                "6f3ebf9b8c3d1cc5",
                "2466929cc1946482"
            ]
        ]
    },
    {
        "id": "73cf56f7252b81b1",
        "type": "ui_text",
        "z": "540701d375a59d3e",
        "group": "547f7947c387bf77",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización switch:",
        "format": "{{msg.time}}",
        "layout": "row-spread",
        "className": "",
        "x": 3300,
        "y": 460,
        "wires": []
    },
    {
        "id": "0e79de034cbd49f5",
        "type": "ui_led",
        "z": "540701d375a59d3e",
        "order": 3,
        "group": "547f7947c387bf77",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#00cc00",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 3230,
        "y": 420,
        "wires": []
    },
    {
        "id": "9f24342fe1bb4dad",
        "type": "ui_text",
        "z": "540701d375a59d3e",
        "group": "547f7947c387bf77",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización riego:",
        "format": "{{msg.time}}",
        "layout": "row-spread",
        "className": "",
        "x": 3300,
        "y": 940,
        "wires": []
    },
    {
        "id": "1886abaa2d044389",
        "type": "ui_led",
        "z": "540701d375a59d3e",
        "order": 6,
        "group": "547f7947c387bf77",
        "width": 0,
        "height": 0,
        "label": "Estado riego:",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#07a8f2",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 3230,
        "y": 900,
        "wires": []
    },
    {
        "id": "2c28fe4b620c12ec",
        "type": "ui_text",
        "z": "540701d375a59d3e",
        "group": "58cd41ecad3d35cb",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización LED",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1570,
        "y": 80,
        "wires": []
    },
    {
        "id": "8c0fb45837610515",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var fecha = new Date ();\n\nmsg.payload={};\nmsg.payload = fecha.toLocaleString(\"es-ES\",{\"timeZone\": \"Europe/Madrid\"});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 80,
        "wires": [
            [
                "2c28fe4b620c12ec"
            ]
        ]
    },
    {
        "id": "a000428928f8f5d4",
        "type": "ui_gauge",
        "z": "540701d375a59d3e",
        "name": "",
        "group": "58cd41ecad3d35cb",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "LED PWM",
        "label": "Intensidad",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1530,
        "y": 160,
        "wires": []
    },
    {
        "id": "bae105db8a5811f6",
        "type": "range",
        "z": "540701d375a59d3e",
        "minin": "0",
        "maxin": "255",
        "minout": "100",
        "maxout": "0",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 1350,
        "y": 160,
        "wires": [
            [
                "a000428928f8f5d4"
            ]
        ]
    },
    {
        "id": "0d0e48939b1ff598",
        "type": "ui_text",
        "z": "540701d375a59d3e",
        "group": "52478992b88bbf8c",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización LED",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1590,
        "y": 280,
        "wires": []
    },
    {
        "id": "7a73b399a6ba4ca8",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var fecha = new Date ();\n\nmsg.payload={};\nmsg.payload = fecha.toLocaleString(\"es-ES\",{\"timeZone\": \"Europe/Madrid\"});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 280,
        "wires": [
            [
                "0d0e48939b1ff598"
            ]
        ]
    },
    {
        "id": "6d0affdf8b529fda",
        "type": "ui_gauge",
        "z": "540701d375a59d3e",
        "name": "",
        "group": "52478992b88bbf8c",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "LED PWM",
        "label": "Intensidad",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1570,
        "y": 360,
        "wires": []
    },
    {
        "id": "5ae5fece25b2c822",
        "type": "range",
        "z": "540701d375a59d3e",
        "minin": "0",
        "maxin": "255",
        "minout": "100",
        "maxout": "0",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 1350,
        "y": 360,
        "wires": [
            [
                "6d0affdf8b529fda"
            ]
        ]
    },
    {
        "id": "0ec40aa338cbd086",
        "type": "ui_text",
        "z": "540701d375a59d3e",
        "group": "1d0d307fb3c6d364",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización LED",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1590,
        "y": 460,
        "wires": []
    },
    {
        "id": "5cda163c5a25f828",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var fecha = new Date ();\n\nmsg.payload={};\nmsg.payload = fecha.toLocaleString(\"es-ES\",{\"timeZone\": \"Europe/Madrid\"});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 460,
        "wires": [
            [
                "0ec40aa338cbd086"
            ]
        ]
    },
    {
        "id": "012fe5609d3b2886",
        "type": "ui_gauge",
        "z": "540701d375a59d3e",
        "name": "",
        "group": "1d0d307fb3c6d364",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "LED PWM",
        "label": "units",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1570,
        "y": 560,
        "wires": []
    },
    {
        "id": "dc9b20d9333d81b7",
        "type": "range",
        "z": "540701d375a59d3e",
        "minin": "0",
        "maxin": "255",
        "minout": "100",
        "maxout": "0",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 1350,
        "y": 560,
        "wires": [
            [
                "012fe5609d3b2886"
            ]
        ]
    },
    {
        "id": "f2947bee18861f6e",
        "type": "ui_text",
        "z": "540701d375a59d3e",
        "group": "88ea1dac2052caf5",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización LED",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1610,
        "y": 660,
        "wires": []
    },
    {
        "id": "545a3cde97d2459a",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var fecha = new Date ();\n\nmsg.time = fecha.toLocaleString(\"es-ES\",{\"timeZone\": \"Europe/Madrid\"});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 660,
        "wires": [
            [
                "f2947bee18861f6e"
            ]
        ]
    },
    {
        "id": "77905976fb1c6f71",
        "type": "ui_gauge",
        "z": "540701d375a59d3e",
        "name": "",
        "group": "88ea1dac2052caf5",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "LED PWM",
        "label": "units",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1690,
        "y": 740,
        "wires": []
    },
    {
        "id": "f99eaa6eadeababb",
        "type": "range",
        "z": "540701d375a59d3e",
        "minin": "0",
        "maxin": "255",
        "minout": "100",
        "maxout": "0",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 1350,
        "y": 740,
        "wires": [
            [
                "77905976fb1c6f71"
            ]
        ]
    },
    {
        "id": "59a83d529d24eab4",
        "type": "ui_switch",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Switch",
        "tooltip": "",
        "group": "58cd41ecad3d35cb",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1270,
        "y": 1980,
        "wires": [
            [
                "afdcea91305bbb71"
            ]
        ]
    },
    {
        "id": "5245d90bc443f1c5",
        "type": "mqtt out",
        "z": "540701d375a59d3e",
        "name": "switch/cmd",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c7a3425e606353b2",
        "x": 1850,
        "y": 2100,
        "wires": []
    },
    {
        "id": "afdcea91305bbb71",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var level=msg.payload\nvar id=global.get(\"ID1\");\n\nmsg.payload={\"level\":level, \"id\":id};\nmsg.topic=\"II12/\"+id+\"/switch/cmd\"\nglobal.set(\"switchval1\",level)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1540,
        "y": 1980,
        "wires": [
            [
                "5245d90bc443f1c5"
            ]
        ]
    },
    {
        "id": "87df4b4955728686",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var level=msg.payload\nvar id=global.get(\"ID2\");\n\nmsg.payload={\"level\":level, \"id\":id};\nmsg.topic=\"II12/\"+id+\"/switch/cmd\"\nglobal.set(\"switchval2\",level)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1540,
        "y": 2040,
        "wires": [
            [
                "5245d90bc443f1c5"
            ]
        ]
    },
    {
        "id": "2f0b2f7b81452a30",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var level=msg.payload\nvar id=global.get(\"ID3\");\n\nmsg.payload={\"level\":level, \"id\":id};\nmsg.topic=\"II12/\"+id+\"/switch/cmd\"\nglobal.set(\"switchval3\",level)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1540,
        "y": 2100,
        "wires": [
            [
                "5245d90bc443f1c5"
            ]
        ]
    },
    {
        "id": "a2db79afc37c48a2",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var level=msg.payload\nvar id=global.get(\"ID4\");\n\nmsg.payload={\"level\":level, \"id\":id};\nmsg.topic=\"II12/\"+id+\"/switch/cmd\"\nglobal.set(\"switchval4\",level)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1540,
        "y": 2160,
        "wires": [
            [
                "5245d90bc443f1c5"
            ]
        ]
    },
    {
        "id": "c7477fc300575fc4",
        "type": "ui_switch",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Switch",
        "tooltip": "",
        "group": "52478992b88bbf8c",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1270,
        "y": 2040,
        "wires": [
            [
                "87df4b4955728686"
            ]
        ]
    },
    {
        "id": "ba8ceebf2e3aa546",
        "type": "ui_switch",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Switch",
        "tooltip": "",
        "group": "1d0d307fb3c6d364",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1270,
        "y": 2100,
        "wires": [
            [
                "2f0b2f7b81452a30"
            ]
        ]
    },
    {
        "id": "50f86edb9a61ca80",
        "type": "ui_switch",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Switch",
        "tooltip": "",
        "group": "88ea1dac2052caf5",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1270,
        "y": 2160,
        "wires": [
            [
                "a2db79afc37c48a2"
            ]
        ]
    },
    {
        "id": "ba16ed7bae74f265",
        "type": "ui_switch",
        "z": "540701d375a59d3e",
        "name": "",
        "label": "Switch",
        "tooltip": "",
        "group": "547f7947c387bf77",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 890,
        "y": 1980,
        "wires": [
            [
                "59a83d529d24eab4",
                "3519a975c60f06c4",
                "a8f8a0205360d4ac",
                "e12bafb8eef2b06d"
            ]
        ]
    },
    {
        "id": "62851eca3293a5b8",
        "type": "delay",
        "z": "540701d375a59d3e",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 1050,
        "y": 1480,
        "wires": [
            [
                "7470a2e352bd68ed"
            ]
        ]
    },
    {
        "id": "4983f34e8a911682",
        "type": "delay",
        "z": "540701d375a59d3e",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 1050,
        "y": 1560,
        "wires": [
            [
                "c9028d4a43391009"
            ]
        ]
    },
    {
        "id": "89a5c9d3243d25e0",
        "type": "delay",
        "z": "540701d375a59d3e",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 1050,
        "y": 1640,
        "wires": [
            [
                "17d8ac52a9071835"
            ]
        ]
    },
    {
        "id": "479e9861bc50bbeb",
        "type": "debug",
        "z": "540701d375a59d3e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1900,
        "y": 1640,
        "wires": []
    },
    {
        "id": "3519a975c60f06c4",
        "type": "delay",
        "z": "540701d375a59d3e",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 1070,
        "y": 2040,
        "wires": [
            [
                "c7477fc300575fc4"
            ]
        ]
    },
    {
        "id": "a8f8a0205360d4ac",
        "type": "delay",
        "z": "540701d375a59d3e",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 1070,
        "y": 2100,
        "wires": [
            [
                "ba8ceebf2e3aa546"
            ]
        ]
    },
    {
        "id": "e12bafb8eef2b06d",
        "type": "delay",
        "z": "540701d375a59d3e",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 1070,
        "y": 2160,
        "wires": [
            [
                "50f86edb9a61ca80"
            ]
        ]
    },
    {
        "id": "184d60eb4dc2ba06",
        "type": "delay",
        "z": "540701d375a59d3e",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 2470,
        "y": 1480,
        "wires": [
            []
        ]
    },
    {
        "id": "6f3ebf9b8c3d1cc5",
        "type": "delay",
        "z": "540701d375a59d3e",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 2470,
        "y": 1560,
        "wires": [
            []
        ]
    },
    {
        "id": "2466929cc1946482",
        "type": "delay",
        "z": "540701d375a59d3e",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 2470,
        "y": 1640,
        "wires": [
            []
        ]
    },
    {
        "id": "bea16d30fd5cf73c",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var level = msg.payload.LED;\nmsg.payload={};\nmsg.topic=\"HUERTO 2\";\nif(level==255)\n{\n    msg.payload=\"Alerta temperatura maxina alcanzada-HUERTO 2 \\n Foco apagado\"\n}\nelse if(level==0)\n{\n    msg.payload=\"Alerta temperatura mínima alcanzada-HUERTO 2 \\n Foco encendido\"\n}\nelse\n{\n    msg.payload=\"HUERTO 2-Temperatura controlada. \\n Foco restablecido\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 720,
        "wires": [
            [
                "e8f01d7c85cd4f18"
            ]
        ]
    },
    {
        "id": "cff63e80d05e7337",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var level = msg.payload.LED;\nmsg.payload={};\nmsg.topic=\"HUERTO 3\";\nif(level==255)\n{\n    msg.payload=\"Alerta temperatura maxina alcanzada-HUERTO 3 \\n Foco apagado\"\n}\nelse if(level==0)\n{\n    msg.payload=\"Alerta temperatura mínima alcanzada-HUERTO 3 \\n Foco encendido\"\n}\nelse\n{\n    msg.payload=\"HUERTO 3-Temperatura controlada. \\n Foco restablecido\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 760,
        "wires": [
            [
                "e8f01d7c85cd4f18"
            ]
        ]
    },
    {
        "id": "11264561ecb2559f",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var level = msg.payload.LED;\nmsg.payload={};\nmsg.topic=\"HUERTO 4\";\nif(level==255)\n{\n    msg.payload=\"Alerta temperatura maxina alcanzada-HUERTO 4 \\n Foco apagado\"\n}\nelse if(level==0)\n{\n    msg.payload=\"Alerta temperatura mínima alcanzada-HUERTO 4 \\n Foco encendido\"\n}\nelse\n{\n    msg.payload=\"HUERTO 4-Temperatura controlada. \\n Foco restablecido\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 820,
        "wires": [
            [
                "e8f01d7c85cd4f18"
            ]
        ]
    },
    {
        "id": "c8f994d4efeee4af",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var level = msg.payload.SWITCH;\nmsg.payload={};\nmsg.topic=\"HUERTO 2\";\nif(level==0)\n{\n    msg.payload=\"Alerta humedad maxima-HUERTO 2-Ventilacion encendida\"\n}\nelse if(level==1)\n{\n    msg.payload=\"Alerta humedad mínima-HUERTO 2-Ventilacion apagada\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2680,
        "y": 400,
        "wires": [
            [
                "7354f3b52efdda16"
            ]
        ]
    },
    {
        "id": "ceee9639b7d1a85a",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var level = msg.payload.SWITCH;\nmsg.payload={};\nmsg.topic=\"HUERTO 3\";\nif(level==0)\n{\n    msg.payload=\"Alerta humedad maxima-HUERTO 3-Ventilacion encendida\"\n}\nelse if(level==1)\n{\n    msg.payload=\"Alerta humedad mínima-HUERTO 3-Ventilacion apagada\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2680,
        "y": 460,
        "wires": [
            [
                "7354f3b52efdda16"
            ]
        ]
    },
    {
        "id": "d2032c9e32fe8027",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var level = msg.payload.SWITCH;\nmsg.payload={};\nmsg.topic=\"HUERTO 4\";\nif(level==0)\n{\n    msg.payload=\"Alerta humedad maxima-HUERTO 4-Ventilacion encendida\"\n}\nelse if(level==1)\n{\n    msg.payload=\"Alerta humedad mínima-Ventilacion apagada\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2680,
        "y": 520,
        "wires": [
            [
                "7354f3b52efdda16"
            ]
        ]
    },
    {
        "id": "e51d5e262047041b",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var level = msg.payload.RIEGO;\nmsg.payload={};\nmsg.topic=\"HUERTO 1\";\nif(level==0)\n{\n    msg.payload=\"Riego encendido\"\n}\nelse if(level==1)\n{\n    msg.payload=\"Riego apagado\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2700,
        "y": 840,
        "wires": [
            [
                "fac65a7038d677c0"
            ]
        ]
    },
    {
        "id": "a209d4a8413867db",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var level = msg.payload.RIEGO;\nmsg.payload={};\nmsg.topic=\"HUERTO 1\";\nif(level==0)\n{\n    msg.payload=\"Riego encendidp-HUERTO 2\"\n}\nelse if(level==1)\n{\n    msg.payload=\"Riego apagado-HUERTO 2\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2700,
        "y": 920,
        "wires": [
            [
                "fac65a7038d677c0"
            ]
        ]
    },
    {
        "id": "d2de6c960434c7ad",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var level = msg.payload.RIEGO;\nmsg.payload={};\nmsg.topic=\"HUERTO 3\";\nif(level==0)\n{\n    msg.payload=\"Riego encendidp-HUERTO 3\"\n}\nelse if(level==1)\n{\n    msg.payload=\"Riego apagado-HUERTO 3\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2700,
        "y": 960,
        "wires": [
            [
                "fac65a7038d677c0"
            ]
        ]
    },
    {
        "id": "8957d6ee1a33da37",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "",
        "func": "var level = msg.payload.RIEGO;\nmsg.payload={};\nmsg.topic=\"HUERTO 4\";\nif(level==0)\n{\n    msg.payload=\"Riego encendidp-HUERTO 4\"\n}\nelse if(level==1)\n{\n    msg.payload=\"Riego apagado-HUERTO 4\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2700,
        "y": 1020,
        "wires": [
            [
                "fac65a7038d677c0"
            ]
        ]
    },
    {
        "id": "fa3f36188b588478",
        "type": "debug",
        "z": "540701d375a59d3e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2230,
        "y": 560,
        "wires": []
    },
    {
        "id": "6fd0c9349c72bd56",
        "type": "debug",
        "z": "540701d375a59d3e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2980,
        "y": 340,
        "wires": []
    },
    {
        "id": "f6355d442a0276e2",
        "type": "function",
        "z": "540701d375a59d3e",
        "name": "mensaje bienvenida y cambio intensidad",
        "func": "var valor=parseInt(msg.payload.content)\nmsg.payload={};\nif(valor>=0 && valor<=100)\n{\n    msg.payload=valor;\n    if (flow.get(\"cambiarled1\")==1)\n    {\n        msg.identificador=global.get(\"ID1\");\n    }\n    else if (flow.get(\"cambiarled2\")==1)\n    {\n        msg.identificador=global.get(\"ID2\");\n    }\n    else if (flow.get(\"cambiarled3\")==1)\n    {\n        msg.identificador=global.get(\"ID3\");\n    }\n    else if (flow.get(\"cambiarled4\")==1)\n    {\n        msg.identificador=global.get(\"ID4\");\n    }\n    msg.payload.origin=\"Telegram\";\n}\nelse if(valor<0 || valor>100)\n{\n msg.payload.content=\"Se necesita un valor entre 0 y 100 para cambiar la intensidad del led\";\n msg.payload.intensidad=flow.get(\"ledlevel\");\n msg.identificador=-1;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1560,
        "wires": [
            [
                "7bbd574064ac628b",
                "d7eb35ea4a1e8339"
            ]
        ]
    },
    {
        "id": "376eca61817b6354",
        "type": "debug",
        "z": "540701d375a59d3e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 260,
        "y": 1500,
        "wires": []
    },
    {
        "id": "7377a13e9ba5e1f7",
        "type": "debug",
        "z": "540701d375a59d3e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 1340,
        "wires": []
    },
    {
        "id": "7bbd574064ac628b",
        "type": "switch",
        "z": "540701d375a59d3e",
        "name": "",
        "property": "identificador",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ID1",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID2",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID3",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID4",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 690,
        "y": 1540,
        "wires": [
            [
                "fb539822e4205170",
                "ff58d843a13a2f72"
            ],
            [
                "7470a2e352bd68ed"
            ],
            [
                "c9028d4a43391009"
            ],
            [
                "17d8ac52a9071835"
            ]
        ]
    },
    {
        "id": "d7eb35ea4a1e8339",
        "type": "debug",
        "z": "540701d375a59d3e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 1480,
        "wires": []
    },
    {
        "id": "ff58d843a13a2f72",
        "type": "debug",
        "z": "540701d375a59d3e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 1420,
        "wires": []
    },
    {
        "id": "016a2ed2aa3ff77f",
        "type": "debug",
        "z": "540701d375a59d3e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 660,
        "wires": []
    },
    {
        "id": "d40f6f46fde3419e",
        "type": "change",
        "z": "540701d375a59d3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payload.type",
                "pt": "msg",
                "to": "message",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.content",
                "pt": "msg",
                "to": "telegram",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.chatId",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 840,
        "wires": [
            [
                "ca6879e0c914282b"
            ]
        ]
    },
    {
        "id": "ca6879e0c914282b",
        "type": "debug",
        "z": "540701d375a59d3e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 820,
        "wires": []
    },
    {
        "id": "0b778c667815f4c0",
        "type": "link in",
        "z": "540701d375a59d3e",
        "name": "led1",
        "links": [
            "ad567a20fb083bc9"
        ],
        "x": 935,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "c7a3425e606353b2",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "58cd41ecad3d35cb",
        "type": "ui_group",
        "name": "Actuadores",
        "tab": "594cecd70ae88430",
        "order": 3,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "52478992b88bbf8c",
        "type": "ui_group",
        "name": "Actuadores",
        "tab": "cb0a8f66055dc5e4",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1d0d307fb3c6d364",
        "type": "ui_group",
        "name": "Actuadores",
        "tab": "3ea480f31c69cc51",
        "order": 3,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "88ea1dac2052caf5",
        "type": "ui_group",
        "name": "Actuadores",
        "tab": "56d00aae9c36eba0",
        "order": 3,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "759329fc13f505d4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "547f7947c387bf77",
        "type": "ui_group",
        "name": "Actuadores",
        "tab": "17ed4c3a57d6103c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "594cecd70ae88430",
        "type": "ui_tab",
        "name": "HUERTO 1",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cb0a8f66055dc5e4",
        "type": "ui_tab",
        "name": "HUERTO 2",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3ea480f31c69cc51",
        "type": "ui_tab",
        "name": "HUERTO 3",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "56d00aae9c36eba0",
        "type": "ui_tab",
        "name": "HUERTO 4",
        "icon": "dashboard",
        "order": 7,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "17ed4c3a57d6103c",
        "type": "ui_tab",
        "name": "HUERTO-GLOBAL",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
