NodeRED/BaseDatosFinal.json
[
    {
        "id": "2fa3fa15a5e7757a",
        "type": "tab",
        "label": "BASE DE DATOS",
        "disabled": false,
        "info": ""
    },
    {
        "id": "55877cb9980ea73a",
        "type": "mqtt in",
        "z": "2fa3fa15a5e7757a",
        "name": "",
        "topic": "II12/+/datos",
        "qos": "2",
        "datatype": "auto",
        "broker": "759329fc13f505d4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 190,
        "y": 160,
        "wires": [
            [
                "7ee265fec3c25901"
            ]
        ]
    },
    {
        "id": "61ddf906ca66ba6d",
        "type": "function",
        "z": "2fa3fa15a5e7757a",
        "name": "payload + fecha",
        "func": "// Vamos a añadir a cada dato la fecha a la que ha sido recibido.\nmsg.payload.date = new Date();\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 160,
        "wires": [
            [
                "d3647de174c973f0"
            ]
        ]
    },
    {
        "id": "d3647de174c973f0",
        "type": "mongodb out",
        "z": "2fa3fa15a5e7757a",
        "mongodb": "98277d641a9c0bb9",
        "name": "",
        "collection": "ProyectoGrupo12",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 850,
        "y": 160,
        "wires": []
    },
    {
        "id": "a4a2dbe10ba9f984",
        "type": "comment",
        "z": "2fa3fa15a5e7757a",
        "name": "Almacenamos en la colección datos de los sensores, actuadores y conexión",
        "info": "",
        "x": 390,
        "y": 100,
        "wires": []
    },
    {
        "id": "aee17f4d38c5ddaf",
        "type": "comment",
        "z": "2fa3fa15a5e7757a",
        "name": "Añadimos el campo fecha",
        "info": "",
        "x": 590,
        "y": 200,
        "wires": []
    },
    {
        "id": "7ee265fec3c25901",
        "type": "json",
        "z": "2fa3fa15a5e7757a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 160,
        "wires": [
            [
                "61ddf906ca66ba6d",
                "d5d3585b2b64907a"
            ]
        ]
    },
    {
        "id": "c0b3b70f5e50c93a",
        "type": "function",
        "z": "2fa3fa15a5e7757a",
        "name": "consulta rapida",
        "func": "// Guardamos la consulta en una variable.\nvar consulta = flow.get(\"consulta\");\nmsg.payload ={};\n\n// Variables de tiempo auxiliares.\nvar ms_minuto = 60000;\nvar ms_hora = 60 * ms_minuto;\nvar ms_dia = 24 * ms_hora;\nvar ms_semana = 7 * ms_dia;\nvar ms_mes = 30 * ms_dia;\n\n// Variable con el timestamp actual (en ms)\nvar now_ms = new Date().getTime();\n\n// Creamos objetos fecha con el timestamp deseado.\nvar hour_ago = new Date(now_ms - ms_hora);\nvar day_ago = new Date(now_ms - ms_dia);\nvar week_ago = new Date(now_ms - ms_semana);\nvar month_ago = new Date(now_ms - ms_mes);\n\n// Dependiendo del botón pulsado, tenemos una fecha u otra.\n\nif(consulta === \"hora\")\n{\n    msg.payload = [\n    { \"$match\": {\"date\": {\"$gte\": hour_ago}}},\n    { \"$project\": {\n      \"_id\": 0,    \n      \"date\": 1,\n      \"Uptime\": 1,\n      \"Vcc\": 1,\n      \"LED\": 1,\n      \"SWITCH\": 1,\n      \"temperatura\": \"$DHT11.Temperatura\",\n      \"humedad\": \"$DHT11.Humedad\",\n      \"ssid\": \"$Wifi.SSID\",\n      \"ip\": \"$Wifi.IP\",\n      \"rssi\": \"$Wifi.RSSI\"\n      }\n    },\n    { \"$sort\": {\"date\": 1} }\n    ];\n} \n\nelse if(consulta === \"dia\")\n{\n    msg.payload= [\n    { \"$match\": {\"date\": {\"$gte\": day_ago}}},\n    { \"$project\": {\n      \"_id\": 0,    \n      \"date\": 1,\n      \"Uptime\": 1,\n      \"Vcc\": 1,\n      \"LED\": 1,\n      \"SWITCH\": 1, \n      \"temperatura\": \"$DHT11.Temperatura\",\n      \"humedad\": \"$DHT11.Humedad\",\n      \"ssid\": \"$Wifi.SSID\",\n      \"ip\": \"$Wifi.IP\",\n      \"rssi\": \"$Wifi.RSSI\"\n      }\n    },\n    { \"$sort\": {\"date\": 1} }\n    ];\n}\n\nelse if(consulta === \"semana\")\n{\n    msg.payload = [\n    { \"$match\": {\"date\": {\"$gte\": week_ago}}},\n    { \"$project\": {\n      \"_id\": 0,    \n      \"date\": 1,\n      \"Uptime\": 1,\n      \"Vcc\": 1,\n      \"LED\": 1,\n      \"SWITCH\": 1,\n      \"temperatura\": \"$DHT11.Temperatura\",\n      \"humedad\": \"$DHT11.Humedad\",\n      \"ssid\": \"$Wifi.SSID\",\n      \"ip\": \"$Wifi.IP\",\n      \"rssi\": \"$Wifi.RSSI\"\n      }\n    },\n    { \"$sort\": {\"date\": 1} }\n    ];\n}\n\nelse if (consulta === \"mes\")\n{\n    msg.payload = [\n    { \"$match\": {\"date\": {\"$gte\": month_ago}}},\n    { \"$project\": {\n      \"_id\": 0,    \n      \"date\": 1,\n      \"Uptime\": 1,\n      \"Vcc\": 1,\n      \"LED\": 1,\n      \"SWITCH\": 1,\n      \"temperatura\": \"$DHT11.Temperatura\",\n      \"humedad\": \"$DHT11.Humedad\",\n      \"ssid\": \"$Wifi.SSID\",\n      \"ip\": \"$Wifi.IP\",\n      \"rssi\": \"$Wifi.RSSI\"\n      }\n    },\n    { \"$sort\": {\"date\": 1} }\n    ];\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 460,
        "wires": [
            [
                "842c11faa6aafecf",
                "dcb4d6823a68c481"
            ]
        ]
    },
    {
        "id": "8214c5c629a01fff",
        "type": "comment",
        "z": "2fa3fa15a5e7757a",
        "name": "Guardamos en un fichero los documentos consultados",
        "info": "",
        "x": 1540,
        "y": 500,
        "wires": []
    },
    {
        "id": "c294ce99c7e22930",
        "type": "function",
        "z": "2fa3fa15a5e7757a",
        "name": "consulta intervalo",
        "func": "// Fecha por defecto actual\nvar ahora = new Date();\n\n// Si en el dashboard se han seleccionado fechas de inicio y fin toma\n// sus variables globales, sino toma la fecha actual por defecto.\nvar desde = new Date(global.get(\"inicio\") || ahora);\nvar hasta = new Date(global.get(\"fin\") || ahora); \n\n// El día de inicio comienza a las 00:00\nvar inicio = new Date(desde.getFullYear(),desde.getMonth(),desde.getDate(),0,0,0,0);\n// el día final es hasta final del día\nvar final = new Date(hasta.getFullYear(),hasta.getMonth(),hasta.getDate(),23,59,59,999);\n\n// Sacamos los documentos de la colección que hay entre el día de inicio y el día final,\n// ordenándolos de más antiguos a menos.\nmsg.payload = [\n    { \"$match\": {\"date\": {\"$gte\": inicio, \"$lte\": final}}},\n    { \"$project\": {\n      \"date\": 1,\n      \"temperatura\": \"$DHT11.Temperatura\",\n      \"humedad\": \"$DHT11.Humedad\",\n    }},\n     { \"$group\": {\n      \"_id\": 0,\n      \"Tmedia\": {\"$avg\": \"$temperatura\"},\n      \"Tmax\": {\"$max\": \"$temperatura\"},\n      \"Tmin\": {\"$min\": \"$temperatura\"},\n      \"Tdev\": {\"$stdDevPop\": \"$humedad\"},\n      \"Hmedia\": {\"$avg\": \"$humedad\"},\n      \"Hmax\": {\"$max\": \"$humedad\"},\n      \"Hmin\": {\"$min\": \"$humedad\"},\n      \"Hdev\": {\"$stdDevPop\": \"$humedad\"}\n    }},\n    { \"$sort\": {\"date\": 1} }\n    ];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 920,
        "wires": [
            [
                "796a5b15b1b4120e"
            ]
        ]
    },
    {
        "id": "6f01ad42be8a71e6",
        "type": "http in",
        "z": "2fa3fa15a5e7757a",
        "name": "",
        "url": "/RegistrosConsultaRapida",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 460,
        "wires": [
            [
                "c0b3b70f5e50c93a"
            ]
        ]
    },
    {
        "id": "03256d3831174d0d",
        "type": "ui_template",
        "z": "2fa3fa15a5e7757a",
        "group": "e8ac12aa380cb87f",
        "name": "Estadisticas",
        "order": 9,
        "width": 0,
        "height": 0,
        "format": "<style>\n.button {\n    text-align: center;\n    font: bold 17px Arial;\n    text-decoration: none;\n    background-color: #439ebf;\n    color: white;\n    padding: 8px 10px;\n    border: 2px solid #CCCCCC;\n  }\n  \n  .button:hover\n  {\n   background-color: #317a94;\n  }\n\n</style>\n<a href=\"/RegistrosIntervalo\" class=\"button\">Descarga estadisticas en CSV (EXCEL)</a>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 850,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "18e7566ca8adc52c",
        "type": "ui_date_picker",
        "z": "2fa3fa15a5e7757a",
        "name": "",
        "label": "Fecha inicio",
        "group": "e8ac12aa380cb87f",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 210,
        "y": 1100,
        "wires": [
            [
                "33f65a6bbabfbdcd"
            ]
        ]
    },
    {
        "id": "869b137a9ea9386c",
        "type": "ui_date_picker",
        "z": "2fa3fa15a5e7757a",
        "name": "",
        "label": "Fecha final",
        "group": "e8ac12aa380cb87f",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 210,
        "y": 1160,
        "wires": [
            [
                "906c296024a01c76"
            ]
        ]
    },
    {
        "id": "33f65a6bbabfbdcd",
        "type": "change",
        "z": "2fa3fa15a5e7757a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "inicio",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 1100,
        "wires": [
            [
                "d9956ad58851a011"
            ]
        ]
    },
    {
        "id": "906c296024a01c76",
        "type": "change",
        "z": "2fa3fa15a5e7757a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "fin",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 1160,
        "wires": [
            [
                "7ee5658bfde4dd9e"
            ]
        ]
    },
    {
        "id": "30390d0a0511c256",
        "type": "comment",
        "z": "2fa3fa15a5e7757a",
        "name": "Controles para seleccionar fechas del intervalo",
        "info": "",
        "x": 320,
        "y": 1040,
        "wires": []
    },
    {
        "id": "05b9f96236078cc4",
        "type": "comment",
        "z": "2fa3fa15a5e7757a",
        "name": "Botones en HTML para lanzar descarga de fichero",
        "info": "",
        "x": 950,
        "y": 1280,
        "wires": []
    },
    {
        "id": "5e5d9d739bbffb3a",
        "type": "debug",
        "z": "2fa3fa15a5e7757a",
        "name": "Consulta Rapida",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 340,
        "wires": []
    },
    {
        "id": "2845f9272b69c54b",
        "type": "ui_text",
        "z": "2fa3fa15a5e7757a",
        "group": "f437324503dfedde",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Maximo Humedad",
        "format": "{{msg.payload[0].Hmax | number:2}} %",
        "layout": "row-spread",
        "className": "",
        "x": 1170,
        "y": 980,
        "wires": []
    },
    {
        "id": "94062b5daa0d6525",
        "type": "ui_text",
        "z": "2fa3fa15a5e7757a",
        "group": "f437324503dfedde",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Minimo Humedad",
        "format": "{{msg.payload[0].Hmin | number:2}} %",
        "layout": "row-spread",
        "className": "",
        "x": 1130,
        "y": 1040,
        "wires": []
    },
    {
        "id": "0e5536a8b3ae50af",
        "type": "ui_text",
        "z": "2fa3fa15a5e7757a",
        "group": "f437324503dfedde",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Media Humedad",
        "format": "{{msg.payload[0].Hmedia | number:2}} %",
        "layout": "row-spread",
        "className": "",
        "x": 1100,
        "y": 1100,
        "wires": []
    },
    {
        "id": "4285a89045ae24b9",
        "type": "ui_text",
        "z": "2fa3fa15a5e7757a",
        "group": "f437324503dfedde",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Desviacion Humedad",
        "format": "{{msg.payload[0].Hdev | number:2 }}",
        "layout": "row-spread",
        "className": "",
        "x": 1060,
        "y": 1160,
        "wires": []
    },
    {
        "id": "9cd3807560edf284",
        "type": "ui_text",
        "z": "2fa3fa15a5e7757a",
        "group": "f437324503dfedde",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Maximo Temperatura",
        "format": "{{msg.payload[0].Tmax | number:2}} ºC",
        "layout": "row-spread",
        "className": "",
        "x": 1040,
        "y": 660,
        "wires": []
    },
    {
        "id": "bc153547541a4915",
        "type": "ui_text",
        "z": "2fa3fa15a5e7757a",
        "group": "f437324503dfedde",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Minimo Temperatura",
        "format": "{{msg.payload[0].Tmin | number:2}} ºC",
        "layout": "row-spread",
        "className": "",
        "x": 1100,
        "y": 720,
        "wires": []
    },
    {
        "id": "d5cf9ab978379020",
        "type": "ui_text",
        "z": "2fa3fa15a5e7757a",
        "group": "f437324503dfedde",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Media Temperatura",
        "format": "{{msg.payload[0].Tmedia | number:2}} ºC",
        "layout": "row-spread",
        "className": "",
        "x": 1130,
        "y": 780,
        "wires": []
    },
    {
        "id": "e1d5c7ddd1aed521",
        "type": "ui_text",
        "z": "2fa3fa15a5e7757a",
        "group": "f437324503dfedde",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Desviacion Temperatura",
        "format": "{{msg.payload[0].Tdev | number:2}}",
        "layout": "row-spread",
        "className": "",
        "x": 1190,
        "y": 840,
        "wires": []
    },
    {
        "id": "ff460821de79d1ab",
        "type": "csv",
        "z": "2fa3fa15a5e7757a",
        "name": "",
        "sep": ";",
        "hdrin": false,
        "hdrout": "all",
        "multi": "one",
        "ret": "\\r\\n",
        "temp": "date, Uptime, ssid, ip, rssi, Vcc, LED, SWITCH, temperatura, humedad",
        "skip": 0,
        "strings": true,
        "include_empty_strings": false,
        "include_null_values": false,
        "x": 1230,
        "y": 460,
        "wires": [
            [
                "69d867f187628dc0",
                "5628bae4d3179c70"
            ]
        ]
    },
    {
        "id": "acebdfdc19b4e2a5",
        "type": "http response",
        "z": "2fa3fa15a5e7757a",
        "name": "Descarga csv",
        "statusCode": "",
        "headers": {
            "Content-Disposition": "attachment; filename=RegistrosConsultaRapida.csv"
        },
        "x": 1660,
        "y": 460,
        "wires": []
    },
    {
        "id": "5628bae4d3179c70",
        "type": "function",
        "z": "2fa3fa15a5e7757a",
        "name": "Unicode y separador",
        "func": "//add Unicode BOM character (byte order mark) to make EXCEL knows this is UTF-8\nif(global.get(\"separador_decimal\")==\"punto\")\n{\n    msg.payload='\\ufeff'+msg.payload;\n\n}\nelse\n{\n    msg.payload='\\ufeff'+(msg.payload).replace(/\\./g,\",\");\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1440,
        "y": 460,
        "wires": [
            [
                "acebdfdc19b4e2a5",
                "cdc43704757533d9"
            ]
        ]
    },
    {
        "id": "796a5b15b1b4120e",
        "type": "mongodb in",
        "z": "2fa3fa15a5e7757a",
        "mongodb": "98277d641a9c0bb9",
        "name": "",
        "collection": "ProyectoGrupo12",
        "operation": "aggregate",
        "x": 750,
        "y": 920,
        "wires": [
            [
                "f99325ba2d269bc1",
                "9cd3807560edf284",
                "bc153547541a4915",
                "e1d5c7ddd1aed521",
                "d5cf9ab978379020",
                "2845f9272b69c54b",
                "94062b5daa0d6525",
                "0e5536a8b3ae50af",
                "4285a89045ae24b9",
                "a0ca089dd62e1ed9"
            ]
        ]
    },
    {
        "id": "f99325ba2d269bc1",
        "type": "csv",
        "z": "2fa3fa15a5e7757a",
        "name": "",
        "sep": ";",
        "hdrin": true,
        "hdrout": "all",
        "multi": "one",
        "ret": "\\r\\n",
        "temp": "Tmedia, Tmax, Tmin, Tdev, Hmedia, Hmax, Hmin, Hdev",
        "skip": 0,
        "strings": true,
        "include_empty_strings": false,
        "include_null_values": false,
        "x": 1110,
        "y": 920,
        "wires": [
            [
                "c7fe49c1f7ea78e4"
            ]
        ]
    },
    {
        "id": "4c56147dde78c462",
        "type": "http response",
        "z": "2fa3fa15a5e7757a",
        "name": "Descarga csv",
        "statusCode": "",
        "headers": {
            "Content-Disposition": "attachment; filename=RegistrosIntervalo.csv"
        },
        "x": 1540,
        "y": 920,
        "wires": []
    },
    {
        "id": "c7fe49c1f7ea78e4",
        "type": "function",
        "z": "2fa3fa15a5e7757a",
        "name": "Unicode y separador",
        "func": "//add Unicode BOM character (byte order mark) to make EXCEL knows this is UTF-8\nif(global.get(\"separador_decimal\")==\"punto\")\n{\n    msg.payload='\\ufeff'+msg.payload;\n\n}\nelse\n{\n    msg.payload='\\ufeff'+(msg.payload).replace(/\\./g,\",\");\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1320,
        "y": 920,
        "wires": [
            [
                "4c56147dde78c462",
                "e497117a46cf2ca2"
            ]
        ]
    },
    {
        "id": "be37f2b4f9d789b9",
        "type": "ui_chart",
        "z": "2fa3fa15a5e7757a",
        "name": "",
        "group": "197dc373ad7e939d",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Evolución Histórica",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1430,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "d04c633872533496",
        "type": "comment",
        "z": "2fa3fa15a5e7757a",
        "name": "Consultas de intervalo: para obtener estadísticas",
        "info": "",
        "x": 300,
        "y": 820,
        "wires": []
    },
    {
        "id": "b467b9686bf3b350",
        "type": "comment",
        "z": "2fa3fa15a5e7757a",
        "name": "Consultas rápidas: evolución de sensores",
        "info": "",
        "x": 220,
        "y": 260,
        "wires": []
    },
    {
        "id": "65319a7c019cee09",
        "type": "function",
        "z": "2fa3fa15a5e7757a",
        "name": "genera datos gráfica",
        "func": "var arraytemp=[];\nvar arrayhum=[];\n\n// los arrays usados en la represenstación gráfica deben contener objetos JSON con dos campos: {x , y}\n// en x debemos poner la hora en formato \"timestamp\". Si tenemos un objeto fecha se puede convertir usando el método getTime()\n// en y debemos poner el valor de la variable\n// mas info en: https://github.com/node-red/node-red-dashboard/blob/master/Charts.md\n\nif(Array.isArray(msg.payload) && msg.payload.length>0)\n{\n    for (var i = 0; i < msg.payload.length; i++) { // añade datos a los array\n        arraytemp.push({x : msg.payload[i].date.getTime() , y : msg.payload[i].temperatura});\n        arrayhum.push({x : msg.payload[i].date.getTime() , y : msg.payload[i].humedad});\n    }\n}\n    \nmsg.payload = [{\n        \"series\":[\"temperatura\",\"humedad\"],\n        \"data\":[arraytemp, arrayhum],\n        \"labels\":[\"\"]\n        }];\n\nreturn msg;  ",
        "outputs": "1",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 560,
        "wires": [
            [
                "be37f2b4f9d789b9",
                "e71452aa8fd97f41"
            ]
        ]
    },
    {
        "id": "69d867f187628dc0",
        "type": "debug",
        "z": "2fa3fa15a5e7757a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1330,
        "y": 340,
        "wires": []
    },
    {
        "id": "33e5877edba8fd3b",
        "type": "link in",
        "z": "2fa3fa15a5e7757a",
        "name": "",
        "links": [
            "7ee5658bfde4dd9e",
            "d9956ad58851a011"
        ],
        "x": 335,
        "y": 880,
        "wires": [
            [
                "c294ce99c7e22930"
            ]
        ]
    },
    {
        "id": "7ee5658bfde4dd9e",
        "type": "link out",
        "z": "2fa3fa15a5e7757a",
        "name": "",
        "links": [
            "33e5877edba8fd3b"
        ],
        "x": 535,
        "y": 1160,
        "wires": []
    },
    {
        "id": "d9956ad58851a011",
        "type": "link out",
        "z": "2fa3fa15a5e7757a",
        "name": "",
        "links": [
            "33e5877edba8fd3b"
        ],
        "x": 535,
        "y": 1100,
        "wires": []
    },
    {
        "id": "425b90fa842f5551",
        "type": "http in",
        "z": "2fa3fa15a5e7757a",
        "name": "",
        "url": "/RegistrosIntervalo",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 920,
        "wires": [
            [
                "c294ce99c7e22930"
            ]
        ]
    },
    {
        "id": "0ca2afd4f8c32575",
        "type": "ui_template",
        "z": "2fa3fa15a5e7757a",
        "group": "e8ac12aa380cb87f",
        "name": "ConsultaRapida",
        "order": 6,
        "width": 0,
        "height": 0,
        "format": "<style>\n.button {\n    text-align: center;\n    font: bold 17px Arial;\n    text-decoration: none;\n    background-color: #439ebf;\n    color: white;\n    padding: 8px 10px;\n    border: 2px solid #CCCCCC;\n  }\n  \n  .button:hover\n  {\n   background-color: #317a94;\n  }\n\n</style>\n<a href=\"/RegistrosConsultaRapida\" class=\"button\">Descarga registros en CSV (EXCEL)</a>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1040,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "f6504e14aea89612",
        "type": "ui_switch",
        "z": "2fa3fa15a5e7757a",
        "name": "Separador Decimal",
        "label": "{{msg.topic}}",
        "tooltip": "",
        "group": "e8ac12aa380cb87f",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 310,
        "y": 1420,
        "wires": [
            [
                "8f11d88ec16933cd"
            ]
        ]
    },
    {
        "id": "fc301af41fd815f4",
        "type": "inject",
        "z": "2fa3fa15a5e7757a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 190.99706649780273,
        "y": 1342.9118814468384,
        "wires": [
            [
                "8f11d88ec16933cd"
            ]
        ]
    },
    {
        "id": "8f11d88ec16933cd",
        "type": "function",
        "z": "2fa3fa15a5e7757a",
        "name": "set global separador_decimal",
        "func": "if(msg.payload===true)\n{\n    global.set(\"separador_decimal\",\"coma\");\n    msg.topic=\"separador decimal = coma\";\n}\nelse\n{\n    global.set(\"separador_decimal\",\"punto\");\n    msg.topic=\"separador decimal = punto\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 519.0084533691406,
        "y": 1343.6192541122437,
        "wires": [
            [
                "f6504e14aea89612"
            ]
        ]
    },
    {
        "id": "4b9222f78cc53cf8",
        "type": "comment",
        "z": "2fa3fa15a5e7757a",
        "name": "Selector de separador decimal (Coma o punto)",
        "info": "",
        "x": 300,
        "y": 1280,
        "wires": []
    },
    {
        "id": "cdc43704757533d9",
        "type": "debug",
        "z": "2fa3fa15a5e7757a",
        "name": "CSV1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1650,
        "y": 360,
        "wires": []
    },
    {
        "id": "e497117a46cf2ca2",
        "type": "debug",
        "z": "2fa3fa15a5e7757a",
        "name": "CSV2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 860,
        "wires": []
    },
    {
        "id": "d5d3585b2b64907a",
        "type": "debug",
        "z": "2fa3fa15a5e7757a",
        "name": "Datos",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 220,
        "wires": []
    },
    {
        "id": "a0ca089dd62e1ed9",
        "type": "debug",
        "z": "2fa3fa15a5e7757a",
        "name": "Consulta2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 740,
        "wires": []
    },
    {
        "id": "842c11faa6aafecf",
        "type": "debug",
        "z": "2fa3fa15a5e7757a",
        "name": "P1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 340,
        "wires": []
    },
    {
        "id": "ff6134363ac9ac6c",
        "type": "change",
        "z": "2fa3fa15a5e7757a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "consulta",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 600,
        "wires": [
            [
                "c0b3b70f5e50c93a",
                "41dd53cb6ba8ef03"
            ]
        ]
    },
    {
        "id": "e71452aa8fd97f41",
        "type": "debug",
        "z": "2fa3fa15a5e7757a",
        "name": "Historico",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1440,
        "y": 620,
        "wires": []
    },
    {
        "id": "41dd53cb6ba8ef03",
        "type": "debug",
        "z": "2fa3fa15a5e7757a",
        "name": "Tipo Consulta",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 600,
        "wires": []
    },
    {
        "id": "dcb4d6823a68c481",
        "type": "mongodb in",
        "z": "2fa3fa15a5e7757a",
        "mongodb": "98277d641a9c0bb9",
        "name": "",
        "collection": "ProyectoGrupo12",
        "operation": "aggregate",
        "x": 930,
        "y": 460,
        "wires": [
            [
                "5e5d9d739bbffb3a",
                "ff460821de79d1ab",
                "65319a7c019cee09"
            ]
        ]
    },
    {
        "id": "a88c30465cf92331",
        "type": "ui_dropdown",
        "z": "2fa3fa15a5e7757a",
        "name": "",
        "label": "Seleccione consulta",
        "tooltip": "",
        "place": "Select option",
        "group": "e8ac12aa380cb87f",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Ultima Hora",
                "value": "hora",
                "type": "str"
            },
            {
                "label": "Ultimo Dia",
                "value": "dia",
                "type": "str"
            },
            {
                "label": "Ultima Semana",
                "value": "semana",
                "type": "str"
            },
            {
                "label": "Ultimo Mes",
                "value": "mes",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "consulta",
        "topicType": "msg",
        "className": "",
        "x": 200,
        "y": 600,
        "wires": [
            [
                "ff6134363ac9ac6c"
            ]
        ]
    },
    {
        "id": "759329fc13f505d4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "98277d641a9c0bb9",
        "type": "mongodb",
        "hostname": "iot.ac.uma.es",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "II12",
        "name": ""
    },
    {
        "id": "e8ac12aa380cb87f",
        "type": "ui_group",
        "name": "Consultas",
        "tab": "0c21156c55c19a41",
        "order": 1,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f437324503dfedde",
        "type": "ui_group",
        "name": "Resultados",
        "tab": "0c21156c55c19a41",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "197dc373ad7e939d",
        "type": "ui_group",
        "name": "Gráficos (Consulta Rápida)",
        "tab": "0c21156c55c19a41",
        "order": 3,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0c21156c55c19a41",
        "type": "ui_tab",
        "name": "Base de Datos",
        "icon": "dashboard",
        "order": 7,
        "disabled": false,
        "hidden": false
    }
]