NodeRED/ConfigFinal.json
[
    {
        "id": "1444351f01d0a6c3",
        "type": "tab",
        "label": "CONFIGURACION",
        "disabled": false,
        "info": ""
    },
    {
        "id": "0a581ab0cf7291d7",
        "type": "mqtt out",
        "z": "1444351f01d0a6c3",
        "name": "config",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "759329fc13f505d4",
        "x": 2450,
        "y": 1860,
        "wires": []
    },
    {
        "id": "0b18a127b19f35c2",
        "type": "function",
        "z": "1444351f01d0a6c3",
        "name": "Placa1",
        "func": "var envia=flow.get(\"envia1\")\nvar actualiza=flow.get(\"actualiza1\")\nvar velocidad=flow.get(\"velocidad1\")\nvar led=global.get(\"polaridad_PWM1\")\nvar switches=flow.get(\"polaridad_SWITCH1\")\nvar id=global.get(\"ID1\")\nvar HumMax=flow.get(\"HumAlarma1\")\nvar HumMin=flow.get(\"HumMin1\")\nvar TempMin=flow.get(\"TempMin1\")\nvar TempMax=flow.get(\"TempAlarma1\")\nvar T_RiegoOFF=flow.get(\"T_RiegoOFF1\")\nvar T_RiegoON=flow.get(\"T_RiegoON1\")\n\nmsg.topic=\"II12/\"+id+\"/config\"\n\nmsg.payload={\"envia\":envia,\"actualiza\":actualiza,\"velocidad\":velocidad,\"LED\":led,\"SWITCH\":switches,\"T_MAX\":TempMax,\"T_MIN\":TempMin,\"HUM_MAX\":HumMax,\"HUM_MIN\":HumMin,\"T_RIEGO_OFF\":T_RiegoOFF,\"T_RIEGO_ON\":T_RiegoON}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2130,
        "y": 1740,
        "wires": [
            [
                "0a581ab0cf7291d7",
                "80bfdc97b950bc92"
            ]
        ]
    },
    {
        "id": "b08371ece6351212",
        "type": "ui_numeric",
        "z": "1444351f01d0a6c3",
        "name": "",
        "label": "Comprobación Actualizaciones",
        "tooltip": "",
        "group": "cb97bafe69eecb1a",
        "order": 12,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} min",
        "min": 0,
        "max": "300",
        "step": "5",
        "className": "",
        "x": 890,
        "y": 2540,
        "wires": [
            [
                "6b42ea5fcfe641d7"
            ]
        ]
    },
    {
        "id": "30123f24fcd41af4",
        "type": "ui_numeric",
        "z": "1444351f01d0a6c3",
        "name": "",
        "label": "Periodo Envio Mensajes",
        "tooltip": "",
        "group": "fa343848e4c8b707",
        "order": 8,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} s",
        "min": "25",
        "max": "500",
        "step": "25",
        "className": "",
        "x": 870,
        "y": 2060,
        "wires": [
            [
                "80547f2cf6b2cf7d"
            ]
        ]
    },
    {
        "id": "b4cdc340f6095c05",
        "type": "ui_numeric",
        "z": "1444351f01d0a6c3",
        "name": "",
        "label": "Velocidad cambio",
        "tooltip": "",
        "group": "cb97bafe69eecb1a",
        "order": 9,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "20",
        "step": 1,
        "className": "",
        "x": 850,
        "y": 2860,
        "wires": [
            [
                "ae5910d0fb6e5a83"
            ]
        ]
    },
    {
        "id": "80547f2cf6b2cf7d",
        "type": "change",
        "z": "1444351f01d0a6c3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "envia1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 2060,
        "wires": [
            [
                "8210f84e8f88cb56"
            ]
        ]
    },
    {
        "id": "6b42ea5fcfe641d7",
        "type": "change",
        "z": "1444351f01d0a6c3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "actualiza4",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1130,
        "y": 2540,
        "wires": [
            [
                "ae87211e1dc50a43"
            ]
        ]
    },
    {
        "id": "ae5910d0fb6e5a83",
        "type": "change",
        "z": "1444351f01d0a6c3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "velocidad4",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1130,
        "y": 2860,
        "wires": [
            [
                "e87d11a2c953abd0"
            ]
        ]
    },
    {
        "id": "6c6c3cb6aefecab0",
        "type": "change",
        "z": "1444351f01d0a6c3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "polaridad_PWM2",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 280,
        "wires": [
            [
                "75068f92cfc3e167"
            ]
        ]
    },
    {
        "id": "080b21305ff5d7a9",
        "type": "ui_switch",
        "z": "1444351f01d0a6c3",
        "name": "",
        "label": "Polaridad LED",
        "tooltip": "",
        "group": "0d4f3fe93d4c9cdf",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 760,
        "y": 280,
        "wires": [
            [
                "6c6c3cb6aefecab0"
            ]
        ]
    },
    {
        "id": "3559ecad47d8c81a",
        "type": "change",
        "z": "1444351f01d0a6c3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "polaridad_SWITCH1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 540,
        "wires": [
            [
                "c1be17163cbc9d4c"
            ]
        ]
    },
    {
        "id": "f5910fa4b0d59fcd",
        "type": "ui_switch",
        "z": "1444351f01d0a6c3",
        "name": "",
        "label": "Polaridad SWITCH",
        "tooltip": "",
        "group": "fa343848e4c8b707",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 790,
        "y": 540,
        "wires": [
            [
                "3559ecad47d8c81a"
            ]
        ]
    },
    {
        "id": "3486b1a625c5d50f",
        "type": "change",
        "z": "1444351f01d0a6c3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "polaridad_SWITCH2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 600,
        "wires": [
            [
                "2d647cf85a2ce8f1"
            ]
        ]
    },
    {
        "id": "955834a5b459b999",
        "type": "ui_switch",
        "z": "1444351f01d0a6c3",
        "name": "",
        "label": "Polaridad SWITCH",
        "tooltip": "",
        "group": "0d4f3fe93d4c9cdf",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 790,
        "y": 600,
        "wires": [
            [
                "3486b1a625c5d50f"
            ]
        ]
    },
    {
        "id": "03ba4116804dd909",
        "type": "change",
        "z": "1444351f01d0a6c3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "polaridad_SWITCH3",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 660,
        "wires": [
            [
                "c723e9ec890c544e"
            ]
        ]
    },
    {
        "id": "d3a0d52643d911e7",
        "type": "ui_switch",
        "z": "1444351f01d0a6c3",
        "name": "",
        "label": "Polaridad SWITCH",
        "tooltip": "",
        "group": "d3960c29166cfabd",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 790,
        "y": 660,
        "wires": [
            [
                "03ba4116804dd909"
            ]
        ]
    },
    {
        "id": "54b30df92e4fa8be",
        "type": "change",
        "z": "1444351f01d0a6c3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "polaridad_SWITCH4",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 720,
        "wires": [
            [
                "6c7668e2cd335d5a"
            ]
        ]
    },
    {
        "id": "44632f63c018cb1e",
        "type": "ui_switch",
        "z": "1444351f01d0a6c3",
        "name": "",
        "label": "Polaridad SWITCH",
        "tooltip": "",
        "group": "cb97bafe69eecb1a",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 790,
        "y": 720,
        "wires": [
            [
                "54b30df92e4fa8be"
            ]
        ]
    },
    {
        "id": "35b169fadeb23bd2",
        "type": "change",
        "z": "1444351f01d0a6c3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "polaridad_PWM1",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 220,
        "wires": [
            [
                "7a79317cde55edde"
            ]
        ]
    },
    {
        "id": "3d4076bc547f84fe",
        "type": "ui_switch",
        "z": "1444351f01d0a6c3",
        "name": "",
        "label": "Polaridad LED",
        "tooltip": "",
        "group": "fa343848e4c8b707",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 760,
        "y": 220,
        "wires": [
            [
                "35b169fadeb23bd2"
            ]
        ]
    },
    {
        "id": "98be5e507a374877",
        "type": "change",
        "z": "1444351f01d0a6c3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "polaridad_PWM4",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 400,
        "wires": [
            [
                "09d3f35f33efcfb4"
            ]
        ]
    },
    {
        "id": "ed111b01e83fdcf1",
        "type": "ui_switch",
        "z": "1444351f01d0a6c3",
        "name": "",
        "label": "Polaridad LED",
        "tooltip": "",
        "group": "cb97bafe69eecb1a",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 760,
        "y": 400,
        "wires": [
            [
                "98be5e507a374877"
            ]
        ]
    },
    {
        "id": "1e2d5cd592df744f",
        "type": "change",
        "z": "1444351f01d0a6c3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "polaridad_PWM3",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 340,
        "wires": [
            [
                "5fbb27904cdee1aa"
            ]
        ]
    },
    {
        "id": "6a5afa7b92485171",
        "type": "ui_switch",
        "z": "1444351f01d0a6c3",
        "name": "",
        "label": "Polaridad LED",
        "tooltip": "",
        "group": "d3960c29166cfabd",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 760,
        "y": 340,
        "wires": [
            [
                "1e2d5cd592df744f"
            ]
        ]
    },
    {
        "id": "7f0e9847ff927497",
        "type": "ui_numeric",
        "z": "1444351f01d0a6c3",
        "name": "",
        "label": "Periodo Envio Mensajes",
        "tooltip": "",
        "group": "0d4f3fe93d4c9cdf",
        "order": 8,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} s",
        "min": "25",
        "max": "500",
        "step": "25",
        "className": "",
        "x": 870,
        "y": 2120,
        "wires": [
            [
                "759b6c89a8dd3360"
            ]
        ]
    },
    {
        "id": "759b6c89a8dd3360",
        "type": "change",
        "z": "1444351f01d0a6c3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "envia2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 2120,
        "wires": [
            [
                "6e71e34b20efc1e2"
            ]
        ]
    },
    {
        "id": "60bba40886b587eb",
        "type": "ui_numeric",
        "z": "1444351f01d0a6c3",
        "name": "",
        "label": "Periodo Envio Mensajes",
        "tooltip": "",
        "group": "d3960c29166cfabd",
        "order": 8,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} s",
        "min": "25",
        "max": "500",
        "step": "25",
        "className": "",
        "x": 870,
        "y": 2180,
        "wires": [
            [
                "8022f2db2127f40f"
            ]
        ]
    },
    {
        "id": "8022f2db2127f40f",
        "type": "change",
        "z": "1444351f01d0a6c3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "envia3",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 2180,
        "wires": [
            [
                "c8608d8b2debe05d"
            ]
        ]
    },
    {
        "id": "059d2f11fd7c03fe",
        "type": "ui_numeric",
        "z": "1444351f01d0a6c3",
        "name": "",
        "label": "Periodo Envio Mensajes",
        "tooltip": "",
        "group": "cb97bafe69eecb1a",
        "order": 8,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} s",
        "min": "25",
        "max": "500",
        "step": "25",
        "className": "",
        "x": 870,
        "y": 2240,
        "wires": [
            [
                "e066c1945c45fa1b"
            ]
        ]
    },
    {
        "id": "e066c1945c45fa1b",
        "type": "change",
        "z": "1444351f01d0a6c3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "envia4",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 2240,
        "wires": [
            [
                "e425be6fa715b88c"
            ]
        ]
    },
    {
        "id": "e141276804869c1e",
        "type": "ui_numeric",
        "z": "1444351f01d0a6c3",
        "name": "",
        "label": "Comprobación Actualizaciones",
        "tooltip": "",
        "group": "d3960c29166cfabd",
        "order": 12,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} min",
        "min": 0,
        "max": "300",
        "step": "5",
        "className": "",
        "x": 890,
        "y": 2480,
        "wires": [
            [
                "d37bd6a49d0a39bb"
            ]
        ]
    },
    {
        "id": "d37bd6a49d0a39bb",
        "type": "change",
        "z": "1444351f01d0a6c3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "actualiza3",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1130,
        "y": 2480,
        "wires": [
            [
                "8dda822b2575ed2a"
            ]
        ]
    },
    {
        "id": "51d3d45828268145",
        "type": "ui_numeric",
        "z": "1444351f01d0a6c3",
        "name": "",
        "label": "Comprobación Actualizaciones",
        "tooltip": "",
        "group": "0d4f3fe93d4c9cdf",
        "order": 12,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} min",
        "min": 0,
        "max": "300",
        "step": "5",
        "className": "",
        "x": 890,
        "y": 2420,
        "wires": [
            [
                "aff52a20b6ac091f"
            ]
        ]
    },
    {
        "id": "aff52a20b6ac091f",
        "type": "change",
        "z": "1444351f01d0a6c3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "actualiza2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1130,
        "y": 2420,
        "wires": [
            [
                "387569a0144b76a8"
            ]
        ]
    },
    {
        "id": "d1b2ec07c4077eb8",
        "type": "ui_numeric",
        "z": "1444351f01d0a6c3",
        "name": "",
        "label": "Comprobación Actualizaciones",
        "tooltip": "",
        "group": "fa343848e4c8b707",
        "order": 12,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} min",
        "min": 0,
        "max": "300",
        "step": "5",
        "className": "",
        "x": 890,
        "y": 2360,
        "wires": [
            [
                "d59af4e79a399ccf"
            ]
        ]
    },
    {
        "id": "d59af4e79a399ccf",
        "type": "change",
        "z": "1444351f01d0a6c3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "actualiza1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1130,
        "y": 2360,
        "wires": [
            [
                "e1d5fa972257d0dc"
            ]
        ]
    },
    {
        "id": "e4cb3fbc02edd164",
        "type": "ui_numeric",
        "z": "1444351f01d0a6c3",
        "name": "",
        "label": "Velocidad cambio",
        "tooltip": "",
        "group": "d3960c29166cfabd",
        "order": 9,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "20",
        "step": 1,
        "className": "",
        "x": 850,
        "y": 2800,
        "wires": [
            [
                "45aa16b91972a330"
            ]
        ]
    },
    {
        "id": "45aa16b91972a330",
        "type": "change",
        "z": "1444351f01d0a6c3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "velocidad3",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1130,
        "y": 2800,
        "wires": [
            [
                "cb10ab4fb4e60efc"
            ]
        ]
    },
    {
        "id": "27efc5e4b40bb6a9",
        "type": "ui_numeric",
        "z": "1444351f01d0a6c3",
        "name": "",
        "label": "Velocidad cambio",
        "tooltip": "",
        "group": "0d4f3fe93d4c9cdf",
        "order": 9,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "20",
        "step": 1,
        "className": "",
        "x": 850,
        "y": 2740,
        "wires": [
            [
                "1c7712144c0bd90b"
            ]
        ]
    },
    {
        "id": "1c7712144c0bd90b",
        "type": "change",
        "z": "1444351f01d0a6c3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "velocidad2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1130,
        "y": 2740,
        "wires": [
            [
                "a0cf81571e4b9e4a"
            ]
        ]
    },
    {
        "id": "5d54b0f5b9ce0e4d",
        "type": "ui_numeric",
        "z": "1444351f01d0a6c3",
        "name": "",
        "label": "Velocidad cambio",
        "tooltip": "",
        "group": "fa343848e4c8b707",
        "order": 9,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "20",
        "step": 1,
        "className": "",
        "x": 850,
        "y": 2680,
        "wires": [
            [
                "5f5f897cab3a3ba5"
            ]
        ]
    },
    {
        "id": "5f5f897cab3a3ba5",
        "type": "change",
        "z": "1444351f01d0a6c3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "velocidad1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1130,
        "y": 2680,
        "wires": [
            [
                "c0391c1909ebb58f"
            ]
        ]
    },
    {
        "id": "b325459f8883b7a1",
        "type": "function",
        "z": "1444351f01d0a6c3",
        "name": "Placa2",
        "func": "var envia=flow.get(\"envia2\")\nvar actualiza=flow.get(\"actualiza2\")\nvar velocidad=flow.get(\"velocidad2\")\nvar led=global.get(\"polaridad_PWM2\")\nvar switches=flow.get(\"polaridad_SWITCH2\")\nvar id=global.get(\"ID2\")\nvar HumMax=flow.get(\"HumAlarma2\")\nvar HumMin=flow.get(\"HumMin2\")\nvar TempMin=flow.get(\"TempMin2\")\nvar TempMax=flow.get(\"TempAlarma2\")\nvar T_RiegoOFF=flow.get(\"T_RiegoOF2\")\nvar T_RiegoON=flow.get(\"T_RiegoON2\")\n\nmsg.topic=\"II12/\"+id+\"/config\"\n\nmsg.payload={\"envia\":envia,\"actualiza\":actualiza,\"velocidad\":velocidad,\"LED\":led,\"SWITCH\":switches,\"T_MAX\":TempMax,\"T_MIN\":TempMin,\"HUM_MAX\":HumMax,\"HUM_MIN\":HumMin,\"T_RIEGO_OFF\":T_RiegoOFF,\"T_RIEGO_ON\":T_RiegoON}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2130,
        "y": 1820,
        "wires": [
            [
                "0a581ab0cf7291d7",
                "a9248578ead2f2ed"
            ]
        ]
    },
    {
        "id": "cb43b0e98d1a8695",
        "type": "function",
        "z": "1444351f01d0a6c3",
        "name": "Placa3",
        "func": "var envia=flow.get(\"envia3\")\nvar actualiza=flow.get(\"actualiza3\")\nvar velocidad=flow.get(\"velocidad3\")\nvar led=global.get(\"polaridad_PWM3\")\nvar switches=flow.get(\"polaridad_SWITCH3\")\nvar id=global.get(\"ID3\")\nvar HumMax=flow.get(\"HumAlarma3\")\nvar HumMin=flow.get(\"HumMin3\")\nvar TempMin=flow.get(\"TempMin3\")\nvar TempMax=flow.get(\"TempAlarma3\")\nvar T_RiegoOFF=flow.get(\"T_RiegoOFF3\")\nvar T_RiegoON=flow.get(\"T_RiegoON3\")\n\nmsg.topic=\"II12/\"+id+\"/config\"\n\nmsg.payload={\"envia\":envia,\"actualiza\":actualiza,\"velocidad\":velocidad,\"LED\":led,\"SWITCH\":switches,\"T_MAX\":TempMax,\"T_MIN\":TempMin,\"HUM_MAX\":HumMax,\"HUM_MIN\":HumMin,\"T_RIEGO_OFF\":T_RiegoOFF,\"T_RIEGO_ON\":T_RiegoON}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2130,
        "y": 1900,
        "wires": [
            [
                "0a581ab0cf7291d7",
                "f73604c0b1accc60"
            ]
        ]
    },
    {
        "id": "06aa17545b69b733",
        "type": "function",
        "z": "1444351f01d0a6c3",
        "name": "Placa4",
        "func": "var envia=flow.get(\"envia4\")\nvar actualiza=flow.get(\"actualiza4\")\nvar velocidad=flow.get(\"velocidad4\")\nvar led=global.get(\"polaridad_PWM4\")\nvar switches=flow.get(\"polaridad_SWITCH4\")\nvar id=global.get(\"ID4\")\nvar HumMax=flow.get(\"HumAlarma4\")\nvar HumMin=flow.get(\"HumMin4\")\nvar TempMin=flow.get(\"TempMin4\")\nvar TempMax=flow.get(\"TempAlarma4\")\nvar T_RiegoOFF=flow.get(\"T_RiegoOFF4\")\nvar T_RiegoON=flow.get(\"T_RiegoON4\")\n\nmsg.topic=\"II12/\"+id+\"/config\"\n\nmsg.payload={\"envia\":envia,\"actualiza\":actualiza,\"velocidad\":velocidad,\"LED\":led,\"SWITCH\":switches,\"T_MAX\":TempMax,\"T_MIN\":TempMin,\"HUM_MAX\":HumMax,\"HUM_MIN\":HumMin,\"T_RIEGO_OFF\":T_RiegoOFF,\"T_RIEGO_ON\":T_RiegoON}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2130,
        "y": 1980,
        "wires": [
            [
                "0a581ab0cf7291d7",
                "3be470eb2c3149f9"
            ]
        ]
    },
    {
        "id": "47c7be491254a1d7",
        "type": "ui_numeric",
        "z": "1444351f01d0a6c3",
        "name": "",
        "label": "Humedad Max",
        "tooltip": "",
        "group": "fa343848e4c8b707",
        "order": 3,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 900,
        "y": 860,
        "wires": [
            [
                "e5e7dd8431f58d79"
            ]
        ]
    },
    {
        "id": "262e3525c6955737",
        "type": "ui_numeric",
        "z": "1444351f01d0a6c3",
        "name": "",
        "label": "Temperatura Max",
        "tooltip": "",
        "group": "cb97bafe69eecb1a",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 850,
        "y": 1340,
        "wires": [
            [
                "bc3962284168ce74"
            ]
        ]
    },
    {
        "id": "bc3962284168ce74",
        "type": "change",
        "z": "1444351f01d0a6c3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "TempAlarma4",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 1340,
        "wires": [
            [
                "919a22c80106964e"
            ]
        ]
    },
    {
        "id": "e5e7dd8431f58d79",
        "type": "change",
        "z": "1444351f01d0a6c3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "HumAlarma1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 860,
        "wires": [
            [
                "7e9dc16deb21b497"
            ]
        ]
    },
    {
        "id": "049673eecd28f1d6",
        "type": "ui_numeric",
        "z": "1444351f01d0a6c3",
        "name": "",
        "label": "Humedad Max",
        "tooltip": "",
        "group": "0d4f3fe93d4c9cdf",
        "order": 3,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 900,
        "y": 920,
        "wires": [
            [
                "88d4d95223752a06"
            ]
        ]
    },
    {
        "id": "88d4d95223752a06",
        "type": "change",
        "z": "1444351f01d0a6c3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "HumAlarma2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 920,
        "wires": [
            [
                "06416ed994f987f5"
            ]
        ]
    },
    {
        "id": "abc3ca9ed09f1240",
        "type": "ui_numeric",
        "z": "1444351f01d0a6c3",
        "name": "",
        "label": "Humedad Max",
        "tooltip": "",
        "group": "d3960c29166cfabd",
        "order": 3,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 900,
        "y": 980,
        "wires": [
            [
                "e9a829c8ffd05096"
            ]
        ]
    },
    {
        "id": "e9a829c8ffd05096",
        "type": "change",
        "z": "1444351f01d0a6c3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "HumAlarma3",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 980,
        "wires": [
            [
                "d858b89df8535f52"
            ]
        ]
    },
    {
        "id": "95a91a4f1753ecb9",
        "type": "ui_numeric",
        "z": "1444351f01d0a6c3",
        "name": "",
        "label": "Humedad Max",
        "tooltip": "",
        "group": "cb97bafe69eecb1a",
        "order": 3,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 900,
        "y": 1040,
        "wires": [
            [
                "84bce4f6ea364a8b"
            ]
        ]
    },
    {
        "id": "84bce4f6ea364a8b",
        "type": "change",
        "z": "1444351f01d0a6c3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "HumAlarma4",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 1040,
        "wires": [
            [
                "03878f27a2febe91"
            ]
        ]
    },
    {
        "id": "fd60efcb9d450ac9",
        "type": "ui_numeric",
        "z": "1444351f01d0a6c3",
        "name": "",
        "label": "Temperatura Max",
        "tooltip": "",
        "group": "d3960c29166cfabd",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 850,
        "y": 1280,
        "wires": [
            [
                "0230e4a6de3e0cf8"
            ]
        ]
    },
    {
        "id": "0230e4a6de3e0cf8",
        "type": "change",
        "z": "1444351f01d0a6c3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "TempAlarma3",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 1280,
        "wires": [
            [
                "40a32af1c2f4aafc"
            ]
        ]
    },
    {
        "id": "32f0c64eb5f1b1f7",
        "type": "ui_numeric",
        "z": "1444351f01d0a6c3",
        "name": "",
        "label": "Temperatura Max",
        "tooltip": "",
        "group": "0d4f3fe93d4c9cdf",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 850,
        "y": 1220,
        "wires": [
            [
                "251b59e0d3bf1781"
            ]
        ]
    },
    {
        "id": "251b59e0d3bf1781",
        "type": "change",
        "z": "1444351f01d0a6c3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "TempAlarma2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 1220,
        "wires": [
            [
                "a452ad566f0e9a57"
            ]
        ]
    },
    {
        "id": "085b85cbc6fd0532",
        "type": "ui_numeric",
        "z": "1444351f01d0a6c3",
        "name": "",
        "label": "Temperatura Max",
        "tooltip": "",
        "group": "fa343848e4c8b707",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 850,
        "y": 1160,
        "wires": [
            [
                "d753fb73cff86130"
            ]
        ]
    },
    {
        "id": "d753fb73cff86130",
        "type": "change",
        "z": "1444351f01d0a6c3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "TempAlarma1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 1160,
        "wires": [
            [
                "91142ad2757ae7ed"
            ]
        ]
    },
    {
        "id": "80bfdc97b950bc92",
        "type": "debug",
        "z": "1444351f01d0a6c3",
        "name": "Placa1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2450,
        "y": 1740,
        "wires": []
    },
    {
        "id": "4e3d5c8882b9ef1e",
        "type": "ui_switch",
        "z": "1444351f01d0a6c3",
        "name": "",
        "label": "Polaridad LED",
        "tooltip": "",
        "group": "67a7277d72090e11",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 340,
        "y": 220,
        "wires": [
            [
                "3d4076bc547f84fe",
                "47af3b306047f7c6",
                "115ff91f4b8bfce6",
                "658c146f05638d4b"
            ]
        ]
    },
    {
        "id": "adf20d148980da23",
        "type": "ui_switch",
        "z": "1444351f01d0a6c3",
        "name": "",
        "label": "Polaridad SWITCH",
        "tooltip": "",
        "group": "67a7277d72090e11",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 290,
        "y": 540,
        "wires": [
            [
                "f5910fa4b0d59fcd",
                "4e6623d2201e6718",
                "6a92fe49d276470b",
                "44cf76d822e0b02a"
            ]
        ]
    },
    {
        "id": "97ee312301f64ca8",
        "type": "ui_numeric",
        "z": "1444351f01d0a6c3",
        "name": "",
        "label": "Humedad Max",
        "tooltip": "",
        "group": "67a7277d72090e11",
        "order": 3,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 420,
        "y": 860,
        "wires": [
            [
                "47c7be491254a1d7",
                "9305b4058a55aaa2",
                "9a12dec34c4ba870",
                "0ae55ee5e107b142"
            ]
        ]
    },
    {
        "id": "7a8a293f944acae1",
        "type": "ui_numeric",
        "z": "1444351f01d0a6c3",
        "name": "",
        "label": "Temperatura Max",
        "tooltip": "",
        "group": "67a7277d72090e11",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 370,
        "y": 1160,
        "wires": [
            [
                "085b85cbc6fd0532",
                "99117bb15b636036",
                "86c4dc985f02cff8",
                "c1a0038fa878c313"
            ]
        ]
    },
    {
        "id": "ace9828e6ffcee24",
        "type": "ui_numeric",
        "z": "1444351f01d0a6c3",
        "name": "",
        "label": "Periodo Envio Mensajes",
        "tooltip": "",
        "group": "67a7277d72090e11",
        "order": 8,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} s",
        "min": "25",
        "max": "500",
        "step": "25",
        "className": "",
        "x": 350,
        "y": 2060,
        "wires": [
            [
                "30123f24fcd41af4",
                "fdf23cb432fb4449",
                "ed333634b0e145d3",
                "73ca364a14fccd0b"
            ]
        ]
    },
    {
        "id": "6674e67767d3a61a",
        "type": "ui_numeric",
        "z": "1444351f01d0a6c3",
        "name": "",
        "label": "Comprobación Actualizaciones",
        "tooltip": "",
        "group": "67a7277d72090e11",
        "order": 12,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} min",
        "min": 0,
        "max": "300",
        "step": "5",
        "className": "",
        "x": 350,
        "y": 2360,
        "wires": [
            [
                "d1b2ec07c4077eb8",
                "99d6dad8fbbdf7aa",
                "5ee391ee5a405f7c",
                "aadfaad3849d3df0"
            ]
        ]
    },
    {
        "id": "c762f6b40c68a5c3",
        "type": "ui_numeric",
        "z": "1444351f01d0a6c3",
        "name": "",
        "label": "Velocidad cambio",
        "tooltip": "",
        "group": "67a7277d72090e11",
        "order": 9,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "20",
        "step": 1,
        "className": "",
        "x": 350,
        "y": 2680,
        "wires": [
            [
                "5d54b0f5b9ce0e4d",
                "3f1d7cf72e609a12",
                "4cdf64a3213fdcb5",
                "4d43fb6e484279f0"
            ]
        ]
    },
    {
        "id": "c237787d1aafbdfd",
        "type": "ui_numeric",
        "z": "1444351f01d0a6c3",
        "name": "",
        "label": "Programar Riego: ",
        "tooltip": "",
        "group": "fa343848e4c8b707",
        "order": 5,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} min",
        "min": "0",
        "max": "1000",
        "step": 1,
        "className": "",
        "x": 830,
        "y": 3000,
        "wires": [
            [
                "e5f86b8076a37597"
            ]
        ]
    },
    {
        "id": "e5f86b8076a37597",
        "type": "change",
        "z": "1444351f01d0a6c3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "T_RiegoOFF1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 3000,
        "wires": [
            [
                "041870d3812bb76e"
            ]
        ]
    },
    {
        "id": "0d4b19925f845841",
        "type": "ui_numeric",
        "z": "1444351f01d0a6c3",
        "name": "",
        "label": "Tiempo de riego",
        "tooltip": "",
        "group": "fa343848e4c8b707",
        "order": 6,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} min",
        "min": "0",
        "max": "120",
        "step": 1,
        "className": "",
        "x": 900,
        "y": 3320,
        "wires": [
            [
                "3f5985b8af1c4e3e"
            ]
        ]
    },
    {
        "id": "ec3d6a27ddac6325",
        "type": "ui_numeric",
        "z": "1444351f01d0a6c3",
        "name": "",
        "label": "Tiempo de riego",
        "tooltip": "",
        "group": "0d4f3fe93d4c9cdf",
        "order": 6,
        "width": 6,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} min",
        "min": "0",
        "max": "120",
        "step": 1,
        "className": "",
        "x": 900,
        "y": 3380,
        "wires": [
            [
                "783e0b464b52a5c6"
            ]
        ]
    },
    {
        "id": "ca3295ed0f26bf88",
        "type": "ui_numeric",
        "z": "1444351f01d0a6c3",
        "name": "",
        "label": "Tiempo de riego",
        "tooltip": "",
        "group": "d3960c29166cfabd",
        "order": 6,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} min",
        "min": "0",
        "max": "120",
        "step": 1,
        "className": "",
        "x": 900,
        "y": 3440,
        "wires": [
            [
                "a5cc73aca4713711"
            ]
        ]
    },
    {
        "id": "f45d9587a75d06cf",
        "type": "ui_numeric",
        "z": "1444351f01d0a6c3",
        "name": "",
        "label": "Tiempo de riego",
        "tooltip": "",
        "group": "cb97bafe69eecb1a",
        "order": 6,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} min",
        "min": "0",
        "max": "120",
        "step": 1,
        "className": "",
        "x": 900,
        "y": 3500,
        "wires": [
            [
                "71bdf9a78ecf210c"
            ]
        ]
    },
    {
        "id": "a32f67eeb7a41250",
        "type": "ui_numeric",
        "z": "1444351f01d0a6c3",
        "name": "",
        "label": "Tiempo de riego",
        "tooltip": "",
        "group": "67a7277d72090e11",
        "order": 6,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} min",
        "min": "0",
        "max": "120",
        "step": 1,
        "className": "",
        "x": 440,
        "y": 3320,
        "wires": [
            [
                "0d4b19925f845841",
                "848062cd6854b5ed",
                "db681ca53afb2d47",
                "3ff13362ed359b39"
            ]
        ]
    },
    {
        "id": "e08abc5d97152514",
        "type": "ui_numeric",
        "z": "1444351f01d0a6c3",
        "name": "",
        "label": "Programar Riego: ",
        "tooltip": "",
        "group": "0d4f3fe93d4c9cdf",
        "order": 5,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "1000",
        "step": 1,
        "className": "",
        "x": 830,
        "y": 3060,
        "wires": [
            [
                "41109aac9aba8976"
            ]
        ]
    },
    {
        "id": "41109aac9aba8976",
        "type": "change",
        "z": "1444351f01d0a6c3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "T_RiegoOFF2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 3060,
        "wires": [
            [
                "8cb4cb0715180ebc"
            ]
        ]
    },
    {
        "id": "b9f01e26d7f8bfbb",
        "type": "ui_numeric",
        "z": "1444351f01d0a6c3",
        "name": "",
        "label": "Programar Riego: ",
        "tooltip": "",
        "group": "d3960c29166cfabd",
        "order": 5,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "1000",
        "step": 1,
        "className": "",
        "x": 830,
        "y": 3120,
        "wires": [
            [
                "8039791ce0372cd1"
            ]
        ]
    },
    {
        "id": "8039791ce0372cd1",
        "type": "change",
        "z": "1444351f01d0a6c3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "T_RiegoOFF3",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 3120,
        "wires": [
            [
                "7adafc52614f75c0"
            ]
        ]
    },
    {
        "id": "c958aeaca19715e3",
        "type": "ui_numeric",
        "z": "1444351f01d0a6c3",
        "name": "",
        "label": "Programar Riego: ",
        "tooltip": "",
        "group": "cb97bafe69eecb1a",
        "order": 5,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "1000",
        "step": 1,
        "className": "",
        "x": 830,
        "y": 3180,
        "wires": [
            [
                "27864292d9e89883"
            ]
        ]
    },
    {
        "id": "27864292d9e89883",
        "type": "change",
        "z": "1444351f01d0a6c3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "T_RiegoOFF4",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 3180,
        "wires": [
            [
                "9925a65b37985c11"
            ]
        ]
    },
    {
        "id": "ad79271712b5c8a3",
        "type": "ui_numeric",
        "z": "1444351f01d0a6c3",
        "name": "",
        "label": "Programar Riego: ",
        "tooltip": "",
        "group": "67a7277d72090e11",
        "order": 5,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "1000",
        "step": 1,
        "className": "",
        "x": 350,
        "y": 3000,
        "wires": [
            [
                "c237787d1aafbdfd",
                "b849d996bd3e61ec",
                "42028d2d07fa5239",
                "3c591bb085f4d52b"
            ]
        ]
    },
    {
        "id": "3f5985b8af1c4e3e",
        "type": "change",
        "z": "1444351f01d0a6c3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "T_RiegoON1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 3320,
        "wires": [
            [
                "02017b970d830307"
            ]
        ]
    },
    {
        "id": "783e0b464b52a5c6",
        "type": "change",
        "z": "1444351f01d0a6c3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "T_RiegoON2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 3380,
        "wires": [
            [
                "98f82f1fd64a4373"
            ]
        ]
    },
    {
        "id": "a5cc73aca4713711",
        "type": "change",
        "z": "1444351f01d0a6c3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "T_RiegoON3",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 3440,
        "wires": [
            [
                "42844e71b9c750dd"
            ]
        ]
    },
    {
        "id": "71bdf9a78ecf210c",
        "type": "change",
        "z": "1444351f01d0a6c3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "T_RiegoON4",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 3500,
        "wires": [
            [
                "6ab7e462434123a4"
            ]
        ]
    },
    {
        "id": "386b51f717193844",
        "type": "comment",
        "z": "1444351f01d0a6c3",
        "name": "Datos de Configuracion",
        "info": "",
        "x": 320,
        "y": 120,
        "wires": []
    },
    {
        "id": "47af3b306047f7c6",
        "type": "delay",
        "z": "1444351f01d0a6c3",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 570,
        "y": 280,
        "wires": [
            [
                "080b21305ff5d7a9"
            ]
        ]
    },
    {
        "id": "115ff91f4b8bfce6",
        "type": "delay",
        "z": "1444351f01d0a6c3",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 570,
        "y": 340,
        "wires": [
            [
                "6a5afa7b92485171"
            ]
        ]
    },
    {
        "id": "658c146f05638d4b",
        "type": "delay",
        "z": "1444351f01d0a6c3",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 570,
        "y": 400,
        "wires": [
            [
                "ed111b01e83fdcf1"
            ]
        ]
    },
    {
        "id": "4e6623d2201e6718",
        "type": "delay",
        "z": "1444351f01d0a6c3",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 570,
        "y": 600,
        "wires": [
            [
                "955834a5b459b999"
            ]
        ]
    },
    {
        "id": "6a92fe49d276470b",
        "type": "delay",
        "z": "1444351f01d0a6c3",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 570,
        "y": 660,
        "wires": [
            [
                "d3a0d52643d911e7"
            ]
        ]
    },
    {
        "id": "44cf76d822e0b02a",
        "type": "delay",
        "z": "1444351f01d0a6c3",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 570,
        "y": 720,
        "wires": [
            [
                "44632f63c018cb1e"
            ]
        ]
    },
    {
        "id": "005f93a493f89701",
        "type": "inject",
        "z": "1444351f01d0a6c3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "70",
        "payloadType": "json",
        "x": 250,
        "y": 860,
        "wires": [
            [
                "97ee312301f64ca8"
            ]
        ]
    },
    {
        "id": "9305b4058a55aaa2",
        "type": "delay",
        "z": "1444351f01d0a6c3",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 690,
        "y": 920,
        "wires": [
            [
                "049673eecd28f1d6"
            ]
        ]
    },
    {
        "id": "9a12dec34c4ba870",
        "type": "delay",
        "z": "1444351f01d0a6c3",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 690,
        "y": 980,
        "wires": [
            [
                "abc3ca9ed09f1240"
            ]
        ]
    },
    {
        "id": "0ae55ee5e107b142",
        "type": "delay",
        "z": "1444351f01d0a6c3",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 690,
        "y": 1040,
        "wires": [
            [
                "95a91a4f1753ecb9"
            ]
        ]
    },
    {
        "id": "4ae7ee8d131a39a2",
        "type": "inject",
        "z": "1444351f01d0a6c3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "40",
        "payloadType": "json",
        "x": 170,
        "y": 1160,
        "wires": [
            [
                "7a8a293f944acae1"
            ]
        ]
    },
    {
        "id": "99117bb15b636036",
        "type": "delay",
        "z": "1444351f01d0a6c3",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 630,
        "y": 1220,
        "wires": [
            [
                "32f0c64eb5f1b1f7"
            ]
        ]
    },
    {
        "id": "86c4dc985f02cff8",
        "type": "delay",
        "z": "1444351f01d0a6c3",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 630,
        "y": 1280,
        "wires": [
            [
                "fd60efcb9d450ac9"
            ]
        ]
    },
    {
        "id": "c1a0038fa878c313",
        "type": "delay",
        "z": "1444351f01d0a6c3",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 630,
        "y": 1340,
        "wires": [
            [
                "262e3525c6955737"
            ]
        ]
    },
    {
        "id": "0a3befd170b85fd7",
        "type": "inject",
        "z": "1444351f01d0a6c3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "30",
        "payloadType": "json",
        "x": 130,
        "y": 2060,
        "wires": [
            [
                "ace9828e6ffcee24"
            ]
        ]
    },
    {
        "id": "fdf23cb432fb4449",
        "type": "delay",
        "z": "1444351f01d0a6c3",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 650,
        "y": 2120,
        "wires": [
            [
                "7f0e9847ff927497"
            ]
        ]
    },
    {
        "id": "ed333634b0e145d3",
        "type": "delay",
        "z": "1444351f01d0a6c3",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 650,
        "y": 2180,
        "wires": [
            [
                "60bba40886b587eb"
            ]
        ]
    },
    {
        "id": "73ca364a14fccd0b",
        "type": "delay",
        "z": "1444351f01d0a6c3",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 650,
        "y": 2240,
        "wires": [
            [
                "059d2f11fd7c03fe"
            ]
        ]
    },
    {
        "id": "d2f223dcce264f71",
        "type": "inject",
        "z": "1444351f01d0a6c3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "json",
        "x": 130,
        "y": 2360,
        "wires": [
            [
                "6674e67767d3a61a"
            ]
        ]
    },
    {
        "id": "99d6dad8fbbdf7aa",
        "type": "delay",
        "z": "1444351f01d0a6c3",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 670,
        "y": 2420,
        "wires": [
            [
                "51d3d45828268145"
            ]
        ]
    },
    {
        "id": "5ee391ee5a405f7c",
        "type": "delay",
        "z": "1444351f01d0a6c3",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 670,
        "y": 2480,
        "wires": [
            [
                "e141276804869c1e"
            ]
        ]
    },
    {
        "id": "aadfaad3849d3df0",
        "type": "delay",
        "z": "1444351f01d0a6c3",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 670,
        "y": 2540,
        "wires": [
            [
                "b08371ece6351212"
            ]
        ]
    },
    {
        "id": "3f1d7cf72e609a12",
        "type": "delay",
        "z": "1444351f01d0a6c3",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 650,
        "y": 2740,
        "wires": [
            [
                "27efc5e4b40bb6a9"
            ]
        ]
    },
    {
        "id": "4cdf64a3213fdcb5",
        "type": "delay",
        "z": "1444351f01d0a6c3",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 650,
        "y": 2800,
        "wires": [
            [
                "e4cb3fbc02edd164"
            ]
        ]
    },
    {
        "id": "4d43fb6e484279f0",
        "type": "delay",
        "z": "1444351f01d0a6c3",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 650,
        "y": 2860,
        "wires": [
            [
                "b4cdc340f6095c05"
            ]
        ]
    },
    {
        "id": "e7da0ea7a0c56a07",
        "type": "inject",
        "z": "1444351f01d0a6c3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0.01",
        "payloadType": "json",
        "x": 170,
        "y": 2680,
        "wires": [
            [
                "c762f6b40c68a5c3"
            ]
        ]
    },
    {
        "id": "d8e3e3077b354bcf",
        "type": "inject",
        "z": "1444351f01d0a6c3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "30",
        "payloadType": "json",
        "x": 170,
        "y": 3000,
        "wires": [
            [
                "ad79271712b5c8a3"
            ]
        ]
    },
    {
        "id": "b849d996bd3e61ec",
        "type": "delay",
        "z": "1444351f01d0a6c3",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 610,
        "y": 3060,
        "wires": [
            [
                "e08abc5d97152514"
            ]
        ]
    },
    {
        "id": "42028d2d07fa5239",
        "type": "delay",
        "z": "1444351f01d0a6c3",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 610,
        "y": 3120,
        "wires": [
            [
                "b9f01e26d7f8bfbb"
            ]
        ]
    },
    {
        "id": "3c591bb085f4d52b",
        "type": "delay",
        "z": "1444351f01d0a6c3",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 610,
        "y": 3180,
        "wires": [
            [
                "c958aeaca19715e3"
            ]
        ]
    },
    {
        "id": "d1a30e0f72a1fefa",
        "type": "inject",
        "z": "1444351f01d0a6c3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "15",
        "payloadType": "json",
        "x": 270,
        "y": 3320,
        "wires": [
            [
                "a32f67eeb7a41250"
            ]
        ]
    },
    {
        "id": "848062cd6854b5ed",
        "type": "delay",
        "z": "1444351f01d0a6c3",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 710,
        "y": 3380,
        "wires": [
            [
                "ec3d6a27ddac6325"
            ]
        ]
    },
    {
        "id": "db681ca53afb2d47",
        "type": "delay",
        "z": "1444351f01d0a6c3",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 710,
        "y": 3440,
        "wires": [
            [
                "ca3295ed0f26bf88"
            ]
        ]
    },
    {
        "id": "3ff13362ed359b39",
        "type": "delay",
        "z": "1444351f01d0a6c3",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 710,
        "y": 3500,
        "wires": [
            [
                "f45d9587a75d06cf"
            ]
        ]
    },
    {
        "id": "e1f4ed6af4cfec5e",
        "type": "ui_numeric",
        "z": "1444351f01d0a6c3",
        "name": "",
        "label": "Humedad Min",
        "tooltip": "",
        "group": "fa343848e4c8b707",
        "order": 4,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 880,
        "y": 1460,
        "wires": [
            [
                "a6386603b765b17c"
            ]
        ]
    },
    {
        "id": "d0cb0cefbd8d8d11",
        "type": "ui_numeric",
        "z": "1444351f01d0a6c3",
        "name": "",
        "label": "Temperatura Min",
        "tooltip": "",
        "group": "cb97bafe69eecb1a",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 850,
        "y": 1940,
        "wires": [
            [
                "a2b9e9f3a1b96459"
            ]
        ]
    },
    {
        "id": "a2b9e9f3a1b96459",
        "type": "change",
        "z": "1444351f01d0a6c3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "TempMin4",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 1940,
        "wires": [
            [
                "deafe28125137dd0"
            ]
        ]
    },
    {
        "id": "a6386603b765b17c",
        "type": "change",
        "z": "1444351f01d0a6c3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "HumMin1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 1460,
        "wires": [
            [
                "9d7416dc2ba47062"
            ]
        ]
    },
    {
        "id": "68a3fea307a1a9e5",
        "type": "ui_numeric",
        "z": "1444351f01d0a6c3",
        "name": "",
        "label": "Humedad Min",
        "tooltip": "",
        "group": "0d4f3fe93d4c9cdf",
        "order": 4,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 880,
        "y": 1520,
        "wires": [
            [
                "370ad36ef57211d6"
            ]
        ]
    },
    {
        "id": "370ad36ef57211d6",
        "type": "change",
        "z": "1444351f01d0a6c3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "HumMin2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 1520,
        "wires": [
            [
                "781332190495dfba"
            ]
        ]
    },
    {
        "id": "51f74eb2a99f73bf",
        "type": "ui_numeric",
        "z": "1444351f01d0a6c3",
        "name": "",
        "label": "Humedad Min",
        "tooltip": "",
        "group": "d3960c29166cfabd",
        "order": 4,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 880,
        "y": 1580,
        "wires": [
            [
                "1845a7ef2a09e6a9"
            ]
        ]
    },
    {
        "id": "1845a7ef2a09e6a9",
        "type": "change",
        "z": "1444351f01d0a6c3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "HumMin3",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 1580,
        "wires": [
            [
                "eb63fc540fc5e178"
            ]
        ]
    },
    {
        "id": "643b07884e783645",
        "type": "ui_numeric",
        "z": "1444351f01d0a6c3",
        "name": "",
        "label": "Humedad Min",
        "tooltip": "",
        "group": "cb97bafe69eecb1a",
        "order": 4,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 880,
        "y": 1640,
        "wires": [
            [
                "a424b33fabc69c01"
            ]
        ]
    },
    {
        "id": "a424b33fabc69c01",
        "type": "change",
        "z": "1444351f01d0a6c3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "HumMin4",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 1640,
        "wires": [
            [
                "dac69e40f5f3808f"
            ]
        ]
    },
    {
        "id": "98f0e3ce60de5028",
        "type": "ui_numeric",
        "z": "1444351f01d0a6c3",
        "name": "",
        "label": "Temperatura Min",
        "tooltip": "",
        "group": "d3960c29166cfabd",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 850,
        "y": 1880,
        "wires": [
            [
                "ade0f7c4fbe78c82"
            ]
        ]
    },
    {
        "id": "ade0f7c4fbe78c82",
        "type": "change",
        "z": "1444351f01d0a6c3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "TempMin3",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 1880,
        "wires": [
            [
                "53489315aa352376"
            ]
        ]
    },
    {
        "id": "296a50fc51a1e287",
        "type": "ui_numeric",
        "z": "1444351f01d0a6c3",
        "name": "",
        "label": "Temperatura Min",
        "tooltip": "",
        "group": "0d4f3fe93d4c9cdf",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 850,
        "y": 1820,
        "wires": [
            [
                "14eb3371dbd67fe3"
            ]
        ]
    },
    {
        "id": "14eb3371dbd67fe3",
        "type": "change",
        "z": "1444351f01d0a6c3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "TempMin2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 1820,
        "wires": [
            [
                "6ec241ec471afbc0"
            ]
        ]
    },
    {
        "id": "2993a74417c4c896",
        "type": "ui_numeric",
        "z": "1444351f01d0a6c3",
        "name": "",
        "label": "Temperatura Min",
        "tooltip": "",
        "group": "fa343848e4c8b707",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 850,
        "y": 1760,
        "wires": [
            [
                "5c2b862b04edb5b6"
            ]
        ]
    },
    {
        "id": "5c2b862b04edb5b6",
        "type": "change",
        "z": "1444351f01d0a6c3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "TempMin1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 1760,
        "wires": [
            [
                "1e8ea632dd096369"
            ]
        ]
    },
    {
        "id": "eb1cf35edfa3bf23",
        "type": "ui_numeric",
        "z": "1444351f01d0a6c3",
        "name": "",
        "label": "Humedad Min",
        "tooltip": "",
        "group": "67a7277d72090e11",
        "order": 4,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 380,
        "y": 1460,
        "wires": [
            [
                "e1f4ed6af4cfec5e",
                "1ed0cece2aebf79f",
                "c929a19413a8c3e9",
                "8e1d12e5946f9fa3"
            ]
        ]
    },
    {
        "id": "29f0c01cde9e352f",
        "type": "ui_numeric",
        "z": "1444351f01d0a6c3",
        "name": "",
        "label": "Temperatura Min",
        "tooltip": "",
        "group": "67a7277d72090e11",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 330,
        "y": 1760,
        "wires": [
            [
                "2993a74417c4c896",
                "8f1895167bc067c0",
                "641deb64798e0693",
                "fd169daf07ee37c4"
            ]
        ]
    },
    {
        "id": "8adf46340ff18929",
        "type": "inject",
        "z": "1444351f01d0a6c3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "20",
        "payloadType": "json",
        "x": 210,
        "y": 1460,
        "wires": [
            [
                "eb1cf35edfa3bf23"
            ]
        ]
    },
    {
        "id": "1ed0cece2aebf79f",
        "type": "delay",
        "z": "1444351f01d0a6c3",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 670,
        "y": 1520,
        "wires": [
            [
                "68a3fea307a1a9e5"
            ]
        ]
    },
    {
        "id": "c929a19413a8c3e9",
        "type": "delay",
        "z": "1444351f01d0a6c3",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 670,
        "y": 1580,
        "wires": [
            [
                "51f74eb2a99f73bf"
            ]
        ]
    },
    {
        "id": "8e1d12e5946f9fa3",
        "type": "delay",
        "z": "1444351f01d0a6c3",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 670,
        "y": 1640,
        "wires": [
            [
                "643b07884e783645"
            ]
        ]
    },
    {
        "id": "6d791189ef820508",
        "type": "inject",
        "z": "1444351f01d0a6c3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "json",
        "x": 130,
        "y": 1760,
        "wires": [
            [
                "29f0c01cde9e352f"
            ]
        ]
    },
    {
        "id": "8f1895167bc067c0",
        "type": "delay",
        "z": "1444351f01d0a6c3",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 630,
        "y": 1820,
        "wires": [
            [
                "296a50fc51a1e287"
            ]
        ]
    },
    {
        "id": "641deb64798e0693",
        "type": "delay",
        "z": "1444351f01d0a6c3",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 630,
        "y": 1880,
        "wires": [
            [
                "98f0e3ce60de5028"
            ]
        ]
    },
    {
        "id": "fd169daf07ee37c4",
        "type": "delay",
        "z": "1444351f01d0a6c3",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 630,
        "y": 1940,
        "wires": [
            [
                "d0cb0cefbd8d8d11"
            ]
        ]
    },
    {
        "id": "a9248578ead2f2ed",
        "type": "debug",
        "z": "1444351f01d0a6c3",
        "name": "Placa2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2450,
        "y": 1820,
        "wires": []
    },
    {
        "id": "bc86406ca35f07b1",
        "type": "ui_text",
        "z": "1444351f01d0a6c3",
        "group": "fa343848e4c8b707",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SISTEMA",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 2060,
        "y": 1540,
        "wires": []
    },
    {
        "id": "55b1756316f6e4fb",
        "type": "ui_text",
        "z": "1444351f01d0a6c3",
        "group": "0d4f3fe93d4c9cdf",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SISTEMA",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 2060,
        "y": 1600,
        "wires": []
    },
    {
        "id": "382a48b1f95f1f64",
        "type": "ui_text",
        "z": "1444351f01d0a6c3",
        "group": "d3960c29166cfabd",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SISTEMA",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 2240,
        "y": 1540,
        "wires": []
    },
    {
        "id": "323162a3b0c8622d",
        "type": "ui_text",
        "z": "1444351f01d0a6c3",
        "group": "cb97bafe69eecb1a",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SISTEMA",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 2240,
        "y": 1600,
        "wires": []
    },
    {
        "id": "84ece5a386a6979f",
        "type": "comment",
        "z": "1444351f01d0a6c3",
        "name": "Elemento estetico ",
        "info": "",
        "x": 2100,
        "y": 1480,
        "wires": []
    },
    {
        "id": "083a13d2d221a447",
        "type": "ui_text",
        "z": "1444351f01d0a6c3",
        "group": "67a7277d72090e11",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SISTEMA",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 2400,
        "y": 1540,
        "wires": []
    },
    {
        "id": "7a79317cde55edde",
        "type": "link out",
        "z": "1444351f01d0a6c3",
        "name": "Polaridad_PWM1",
        "links": [
            "db8f7a8a899c9446"
        ],
        "x": 1275,
        "y": 220,
        "wires": []
    },
    {
        "id": "db8f7a8a899c9446",
        "type": "link in",
        "z": "1444351f01d0a6c3",
        "name": "Funcion1",
        "links": [
            "02017b970d830307",
            "041870d3812bb76e",
            "1e8ea632dd096369",
            "7a79317cde55edde",
            "7e9dc16deb21b497",
            "8210f84e8f88cb56",
            "91142ad2757ae7ed",
            "9d7416dc2ba47062",
            "c0391c1909ebb58f",
            "c1be17163cbc9d4c",
            "e1d5fa972257d0dc"
        ],
        "x": 2025,
        "y": 1740,
        "wires": [
            [
                "0b18a127b19f35c2"
            ]
        ]
    },
    {
        "id": "c1be17163cbc9d4c",
        "type": "link out",
        "z": "1444351f01d0a6c3",
        "name": "Polaridad_SWITCH1",
        "links": [
            "db8f7a8a899c9446"
        ],
        "x": 1275,
        "y": 540,
        "wires": []
    },
    {
        "id": "7e9dc16deb21b497",
        "type": "link out",
        "z": "1444351f01d0a6c3",
        "name": "HumedadAlarma1",
        "links": [
            "db8f7a8a899c9446"
        ],
        "x": 1275,
        "y": 860,
        "wires": []
    },
    {
        "id": "91142ad2757ae7ed",
        "type": "link out",
        "z": "1444351f01d0a6c3",
        "name": "TemperaturaAlarma1",
        "links": [
            "db8f7a8a899c9446"
        ],
        "x": 1275,
        "y": 1160,
        "wires": []
    },
    {
        "id": "9d7416dc2ba47062",
        "type": "link out",
        "z": "1444351f01d0a6c3",
        "name": "HumedadMinima1",
        "links": [
            "db8f7a8a899c9446"
        ],
        "x": 1275,
        "y": 1460,
        "wires": []
    },
    {
        "id": "1e8ea632dd096369",
        "type": "link out",
        "z": "1444351f01d0a6c3",
        "name": "TMin1",
        "links": [
            "db8f7a8a899c9446"
        ],
        "x": 1275,
        "y": 1760,
        "wires": []
    },
    {
        "id": "8210f84e8f88cb56",
        "type": "link out",
        "z": "1444351f01d0a6c3",
        "name": "Envia1",
        "links": [
            "db8f7a8a899c9446"
        ],
        "x": 1275,
        "y": 2060,
        "wires": []
    },
    {
        "id": "e1d5fa972257d0dc",
        "type": "link out",
        "z": "1444351f01d0a6c3",
        "name": "Actualiza1",
        "links": [
            "db8f7a8a899c9446"
        ],
        "x": 1275,
        "y": 2360,
        "wires": []
    },
    {
        "id": "c0391c1909ebb58f",
        "type": "link out",
        "z": "1444351f01d0a6c3",
        "name": "Velocidad1",
        "links": [
            "db8f7a8a899c9446"
        ],
        "x": 1275,
        "y": 2680,
        "wires": []
    },
    {
        "id": "041870d3812bb76e",
        "type": "link out",
        "z": "1444351f01d0a6c3",
        "name": "RiegoOff1",
        "links": [
            "db8f7a8a899c9446"
        ],
        "x": 1275,
        "y": 3000,
        "wires": []
    },
    {
        "id": "02017b970d830307",
        "type": "link out",
        "z": "1444351f01d0a6c3",
        "name": "RiegoOn1",
        "links": [
            "db8f7a8a899c9446"
        ],
        "x": 1275,
        "y": 3320,
        "wires": []
    },
    {
        "id": "ef44a9399145fcea",
        "type": "link in",
        "z": "1444351f01d0a6c3",
        "name": "Funcion2",
        "links": [
            "06416ed994f987f5",
            "2d647cf85a2ce8f1",
            "387569a0144b76a8",
            "6e71e34b20efc1e2",
            "6ec241ec471afbc0",
            "75068f92cfc3e167",
            "781332190495dfba",
            "8cb4cb0715180ebc",
            "98f82f1fd64a4373",
            "a0cf81571e4b9e4a",
            "a452ad566f0e9a57"
        ],
        "x": 2025,
        "y": 1820,
        "wires": [
            [
                "b325459f8883b7a1"
            ]
        ]
    },
    {
        "id": "75068f92cfc3e167",
        "type": "link out",
        "z": "1444351f01d0a6c3",
        "name": "PolaridadPWM2",
        "links": [
            "ef44a9399145fcea"
        ],
        "x": 1275,
        "y": 280,
        "wires": []
    },
    {
        "id": "2d647cf85a2ce8f1",
        "type": "link out",
        "z": "1444351f01d0a6c3",
        "name": "PolaridadSWITCH2",
        "links": [
            "ef44a9399145fcea"
        ],
        "x": 1275,
        "y": 600,
        "wires": []
    },
    {
        "id": "06416ed994f987f5",
        "type": "link out",
        "z": "1444351f01d0a6c3",
        "name": "HAlarma2",
        "links": [
            "ef44a9399145fcea"
        ],
        "x": 1275,
        "y": 920,
        "wires": []
    },
    {
        "id": "a452ad566f0e9a57",
        "type": "link out",
        "z": "1444351f01d0a6c3",
        "name": "TAlarma2",
        "links": [
            "ef44a9399145fcea"
        ],
        "x": 1275,
        "y": 1220,
        "wires": []
    },
    {
        "id": "781332190495dfba",
        "type": "link out",
        "z": "1444351f01d0a6c3",
        "name": "HMin2",
        "links": [
            "ef44a9399145fcea"
        ],
        "x": 1275,
        "y": 1520,
        "wires": []
    },
    {
        "id": "6ec241ec471afbc0",
        "type": "link out",
        "z": "1444351f01d0a6c3",
        "name": "TMin2",
        "links": [
            "ef44a9399145fcea"
        ],
        "x": 1275,
        "y": 1820,
        "wires": []
    },
    {
        "id": "6e71e34b20efc1e2",
        "type": "link out",
        "z": "1444351f01d0a6c3",
        "name": "Envia2",
        "links": [
            "ef44a9399145fcea"
        ],
        "x": 1275,
        "y": 2120,
        "wires": []
    },
    {
        "id": "387569a0144b76a8",
        "type": "link out",
        "z": "1444351f01d0a6c3",
        "name": "Actualiza2",
        "links": [
            "ef44a9399145fcea"
        ],
        "x": 1275,
        "y": 2420,
        "wires": []
    },
    {
        "id": "a0cf81571e4b9e4a",
        "type": "link out",
        "z": "1444351f01d0a6c3",
        "name": "Velocidad2",
        "links": [
            "ef44a9399145fcea"
        ],
        "x": 1275,
        "y": 2740,
        "wires": []
    },
    {
        "id": "8cb4cb0715180ebc",
        "type": "link out",
        "z": "1444351f01d0a6c3",
        "name": "RiegoOff2",
        "links": [
            "ef44a9399145fcea"
        ],
        "x": 1275,
        "y": 3060,
        "wires": []
    },
    {
        "id": "98f82f1fd64a4373",
        "type": "link out",
        "z": "1444351f01d0a6c3",
        "name": "RiegoOn2",
        "links": [
            "ef44a9399145fcea"
        ],
        "x": 1275,
        "y": 3380,
        "wires": []
    },
    {
        "id": "e9fe0f801a7414e9",
        "type": "link in",
        "z": "1444351f01d0a6c3",
        "name": "Funcion3",
        "links": [
            "40a32af1c2f4aafc",
            "42844e71b9c750dd",
            "53489315aa352376",
            "5fbb27904cdee1aa",
            "7adafc52614f75c0",
            "8dda822b2575ed2a",
            "c723e9ec890c544e",
            "c8608d8b2debe05d",
            "cb10ab4fb4e60efc",
            "d858b89df8535f52",
            "eb63fc540fc5e178"
        ],
        "x": 2025,
        "y": 1900,
        "wires": [
            [
                "cb43b0e98d1a8695"
            ]
        ]
    },
    {
        "id": "87864b6a2c1e23e6",
        "type": "link in",
        "z": "1444351f01d0a6c3",
        "name": "Funcion4",
        "links": [
            "03878f27a2febe91",
            "09d3f35f33efcfb4",
            "6ab7e462434123a4",
            "6c7668e2cd335d5a",
            "919a22c80106964e",
            "9925a65b37985c11",
            "ae87211e1dc50a43",
            "dac69e40f5f3808f",
            "deafe28125137dd0",
            "e425be6fa715b88c",
            "e87d11a2c953abd0"
        ],
        "x": 2025,
        "y": 1980,
        "wires": [
            [
                "06aa17545b69b733"
            ]
        ]
    },
    {
        "id": "5fbb27904cdee1aa",
        "type": "link out",
        "z": "1444351f01d0a6c3",
        "name": "PolaridadPWM3",
        "links": [
            "e9fe0f801a7414e9"
        ],
        "x": 1275,
        "y": 340,
        "wires": []
    },
    {
        "id": "09d3f35f33efcfb4",
        "type": "link out",
        "z": "1444351f01d0a6c3",
        "name": "PolaridadPWM4",
        "links": [
            "87864b6a2c1e23e6"
        ],
        "x": 1275,
        "y": 400,
        "wires": []
    },
    {
        "id": "c723e9ec890c544e",
        "type": "link out",
        "z": "1444351f01d0a6c3",
        "name": "PolaridadSWITCH3",
        "links": [
            "e9fe0f801a7414e9"
        ],
        "x": 1275,
        "y": 660,
        "wires": []
    },
    {
        "id": "6c7668e2cd335d5a",
        "type": "link out",
        "z": "1444351f01d0a6c3",
        "name": "PolaridadSWITCH4",
        "links": [
            "87864b6a2c1e23e6"
        ],
        "x": 1275,
        "y": 720,
        "wires": []
    },
    {
        "id": "d858b89df8535f52",
        "type": "link out",
        "z": "1444351f01d0a6c3",
        "name": "HAlarma3",
        "links": [
            "e9fe0f801a7414e9"
        ],
        "x": 1275,
        "y": 980,
        "wires": []
    },
    {
        "id": "03878f27a2febe91",
        "type": "link out",
        "z": "1444351f01d0a6c3",
        "name": "HAlarma4",
        "links": [
            "87864b6a2c1e23e6"
        ],
        "x": 1275,
        "y": 1040,
        "wires": []
    },
    {
        "id": "40a32af1c2f4aafc",
        "type": "link out",
        "z": "1444351f01d0a6c3",
        "name": "TAlarma3",
        "links": [
            "e9fe0f801a7414e9"
        ],
        "x": 1275,
        "y": 1280,
        "wires": []
    },
    {
        "id": "919a22c80106964e",
        "type": "link out",
        "z": "1444351f01d0a6c3",
        "name": "TAlarma4",
        "links": [
            "87864b6a2c1e23e6"
        ],
        "x": 1275,
        "y": 1340,
        "wires": []
    },
    {
        "id": "eb63fc540fc5e178",
        "type": "link out",
        "z": "1444351f01d0a6c3",
        "name": "HMin3",
        "links": [
            "e9fe0f801a7414e9"
        ],
        "x": 1275,
        "y": 1580,
        "wires": []
    },
    {
        "id": "dac69e40f5f3808f",
        "type": "link out",
        "z": "1444351f01d0a6c3",
        "name": "HMin4",
        "links": [
            "87864b6a2c1e23e6"
        ],
        "x": 1275,
        "y": 1640,
        "wires": []
    },
    {
        "id": "53489315aa352376",
        "type": "link out",
        "z": "1444351f01d0a6c3",
        "name": "TMin3",
        "links": [
            "e9fe0f801a7414e9"
        ],
        "x": 1275,
        "y": 1880,
        "wires": []
    },
    {
        "id": "deafe28125137dd0",
        "type": "link out",
        "z": "1444351f01d0a6c3",
        "name": "TMin4",
        "links": [
            "87864b6a2c1e23e6"
        ],
        "x": 1275,
        "y": 1940,
        "wires": []
    },
    {
        "id": "c8608d8b2debe05d",
        "type": "link out",
        "z": "1444351f01d0a6c3",
        "name": "Envia3",
        "links": [
            "e9fe0f801a7414e9"
        ],
        "x": 1275,
        "y": 2180,
        "wires": []
    },
    {
        "id": "e425be6fa715b88c",
        "type": "link out",
        "z": "1444351f01d0a6c3",
        "name": "Envia4",
        "links": [
            "87864b6a2c1e23e6"
        ],
        "x": 1275,
        "y": 2240,
        "wires": []
    },
    {
        "id": "8dda822b2575ed2a",
        "type": "link out",
        "z": "1444351f01d0a6c3",
        "name": "Actualiza3",
        "links": [
            "e9fe0f801a7414e9"
        ],
        "x": 1275,
        "y": 2480,
        "wires": []
    },
    {
        "id": "ae87211e1dc50a43",
        "type": "link out",
        "z": "1444351f01d0a6c3",
        "name": "Actualiza4",
        "links": [
            "87864b6a2c1e23e6"
        ],
        "x": 1275,
        "y": 2540,
        "wires": []
    },
    {
        "id": "cb10ab4fb4e60efc",
        "type": "link out",
        "z": "1444351f01d0a6c3",
        "name": "Velocidad3",
        "links": [
            "e9fe0f801a7414e9"
        ],
        "x": 1275,
        "y": 2800,
        "wires": []
    },
    {
        "id": "e87d11a2c953abd0",
        "type": "link out",
        "z": "1444351f01d0a6c3",
        "name": "Velocidad4",
        "links": [
            "87864b6a2c1e23e6"
        ],
        "x": 1275,
        "y": 2860,
        "wires": []
    },
    {
        "id": "7adafc52614f75c0",
        "type": "link out",
        "z": "1444351f01d0a6c3",
        "name": "RiegoOff3",
        "links": [
            "e9fe0f801a7414e9"
        ],
        "x": 1275,
        "y": 3120,
        "wires": []
    },
    {
        "id": "9925a65b37985c11",
        "type": "link out",
        "z": "1444351f01d0a6c3",
        "name": "RiegoOff4",
        "links": [
            "87864b6a2c1e23e6"
        ],
        "x": 1275,
        "y": 3180,
        "wires": []
    },
    {
        "id": "42844e71b9c750dd",
        "type": "link out",
        "z": "1444351f01d0a6c3",
        "name": "RiegoOn3",
        "links": [
            "e9fe0f801a7414e9"
        ],
        "x": 1275,
        "y": 3440,
        "wires": []
    },
    {
        "id": "6ab7e462434123a4",
        "type": "link out",
        "z": "1444351f01d0a6c3",
        "name": "RiegoOn4",
        "links": [
            "87864b6a2c1e23e6"
        ],
        "x": 1275,
        "y": 3500,
        "wires": []
    },
    {
        "id": "f73604c0b1accc60",
        "type": "debug",
        "z": "1444351f01d0a6c3",
        "name": "Placa3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2450,
        "y": 1900,
        "wires": []
    },
    {
        "id": "3be470eb2c3149f9",
        "type": "debug",
        "z": "1444351f01d0a6c3",
        "name": "Placa4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2450,
        "y": 1980,
        "wires": []
    },
    {
        "id": "759329fc13f505d4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "cb97bafe69eecb1a",
        "type": "ui_group",
        "name": "HUERTO4",
        "tab": "a30dda95620b5a9d",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fa343848e4c8b707",
        "type": "ui_group",
        "name": "HUERTO 1",
        "tab": "a30dda95620b5a9d",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0d4f3fe93d4c9cdf",
        "type": "ui_group",
        "name": "HUERTO 2",
        "tab": "a30dda95620b5a9d",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d3960c29166cfabd",
        "type": "ui_group",
        "name": "HUERTO3",
        "tab": "a30dda95620b5a9d",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "67a7277d72090e11",
        "type": "ui_group",
        "name": "GLOBAL",
        "tab": "8c180708454fc1d7",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a30dda95620b5a9d",
        "type": "ui_tab",
        "name": "Configuración de los Huertos de forma INDIVIDUAL",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8c180708454fc1d7",
        "type": "ui_tab",
        "name": "Configuración de todos los huertos AL MISMO TIEMPO",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]
