NodeRED/CONFIGURACION_ANGEL
[
    {
        "id": "8cfcdd978eabaaeb",
        "type": "tab",
        "label": "CONFIGURACION",
        "disabled": false,
        "info": ""
    },
    {
        "id": "503f5529aa2ef2b6",
        "type": "mqtt out",
        "z": "8cfcdd978eabaaeb",
        "name": "config",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "759329fc13f505d4",
        "x": 3270,
        "y": 1740,
        "wires": []
    },
    {
        "id": "01a872b81cdc49f1",
        "type": "function",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "func": "var envia=flow.get(\"envia1\")\nvar actualiza=flow.get(\"actualiza1\")\nvar velocidad=flow.get(\"velocidad1\")\nvar led=flow.get(\"polaridad_PWM1\")\nvar switches=flow.get(\"polaridad_SWITCH1\")\nvar id=global.get(\"ID1\")\nvar HumMax=flow.get(\"HumAlarma1\")\nvar HumMin=flow.get(\"HumMin1\")\nvar TempMin=flow.get(\"TempMin1\")\nvar TempMax=flow.get(\"TempAlarma1\")\nvar T_RiegoOFF=flow.get(\"T_RiegoOFF1\")\nvar T_RiegoON=flow.get(\"T_RiegoON1\")\n\nmsg.topic=\"II12/\"+id+\"/config\"\n\nmsg.payload={\"envia\":envia,\"actualiza\":actualiza,\"velocidad\":velocidad,\"LED\":led,\"SWITCH\":switches,\"T_MAX\":TempMax,\"T_MIN\":TempMin,\"HUM_MAX\":HumMax,\"HUM_MIN\":HumMin,\"T_RIEGO_OFF\":T_RiegoOFF,\"T_RIEGO_ON\":T_RiegoON}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2930,
        "y": 1480,
        "wires": [
            [
                "503f5529aa2ef2b6",
                "3973a35e9069b810"
            ]
        ]
    },
    {
        "id": "a884f59ed6608893",
        "type": "ui_numeric",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "label": "Comprobación Actualizaciones",
        "tooltip": "",
        "group": "caf217567928ca0b",
        "order": 12,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} min",
        "min": 0,
        "max": "300",
        "step": "5",
        "className": "",
        "x": 770,
        "y": 2860,
        "wires": [
            [
                "4b9488c60a723409"
            ]
        ]
    },
    {
        "id": "4f1d957445a1aef2",
        "type": "ui_numeric",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "label": "Periodo Envio Mensajes",
        "tooltip": "",
        "group": "54f7a86bb1024036",
        "order": 8,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} s",
        "min": "25",
        "max": "500",
        "step": "25",
        "className": "",
        "x": 810,
        "y": 2400,
        "wires": [
            [
                "38126e7fd0def760"
            ]
        ]
    },
    {
        "id": "ca295dda5006430d",
        "type": "ui_numeric",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "label": "Velocidad cambio",
        "tooltip": "",
        "group": "caf217567928ca0b",
        "order": 9,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "20",
        "step": 1,
        "className": "",
        "x": 750,
        "y": 3100,
        "wires": [
            [
                "7c95d36b12d0c130"
            ]
        ]
    },
    {
        "id": "38126e7fd0def760",
        "type": "change",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "envia1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 2400,
        "wires": [
            [
                "01a872b81cdc49f1"
            ]
        ]
    },
    {
        "id": "4b9488c60a723409",
        "type": "change",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "actualiza4",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 2860,
        "wires": [
            [
                "4a91649a878b468d"
            ]
        ]
    },
    {
        "id": "7c95d36b12d0c130",
        "type": "change",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "velocidad4",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 3100,
        "wires": [
            [
                "4a91649a878b468d"
            ]
        ]
    },
    {
        "id": "183f0434f30bdb8e",
        "type": "change",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "polaridad_PWM2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 380,
        "wires": [
            [
                "6ae3ec177b1657d9"
            ]
        ]
    },
    {
        "id": "3b49d1f7c54c6ce9",
        "type": "ui_switch",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "label": "Polaridad LED",
        "tooltip": "",
        "group": "03b5bf71738e3f11",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 740,
        "y": 380,
        "wires": [
            [
                "183f0434f30bdb8e"
            ]
        ]
    },
    {
        "id": "7a1c5db1d25f5f22",
        "type": "change",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "polaridad_SWITCH1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 700,
        "wires": [
            [
                "01a872b81cdc49f1"
            ]
        ]
    },
    {
        "id": "3a73e384bbcd5754",
        "type": "ui_switch",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "label": "Polaridad SWITCH",
        "tooltip": "",
        "group": "54f7a86bb1024036",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 750,
        "y": 700,
        "wires": [
            [
                "7a1c5db1d25f5f22"
            ]
        ]
    },
    {
        "id": "a8dc70a3b6a543a7",
        "type": "change",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "polaridad_SWITCH2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 760,
        "wires": [
            [
                "6ae3ec177b1657d9"
            ]
        ]
    },
    {
        "id": "638defd4b57038fd",
        "type": "ui_switch",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "label": "Polaridad SWITCH",
        "tooltip": "",
        "group": "03b5bf71738e3f11",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 750,
        "y": 760,
        "wires": [
            [
                "a8dc70a3b6a543a7"
            ]
        ]
    },
    {
        "id": "f1c71748f595ddce",
        "type": "change",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "polaridad_SWITCH3",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 820,
        "wires": [
            [
                "07b7c25ba7e38725"
            ]
        ]
    },
    {
        "id": "a23069e1bb0873ab",
        "type": "ui_switch",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "label": "Polaridad SWITCH",
        "tooltip": "",
        "group": "e7572a7306abb0da",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 750,
        "y": 820,
        "wires": [
            [
                "f1c71748f595ddce"
            ]
        ]
    },
    {
        "id": "093bd7d7d73fbee7",
        "type": "change",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "polaridad_SWITCH4",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 880,
        "wires": [
            [
                "4a91649a878b468d"
            ]
        ]
    },
    {
        "id": "374804e48afa4c7c",
        "type": "ui_switch",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "label": "Polaridad SWITCH",
        "tooltip": "",
        "group": "caf217567928ca0b",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 750,
        "y": 880,
        "wires": [
            [
                "093bd7d7d73fbee7"
            ]
        ]
    },
    {
        "id": "5a82c69cf65685dc",
        "type": "change",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "polaridad_PWM1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 300,
        "wires": [
            [
                "01a872b81cdc49f1"
            ]
        ]
    },
    {
        "id": "8175f63772b7ce91",
        "type": "ui_switch",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "label": "Polaridad LED",
        "tooltip": "",
        "group": "54f7a86bb1024036",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 740,
        "y": 300,
        "wires": [
            [
                "5a82c69cf65685dc"
            ]
        ]
    },
    {
        "id": "07f6ad6abaec22e6",
        "type": "change",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "polaridad_PWM3",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 500,
        "wires": [
            [
                "4a91649a878b468d"
            ]
        ]
    },
    {
        "id": "cac5f62534cf0e81",
        "type": "ui_switch",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "label": "Polaridad LED",
        "tooltip": "",
        "group": "caf217567928ca0b",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 740,
        "y": 500,
        "wires": [
            [
                "07f6ad6abaec22e6"
            ]
        ]
    },
    {
        "id": "088ee23c8e59ef26",
        "type": "change",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "polaridad_PWM3",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 440,
        "wires": [
            [
                "07b7c25ba7e38725"
            ]
        ]
    },
    {
        "id": "b9620997df0d20fc",
        "type": "ui_switch",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "label": "Polaridad LED",
        "tooltip": "",
        "group": "e7572a7306abb0da",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 740,
        "y": 440,
        "wires": [
            [
                "088ee23c8e59ef26"
            ]
        ]
    },
    {
        "id": "eefa4b7de582f093",
        "type": "ui_numeric",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "label": "Periodo Envio Mensajes",
        "tooltip": "",
        "group": "03b5bf71738e3f11",
        "order": 8,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} s",
        "min": "25",
        "max": "500",
        "step": "25",
        "className": "",
        "x": 810,
        "y": 2460,
        "wires": [
            [
                "a74c0e6d3cdfdac8"
            ]
        ]
    },
    {
        "id": "a74c0e6d3cdfdac8",
        "type": "change",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "envia2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 2460,
        "wires": [
            [
                "6ae3ec177b1657d9"
            ]
        ]
    },
    {
        "id": "5f64734b9881c8f0",
        "type": "ui_numeric",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "label": "Periodo Envio Mensajes",
        "tooltip": "",
        "group": "e7572a7306abb0da",
        "order": 8,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} s",
        "min": "25",
        "max": "500",
        "step": "25",
        "className": "",
        "x": 810,
        "y": 2520,
        "wires": [
            [
                "9f5af35d63b20ead"
            ]
        ]
    },
    {
        "id": "9f5af35d63b20ead",
        "type": "change",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "envia3",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 2520,
        "wires": [
            [
                "07b7c25ba7e38725"
            ]
        ]
    },
    {
        "id": "90bb72b43d566ae7",
        "type": "ui_numeric",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "label": "Periodo Envio Mensajes",
        "tooltip": "",
        "group": "caf217567928ca0b",
        "order": 8,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} s",
        "min": "25",
        "max": "500",
        "step": "25",
        "className": "",
        "x": 810,
        "y": 2580,
        "wires": [
            [
                "912902f11c1a28f6"
            ]
        ]
    },
    {
        "id": "912902f11c1a28f6",
        "type": "change",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "envia4",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 2580,
        "wires": [
            [
                "4a91649a878b468d"
            ]
        ]
    },
    {
        "id": "42f2a48150a840b1",
        "type": "ui_numeric",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "label": "Comprobación Actualizaciones",
        "tooltip": "",
        "group": "e7572a7306abb0da",
        "order": 12,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} min",
        "min": 0,
        "max": "300",
        "step": "5",
        "className": "",
        "x": 770,
        "y": 2800,
        "wires": [
            [
                "831d315cf9a990e1"
            ]
        ]
    },
    {
        "id": "831d315cf9a990e1",
        "type": "change",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "actualiza3",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 2800,
        "wires": [
            [
                "07b7c25ba7e38725"
            ]
        ]
    },
    {
        "id": "89a9f65596d8ce57",
        "type": "ui_numeric",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "label": "Comprobación Actualizaciones",
        "tooltip": "",
        "group": "03b5bf71738e3f11",
        "order": 12,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} min",
        "min": 0,
        "max": "300",
        "step": "5",
        "className": "",
        "x": 770,
        "y": 2740,
        "wires": [
            [
                "711ea90afae9c7d8"
            ]
        ]
    },
    {
        "id": "711ea90afae9c7d8",
        "type": "change",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "actualiza2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 2740,
        "wires": [
            [
                "6ae3ec177b1657d9"
            ]
        ]
    },
    {
        "id": "ba5faeb4421d3db2",
        "type": "ui_numeric",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "label": "Comprobación Actualizaciones",
        "tooltip": "",
        "group": "54f7a86bb1024036",
        "order": 12,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} min",
        "min": 0,
        "max": "300",
        "step": "5",
        "className": "",
        "x": 770,
        "y": 2680,
        "wires": [
            [
                "9accdc44b7d7eeab"
            ]
        ]
    },
    {
        "id": "9accdc44b7d7eeab",
        "type": "change",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "actualiza1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 2680,
        "wires": [
            [
                "01a872b81cdc49f1"
            ]
        ]
    },
    {
        "id": "dff58ce969668d4f",
        "type": "ui_numeric",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "label": "Velocidad cambio",
        "tooltip": "",
        "group": "e7572a7306abb0da",
        "order": 9,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "20",
        "step": 1,
        "className": "",
        "x": 750,
        "y": 3040,
        "wires": [
            [
                "b7dbf78b878262f4"
            ]
        ]
    },
    {
        "id": "b7dbf78b878262f4",
        "type": "change",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "velocidad3",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 3040,
        "wires": [
            [
                "07b7c25ba7e38725"
            ]
        ]
    },
    {
        "id": "41308e67dd23defe",
        "type": "ui_numeric",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "label": "Velocidad cambio",
        "tooltip": "",
        "group": "03b5bf71738e3f11",
        "order": 9,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "20",
        "step": 1,
        "className": "",
        "x": 750,
        "y": 2980,
        "wires": [
            [
                "5e1f70c7a12a856a"
            ]
        ]
    },
    {
        "id": "5e1f70c7a12a856a",
        "type": "change",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "velocidad2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 2980,
        "wires": [
            [
                "6ae3ec177b1657d9"
            ]
        ]
    },
    {
        "id": "033c06c7b2f989c8",
        "type": "ui_numeric",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "label": "Velocidad cambio",
        "tooltip": "",
        "group": "54f7a86bb1024036",
        "order": 9,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "20",
        "step": 1,
        "className": "",
        "x": 750,
        "y": 2920,
        "wires": [
            [
                "a6db3811843b4b4d"
            ]
        ]
    },
    {
        "id": "a6db3811843b4b4d",
        "type": "change",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "velocidad1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 2920,
        "wires": [
            [
                "01a872b81cdc49f1"
            ]
        ]
    },
    {
        "id": "6ae3ec177b1657d9",
        "type": "function",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "func": "var envia=flow.get(\"envia2\")\nvar actualiza=flow.get(\"actualiza2\")\nvar velocidad=flow.get(\"velocidad2\")\nvar led=flow.get(\"polaridadl2\")\nvar switches=flow.get(\"polaridads2\")\nvar id=global.get(\"ID2\")\nvar HumMax=flow.get(\"HumAlarma2\")\nvar TempMax=flow.get(\"TempAlarma2\")\nvar HumMin=flow.get(\"HumMin2\")\nvar TempMin=flow.get(\"TempMin2\")\nvar T_RiegoOFF=flow.get(\"T_RiegoOFF2\")\nvar T_RiegoON=flow.get(\"T_RiegoON2\")\n\nmsg.topic=\"II12/\"+id+\"/config\"\n\nmsg.payload={\"envia\":envia,\"actualiza\":actualiza,\"velocidad\":velocidad,\"LED\":led,\"SWITCH\":switches,\"T_MAX\":TempMax,\"T_MIN\":TempMin,\"HUM_MAX\":HumMax,\"HUM_MIN\":HumMin,\"T_RIEGO_OFF\":T_RiegoOFF,\"T_RIEGO_ON\":T_RiegoON}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2930,
        "y": 1660,
        "wires": [
            [
                "503f5529aa2ef2b6",
                "89315367dab6d5d2"
            ]
        ]
    },
    {
        "id": "07b7c25ba7e38725",
        "type": "function",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "func": "var envia=flow.get(\"envia3\")\nvar actualiza=flow.get(\"actualiza3\")\nvar velocidad=flow.get(\"velocidad3\")\nvar led=flow.get(\"polaridadl3\")\nvar switches=global.get(\"polaridads3\")\nvar id=global.get(\"ID3\")\nvar HumMax=flow.get(\"HumAlarma3\")\nvar TempMax=flow.get(\"TempAlarma3\")\nvar HumMin=flow.get(\"HumMin3\")\nvar TempMin=flow.get(\"TempMin3\")\nvar T_RiegoOFF=flow.get(\"T_RiegoOFF3\")\nvar T_RiegoON=flow.get(\"T_RiegoON3\")\n\nmsg.topic=\"II12/\"+id+\"/config\"\n\nmsg.payload={\"envia\":envia,\"actualiza\":actualiza,\"velocidad\":velocidad,\"LED\":led,\"SWITCH\":switches,\"T_MAX\":TempMax,\"T_MIN\":TempMin,\"HUM_MAX\":HumMax,\"HUM_MIN\":HumMin,\"T_RIEGO_OFF\":T_RiegoOFF,\"T_RIEGO_ON\":T_RiegoON}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2930,
        "y": 1820,
        "wires": [
            [
                "503f5529aa2ef2b6"
            ]
        ]
    },
    {
        "id": "4a91649a878b468d",
        "type": "function",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "func": "var envia=flow.get(\"envia4\")\nvar actualiza=flow.get(\"actualiza4\")\nvar velocidad=flow.get(\"velocidad4\")\nvar led=flow.get(\"polaridadl4\")\nvar switches=flow.get(\"polaridads4\")\nvar id=global.get(\"ID4\")\nvar HumMax=flow.get(\"HumAlarma4\")\nvar TempMax=flow.get(\"TempAlarma4\")\nvar HumMin=flow.get(\"HumMin4\")\nvar TempMin=flow.get(\"TempMin4\")\nvar T_RiegoOFF=flow.get(\"T_RiegoOFF4\")\nvar T_RiegoON=flow.get(\"T_RiegoON4\")\n\nmsg.topic=\"II12/\"+id+\"/config\"\n\nmsg.payload={\"envia\":envia,\"actualiza\":actualiza,\"velocidad\":velocidad,\"LED\":led,\"SWITCH\":switches,\"T_MAX\":TempMax,\"T_MIN\":TempMin,\"HUM_MAX\":HumMax,\"HUM_MIN\":HumMin,\"T_RIEGO_OFF\":T_RiegoOFF,\"T_RIEGO_ON\":T_RiegoON}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2930,
        "y": 2000,
        "wires": [
            [
                "503f5529aa2ef2b6"
            ]
        ]
    },
    {
        "id": "edc37ef679b454e8",
        "type": "ui_numeric",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "label": "Humedad Max",
        "tooltip": "",
        "group": "54f7a86bb1024036",
        "order": 3,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 840,
        "y": 1080,
        "wires": [
            [
                "64e29a091a89ec0b"
            ]
        ]
    },
    {
        "id": "19026cb65299253a",
        "type": "ui_numeric",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "label": "Temperatura Max",
        "tooltip": "",
        "group": "caf217567928ca0b",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 790,
        "y": 1600,
        "wires": [
            [
                "3b6fe6f1d1481df5"
            ]
        ]
    },
    {
        "id": "3b6fe6f1d1481df5",
        "type": "change",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "TempAlarma4",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 1600,
        "wires": [
            [
                "4a91649a878b468d"
            ]
        ]
    },
    {
        "id": "64e29a091a89ec0b",
        "type": "change",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "HumAlarma1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 1080,
        "wires": [
            [
                "01a872b81cdc49f1"
            ]
        ]
    },
    {
        "id": "01eee9d65eb521f0",
        "type": "ui_numeric",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "label": "Humedad Max",
        "tooltip": "",
        "group": "03b5bf71738e3f11",
        "order": 3,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 840,
        "y": 1140,
        "wires": [
            [
                "c538f4504fe28167"
            ]
        ]
    },
    {
        "id": "c538f4504fe28167",
        "type": "change",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "HumAlarma2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 1140,
        "wires": [
            [
                "6ae3ec177b1657d9"
            ]
        ]
    },
    {
        "id": "4555e1c29e830b1e",
        "type": "ui_numeric",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "label": "Humedad Max",
        "tooltip": "",
        "group": "e7572a7306abb0da",
        "order": 3,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 840,
        "y": 1200,
        "wires": [
            [
                "b8fa407cc7132f39"
            ]
        ]
    },
    {
        "id": "b8fa407cc7132f39",
        "type": "change",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "HumAlarma3",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 1200,
        "wires": [
            [
                "07b7c25ba7e38725"
            ]
        ]
    },
    {
        "id": "aef35fc0901df905",
        "type": "ui_numeric",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "label": "Humedad Max",
        "tooltip": "",
        "group": "caf217567928ca0b",
        "order": 3,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 840,
        "y": 1260,
        "wires": [
            [
                "c980f9191edb7092"
            ]
        ]
    },
    {
        "id": "c980f9191edb7092",
        "type": "change",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "HumAlarma4",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 1260,
        "wires": [
            [
                "4a91649a878b468d"
            ]
        ]
    },
    {
        "id": "736a45881f35af74",
        "type": "ui_numeric",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "label": "Temperatura Max",
        "tooltip": "",
        "group": "e7572a7306abb0da",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 790,
        "y": 1540,
        "wires": [
            [
                "b2ec56f5840db8ab"
            ]
        ]
    },
    {
        "id": "b2ec56f5840db8ab",
        "type": "change",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "TempAlarma3",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 1540,
        "wires": [
            [
                "07b7c25ba7e38725"
            ]
        ]
    },
    {
        "id": "df2a04485a83b7d4",
        "type": "ui_numeric",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "label": "Temperatura Max",
        "tooltip": "",
        "group": "03b5bf71738e3f11",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 790,
        "y": 1480,
        "wires": [
            [
                "c84f38d18cac0e75"
            ]
        ]
    },
    {
        "id": "c84f38d18cac0e75",
        "type": "change",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "TempAlarma2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 1480,
        "wires": [
            [
                "6ae3ec177b1657d9"
            ]
        ]
    },
    {
        "id": "60a98783732957e7",
        "type": "ui_numeric",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "label": "Temperatura Max",
        "tooltip": "",
        "group": "54f7a86bb1024036",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 790,
        "y": 1420,
        "wires": [
            [
                "71edf52e15e515ea"
            ]
        ]
    },
    {
        "id": "71edf52e15e515ea",
        "type": "change",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "TempAlarma1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 1420,
        "wires": [
            [
                "01a872b81cdc49f1"
            ]
        ]
    },
    {
        "id": "3973a35e9069b810",
        "type": "debug",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 3240,
        "y": 1440,
        "wires": []
    },
    {
        "id": "4df95977b8271e47",
        "type": "ui_switch",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "label": "Polaridad LED",
        "tooltip": "",
        "group": "756f99e69c4296a5",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 320,
        "y": 300,
        "wires": [
            [
                "8175f63772b7ce91",
                "1928c946cd8d33e5",
                "f86a9a60372c4c09",
                "ee858edf68adc1d9"
            ]
        ]
    },
    {
        "id": "8481e9b9b9a2515c",
        "type": "ui_switch",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "label": "Polaridad SWITCH",
        "tooltip": "",
        "group": "756f99e69c4296a5",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 330,
        "y": 700,
        "wires": [
            [
                "3a73e384bbcd5754",
                "bcd09e58b998c84f",
                "3c4e7a5384267255",
                "f2f84388056ad48c"
            ]
        ]
    },
    {
        "id": "1a5e8fd2b5e065dc",
        "type": "ui_numeric",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "label": "Humedad Max",
        "tooltip": "",
        "group": "756f99e69c4296a5",
        "order": 3,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 440,
        "y": 1080,
        "wires": [
            [
                "edc37ef679b454e8",
                "6301da8c59fccc94",
                "a4e83874531d7b26",
                "907fa11005e3b301"
            ]
        ]
    },
    {
        "id": "24f808b44a43e224",
        "type": "ui_numeric",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "label": "Temperatura Max",
        "tooltip": "",
        "group": "756f99e69c4296a5",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 330,
        "y": 1420,
        "wires": [
            [
                "60a98783732957e7",
                "416ad0ebe165d42b",
                "6924bee5ea0c6d26",
                "021a4aef91b70a94"
            ]
        ]
    },
    {
        "id": "a56defe75afc5039",
        "type": "ui_numeric",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "label": "Periodo Envio Mensajes",
        "tooltip": "",
        "group": "756f99e69c4296a5",
        "order": 8,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} s",
        "min": "25",
        "max": "500",
        "step": "25",
        "className": "",
        "x": 370,
        "y": 2400,
        "wires": [
            [
                "4f1d957445a1aef2",
                "0c07083ddf5f2009",
                "330ef99c99391fa5",
                "0cd234b5863ef7e1"
            ]
        ]
    },
    {
        "id": "f022d483f7c4149f",
        "type": "ui_numeric",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "label": "Comprobación Actualizaciones",
        "tooltip": "",
        "group": "756f99e69c4296a5",
        "order": 12,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} min",
        "min": 0,
        "max": "300",
        "step": "5",
        "className": "",
        "x": 370,
        "y": 2680,
        "wires": [
            [
                "ba5faeb4421d3db2",
                "9e75864872401ccc",
                "3824cab48d9a3275",
                "bf31768555910151"
            ]
        ]
    },
    {
        "id": "bc33b23feb5abbbb",
        "type": "ui_numeric",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "label": "Velocidad cambio",
        "tooltip": "",
        "group": "756f99e69c4296a5",
        "order": 9,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "20",
        "step": 1,
        "className": "",
        "x": 330,
        "y": 2920,
        "wires": [
            [
                "033c06c7b2f989c8",
                "bf327ab1325d6b04",
                "52966057d95e77f9",
                "aaa5eb692b53a245"
            ]
        ]
    },
    {
        "id": "d8a395f307fbd885",
        "type": "ui_numeric",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "label": "Programar Riego: ",
        "tooltip": "",
        "group": "54f7a86bb1024036",
        "order": 5,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} min",
        "min": "0",
        "max": "1000",
        "step": 1,
        "className": "",
        "x": 750,
        "y": 3200,
        "wires": [
            [
                "fb639ce2c4b978fb"
            ]
        ]
    },
    {
        "id": "fb639ce2c4b978fb",
        "type": "change",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "T_RiegoOFF1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 3200,
        "wires": [
            [
                "01a872b81cdc49f1"
            ]
        ]
    },
    {
        "id": "34604c22afb4a728",
        "type": "ui_numeric",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "label": "Tiempo de riego",
        "tooltip": "",
        "group": "54f7a86bb1024036",
        "order": 6,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} min",
        "min": "0",
        "max": "120",
        "step": 1,
        "className": "",
        "x": 800,
        "y": 3520,
        "wires": [
            [
                "e8c041592cdea31c"
            ]
        ]
    },
    {
        "id": "e5cf3154d42ec664",
        "type": "ui_numeric",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "label": "Tiempo de riego",
        "tooltip": "",
        "group": "03b5bf71738e3f11",
        "order": 6,
        "width": 6,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} min",
        "min": "0",
        "max": "120",
        "step": 1,
        "className": "",
        "x": 800,
        "y": 3580,
        "wires": [
            [
                "3a77b4db1255f7f6"
            ]
        ]
    },
    {
        "id": "8ff30eeba46c338e",
        "type": "ui_numeric",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "label": "Tiempo de riego",
        "tooltip": "",
        "group": "e7572a7306abb0da",
        "order": 6,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} min",
        "min": "0",
        "max": "120",
        "step": 1,
        "className": "",
        "x": 800,
        "y": 3640,
        "wires": [
            [
                "ce504ad926913c80"
            ]
        ]
    },
    {
        "id": "ae78d49fb0b353a5",
        "type": "ui_numeric",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "label": "Tiempo de riego",
        "tooltip": "",
        "group": "caf217567928ca0b",
        "order": 6,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} min",
        "min": "0",
        "max": "120",
        "step": 1,
        "className": "",
        "x": 800,
        "y": 3700,
        "wires": [
            [
                "2cefa3d60a43aaef"
            ]
        ]
    },
    {
        "id": "ab1ca3a7acc9b994",
        "type": "ui_numeric",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "label": "Tiempo de riego",
        "tooltip": "",
        "group": "756f99e69c4296a5",
        "order": 6,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} min",
        "min": "0",
        "max": "120",
        "step": 1,
        "className": "",
        "x": 340,
        "y": 3520,
        "wires": [
            [
                "34604c22afb4a728",
                "e5ebfac9ad23968e",
                "ccc3fa9d3e49fa60",
                "0f40e97a9cd2a561"
            ]
        ]
    },
    {
        "id": "bc1e2e094b0a6d73",
        "type": "ui_numeric",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "label": "Programar Riego: ",
        "tooltip": "",
        "group": "03b5bf71738e3f11",
        "order": 5,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "1000",
        "step": 1,
        "className": "",
        "x": 750,
        "y": 3260,
        "wires": [
            [
                "1efd2ae2d2b4ebe5"
            ]
        ]
    },
    {
        "id": "1efd2ae2d2b4ebe5",
        "type": "change",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "T_RiegoOFF2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 3260,
        "wires": [
            [
                "6ae3ec177b1657d9"
            ]
        ]
    },
    {
        "id": "630c91478c393c89",
        "type": "ui_numeric",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "label": "Programar Riego: ",
        "tooltip": "",
        "group": "e7572a7306abb0da",
        "order": 5,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "1000",
        "step": 1,
        "className": "",
        "x": 750,
        "y": 3320,
        "wires": [
            [
                "10c17ebc92e2c362"
            ]
        ]
    },
    {
        "id": "10c17ebc92e2c362",
        "type": "change",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "T_RiegoOFF3",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 3320,
        "wires": [
            [
                "07b7c25ba7e38725"
            ]
        ]
    },
    {
        "id": "ad27c10d06b8d76d",
        "type": "ui_numeric",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "label": "Programar Riego: ",
        "tooltip": "",
        "group": "caf217567928ca0b",
        "order": 5,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "1000",
        "step": 1,
        "className": "",
        "x": 750,
        "y": 3380,
        "wires": [
            [
                "8893c0c7b7358d23"
            ]
        ]
    },
    {
        "id": "8893c0c7b7358d23",
        "type": "change",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "T_RiegoOFF4",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 3380,
        "wires": [
            [
                "4a91649a878b468d"
            ]
        ]
    },
    {
        "id": "def131df9b675007",
        "type": "ui_numeric",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "label": "Programar Riego: ",
        "tooltip": "",
        "group": "756f99e69c4296a5",
        "order": 5,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "1000",
        "step": 1,
        "className": "",
        "x": 330,
        "y": 3200,
        "wires": [
            [
                "d8a395f307fbd885",
                "739b5cbd2cedaca8",
                "a6710acf8ca1bd3c",
                "54709a82d381dfd2"
            ]
        ]
    },
    {
        "id": "e8c041592cdea31c",
        "type": "change",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "T_RiegoON1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 3520,
        "wires": [
            [
                "01a872b81cdc49f1"
            ]
        ]
    },
    {
        "id": "3a77b4db1255f7f6",
        "type": "change",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "T_RiegoON2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 3580,
        "wires": [
            [
                "6ae3ec177b1657d9"
            ]
        ]
    },
    {
        "id": "ce504ad926913c80",
        "type": "change",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "T_RiegoON3",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 3640,
        "wires": [
            [
                "07b7c25ba7e38725"
            ]
        ]
    },
    {
        "id": "2cefa3d60a43aaef",
        "type": "change",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "T_RiegoON4",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 3700,
        "wires": [
            [
                "4a91649a878b468d"
            ]
        ]
    },
    {
        "id": "3a7bc6ebddd1d1aa",
        "type": "comment",
        "z": "8cfcdd978eabaaeb",
        "name": "Datos de Configuracion",
        "info": "",
        "x": 320,
        "y": 220,
        "wires": []
    },
    {
        "id": "1928c946cd8d33e5",
        "type": "delay",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 550,
        "y": 380,
        "wires": [
            [
                "3b49d1f7c54c6ce9",
                "bda7fdf43904f5f4"
            ]
        ]
    },
    {
        "id": "f86a9a60372c4c09",
        "type": "delay",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 550,
        "y": 440,
        "wires": [
            [
                "b9620997df0d20fc"
            ]
        ]
    },
    {
        "id": "ee858edf68adc1d9",
        "type": "delay",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 550,
        "y": 500,
        "wires": [
            [
                "cac5f62534cf0e81"
            ]
        ]
    },
    {
        "id": "bda7fdf43904f5f4",
        "type": "debug",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 140,
        "wires": []
    },
    {
        "id": "bcd09e58b998c84f",
        "type": "delay",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 530,
        "y": 760,
        "wires": [
            [
                "638defd4b57038fd"
            ]
        ]
    },
    {
        "id": "3c4e7a5384267255",
        "type": "delay",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 530,
        "y": 820,
        "wires": [
            [
                "a23069e1bb0873ab"
            ]
        ]
    },
    {
        "id": "f2f84388056ad48c",
        "type": "delay",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 530,
        "y": 880,
        "wires": [
            [
                "374804e48afa4c7c"
            ]
        ]
    },
    {
        "id": "ca8cd5f193a8ddde",
        "type": "inject",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "70",
        "payloadType": "json",
        "x": 270,
        "y": 1080,
        "wires": [
            [
                "1a5e8fd2b5e065dc"
            ]
        ]
    },
    {
        "id": "6301da8c59fccc94",
        "type": "delay",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 630,
        "y": 1140,
        "wires": [
            [
                "01eee9d65eb521f0"
            ]
        ]
    },
    {
        "id": "a4e83874531d7b26",
        "type": "delay",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 630,
        "y": 1200,
        "wires": [
            [
                "4555e1c29e830b1e"
            ]
        ]
    },
    {
        "id": "907fa11005e3b301",
        "type": "delay",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 630,
        "y": 1260,
        "wires": [
            [
                "aef35fc0901df905"
            ]
        ]
    },
    {
        "id": "3c8d50f6222fbe5c",
        "type": "inject",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "40",
        "payloadType": "json",
        "x": 130,
        "y": 1420,
        "wires": [
            [
                "24f808b44a43e224"
            ]
        ]
    },
    {
        "id": "416ad0ebe165d42b",
        "type": "delay",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 570,
        "y": 1480,
        "wires": [
            [
                "df2a04485a83b7d4"
            ]
        ]
    },
    {
        "id": "6924bee5ea0c6d26",
        "type": "delay",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 570,
        "y": 1540,
        "wires": [
            [
                "736a45881f35af74"
            ]
        ]
    },
    {
        "id": "021a4aef91b70a94",
        "type": "delay",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 570,
        "y": 1600,
        "wires": [
            [
                "19026cb65299253a"
            ]
        ]
    },
    {
        "id": "23b987786b0e1919",
        "type": "inject",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "30",
        "payloadType": "json",
        "x": 150,
        "y": 2400,
        "wires": [
            [
                "a56defe75afc5039"
            ]
        ]
    },
    {
        "id": "0c07083ddf5f2009",
        "type": "delay",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 590,
        "y": 2460,
        "wires": [
            [
                "eefa4b7de582f093"
            ]
        ]
    },
    {
        "id": "330ef99c99391fa5",
        "type": "delay",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 590,
        "y": 2520,
        "wires": [
            [
                "5f64734b9881c8f0"
            ]
        ]
    },
    {
        "id": "0cd234b5863ef7e1",
        "type": "delay",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 590,
        "y": 2580,
        "wires": [
            [
                "90bb72b43d566ae7"
            ]
        ]
    },
    {
        "id": "9f1a9ce378f6cef8",
        "type": "inject",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ }",
        "payloadType": "json",
        "x": 150,
        "y": 2680,
        "wires": [
            [
                "f022d483f7c4149f"
            ]
        ]
    },
    {
        "id": "9e75864872401ccc",
        "type": "delay",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 550,
        "y": 2740,
        "wires": [
            [
                "89a9f65596d8ce57"
            ]
        ]
    },
    {
        "id": "3824cab48d9a3275",
        "type": "delay",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 550,
        "y": 2800,
        "wires": [
            [
                "42f2a48150a840b1"
            ]
        ]
    },
    {
        "id": "bf31768555910151",
        "type": "delay",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 550,
        "y": 2860,
        "wires": [
            [
                "a884f59ed6608893"
            ]
        ]
    },
    {
        "id": "bf327ab1325d6b04",
        "type": "delay",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 550,
        "y": 2980,
        "wires": [
            [
                "41308e67dd23defe"
            ]
        ]
    },
    {
        "id": "52966057d95e77f9",
        "type": "delay",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 550,
        "y": 3040,
        "wires": [
            [
                "dff58ce969668d4f"
            ]
        ]
    },
    {
        "id": "aaa5eb692b53a245",
        "type": "delay",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 550,
        "y": 3100,
        "wires": [
            [
                "ca295dda5006430d"
            ]
        ]
    },
    {
        "id": "7e5ce9e243f1b84f",
        "type": "inject",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ }",
        "payloadType": "json",
        "x": 150,
        "y": 2920,
        "wires": [
            [
                "bc33b23feb5abbbb"
            ]
        ]
    },
    {
        "id": "7d6028b0a7e7d94d",
        "type": "inject",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "30",
        "payloadType": "json",
        "x": 150,
        "y": 3200,
        "wires": [
            [
                "def131df9b675007"
            ]
        ]
    },
    {
        "id": "739b5cbd2cedaca8",
        "type": "delay",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 530,
        "y": 3260,
        "wires": [
            [
                "bc1e2e094b0a6d73"
            ]
        ]
    },
    {
        "id": "a6710acf8ca1bd3c",
        "type": "delay",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 530,
        "y": 3320,
        "wires": [
            [
                "630c91478c393c89"
            ]
        ]
    },
    {
        "id": "54709a82d381dfd2",
        "type": "delay",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 530,
        "y": 3380,
        "wires": [
            [
                "ad27c10d06b8d76d"
            ]
        ]
    },
    {
        "id": "b2825578adbcdfc5",
        "type": "inject",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "15",
        "payloadType": "json",
        "x": 170,
        "y": 3520,
        "wires": [
            [
                "ab1ca3a7acc9b994"
            ]
        ]
    },
    {
        "id": "e5ebfac9ad23968e",
        "type": "delay",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 610,
        "y": 3580,
        "wires": [
            [
                "e5cf3154d42ec664"
            ]
        ]
    },
    {
        "id": "ccc3fa9d3e49fa60",
        "type": "delay",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 610,
        "y": 3640,
        "wires": [
            [
                "8ff30eeba46c338e"
            ]
        ]
    },
    {
        "id": "0f40e97a9cd2a561",
        "type": "delay",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 610,
        "y": 3700,
        "wires": [
            [
                "ae78d49fb0b353a5"
            ]
        ]
    },
    {
        "id": "39568fd4ccd28f80",
        "type": "ui_numeric",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "label": "Humedad Min",
        "tooltip": "",
        "group": "54f7a86bb1024036",
        "order": 4,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 800,
        "y": 1760,
        "wires": [
            [
                "4307fb597690ddf8"
            ]
        ]
    },
    {
        "id": "b268edae0cf1e1b4",
        "type": "ui_numeric",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "label": "Temperatura Min",
        "tooltip": "",
        "group": "caf217567928ca0b",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 750,
        "y": 2280,
        "wires": [
            [
                "4f95a682a8fdfec3"
            ]
        ]
    },
    {
        "id": "4f95a682a8fdfec3",
        "type": "change",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "TempMin4",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 2280,
        "wires": [
            [
                "4a91649a878b468d"
            ]
        ]
    },
    {
        "id": "4307fb597690ddf8",
        "type": "change",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "HumMin1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 1760,
        "wires": [
            [
                "01a872b81cdc49f1"
            ]
        ]
    },
    {
        "id": "2b63c78263ef1f06",
        "type": "ui_numeric",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "label": "Humedad Min",
        "tooltip": "",
        "group": "03b5bf71738e3f11",
        "order": 4,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 800,
        "y": 1820,
        "wires": [
            [
                "5424f3a8af3e20f5"
            ]
        ]
    },
    {
        "id": "5424f3a8af3e20f5",
        "type": "change",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "HumMin2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 1820,
        "wires": [
            [
                "6ae3ec177b1657d9"
            ]
        ]
    },
    {
        "id": "6a8b1fea26e48c4f",
        "type": "ui_numeric",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "label": "Humedad Min",
        "tooltip": "",
        "group": "e7572a7306abb0da",
        "order": 4,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 800,
        "y": 1880,
        "wires": [
            [
                "5ce91aa460cbeb59"
            ]
        ]
    },
    {
        "id": "5ce91aa460cbeb59",
        "type": "change",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "HumMin3",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 1880,
        "wires": [
            [
                "07b7c25ba7e38725"
            ]
        ]
    },
    {
        "id": "7721d11dd1e56f79",
        "type": "ui_numeric",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "label": "Humedad Min",
        "tooltip": "",
        "group": "caf217567928ca0b",
        "order": 4,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 800,
        "y": 1940,
        "wires": [
            [
                "8048d0e5b9c7144f"
            ]
        ]
    },
    {
        "id": "8048d0e5b9c7144f",
        "type": "change",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "HumMin4",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 1940,
        "wires": [
            [
                "4a91649a878b468d"
            ]
        ]
    },
    {
        "id": "5c6f6a013c13dafe",
        "type": "ui_numeric",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "label": "Temperatura Min",
        "tooltip": "",
        "group": "e7572a7306abb0da",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 750,
        "y": 2220,
        "wires": [
            [
                "c7cf87e79027df4b"
            ]
        ]
    },
    {
        "id": "c7cf87e79027df4b",
        "type": "change",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "TempMin3",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 2220,
        "wires": [
            [
                "07b7c25ba7e38725"
            ]
        ]
    },
    {
        "id": "e4fe343bde3918b8",
        "type": "ui_numeric",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "label": "Temperatura Min",
        "tooltip": "",
        "group": "03b5bf71738e3f11",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 750,
        "y": 2160,
        "wires": [
            [
                "1ad8d1c66fdbf5d2"
            ]
        ]
    },
    {
        "id": "1ad8d1c66fdbf5d2",
        "type": "change",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "TempMin2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 2160,
        "wires": [
            [
                "6ae3ec177b1657d9"
            ]
        ]
    },
    {
        "id": "47d88de514c4734d",
        "type": "ui_numeric",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "label": "Temperatura Min",
        "tooltip": "",
        "group": "54f7a86bb1024036",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 750,
        "y": 2100,
        "wires": [
            [
                "e8e5a4a10f464fb9"
            ]
        ]
    },
    {
        "id": "e8e5a4a10f464fb9",
        "type": "change",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "TempMin1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 2100,
        "wires": [
            [
                "01a872b81cdc49f1"
            ]
        ]
    },
    {
        "id": "2117131da71236a3",
        "type": "ui_numeric",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "label": "Humedad Min",
        "tooltip": "",
        "group": "756f99e69c4296a5",
        "order": 4,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 400,
        "y": 1760,
        "wires": [
            [
                "39568fd4ccd28f80",
                "b96f030c0c7b1bcd",
                "078458f465b0db55",
                "e6ec0141f4f3d11a"
            ]
        ]
    },
    {
        "id": "fe464319b3b565ed",
        "type": "ui_numeric",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "label": "Temperatura Min",
        "tooltip": "",
        "group": "756f99e69c4296a5",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 290,
        "y": 2100,
        "wires": [
            [
                "47d88de514c4734d",
                "d50d0dbc52269751",
                "6d62c5191e9fd978",
                "c2d87a38968cce58"
            ]
        ]
    },
    {
        "id": "1ca8cdda0924604d",
        "type": "inject",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "20",
        "payloadType": "json",
        "x": 230,
        "y": 1760,
        "wires": [
            [
                "2117131da71236a3"
            ]
        ]
    },
    {
        "id": "b96f030c0c7b1bcd",
        "type": "delay",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 590,
        "y": 1820,
        "wires": [
            [
                "2b63c78263ef1f06"
            ]
        ]
    },
    {
        "id": "078458f465b0db55",
        "type": "delay",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 590,
        "y": 1880,
        "wires": [
            [
                "6a8b1fea26e48c4f"
            ]
        ]
    },
    {
        "id": "e6ec0141f4f3d11a",
        "type": "delay",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 590,
        "y": 1940,
        "wires": [
            [
                "7721d11dd1e56f79"
            ]
        ]
    },
    {
        "id": "f4e1eb04ff08b581",
        "type": "inject",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "json",
        "x": 90,
        "y": 2100,
        "wires": [
            [
                "fe464319b3b565ed"
            ]
        ]
    },
    {
        "id": "d50d0dbc52269751",
        "type": "delay",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 530,
        "y": 2160,
        "wires": [
            [
                "e4fe343bde3918b8"
            ]
        ]
    },
    {
        "id": "6d62c5191e9fd978",
        "type": "delay",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 530,
        "y": 2220,
        "wires": [
            [
                "5c6f6a013c13dafe"
            ]
        ]
    },
    {
        "id": "c2d87a38968cce58",
        "type": "delay",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 530,
        "y": 2280,
        "wires": [
            [
                "b268edae0cf1e1b4"
            ]
        ]
    },
    {
        "id": "89315367dab6d5d2",
        "type": "debug",
        "z": "8cfcdd978eabaaeb",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 3260,
        "y": 1600,
        "wires": []
    },
    {
        "id": "41b8ff3d5db51009",
        "type": "ui_text",
        "z": "8cfcdd978eabaaeb",
        "group": "54f7a86bb1024036",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SISTEMA",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 2670,
        "y": 1000,
        "wires": []
    },
    {
        "id": "daebd26289063a86",
        "type": "ui_text",
        "z": "8cfcdd978eabaaeb",
        "group": "03b5bf71738e3f11",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SISTEMA",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 2660,
        "y": 1060,
        "wires": []
    },
    {
        "id": "d65794f12cda3d40",
        "type": "ui_text",
        "z": "8cfcdd978eabaaeb",
        "group": "e7572a7306abb0da",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SISTEMA",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 2840,
        "y": 1000,
        "wires": []
    },
    {
        "id": "688f21a43c87dec4",
        "type": "ui_text",
        "z": "8cfcdd978eabaaeb",
        "group": "caf217567928ca0b",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SISTEMA",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 2840,
        "y": 1060,
        "wires": []
    },
    {
        "id": "b39b568896381fb7",
        "type": "comment",
        "z": "8cfcdd978eabaaeb",
        "name": "Elemento estetico ",
        "info": "",
        "x": 2700,
        "y": 940,
        "wires": []
    },
    {
        "id": "369f708bf8d5d6f3",
        "type": "ui_text",
        "z": "8cfcdd978eabaaeb",
        "group": "756f99e69c4296a5",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SISTEMA",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 3000,
        "y": 1000,
        "wires": []
    },
    {
        "id": "759329fc13f505d4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "caf217567928ca0b",
        "type": "ui_group",
        "name": "HUERTO4",
        "tab": "eda22f146f0db9bf",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "54f7a86bb1024036",
        "type": "ui_group",
        "name": "HUERTO1",
        "tab": "eda22f146f0db9bf",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "03b5bf71738e3f11",
        "type": "ui_group",
        "name": "HUERTO2",
        "tab": "eda22f146f0db9bf",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e7572a7306abb0da",
        "type": "ui_group",
        "name": "HUERTO3",
        "tab": "eda22f146f0db9bf",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "756f99e69c4296a5",
        "type": "ui_group",
        "name": "GLOBAL",
        "tab": "eda22f146f0db9bf",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "eda22f146f0db9bf",
        "type": "ui_tab",
        "name": "Configuración del Dispositivo",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]
