NodeRED/ControlLEDS_Angel.json
[
    {
        "id": "c5b211326b86063d",
        "type": "tab",
        "label": "CONTROL LEDS",
        "disabled": false,
        "info": ""
    },
    {
        "id": "468d2af615b7e8fc",
        "type": "ui_text",
        "z": "c5b211326b86063d",
        "group": "58cd41ecad3d35cb",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización LED",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1490,
        "y": 160,
        "wires": []
    },
    {
        "id": "4742959f1a695158",
        "type": "function",
        "z": "c5b211326b86063d",
        "name": "",
        "func": "var fecha = new Date (msg.payload);\n\nmsg.payload={};\nmsg.payload = fecha.toLocaleString(\"es-ES\",{\"timeZone\": \"Europe/Madrid\"});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 180,
        "wires": [
            [
                "468d2af615b7e8fc"
            ]
        ]
    },
    {
        "id": "57f4c27497bbef2d",
        "type": "mqtt in",
        "z": "c5b211326b86063d",
        "name": "",
        "topic": "II12/ESP3096728/led/status",
        "qos": "2",
        "datatype": "auto",
        "broker": "c7a3425e606353b2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 200,
        "y": 380,
        "wires": [
            [
                "136ac2311bc92554"
            ]
        ]
    },
    {
        "id": "2049f81fcfcf81b4",
        "type": "ui_gauge",
        "z": "c5b211326b86063d",
        "name": "",
        "group": "58cd41ecad3d35cb",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "LED PWM",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1470,
        "y": 260,
        "wires": []
    },
    {
        "id": "564ad1c9883bfbd4",
        "type": "change",
        "z": "c5b211326b86063d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.LED",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "polaridad",
                "pt": "msg",
                "to": "payload.Polaridad",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 380,
        "wires": [
            [
                "d31ed2dc5f819123"
            ]
        ]
    },
    {
        "id": "136ac2311bc92554",
        "type": "json",
        "z": "c5b211326b86063d",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 390,
        "y": 380,
        "wires": [
            [
                "7fa9db53276bc076",
                "0ecba7b08e10759b"
            ]
        ]
    },
    {
        "id": "7fa9db53276bc076",
        "type": "debug",
        "z": "c5b211326b86063d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 250,
        "y": 520,
        "wires": []
    },
    {
        "id": "a01d34d5bd12558e",
        "type": "range",
        "z": "c5b211326b86063d",
        "minin": "0",
        "maxin": "255",
        "minout": "100",
        "maxout": "0",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 1280,
        "y": 240,
        "wires": [
            [
                "2049f81fcfcf81b4",
                "87d5b26bd436511f"
            ]
        ]
    },
    {
        "id": "87d5b26bd436511f",
        "type": "debug",
        "z": "c5b211326b86063d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1430,
        "y": 40,
        "wires": []
    },
    {
        "id": "71b2870a6d27a966",
        "type": "switch",
        "z": "c5b211326b86063d",
        "name": "",
        "property": "polaridad",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1110,
        "y": 280,
        "wires": [
            [
                "a01d34d5bd12558e"
            ],
            [
                "8a0d95458b94e175"
            ]
        ]
    },
    {
        "id": "8a0d95458b94e175",
        "type": "range",
        "z": "c5b211326b86063d",
        "minin": "0",
        "maxin": "255",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 1280,
        "y": 300,
        "wires": [
            [
                "2049f81fcfcf81b4"
            ]
        ]
    },
    {
        "id": "d31ed2dc5f819123",
        "type": "switch",
        "z": "c5b211326b86063d",
        "name": "",
        "property": "identificador",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ID1",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID2",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID3",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID4",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 890,
        "y": 380,
        "wires": [
            [
                "4742959f1a695158",
                "71b2870a6d27a966"
            ],
            [
                "10b8f0d17a86e9c0",
                "16eac2849e88e42d"
            ],
            [
                "2c2fe631fbe37799",
                "7b925e893e7b1a93"
            ],
            [
                "d32620b91baa2f66",
                "1e288123133182f9"
            ]
        ]
    },
    {
        "id": "0ecba7b08e10759b",
        "type": "change",
        "z": "c5b211326b86063d",
        "name": "ID",
        "rules": [
            {
                "t": "set",
                "p": "identificador",
                "pt": "msg",
                "to": "payload.CHIPID",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "ID1",
                "pt": "msg",
                "to": "ID1",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "ID2",
                "pt": "msg",
                "to": "ID2",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "ID3",
                "pt": "msg",
                "to": "ID3",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "ID4",
                "pt": "msg",
                "to": "ID4",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 380,
        "wires": [
            [
                "564ad1c9883bfbd4"
            ]
        ]
    },
    {
        "id": "c5d994d9b86ad742",
        "type": "ui_text",
        "z": "c5b211326b86063d",
        "group": "52478992b88bbf8c",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización LED",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1570,
        "y": 340,
        "wires": []
    },
    {
        "id": "61e1be55fa507a2b",
        "type": "range",
        "z": "c5b211326b86063d",
        "minin": "0",
        "maxin": "255",
        "minout": "100",
        "maxout": "0",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 1450,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "18ae57187d26392e",
        "type": "switch",
        "z": "c5b211326b86063d",
        "name": "",
        "property": "polaridad",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1270,
        "y": 460,
        "wires": [
            [
                "61e1be55fa507a2b"
            ],
            [
                "92d34d2395db08b3"
            ]
        ]
    },
    {
        "id": "92d34d2395db08b3",
        "type": "range",
        "z": "c5b211326b86063d",
        "minin": "0",
        "maxin": "255",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 1450,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "10b8f0d17a86e9c0",
        "type": "function",
        "z": "c5b211326b86063d",
        "name": "",
        "func": "var fecha = new Date (msg.payload);\n\nmsg.payload={};\nmsg.payload = fecha.toLocaleString(\"es-ES\",{\"timeZone\": \"Europe/Madrid\"});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 380,
        "wires": [
            [
                "c5d994d9b86ad742"
            ]
        ]
    },
    {
        "id": "cb9ee5f847ca35e4",
        "type": "ui_gauge",
        "z": "c5b211326b86063d",
        "name": "",
        "group": "52478992b88bbf8c",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "LED PWM",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1650,
        "y": 440,
        "wires": []
    },
    {
        "id": "536079635996f34a",
        "type": "range",
        "z": "c5b211326b86063d",
        "minin": "0",
        "maxin": "255",
        "minout": "100",
        "maxout": "0",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 1450,
        "y": 420,
        "wires": [
            [
                "cb9ee5f847ca35e4"
            ]
        ]
    },
    {
        "id": "16eac2849e88e42d",
        "type": "switch",
        "z": "c5b211326b86063d",
        "name": "",
        "property": "polaridad",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1270,
        "y": 460,
        "wires": [
            [
                "536079635996f34a"
            ],
            [
                "2cb54ff91751abe8"
            ]
        ]
    },
    {
        "id": "2cb54ff91751abe8",
        "type": "range",
        "z": "c5b211326b86063d",
        "minin": "0",
        "maxin": "255",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 1450,
        "y": 480,
        "wires": [
            [
                "cb9ee5f847ca35e4"
            ]
        ]
    },
    {
        "id": "975717ba338cd93e",
        "type": "ui_text",
        "z": "c5b211326b86063d",
        "group": "1d0d307fb3c6d364",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización LED",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1630,
        "y": 540,
        "wires": []
    },
    {
        "id": "2c2fe631fbe37799",
        "type": "function",
        "z": "c5b211326b86063d",
        "name": "",
        "func": "var fecha = new Date (msg.payload);\n\nmsg.payload={};\nmsg.payload = fecha.toLocaleString(\"es-ES\",{\"timeZone\": \"Europe/Madrid\"});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 560,
        "wires": [
            [
                "975717ba338cd93e"
            ]
        ]
    },
    {
        "id": "744f0910211c6187",
        "type": "ui_gauge",
        "z": "c5b211326b86063d",
        "name": "",
        "group": "1d0d307fb3c6d364",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "LED PWM",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1610,
        "y": 660,
        "wires": []
    },
    {
        "id": "21f117dca67e4ffe",
        "type": "range",
        "z": "c5b211326b86063d",
        "minin": "0",
        "maxin": "255",
        "minout": "100",
        "maxout": "0",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 1420,
        "y": 640,
        "wires": [
            [
                "744f0910211c6187"
            ]
        ]
    },
    {
        "id": "7b925e893e7b1a93",
        "type": "switch",
        "z": "c5b211326b86063d",
        "name": "",
        "property": "polaridad",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1250,
        "y": 660,
        "wires": [
            [
                "21f117dca67e4ffe"
            ],
            [
                "e8455d86252b1734"
            ]
        ]
    },
    {
        "id": "e8455d86252b1734",
        "type": "range",
        "z": "c5b211326b86063d",
        "minin": "0",
        "maxin": "255",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 1420,
        "y": 700,
        "wires": [
            [
                "744f0910211c6187"
            ]
        ]
    },
    {
        "id": "df5d0ebbc1943db9",
        "type": "ui_text",
        "z": "c5b211326b86063d",
        "group": "88ea1dac2052caf5",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización LED",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1630,
        "y": 760,
        "wires": []
    },
    {
        "id": "d32620b91baa2f66",
        "type": "function",
        "z": "c5b211326b86063d",
        "name": "",
        "func": "var fecha = new Date (msg.payload);\n\nmsg.time = fecha.toLocaleString(\"es-ES\",{\"timeZone\": \"Europe/Madrid\"});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 760,
        "wires": [
            [
                "df5d0ebbc1943db9"
            ]
        ]
    },
    {
        "id": "57880c124aa9e3b4",
        "type": "ui_gauge",
        "z": "c5b211326b86063d",
        "name": "",
        "group": "88ea1dac2052caf5",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "LED PWM",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1610,
        "y": 840,
        "wires": []
    },
    {
        "id": "58e93fb430311d79",
        "type": "range",
        "z": "c5b211326b86063d",
        "minin": "0",
        "maxin": "255",
        "minout": "100",
        "maxout": "0",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 1420,
        "y": 820,
        "wires": [
            [
                "57880c124aa9e3b4"
            ]
        ]
    },
    {
        "id": "1e288123133182f9",
        "type": "switch",
        "z": "c5b211326b86063d",
        "name": "",
        "property": "polaridad",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1250,
        "y": 840,
        "wires": [
            [
                "58e93fb430311d79"
            ],
            [
                "d2226c477ff0437c"
            ]
        ]
    },
    {
        "id": "d2226c477ff0437c",
        "type": "range",
        "z": "c5b211326b86063d",
        "minin": "0",
        "maxin": "255",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 1420,
        "y": 900,
        "wires": [
            [
                "57880c124aa9e3b4"
            ]
        ]
    },
    {
        "id": "3dc260489b6d0cc9",
        "type": "mqtt in",
        "z": "c5b211326b86063d",
        "name": "",
        "topic": "II12/ESP3096728/switch/status",
        "qos": "2",
        "datatype": "auto",
        "broker": "c7a3425e606353b2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 190,
        "y": 1180,
        "wires": [
            [
                "c56dd97ff63e2bd2"
            ]
        ]
    },
    {
        "id": "062ebdda3164ef28",
        "type": "change",
        "z": "c5b211326b86063d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.SWITCH",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "polaridad",
                "pt": "msg",
                "to": "payload.Polaridad",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 1180,
        "wires": [
            [
                "dfeffb65c12f194a"
            ]
        ]
    },
    {
        "id": "c56dd97ff63e2bd2",
        "type": "json",
        "z": "c5b211326b86063d",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 430,
        "y": 1180,
        "wires": [
            [
                "990f89dca9fb602f"
            ]
        ]
    },
    {
        "id": "926a50d1577b8cc2",
        "type": "switch",
        "z": "c5b211326b86063d",
        "name": "",
        "property": "identificador",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ID1",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID2",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID3",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID4",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 1090,
        "y": 1180,
        "wires": [
            [
                "071ebf4adfe855b1",
                "663f2dfab91b8c33"
            ],
            [
                "d26725c51c74ce6e",
                "0b8926559153d296"
            ],
            [
                "36700e79db61ae6e",
                "6cfb882456078017"
            ],
            [
                "bb125339f8c6c83d",
                "9a526ba171200f69"
            ]
        ]
    },
    {
        "id": "990f89dca9fb602f",
        "type": "change",
        "z": "c5b211326b86063d",
        "name": "ID",
        "rules": [
            {
                "t": "set",
                "p": "identificador",
                "pt": "msg",
                "to": "payload.CHIPID",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "ID1",
                "pt": "msg",
                "to": "ID1",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "ID2",
                "pt": "msg",
                "to": "ID2",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "ID3",
                "pt": "msg",
                "to": "ID3",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "ID4",
                "pt": "msg",
                "to": "ID4",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 1180,
        "wires": [
            [
                "062ebdda3164ef28"
            ]
        ]
    },
    {
        "id": "dfeffb65c12f194a",
        "type": "function",
        "z": "c5b211326b86063d",
        "name": "",
        "func": "var fecha = new Date (msg.payload);\n\nmsg.time = fecha.toLocaleString(\"es-ES\",{\"timeZone\": \"Europe/Madrid\"});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 1180,
        "wires": [
            [
                "926a50d1577b8cc2"
            ]
        ]
    },
    {
        "id": "071ebf4adfe855b1",
        "type": "ui_led",
        "z": "c5b211326b86063d",
        "order": 6,
        "group": "58cd41ecad3d35cb",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#00cc00",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 1370,
        "y": 1020,
        "wires": []
    },
    {
        "id": "663f2dfab91b8c33",
        "type": "ui_text",
        "z": "c5b211326b86063d",
        "group": "58cd41ecad3d35cb",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización switch:",
        "format": "{{msg.time}}",
        "layout": "row-spread",
        "className": "",
        "x": 1440,
        "y": 1060,
        "wires": []
    },
    {
        "id": "d26725c51c74ce6e",
        "type": "ui_led",
        "z": "c5b211326b86063d",
        "order": 6,
        "group": "52478992b88bbf8c",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#00cc00",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 1370,
        "y": 1120,
        "wires": []
    },
    {
        "id": "0b8926559153d296",
        "type": "ui_text",
        "z": "c5b211326b86063d",
        "group": "52478992b88bbf8c",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización switch:",
        "format": "{{msg.time}}",
        "layout": "row-spread",
        "className": "",
        "x": 1440,
        "y": 1160,
        "wires": []
    },
    {
        "id": "36700e79db61ae6e",
        "type": "ui_led",
        "z": "c5b211326b86063d",
        "order": 6,
        "group": "1d0d307fb3c6d364",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#00cc00",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 1370,
        "y": 1200,
        "wires": []
    },
    {
        "id": "6cfb882456078017",
        "type": "ui_text",
        "z": "c5b211326b86063d",
        "group": "1d0d307fb3c6d364",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización switch:",
        "format": "{{msg.time}}",
        "layout": "row-spread",
        "className": "",
        "x": 1440,
        "y": 1240,
        "wires": []
    },
    {
        "id": "bb125339f8c6c83d",
        "type": "ui_led",
        "z": "c5b211326b86063d",
        "order": 6,
        "group": "88ea1dac2052caf5",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#00cc00",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 1370,
        "y": 1300,
        "wires": []
    },
    {
        "id": "9a526ba171200f69",
        "type": "ui_text",
        "z": "c5b211326b86063d",
        "group": "88ea1dac2052caf5",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización switch:",
        "format": "{{msg.time}}",
        "layout": "row-spread",
        "className": "",
        "x": 1440,
        "y": 1340,
        "wires": []
    },
    {
        "id": "304f9f12c2f5b8c1",
        "type": "comment",
        "z": "c5b211326b86063d",
        "name": "Lectura PWM",
        "info": "",
        "x": 190,
        "y": 300,
        "wires": []
    },
    {
        "id": "7807681bf67fae87",
        "type": "comment",
        "z": "c5b211326b86063d",
        "name": "Lectura Switch",
        "info": "",
        "x": 180,
        "y": 1100,
        "wires": []
    },
    {
        "id": "826139079aae10a4",
        "type": "mqtt out",
        "z": "c5b211326b86063d",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c7a3425e606353b2",
        "x": 850,
        "y": 1600,
        "wires": []
    },
    {
        "id": "8326225fa2d2f399",
        "type": "ui_slider",
        "z": "c5b211326b86063d",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "58cd41ecad3d35cb",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 130,
        "y": 1380,
        "wires": [
            [
                "6730a21983593e07"
            ]
        ]
    },
    {
        "id": "6730a21983593e07",
        "type": "change",
        "z": "c5b211326b86063d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "pwm1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 1380,
        "wires": [
            [
                "b821cb438f1fe0c0"
            ]
        ]
    },
    {
        "id": "b821cb438f1fe0c0",
        "type": "function",
        "z": "c5b211326b86063d",
        "name": "",
        "func": "msg.payload={};\nvar level=flow.get(\"pwm1\");\nvar id=global.get(\"ID1\");\n\nmsg.payload={\"level\":level, \"id\":id};\n\nmsg.topic=\"II12/\"+id+\"/led/cmd\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1380,
        "wires": [
            [
                "826139079aae10a4",
                "1ea5a219fc1473e1"
            ]
        ]
    },
    {
        "id": "d5d11b2eb92d9c23",
        "type": "mqtt out",
        "z": "c5b211326b86063d",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c7a3425e606353b2",
        "x": 850,
        "y": 2000,
        "wires": []
    },
    {
        "id": "9f782057a77e5c83",
        "type": "function",
        "z": "c5b211326b86063d",
        "name": "",
        "func": "var level=msg.payload;\nvar id=global.get(\"ID1\");\n\nmsg.payload={\"level\":level, \"id\":id};\nmsg.topic=\"II12/\"+id\"/switch/cmd\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 1920,
        "wires": [
            [
                "d5d11b2eb92d9c23",
                "25245088e0dae9d6"
            ]
        ]
    },
    {
        "id": "52d6a3486486f6f4",
        "type": "ui_switch",
        "z": "c5b211326b86063d",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "58cd41ecad3d35cb",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 1920,
        "wires": [
            [
                "9f782057a77e5c83"
            ]
        ]
    },
    {
        "id": "3b90f2f6a39dedf2",
        "type": "ui_slider",
        "z": "c5b211326b86063d",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "52478992b88bbf8c",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 130,
        "y": 1500,
        "wires": [
            [
                "20b8c9559d76962c"
            ]
        ]
    },
    {
        "id": "20b8c9559d76962c",
        "type": "change",
        "z": "c5b211326b86063d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "pwm2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 1500,
        "wires": [
            [
                "b0b2e7773dcf4989"
            ]
        ]
    },
    {
        "id": "b0b2e7773dcf4989",
        "type": "function",
        "z": "c5b211326b86063d",
        "name": "",
        "func": "msg.payload={};\nvar level=flow.get(\"pwm2\");\nvar id=global.get(\"ID2\");\n\nmsg.payload={\"level\":level, \"id\":id};\n\nmsg.topic=\"II12/\"+id+\"/led/cmd\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1500,
        "wires": [
            [
                "826139079aae10a4"
            ]
        ]
    },
    {
        "id": "411820990cd789fa",
        "type": "ui_slider",
        "z": "c5b211326b86063d",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "1d0d307fb3c6d364",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 130,
        "y": 1580,
        "wires": [
            [
                "422167214eb31e7b"
            ]
        ]
    },
    {
        "id": "422167214eb31e7b",
        "type": "change",
        "z": "c5b211326b86063d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "pwm3",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 1580,
        "wires": [
            [
                "e716482ed7bdca20"
            ]
        ]
    },
    {
        "id": "e716482ed7bdca20",
        "type": "function",
        "z": "c5b211326b86063d",
        "name": "",
        "func": "msg.payload={};\nvar level=flow.get(\"pwm3\");\nvar id=global.get(\"ID3\");\n\nmsg.payload={\"level\":level, \"id\":id};\n\nmsg.topic=\"II12/\"+id+\"/led/cmd\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1580,
        "wires": [
            [
                "826139079aae10a4"
            ]
        ]
    },
    {
        "id": "f7e5f79fe96a97fa",
        "type": "ui_slider",
        "z": "c5b211326b86063d",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "88ea1dac2052caf5",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 130,
        "y": 1700,
        "wires": [
            [
                "0b22e70d37143885"
            ]
        ]
    },
    {
        "id": "0b22e70d37143885",
        "type": "change",
        "z": "c5b211326b86063d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "pwm4",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 1700,
        "wires": [
            [
                "c41bcfb8b573412f"
            ]
        ]
    },
    {
        "id": "c41bcfb8b573412f",
        "type": "function",
        "z": "c5b211326b86063d",
        "name": "",
        "func": "msg.payload={};\nvar level=flow.get(\"pwm4\");\nvar id=global.get(\"ID4\");\n\nmsg.payload={\"level\":level, \"id\":id};\n\nmsg.topic=\"II12/\"+id+\"/led/cmd\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1700,
        "wires": [
            [
                "826139079aae10a4"
            ]
        ]
    },
    {
        "id": "70fb2f803c65f69e",
        "type": "comment",
        "z": "c5b211326b86063d",
        "name": "Control PWM",
        "info": "",
        "x": 160,
        "y": 1320,
        "wires": []
    },
    {
        "id": "0cf4f9b47678f209",
        "type": "function",
        "z": "c5b211326b86063d",
        "name": "",
        "func": "var level=msg.payload;\nvar id=global.get(\"ID1\");\n\nmsg.payload={\"level\":level, \"id\":id};\nmsg.topic=\"II12/\"+id\"/switch/cmd\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 2000,
        "wires": [
            [
                "d5d11b2eb92d9c23"
            ]
        ]
    },
    {
        "id": "e55d7df41672a85d",
        "type": "ui_switch",
        "z": "c5b211326b86063d",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "52478992b88bbf8c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 2000,
        "wires": [
            [
                "0cf4f9b47678f209"
            ]
        ]
    },
    {
        "id": "3b2d43b87c8760bc",
        "type": "function",
        "z": "c5b211326b86063d",
        "name": "",
        "func": "var level=msg.payload;\nvar id=global.get(\"ID1\");\n\nmsg.payload={\"level\":level, \"id\":id};\nmsg.topic=\"II12/\"+id\"/switch/cmd\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 2080,
        "wires": [
            [
                "d5d11b2eb92d9c23"
            ]
        ]
    },
    {
        "id": "2b1ee08e1a4b9687",
        "type": "ui_switch",
        "z": "c5b211326b86063d",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "1d0d307fb3c6d364",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 2080,
        "wires": [
            [
                "3b2d43b87c8760bc"
            ]
        ]
    },
    {
        "id": "cb67ae832d78730e",
        "type": "function",
        "z": "c5b211326b86063d",
        "name": "",
        "func": "var level=msg.payload;\nvar id=global.get(\"ID1\");\n\nmsg.payload={\"level\":level, \"id\":id};\nmsg.topic=\"II12/\"+id\"/switch/cmd\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 2160,
        "wires": [
            [
                "d5d11b2eb92d9c23"
            ]
        ]
    },
    {
        "id": "0a769c88cd3bc6ef",
        "type": "ui_switch",
        "z": "c5b211326b86063d",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "88ea1dac2052caf5",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 2160,
        "wires": [
            [
                "cb67ae832d78730e"
            ]
        ]
    },
    {
        "id": "1ea5a219fc1473e1",
        "type": "debug",
        "z": "c5b211326b86063d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 1380,
        "wires": []
    },
    {
        "id": "25245088e0dae9d6",
        "type": "debug",
        "z": "c5b211326b86063d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 1900,
        "wires": []
    },
    {
        "id": "58cd41ecad3d35cb",
        "type": "ui_group",
        "name": "Actuadores",
        "tab": "594cecd70ae88430",
        "order": 2,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c7a3425e606353b2",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "52478992b88bbf8c",
        "type": "ui_group",
        "name": "Actuadores",
        "tab": "cb0a8f66055dc5e4",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1d0d307fb3c6d364",
        "type": "ui_group",
        "name": "Actuadores",
        "tab": "3ea480f31c69cc51",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "88ea1dac2052caf5",
        "type": "ui_group",
        "name": "Actuadores",
        "tab": "56d00aae9c36eba0",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "594cecd70ae88430",
        "type": "ui_tab",
        "name": "HUERTO 1",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cb0a8f66055dc5e4",
        "type": "ui_tab",
        "name": "HUERTO 2",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3ea480f31c69cc51",
        "type": "ui_tab",
        "name": "HUERTO 3",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "56d00aae9c36eba0",
        "type": "ui_tab",
        "name": "HUERTO 4",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]