NodeRED/DatosSensoresFinal.json
[
    {
        "id": "b753aaf65187d3a8",
        "type": "tab",
        "label": "DATOS SENSORES",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4dc28dd061f935c7",
        "type": "mqtt in",
        "z": "b753aaf65187d3a8",
        "name": "",
        "topic": "II12/+/datos",
        "qos": "2",
        "datatype": "auto",
        "broker": "759329fc13f505d4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 230,
        "y": 1300,
        "wires": [
            [
                "db68b91c31634706"
            ]
        ]
    },
    {
        "id": "904f9ca4c230d70f",
        "type": "mqtt in",
        "z": "b753aaf65187d3a8",
        "name": "",
        "topic": "II12/+/conexion",
        "qos": "2",
        "datatype": "auto",
        "broker": "759329fc13f505d4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 320,
        "y": 260,
        "wires": [
            [
                "aac996131653e992"
            ]
        ]
    },
    {
        "id": "0a5fcdd34144552b",
        "type": "comment",
        "z": "b753aaf65187d3a8",
        "name": "Estado de conexión del dispositivo",
        "info": "",
        "x": 380,
        "y": 220,
        "wires": []
    },
    {
        "id": "8f228ea0b5f704c5",
        "type": "change",
        "z": "b753aaf65187d3a8",
        "name": "SSID",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.SSID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 2440,
        "wires": [
            [
                "2ff42a0aba7994f9"
            ]
        ]
    },
    {
        "id": "5c3cd845318d027f",
        "type": "change",
        "z": "b753aaf65187d3a8",
        "name": "Local IP",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.IP",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 2700,
        "wires": [
            [
                "7bc37a8f2dcd7507"
            ]
        ]
    },
    {
        "id": "ed5541a5651c08bb",
        "type": "change",
        "z": "b753aaf65187d3a8",
        "name": "temp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.Temperatura",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Temperatura",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 1160,
        "wires": [
            [
                "361c0e01b182fd2a"
            ]
        ]
    },
    {
        "id": "a643528e385918bb",
        "type": "change",
        "z": "b753aaf65187d3a8",
        "name": "hum",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.Humedad",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Humedad",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 1560,
        "wires": [
            [
                "f48903f2dda4d748"
            ]
        ]
    },
    {
        "id": "6afbcd49761b45fd",
        "type": "change",
        "z": "b753aaf65187d3a8",
        "name": "uptime",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Uptime",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 1920,
        "wires": [
            [
                "958fb574fe53eaeb"
            ]
        ]
    },
    {
        "id": "987b2a299a2573ee",
        "type": "change",
        "z": "b753aaf65187d3a8",
        "name": "vcc",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Vcc",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Bateria",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 800,
        "wires": [
            [
                "d484a8907934f0c7"
            ]
        ]
    },
    {
        "id": "f84ea1057a18cbea",
        "type": "ui_text",
        "z": "b753aaf65187d3a8",
        "group": "6f7f07235c3cb89a",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Batería:",
        "format": "{{msg.payload}} mV",
        "layout": "row-spread",
        "className": "",
        "x": 1240,
        "y": 720,
        "wires": []
    },
    {
        "id": "32e23443afcb2882",
        "type": "ui_gauge",
        "z": "b753aaf65187d3a8",
        "name": "",
        "group": "cf1d861e87f90e9c",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "ºC",
        "format": "{{value}}",
        "min": "-10",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1150,
        "y": 1000,
        "wires": []
    },
    {
        "id": "198735d7dea2b7e2",
        "type": "ui_text",
        "z": "b753aaf65187d3a8",
        "group": "af6f16eec5913214",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Uptime:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1600,
        "y": 1860,
        "wires": []
    },
    {
        "id": "62f40f67a03c11bc",
        "type": "comment",
        "z": "b753aaf65187d3a8",
        "name": "Datos de los sensores",
        "info": "",
        "x": 200,
        "y": 1260,
        "wires": []
    },
    {
        "id": "aac996131653e992",
        "type": "json",
        "z": "b753aaf65187d3a8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 550,
        "y": 260,
        "wires": [
            [
                "87b2aa4dbc1d679e"
            ]
        ]
    },
    {
        "id": "7fdb8d8854b1cd1e",
        "type": "ui_chart",
        "z": "b753aaf65187d3a8",
        "name": "",
        "group": "cf1d861e87f90e9c",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Evolucion Historica DHT11",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1960,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "132e1bb9019eed8a",
        "type": "ui_chart",
        "z": "b753aaf65187d3a8",
        "name": "",
        "group": "6f7f07235c3cb89a",
        "order": 7,
        "width": 0,
        "height": 0,
        "label": "Evolucion Historica Batería",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "2500",
        "ymax": "3500",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1300,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "4ff1535a14cb7e29",
        "type": "debug",
        "z": "b753aaf65187d3a8",
        "name": "datos",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 1160,
        "wires": []
    },
    {
        "id": "db68b91c31634706",
        "type": "json",
        "z": "b753aaf65187d3a8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 470,
        "y": 1300,
        "wires": [
            [
                "4ff1535a14cb7e29",
                "30ef9b0c53e449cb"
            ]
        ]
    },
    {
        "id": "30ef9b0c53e449cb",
        "type": "change",
        "z": "b753aaf65187d3a8",
        "name": "ID",
        "rules": [
            {
                "t": "set",
                "p": "identificador",
                "pt": "msg",
                "to": "payload.CHIPID",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "ID1",
                "pt": "msg",
                "to": "ID1",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "ID2",
                "pt": "msg",
                "to": "ID2",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "ID3",
                "pt": "msg",
                "to": "ID3",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "ID4",
                "pt": "msg",
                "to": "ID4",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 1300,
        "wires": [
            [
                "987b2a299a2573ee",
                "ed5541a5651c08bb",
                "a643528e385918bb",
                "6afbcd49761b45fd",
                "046655e59f2505ce",
                "8f228ea0b5f704c5",
                "5c3cd845318d027f"
            ]
        ]
    },
    {
        "id": "3e43a2a7a1c21d74",
        "type": "switch",
        "z": "b753aaf65187d3a8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 930,
        "y": 260,
        "wires": [
            [
                "de4fd48a4e2a175b"
            ],
            [
                "7bac785d81c417c8"
            ]
        ]
    },
    {
        "id": "de4fd48a4e2a175b",
        "type": "function",
        "z": "b753aaf65187d3a8",
        "name": "SetUp ID",
        "func": "var CHIPID = msg.identificador;\nif(CHIPID==global.get(\"ID1\") || CHIPID==global.get(\"ID2\") || CHIPID==global.get(\"ID3\") || CHIPID==global.get(\"ID4\"))\n{}\nelse if (global.get(\"ID1\")==-1)\n{\n    global.set(\"ID1\",CHIPID)\n}\nelse if (global.get(\"ID2\")==-1)\n{\n    global.set(\"ID2\",CHIPID)\n}\nelse if (global.get(\"ID3\")==-1)\n{\n    global.set(\"ID3\",CHIPID)\n}\nelse if (global.get(\"ID4\")==-1)\n{\n    global.set(\"ID4\",CHIPID)\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 180,
        "wires": [
            [
                "141fb6f16c1260cc",
                "6928f9fa6136d121"
            ]
        ]
    },
    {
        "id": "e4dd7a2972cfe528",
        "type": "function",
        "z": "b753aaf65187d3a8",
        "name": "Borra ID",
        "func": "var CHIPID = msg.identificador;\n\nif (global.get(\"ID1\")==CHIPID)\n{\n    global.set(\"ID1\",-1)\n}\nif (global.get(\"ID2\")==CHIPID)\n{\n    global.set(\"ID2\",-1)\n}\nif (global.get(\"ID3\")==CHIPID)\n{\n    global.set(\"ID3\",-1)\n}\nif (global.get(\"ID4\")==CHIPID)\n{\n    global.set(\"ID4\",-1)\n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "d484a8907934f0c7",
        "type": "switch",
        "z": "b753aaf65187d3a8",
        "name": "",
        "property": "identificador",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ID1",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID2",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID3",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID4",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 1060,
        "y": 800,
        "wires": [
            [
                "132e1bb9019eed8a",
                "f84ea1057a18cbea",
                "ad453b36b04f9cc8"
            ],
            [
                "7d693ce2b30ff796",
                "9156ed01ee2794f7",
                "28a9d068f9b03dd8"
            ],
            [
                "9f0cebcaee4a8548",
                "18809b4df69b027e",
                "dc1a3c970df4cd8f"
            ],
            [
                "7f5dd70f7400e33e",
                "a9f7894d51efa571",
                "2f48bb3867209ca9"
            ]
        ]
    },
    {
        "id": "9fb19bcbdd4d0a0c",
        "type": "comment",
        "z": "b753aaf65187d3a8",
        "name": "Configuracion ID",
        "info": "",
        "x": 830,
        "y": 140,
        "wires": []
    },
    {
        "id": "9156ed01ee2794f7",
        "type": "ui_text",
        "z": "b753aaf65187d3a8",
        "group": "bff227c94194e97a",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Batería:",
        "format": "{{msg.payload}} mV",
        "layout": "row-spread",
        "className": "",
        "x": 1580,
        "y": 720,
        "wires": []
    },
    {
        "id": "7d693ce2b30ff796",
        "type": "ui_chart",
        "z": "b753aaf65187d3a8",
        "name": "",
        "group": "bff227c94194e97a",
        "order": 7,
        "width": 0,
        "height": 0,
        "label": "Evolucion Historica Batería",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "2500",
        "ymax": "3500",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1640,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "18809b4df69b027e",
        "type": "ui_text",
        "z": "b753aaf65187d3a8",
        "group": "40ce7ee52058063c",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Batería:",
        "format": "{{msg.payload}} mV",
        "layout": "row-spread",
        "className": "",
        "x": 1580,
        "y": 880,
        "wires": []
    },
    {
        "id": "9f0cebcaee4a8548",
        "type": "ui_chart",
        "z": "b753aaf65187d3a8",
        "name": "",
        "group": "40ce7ee52058063c",
        "order": 7,
        "width": 0,
        "height": 0,
        "label": "Evolucion Historica Batería",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "2500",
        "ymax": "3500",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1636.4921875,
        "y": 832.4765625,
        "wires": [
            []
        ]
    },
    {
        "id": "a9f7894d51efa571",
        "type": "ui_text",
        "z": "b753aaf65187d3a8",
        "group": "186b095ab384e9a4",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Batería:",
        "format": "{{msg.payload}} mV",
        "layout": "row-spread",
        "className": "",
        "x": 1220,
        "y": 880,
        "wires": []
    },
    {
        "id": "7f5dd70f7400e33e",
        "type": "ui_chart",
        "z": "b753aaf65187d3a8",
        "name": "",
        "group": "186b095ab384e9a4",
        "order": 7,
        "width": 0,
        "height": 0,
        "label": "Evolucion Historica Batería",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "2500",
        "ymax": "3500",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1280,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "361c0e01b182fd2a",
        "type": "switch",
        "z": "b753aaf65187d3a8",
        "name": "",
        "property": "identificador",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ID1",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID2",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID3",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID4",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 1090,
        "y": 1160,
        "wires": [
            [
                "aa47e7ba5bb24874",
                "7ddd3197ae553ada",
                "54d5ea779efa3ec6"
            ],
            [
                "32e23443afcb2882",
                "78a66cf829f9db49",
                "04e3b1b8df99c722"
            ],
            [
                "93d96236066f1ada",
                "91bd05e7067cff3d",
                "4ed3ed1148719366"
            ],
            [
                "eb7ab28e65e2efea",
                "18c89423d30e2171",
                "d8a1633a65f516d0"
            ]
        ]
    },
    {
        "id": "aa47e7ba5bb24874",
        "type": "ui_gauge",
        "z": "b753aaf65187d3a8",
        "name": "",
        "group": "af6f16eec5913214",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "ºC",
        "format": "{{value}}",
        "min": "-10",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1150,
        "y": 960,
        "wires": []
    },
    {
        "id": "eb7ab28e65e2efea",
        "type": "ui_gauge",
        "z": "b753aaf65187d3a8",
        "name": "",
        "group": "09a35a8ee5787f1c",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "ºC",
        "format": "{{value}}",
        "min": "-10",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1150,
        "y": 1080,
        "wires": []
    },
    {
        "id": "93d96236066f1ada",
        "type": "ui_gauge",
        "z": "b753aaf65187d3a8",
        "name": "",
        "group": "18aa280385e724d2",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "ºC",
        "format": "{{value}}",
        "min": "-10",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1150,
        "y": 1040,
        "wires": []
    },
    {
        "id": "f48903f2dda4d748",
        "type": "switch",
        "z": "b753aaf65187d3a8",
        "name": "",
        "property": "identificador",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ID1",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID2",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID3",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID4",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 1090,
        "y": 1560,
        "wires": [
            [
                "0e2bece766a02ee1",
                "4261b6100efe660e",
                "92401efd283801a5"
            ],
            [
                "e66cd86465ca2d2f",
                "aba1411bb51a5a48",
                "b5dee59e254e0193"
            ],
            [
                "9ad5656a163bdafc",
                "4a3b6a725d5d355a",
                "32608fd877b946e1"
            ],
            [
                "cdb261fb251fb27b",
                "11f972209c261c64",
                "2545145b3ac479cb"
            ]
        ]
    },
    {
        "id": "e66cd86465ca2d2f",
        "type": "ui_gauge",
        "z": "b753aaf65187d3a8",
        "name": "",
        "group": "cf1d861e87f90e9c",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1440,
        "y": 1540,
        "wires": []
    },
    {
        "id": "0e2bece766a02ee1",
        "type": "ui_gauge",
        "z": "b753aaf65187d3a8",
        "name": "",
        "group": "af6f16eec5913214",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1440,
        "y": 1500,
        "wires": []
    },
    {
        "id": "cdb261fb251fb27b",
        "type": "ui_gauge",
        "z": "b753aaf65187d3a8",
        "name": "",
        "group": "09a35a8ee5787f1c",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1440,
        "y": 1620,
        "wires": []
    },
    {
        "id": "9ad5656a163bdafc",
        "type": "ui_gauge",
        "z": "b753aaf65187d3a8",
        "name": "",
        "group": "18aa280385e724d2",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1440,
        "y": 1580,
        "wires": []
    },
    {
        "id": "8f66eab85948cdbd",
        "type": "ui_chart",
        "z": "b753aaf65187d3a8",
        "name": "",
        "group": "af6f16eec5913214",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Evolucion Historica DHT11",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1960,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "3ef742240c8a1ec0",
        "type": "ui_chart",
        "z": "b753aaf65187d3a8",
        "name": "",
        "group": "09a35a8ee5787f1c",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Evolucion Historica DHT11",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1960,
        "y": 1420,
        "wires": [
            []
        ]
    },
    {
        "id": "94a213cb96a45bf0",
        "type": "ui_chart",
        "z": "b753aaf65187d3a8",
        "name": "",
        "group": "18aa280385e724d2",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Evolucion Historica DHT11",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1960,
        "y": 1360,
        "wires": [
            []
        ]
    },
    {
        "id": "03458059e4ab83bd",
        "type": "switch",
        "z": "b753aaf65187d3a8",
        "name": "",
        "property": "identificador",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ID1",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID2",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID3",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID4",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 1250,
        "y": 1920,
        "wires": [
            [
                "198735d7dea2b7e2",
                "58a452df1bb93acf"
            ],
            [
                "8068e023ef4141d5",
                "84462d9c91f9bb63"
            ],
            [
                "269867f21472af1c",
                "f33797e2151e30a3"
            ],
            [
                "24ddad2929161ead",
                "9026d40ac133b9fe"
            ]
        ]
    },
    {
        "id": "958fb574fe53eaeb",
        "type": "function",
        "z": "b753aaf65187d3a8",
        "name": "",
        "func": "var timestamp = msg.payload;\nvar date = new Date(timestamp);\nmsg.payload={};\nvar mes=-1;\n\nif(date.getDate()==1)\n{\n    mes = mes+1;\n}\n\nvar dia = date.getDate() + 30*mes -1;\n\nmsg.payload=\"Días: \"+dia+\"  Horas: \"+date.getHours()+\"  Minutos: \"+date.getMinutes()//+\":\"+date.getSeconds();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 1920,
        "wires": [
            [
                "03458059e4ab83bd"
            ]
        ]
    },
    {
        "id": "8068e023ef4141d5",
        "type": "ui_text",
        "z": "b753aaf65187d3a8",
        "group": "cf1d861e87f90e9c",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Uptime:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1600,
        "y": 1900,
        "wires": []
    },
    {
        "id": "269867f21472af1c",
        "type": "ui_text",
        "z": "b753aaf65187d3a8",
        "group": "18aa280385e724d2",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Uptime:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1600,
        "y": 1940,
        "wires": []
    },
    {
        "id": "24ddad2929161ead",
        "type": "ui_text",
        "z": "b753aaf65187d3a8",
        "group": "09a35a8ee5787f1c",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Uptime:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1600,
        "y": 1980,
        "wires": []
    },
    {
        "id": "cd93b7905c55aa81",
        "type": "ui_text",
        "z": "b753aaf65187d3a8",
        "group": "6f7f07235c3cb89a",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RSSI actual",
        "format": "{{msg.payload}} dBm",
        "layout": "row-spread",
        "className": "",
        "x": 1310,
        "y": 2140,
        "wires": []
    },
    {
        "id": "92d6d3c6b43bfc91",
        "type": "ui_text",
        "z": "b753aaf65187d3a8",
        "group": "bff227c94194e97a",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RSSI actual:",
        "format": "{{msg.payload}} dBm",
        "layout": "row-spread",
        "className": "",
        "x": 1310,
        "y": 2180,
        "wires": []
    },
    {
        "id": "85fd2b0b6878b7a2",
        "type": "ui_text",
        "z": "b753aaf65187d3a8",
        "group": "40ce7ee52058063c",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RSSI actual:",
        "format": "{{msg.payload}} dBm",
        "layout": "row-spread",
        "className": "",
        "x": 1310,
        "y": 2260,
        "wires": []
    },
    {
        "id": "8da49f6a8ca35bf5",
        "type": "ui_text",
        "z": "b753aaf65187d3a8",
        "group": "186b095ab384e9a4",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RSSI actual:",
        "format": "{{msg.payload}} dBm",
        "layout": "row-spread",
        "className": "",
        "x": 1310,
        "y": 2300,
        "wires": []
    },
    {
        "id": "afd8a75897d335c4",
        "type": "switch",
        "z": "b753aaf65187d3a8",
        "name": "",
        "property": "identificador",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ID1",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID2",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID3",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID4",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 1130,
        "y": 2220,
        "wires": [
            [
                "cd93b7905c55aa81",
                "5519975d20207ede"
            ],
            [
                "92d6d3c6b43bfc91",
                "5519975d20207ede"
            ],
            [
                "85fd2b0b6878b7a2",
                "5519975d20207ede"
            ],
            [
                "8da49f6a8ca35bf5",
                "5519975d20207ede"
            ]
        ]
    },
    {
        "id": "ef8036d722f8d29c",
        "type": "ui_text",
        "z": "b753aaf65187d3a8",
        "group": "6f7f07235c3cb89a",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SSID:",
        "format": "{{msg.payload}} ",
        "layout": "row-spread",
        "className": "",
        "x": 1290,
        "y": 2360,
        "wires": []
    },
    {
        "id": "4fd0954d49cd44ed",
        "type": "ui_text",
        "z": "b753aaf65187d3a8",
        "group": "bff227c94194e97a",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SSID:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1290,
        "y": 2400,
        "wires": []
    },
    {
        "id": "5edab50d1c38a221",
        "type": "ui_text",
        "z": "b753aaf65187d3a8",
        "group": "40ce7ee52058063c",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SSID:",
        "format": "{{msg.payload}} ",
        "layout": "row-spread",
        "className": "",
        "x": 1290,
        "y": 2480,
        "wires": []
    },
    {
        "id": "52bfdfcb73a852e6",
        "type": "ui_text",
        "z": "b753aaf65187d3a8",
        "group": "186b095ab384e9a4",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SSID",
        "format": "{{msg.payload}} dBm",
        "layout": "row-spread",
        "className": "",
        "x": 1290,
        "y": 2520,
        "wires": []
    },
    {
        "id": "2ff42a0aba7994f9",
        "type": "switch",
        "z": "b753aaf65187d3a8",
        "name": "",
        "property": "identificador",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ID1",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID2",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID3",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID4",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 1130,
        "y": 2440,
        "wires": [
            [
                "ef8036d722f8d29c",
                "8fc780dd990dc829"
            ],
            [
                "4fd0954d49cd44ed",
                "8fc780dd990dc829"
            ],
            [
                "5edab50d1c38a221",
                "8fc780dd990dc829"
            ],
            [
                "52bfdfcb73a852e6",
                "8fc780dd990dc829"
            ]
        ]
    },
    {
        "id": "046655e59f2505ce",
        "type": "change",
        "z": "b753aaf65187d3a8",
        "name": "RSSI",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.RSSI",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 2220,
        "wires": [
            [
                "afd8a75897d335c4"
            ]
        ]
    },
    {
        "id": "b52c24bc3db84e8a",
        "type": "ui_text",
        "z": "b753aaf65187d3a8",
        "group": "6f7f07235c3cb89a",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP local:",
        "format": "{{msg.payload}} ",
        "layout": "row-spread",
        "className": "",
        "x": 1300,
        "y": 2620,
        "wires": []
    },
    {
        "id": "b42def51ee7c1e70",
        "type": "ui_text",
        "z": "b753aaf65187d3a8",
        "group": "bff227c94194e97a",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP local:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1300,
        "y": 2660,
        "wires": []
    },
    {
        "id": "ddb0883b6a4c1eaf",
        "type": "ui_text",
        "z": "b753aaf65187d3a8",
        "group": "40ce7ee52058063c",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP local:",
        "format": "{{msg.payload}} ",
        "layout": "row-spread",
        "className": "",
        "x": 1300,
        "y": 2740,
        "wires": []
    },
    {
        "id": "274977ba012b1140",
        "type": "ui_text",
        "z": "b753aaf65187d3a8",
        "group": "186b095ab384e9a4",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP local",
        "format": "{{msg.payload}} ",
        "layout": "row-spread",
        "className": "",
        "x": 1300,
        "y": 2780,
        "wires": []
    },
    {
        "id": "7bc37a8f2dcd7507",
        "type": "switch",
        "z": "b753aaf65187d3a8",
        "name": "",
        "property": "identificador",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ID1",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID2",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID3",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID4",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 1130,
        "y": 2700,
        "wires": [
            [
                "b52c24bc3db84e8a",
                "61b27358cc06ec54"
            ],
            [
                "b42def51ee7c1e70",
                "61b27358cc06ec54"
            ],
            [
                "ddb0883b6a4c1eaf",
                "61b27358cc06ec54"
            ],
            [
                "274977ba012b1140",
                "61b27358cc06ec54"
            ]
        ]
    },
    {
        "id": "141fb6f16c1260cc",
        "type": "debug",
        "z": "b753aaf65187d3a8",
        "name": "ver id",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1310,
        "y": 80,
        "wires": []
    },
    {
        "id": "7ddd3197ae553ada",
        "type": "change",
        "z": "b753aaf65187d3a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "temperatura",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1610,
        "y": 1080,
        "wires": [
            [
                "8f66eab85948cdbd"
            ]
        ]
    },
    {
        "id": "78a66cf829f9db49",
        "type": "change",
        "z": "b753aaf65187d3a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "temperatura",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1610,
        "y": 1180,
        "wires": [
            [
                "7fdb8d8854b1cd1e"
            ]
        ]
    },
    {
        "id": "91bd05e7067cff3d",
        "type": "change",
        "z": "b753aaf65187d3a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "temperatura",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1610,
        "y": 1320,
        "wires": [
            [
                "94a213cb96a45bf0"
            ]
        ]
    },
    {
        "id": "18c89423d30e2171",
        "type": "change",
        "z": "b753aaf65187d3a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "temperatura",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1610,
        "y": 1460,
        "wires": [
            [
                "3ef742240c8a1ec0"
            ]
        ]
    },
    {
        "id": "4261b6100efe660e",
        "type": "change",
        "z": "b753aaf65187d3a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "humedad",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1610,
        "y": 1120,
        "wires": [
            [
                "8f66eab85948cdbd"
            ]
        ]
    },
    {
        "id": "aba1411bb51a5a48",
        "type": "change",
        "z": "b753aaf65187d3a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "humedad",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1610,
        "y": 1220,
        "wires": [
            [
                "7fdb8d8854b1cd1e"
            ]
        ]
    },
    {
        "id": "4a3b6a725d5d355a",
        "type": "change",
        "z": "b753aaf65187d3a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "humedad",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1610,
        "y": 1360,
        "wires": [
            [
                "94a213cb96a45bf0"
            ]
        ]
    },
    {
        "id": "11f972209c261c64",
        "type": "change",
        "z": "b753aaf65187d3a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "humedad",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1610,
        "y": 1420,
        "wires": [
            [
                "3ef742240c8a1ec0"
            ]
        ]
    },
    {
        "id": "d3240db55d70b81c",
        "type": "function",
        "z": "b753aaf65187d3a8",
        "name": "Consulta ID1",
        "func": "msg.payload=global.get(\"ID1\")\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 400,
        "wires": [
            [
                "39d148f988541330"
            ]
        ]
    },
    {
        "id": "f744aaf01cd35a86",
        "type": "inject",
        "z": "b753aaf65187d3a8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"CHIPID\":\"ESP3096728\",\"online\":\"true\"}",
        "payloadType": "json",
        "x": 470,
        "y": 400,
        "wires": [
            [
                "d3240db55d70b81c"
            ]
        ]
    },
    {
        "id": "39d148f988541330",
        "type": "debug",
        "z": "b753aaf65187d3a8",
        "name": "ID1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 400,
        "wires": []
    },
    {
        "id": "720df9ae1bb4f654",
        "type": "function",
        "z": "b753aaf65187d3a8",
        "name": "Consulta ID2",
        "func": "msg.payload=global.get(\"ID2\")\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 460,
        "wires": [
            [
                "5a74be1c273151de"
            ]
        ]
    },
    {
        "id": "436b4367b509be67",
        "type": "inject",
        "z": "b753aaf65187d3a8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"CHIPID\":\"ESP3096728\",\"online\":\"true\"}",
        "payloadType": "json",
        "x": 470,
        "y": 460,
        "wires": [
            [
                "720df9ae1bb4f654"
            ]
        ]
    },
    {
        "id": "5a74be1c273151de",
        "type": "debug",
        "z": "b753aaf65187d3a8",
        "name": "ID2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 460,
        "wires": []
    },
    {
        "id": "1d9fee315fff96ae",
        "type": "function",
        "z": "b753aaf65187d3a8",
        "name": "Consulta ID3",
        "func": "msg.payload=global.get(\"ID3\")\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 520,
        "wires": [
            [
                "9b2c192d70b55944"
            ]
        ]
    },
    {
        "id": "8c19164a873909e7",
        "type": "inject",
        "z": "b753aaf65187d3a8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"CHIPID\":\"ESP3096728\",\"online\":\"true\"}",
        "payloadType": "json",
        "x": 470,
        "y": 520,
        "wires": [
            [
                "1d9fee315fff96ae"
            ]
        ]
    },
    {
        "id": "9b2c192d70b55944",
        "type": "debug",
        "z": "b753aaf65187d3a8",
        "name": "ID3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 520,
        "wires": []
    },
    {
        "id": "83968fead3679529",
        "type": "function",
        "z": "b753aaf65187d3a8",
        "name": "Consulta ID4",
        "func": "msg.payload=global.get(\"ID4\")\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 580,
        "wires": [
            [
                "abc58497f7d99b42"
            ]
        ]
    },
    {
        "id": "7ce53a6c404e189d",
        "type": "inject",
        "z": "b753aaf65187d3a8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"CHIPID\":\"ESP3096728\",\"online\":\"true\"}",
        "payloadType": "json",
        "x": 470,
        "y": 580,
        "wires": [
            [
                "83968fead3679529"
            ]
        ]
    },
    {
        "id": "abc58497f7d99b42",
        "type": "debug",
        "z": "b753aaf65187d3a8",
        "name": "ID4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 580,
        "wires": []
    },
    {
        "id": "b8f4ba752a983cea",
        "type": "config",
        "z": "b753aaf65187d3a8",
        "name": "",
        "properties": [
            {
                "p": "ID1",
                "pt": "global",
                "to": "-1",
                "tot": "num"
            },
            {
                "p": "ID2",
                "pt": "global",
                "to": "-1",
                "tot": "num"
            },
            {
                "p": "ID3",
                "pt": "global",
                "to": "-1",
                "tot": "num"
            },
            {
                "p": "ID4",
                "pt": "global",
                "to": "-1",
                "tot": "num"
            }
        ],
        "active": true,
        "x": 310,
        "y": 340,
        "wires": []
    },
    {
        "id": "61b27358cc06ec54",
        "type": "ui_text",
        "z": "b753aaf65187d3a8",
        "group": "cf8bda1381cc0c53",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP local",
        "format": "{{msg.payload}} ",
        "layout": "row-spread",
        "className": "",
        "x": 1480,
        "y": 2700,
        "wires": []
    },
    {
        "id": "8fc780dd990dc829",
        "type": "ui_text",
        "z": "b753aaf65187d3a8",
        "group": "cf8bda1381cc0c53",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SSID",
        "format": "{{msg.payload}} dBm",
        "layout": "row-spread",
        "className": "",
        "x": 1470,
        "y": 2440,
        "wires": []
    },
    {
        "id": "5519975d20207ede",
        "type": "ui_text",
        "z": "b753aaf65187d3a8",
        "group": "cf8bda1381cc0c53",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RSSI actual:",
        "format": "{{msg.payload}} dBm",
        "layout": "row-spread",
        "className": "",
        "x": 1490,
        "y": 2220,
        "wires": []
    },
    {
        "id": "58a452df1bb93acf",
        "type": "ui_text",
        "z": "b753aaf65187d3a8",
        "group": "05736e73d8545fc1",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Uptime:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1600,
        "y": 2020,
        "wires": []
    },
    {
        "id": "84462d9c91f9bb63",
        "type": "ui_text",
        "z": "b753aaf65187d3a8",
        "group": "4c5318179fe7f873",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Uptime:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1600,
        "y": 2060,
        "wires": []
    },
    {
        "id": "f33797e2151e30a3",
        "type": "ui_text",
        "z": "b753aaf65187d3a8",
        "group": "394582c3d81c1b2e",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Uptime:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1600,
        "y": 2100,
        "wires": []
    },
    {
        "id": "9026d40ac133b9fe",
        "type": "ui_text",
        "z": "b753aaf65187d3a8",
        "group": "35cdfb36619baef6",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Uptime:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1600,
        "y": 2140,
        "wires": []
    },
    {
        "id": "b5dee59e254e0193",
        "type": "ui_gauge",
        "z": "b753aaf65187d3a8",
        "name": "",
        "group": "4c5318179fe7f873",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1440,
        "y": 1700,
        "wires": []
    },
    {
        "id": "92401efd283801a5",
        "type": "ui_gauge",
        "z": "b753aaf65187d3a8",
        "name": "",
        "group": "05736e73d8545fc1",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1440,
        "y": 1660,
        "wires": []
    },
    {
        "id": "2545145b3ac479cb",
        "type": "ui_gauge",
        "z": "b753aaf65187d3a8",
        "name": "",
        "group": "35cdfb36619baef6",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1440,
        "y": 1780,
        "wires": []
    },
    {
        "id": "32608fd877b946e1",
        "type": "ui_gauge",
        "z": "b753aaf65187d3a8",
        "name": "",
        "group": "394582c3d81c1b2e",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1440,
        "y": 1740,
        "wires": []
    },
    {
        "id": "04e3b1b8df99c722",
        "type": "ui_gauge",
        "z": "b753aaf65187d3a8",
        "name": "",
        "group": "4c5318179fe7f873",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "ºC",
        "format": "{{value}}",
        "min": "-10",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1150,
        "y": 1280,
        "wires": []
    },
    {
        "id": "54d5ea779efa3ec6",
        "type": "ui_gauge",
        "z": "b753aaf65187d3a8",
        "name": "",
        "group": "05736e73d8545fc1",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "ºC",
        "format": "{{value}}",
        "min": "-10",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1150,
        "y": 1240,
        "wires": []
    },
    {
        "id": "d8a1633a65f516d0",
        "type": "ui_gauge",
        "z": "b753aaf65187d3a8",
        "name": "",
        "group": "35cdfb36619baef6",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "ºC",
        "format": "{{value}}",
        "min": "-10",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1150,
        "y": 1360,
        "wires": []
    },
    {
        "id": "4ed3ed1148719366",
        "type": "ui_gauge",
        "z": "b753aaf65187d3a8",
        "name": "",
        "group": "394582c3d81c1b2e",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "ºC",
        "format": "{{value}}",
        "min": "-10",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1150,
        "y": 1320,
        "wires": []
    },
    {
        "id": "ad453b36b04f9cc8",
        "type": "ui_text",
        "z": "b753aaf65187d3a8",
        "group": "05736e73d8545fc1",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Batería:",
        "format": "{{msg.payload}} mV",
        "layout": "row-spread",
        "className": "",
        "x": 2020,
        "y": 720,
        "wires": []
    },
    {
        "id": "28a9d068f9b03dd8",
        "type": "ui_text",
        "z": "b753aaf65187d3a8",
        "group": "4c5318179fe7f873",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Batería:",
        "format": "{{msg.payload}} mV",
        "layout": "row-spread",
        "className": "",
        "x": 2020,
        "y": 760,
        "wires": []
    },
    {
        "id": "dc1a3c970df4cd8f",
        "type": "ui_text",
        "z": "b753aaf65187d3a8",
        "group": "394582c3d81c1b2e",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Batería:",
        "format": "{{msg.payload}} mV",
        "layout": "row-spread",
        "className": "",
        "x": 2020,
        "y": 820,
        "wires": []
    },
    {
        "id": "2f48bb3867209ca9",
        "type": "ui_text",
        "z": "b753aaf65187d3a8",
        "group": "35cdfb36619baef6",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Batería:",
        "format": "{{msg.payload}} mV",
        "layout": "row-spread",
        "className": "",
        "x": 2020,
        "y": 860,
        "wires": []
    },
    {
        "id": "6928f9fa6136d121",
        "type": "switch",
        "z": "b753aaf65187d3a8",
        "name": "",
        "property": "identificador",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ID1",
                "vt": "global"
            },
            {
                "t": "eq",
                "v": "ID2",
                "vt": "global"
            },
            {
                "t": "eq",
                "v": "ID3",
                "vt": "global"
            },
            {
                "t": "eq",
                "v": "ID4",
                "vt": "global"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 1370,
        "y": 160,
        "wires": [
            [
                "a36d4ca93eb1e01f"
            ],
            [
                "095dd14e9bc9c6e1"
            ],
            [
                "b63e8f97bed525d2"
            ],
            [
                "88225d0ce45c68fe"
            ]
        ]
    },
    {
        "id": "7bac785d81c417c8",
        "type": "switch",
        "z": "b753aaf65187d3a8",
        "name": "",
        "property": "identificador",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ID1",
                "vt": "global"
            },
            {
                "t": "eq",
                "v": "ID2",
                "vt": "global"
            },
            {
                "t": "eq",
                "v": "ID3",
                "vt": "global"
            },
            {
                "t": "eq",
                "v": "ID4",
                "vt": "global"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 1210,
        "y": 280,
        "wires": [
            [
                "e4dd7a2972cfe528",
                "66e95327ad892591"
            ],
            [
                "e4dd7a2972cfe528",
                "084df708f51dbd4f"
            ],
            [
                "e4dd7a2972cfe528",
                "c91c7999de75d425"
            ],
            [
                "e4dd7a2972cfe528",
                "f1cfd3a16fec532e"
            ]
        ]
    },
    {
        "id": "87b2aa4dbc1d679e",
        "type": "change",
        "z": "b753aaf65187d3a8",
        "name": "ID",
        "rules": [
            {
                "t": "set",
                "p": "identificador",
                "pt": "msg",
                "to": "payload.CHIPID",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.online",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 260,
        "wires": [
            [
                "3e43a2a7a1c21d74"
            ]
        ]
    },
    {
        "id": "cab8666b9c4ead68",
        "type": "inject",
        "z": "b753aaf65187d3a8",
        "name": "FALSE",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "jsonata",
        "x": 1520,
        "y": 560,
        "wires": [
            [
                "bc514ab5c667fbff"
            ]
        ]
    },
    {
        "id": "1f8ba26c117eebf8",
        "type": "ui_led",
        "z": "b753aaf65187d3a8",
        "order": 2,
        "group": "6f7f07235c3cb89a",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 1790,
        "y": 100,
        "wires": []
    },
    {
        "id": "8285067780632e90",
        "type": "ui_text",
        "z": "b753aaf65187d3a8",
        "group": "6f7f07235c3cb89a",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Estado de Conexión: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1840,
        "y": 20,
        "wires": []
    },
    {
        "id": "cf5bed022872f150",
        "type": "ui_led",
        "z": "b753aaf65187d3a8",
        "order": 2,
        "group": "bff227c94194e97a",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 1790,
        "y": 220,
        "wires": []
    },
    {
        "id": "66ee657c6a287e27",
        "type": "ui_text",
        "z": "b753aaf65187d3a8",
        "group": "bff227c94194e97a",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Estado de Conexión: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1840,
        "y": 140,
        "wires": []
    },
    {
        "id": "765e70174272a2f1",
        "type": "ui_led",
        "z": "b753aaf65187d3a8",
        "order": 2,
        "group": "40ce7ee52058063c",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 1790,
        "y": 340,
        "wires": []
    },
    {
        "id": "2ec7b2b48ec54b10",
        "type": "ui_text",
        "z": "b753aaf65187d3a8",
        "group": "40ce7ee52058063c",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Estado de Conexión: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1840,
        "y": 260,
        "wires": []
    },
    {
        "id": "d288b326d55b7e83",
        "type": "ui_led",
        "z": "b753aaf65187d3a8",
        "order": 2,
        "group": "186b095ab384e9a4",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 1790,
        "y": 460,
        "wires": []
    },
    {
        "id": "dee6e806695b44cb",
        "type": "ui_text",
        "z": "b753aaf65187d3a8",
        "group": "186b095ab384e9a4",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Estado de Conexión: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1840,
        "y": 380,
        "wires": []
    },
    {
        "id": "dbd3714f0c09bf18",
        "type": "ui_led",
        "z": "b753aaf65187d3a8",
        "order": 1,
        "group": "05736e73d8545fc1",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 1790,
        "y": 60,
        "wires": []
    },
    {
        "id": "8fc967aa805c6f46",
        "type": "ui_led",
        "z": "b753aaf65187d3a8",
        "order": 1,
        "group": "4c5318179fe7f873",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 1790,
        "y": 180,
        "wires": []
    },
    {
        "id": "dea4bdcc161a68bc",
        "type": "ui_led",
        "z": "b753aaf65187d3a8",
        "order": 1,
        "group": "394582c3d81c1b2e",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 1790,
        "y": 300,
        "wires": []
    },
    {
        "id": "462167a5c44cd8c2",
        "type": "ui_led",
        "z": "b753aaf65187d3a8",
        "order": 1,
        "group": "35cdfb36619baef6",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 1790,
        "y": 420,
        "wires": []
    },
    {
        "id": "11a0afd26d2c2862",
        "type": "link in",
        "z": "b753aaf65187d3a8",
        "name": "",
        "links": [
            "91abd519bfac1c26",
            "66e95327ad892591",
            "a36d4ca93eb1e01f",
            "bc514ab5c667fbff"
        ],
        "x": 1655,
        "y": 60,
        "wires": [
            [
                "8285067780632e90",
                "dbd3714f0c09bf18",
                "1f8ba26c117eebf8"
            ]
        ]
    },
    {
        "id": "ae595941b2a459ac",
        "type": "link in",
        "z": "b753aaf65187d3a8",
        "name": "",
        "links": [
            "fd08ae9b12bce2bb",
            "084df708f51dbd4f",
            "095dd14e9bc9c6e1",
            "bc514ab5c667fbff"
        ],
        "x": 1655,
        "y": 180,
        "wires": [
            [
                "8fc967aa805c6f46",
                "cf5bed022872f150",
                "66ee657c6a287e27"
            ]
        ]
    },
    {
        "id": "bc514ab5c667fbff",
        "type": "link out",
        "z": "b753aaf65187d3a8",
        "name": "",
        "links": [
            "2c32bdf56adca3fb",
            "c4af488d64b7a0de",
            "ae595941b2a459ac",
            "11a0afd26d2c2862"
        ],
        "x": 1655,
        "y": 560,
        "wires": []
    },
    {
        "id": "c4af488d64b7a0de",
        "type": "link in",
        "z": "b753aaf65187d3a8",
        "name": "",
        "links": [
            "7fad35affebec936",
            "c91c7999de75d425",
            "b63e8f97bed525d2",
            "bc514ab5c667fbff"
        ],
        "x": 1655,
        "y": 300,
        "wires": [
            [
                "dea4bdcc161a68bc",
                "765e70174272a2f1",
                "2ec7b2b48ec54b10"
            ]
        ]
    },
    {
        "id": "2c32bdf56adca3fb",
        "type": "link in",
        "z": "b753aaf65187d3a8",
        "name": "",
        "links": [
            "a748077b6a1a67b2",
            "f1cfd3a16fec532e",
            "88225d0ce45c68fe",
            "bc514ab5c667fbff"
        ],
        "x": 1655,
        "y": 420,
        "wires": [
            [
                "dee6e806695b44cb",
                "462167a5c44cd8c2",
                "d288b326d55b7e83"
            ]
        ]
    },
    {
        "id": "66e95327ad892591",
        "type": "link out",
        "z": "b753aaf65187d3a8",
        "name": "",
        "links": [
            "11a0afd26d2c2862"
        ],
        "x": 1335,
        "y": 220,
        "wires": []
    },
    {
        "id": "084df708f51dbd4f",
        "type": "link out",
        "z": "b753aaf65187d3a8",
        "name": "",
        "links": [
            "ae595941b2a459ac"
        ],
        "x": 1335,
        "y": 260,
        "wires": []
    },
    {
        "id": "c91c7999de75d425",
        "type": "link out",
        "z": "b753aaf65187d3a8",
        "name": "",
        "links": [
            "c4af488d64b7a0de"
        ],
        "x": 1335,
        "y": 300,
        "wires": []
    },
    {
        "id": "f1cfd3a16fec532e",
        "type": "link out",
        "z": "b753aaf65187d3a8",
        "name": "",
        "links": [
            "2c32bdf56adca3fb"
        ],
        "x": 1335,
        "y": 340,
        "wires": []
    },
    {
        "id": "a36d4ca93eb1e01f",
        "type": "link out",
        "z": "b753aaf65187d3a8",
        "name": "",
        "links": [
            "11a0afd26d2c2862"
        ],
        "x": 1515,
        "y": 100,
        "wires": []
    },
    {
        "id": "095dd14e9bc9c6e1",
        "type": "link out",
        "z": "b753aaf65187d3a8",
        "name": "",
        "links": [
            "ae595941b2a459ac"
        ],
        "x": 1515,
        "y": 140,
        "wires": []
    },
    {
        "id": "b63e8f97bed525d2",
        "type": "link out",
        "z": "b753aaf65187d3a8",
        "name": "",
        "links": [
            "c4af488d64b7a0de"
        ],
        "x": 1515,
        "y": 180,
        "wires": []
    },
    {
        "id": "88225d0ce45c68fe",
        "type": "link out",
        "z": "b753aaf65187d3a8",
        "name": "",
        "links": [
            "2c32bdf56adca3fb"
        ],
        "x": 1515,
        "y": 220,
        "wires": []
    },
    {
        "id": "759329fc13f505d4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "6f7f07235c3cb89a",
        "type": "ui_group",
        "name": "Sistema",
        "tab": "594cecd70ae88430",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cf1d861e87f90e9c",
        "type": "ui_group",
        "name": "Datos Sensores",
        "tab": "cb0a8f66055dc5e4",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "af6f16eec5913214",
        "type": "ui_group",
        "name": "Datos Sensores",
        "tab": "594cecd70ae88430",
        "order": 2,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bff227c94194e97a",
        "type": "ui_group",
        "name": "Sistema",
        "tab": "cb0a8f66055dc5e4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "40ce7ee52058063c",
        "type": "ui_group",
        "name": "Sistema",
        "tab": "3ea480f31c69cc51",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "186b095ab384e9a4",
        "type": "ui_group",
        "name": "Sistema",
        "tab": "56d00aae9c36eba0",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "09a35a8ee5787f1c",
        "type": "ui_group",
        "name": "Datos Sensores",
        "tab": "56d00aae9c36eba0",
        "order": 2,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "18aa280385e724d2",
        "type": "ui_group",
        "name": "Datos Sensores",
        "tab": "3ea480f31c69cc51",
        "order": 2,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cf8bda1381cc0c53",
        "type": "ui_group",
        "name": "Conexion",
        "tab": "949a8e3093f75e0b",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "05736e73d8545fc1",
        "type": "ui_group",
        "name": "HUERTO1",
        "tab": "949a8e3093f75e0b",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4c5318179fe7f873",
        "type": "ui_group",
        "name": "HUERTO2",
        "tab": "949a8e3093f75e0b",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "394582c3d81c1b2e",
        "type": "ui_group",
        "name": "HUERTO3",
        "tab": "949a8e3093f75e0b",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "35cdfb36619baef6",
        "type": "ui_group",
        "name": "HUERTO4",
        "tab": "949a8e3093f75e0b",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "594cecd70ae88430",
        "type": "ui_tab",
        "name": "HUERTO 1",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cb0a8f66055dc5e4",
        "type": "ui_tab",
        "name": "HUERTO 2",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3ea480f31c69cc51",
        "type": "ui_tab",
        "name": "HUERTO 3",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "56d00aae9c36eba0",
        "type": "ui_tab",
        "name": "HUERTO 4",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "949a8e3093f75e0b",
        "type": "ui_tab",
        "name": "HUERTO-GLOBAL",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]