NodeRED/DatosSensor_Angel.json
[
    {
        "id": "41d75d39e6ba8ad7",
        "type": "tab",
        "label": "DATOS SENSORES",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fe024fd9fcf21328",
        "type": "mqtt in",
        "z": "41d75d39e6ba8ad7",
        "name": "",
        "topic": "II12/+/datos",
        "qos": "2",
        "datatype": "auto",
        "broker": "759329fc13f505d4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 130,
        "y": 860,
        "wires": [
            [
                "efb35cbfe8018b26"
            ]
        ]
    },
    {
        "id": "28feba67d70f0a2d",
        "type": "mqtt in",
        "z": "41d75d39e6ba8ad7",
        "name": "",
        "topic": "II12/+/conexion",
        "qos": "2",
        "datatype": "auto",
        "broker": "759329fc13f505d4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 240,
        "y": 180,
        "wires": [
            [
                "baf3c9400b0eeea5"
            ]
        ]
    },
    {
        "id": "0311f06a91130237",
        "type": "debug",
        "z": "41d75d39e6ba8ad7",
        "name": "Conexion",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 120,
        "wires": []
    },
    {
        "id": "0953059d58573bff",
        "type": "comment",
        "z": "41d75d39e6ba8ad7",
        "name": "Estado de conexión del dispositivo",
        "info": "",
        "x": 300,
        "y": 140,
        "wires": []
    },
    {
        "id": "548e51e4a55508d5",
        "type": "change",
        "z": "41d75d39e6ba8ad7",
        "name": "SSID",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.SSID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 1460,
        "wires": [
            [
                "3680305c19382d27"
            ]
        ]
    },
    {
        "id": "cc4c765c92812ccc",
        "type": "change",
        "z": "41d75d39e6ba8ad7",
        "name": "Local IP",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.IP",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 1660,
        "wires": [
            [
                "9b951eb9d13ee5f3"
            ]
        ]
    },
    {
        "id": "b084ec4de5dfe418",
        "type": "change",
        "z": "41d75d39e6ba8ad7",
        "name": "temp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.Temperatura",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Temperatura",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 680,
        "wires": [
            [
                "83bb5e9d1f9830f5"
            ]
        ]
    },
    {
        "id": "5eb62bf2eb8d0685",
        "type": "change",
        "z": "41d75d39e6ba8ad7",
        "name": "hum",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.Humedad",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Humedad",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 920,
        "wires": [
            [
                "203031119351f601",
                "698651ea2897e040"
            ]
        ]
    },
    {
        "id": "ebd70b96980cd1ea",
        "type": "change",
        "z": "41d75d39e6ba8ad7",
        "name": "uptime",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Uptime",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 1100,
        "wires": [
            [
                "5894eee28c6c1587"
            ]
        ]
    },
    {
        "id": "0695e58145abb775",
        "type": "change",
        "z": "41d75d39e6ba8ad7",
        "name": "vcc",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Vcc",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Bateria",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 460,
        "wires": [
            [
                "409d5182a08ebc46"
            ]
        ]
    },
    {
        "id": "034a6e82eca71e01",
        "type": "ui_text",
        "z": "41d75d39e6ba8ad7",
        "group": "3832ea2a57b47cdd",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Batería:",
        "format": "{{msg.payload}} mV",
        "layout": "row-spread",
        "className": "",
        "x": 1120,
        "y": 380,
        "wires": []
    },
    {
        "id": "203031119351f601",
        "type": "ui_gauge",
        "z": "41d75d39e6ba8ad7",
        "name": "",
        "group": "c1673a610ade2e81",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 920,
        "y": 1020,
        "wires": []
    },
    {
        "id": "a94b76133cb70bc3",
        "type": "ui_gauge",
        "z": "41d75d39e6ba8ad7",
        "name": "",
        "group": "c1673a610ade2e81",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "ºC",
        "format": "{{value}}",
        "min": "-10",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1250,
        "y": 640,
        "wires": []
    },
    {
        "id": "8c1417cb904ee15b",
        "type": "ui_text",
        "z": "41d75d39e6ba8ad7",
        "group": "3832ea2a57b47cdd",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Uptime:",
        "format": "{{msg.payload}} ms",
        "layout": "row-spread",
        "className": "",
        "x": 1440,
        "y": 1020,
        "wires": []
    },
    {
        "id": "1b12a1da4f19c640",
        "type": "comment",
        "z": "41d75d39e6ba8ad7",
        "name": "Datos de los sensores",
        "info": "",
        "x": 100,
        "y": 820,
        "wires": []
    },
    {
        "id": "baf3c9400b0eeea5",
        "type": "json",
        "z": "41d75d39e6ba8ad7",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 590,
        "y": 180,
        "wires": [
            [
                "0311f06a91130237",
                "469a0a8a2013f372"
            ]
        ]
    },
    {
        "id": "c29659982f28f381",
        "type": "ui_chart",
        "z": "41d75d39e6ba8ad7",
        "name": "",
        "group": "c1673a610ade2e81",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Evolucion Historica DHT11",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1520,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "29bae072c6bed91d",
        "type": "ui_chart",
        "z": "41d75d39e6ba8ad7",
        "name": "",
        "group": "3832ea2a57b47cdd",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Evolucion Historica Batería",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "2500",
        "ymax": "3500",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1180,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "ca9496bd69833108",
        "type": "debug",
        "z": "41d75d39e6ba8ad7",
        "name": "datos",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 720,
        "wires": []
    },
    {
        "id": "efb35cbfe8018b26",
        "type": "json",
        "z": "41d75d39e6ba8ad7",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 860,
        "wires": [
            [
                "ca9496bd69833108",
                "63a68d12df613021"
            ]
        ]
    },
    {
        "id": "63a68d12df613021",
        "type": "change",
        "z": "41d75d39e6ba8ad7",
        "name": "ID",
        "rules": [
            {
                "t": "set",
                "p": "identificador",
                "pt": "msg",
                "to": "payload.CHIPID",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "ID1",
                "pt": "msg",
                "to": "ID1",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "ID2",
                "pt": "msg",
                "to": "ID2",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "ID3",
                "pt": "msg",
                "to": "ID3",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "ID4",
                "pt": "msg",
                "to": "ID4",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 860,
        "wires": [
            [
                "0695e58145abb775",
                "b084ec4de5dfe418",
                "5eb62bf2eb8d0685",
                "ebd70b96980cd1ea",
                "7f1a6a96483e0c0b",
                "548e51e4a55508d5",
                "cc4c765c92812ccc"
            ]
        ]
    },
    {
        "id": "469a0a8a2013f372",
        "type": "switch",
        "z": "41d75d39e6ba8ad7",
        "name": "",
        "property": "payload.online",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 790,
        "y": 180,
        "wires": [
            [
                "1d26cba8ec53c49e"
            ],
            [
                "1f57aec9864de435"
            ]
        ]
    },
    {
        "id": "1d26cba8ec53c49e",
        "type": "function",
        "z": "41d75d39e6ba8ad7",
        "name": "SetUp ID",
        "func": "var CHIPID = msg.payload.CHIPID;\n\nif (global.get(\"ID1\")==-1)\n{\n    global.set(\"ID1\",CHIPID)\n}\nelse if (get.global(\"ID2\")==-1)\n{\n    set.global(\"ID2\",CHIPID)\n}\nelse if (get.global(\"ID3\")==-1)\n{\n    set.global(\"ID3\",CHIPID)\n}\nelse if (get.global(\"ID4\")==-1)\n{\n    set.global(\"ID4\",CHIPID)\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "376071a5c017160c",
        "type": "inject",
        "z": "41d75d39e6ba8ad7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"CHIPID\":\"ESP3096728\",\"online\":\"true\"}",
        "payloadType": "json",
        "x": 420,
        "y": 100,
        "wires": [
            [
                "469a0a8a2013f372",
                "0311f06a91130237"
            ]
        ]
    },
    {
        "id": "1bd453fb58cc93ab",
        "type": "config",
        "z": "41d75d39e6ba8ad7",
        "name": "",
        "properties": [
            {
                "p": "ID1",
                "pt": "global",
                "to": "-1",
                "tot": "num"
            },
            {
                "p": "ID2",
                "pt": "global",
                "to": "-1",
                "tot": "num"
            },
            {
                "p": "ID3",
                "pt": "global",
                "to": "-1",
                "tot": "num"
            },
            {
                "p": "ID4",
                "pt": "global",
                "to": "-1",
                "tot": "num"
            }
        ],
        "active": true,
        "x": 230,
        "y": 280,
        "wires": []
    },
    {
        "id": "1f57aec9864de435",
        "type": "function",
        "z": "41d75d39e6ba8ad7",
        "name": "Borra ID",
        "func": "var CHIPID = msg.payload.CHIPID;\n\nif (global.get(\"ID1\")==CHIPID)\n{\n    global.set(\"ID1\",-1)\n}\nelse if (get.global(\"ID2\")==CHIPID)\n{\n    set.global(\"ID2\",-1)\n}\nelse if (get.global(\"ID3\")==CHIPID)\n{\n    set.global(\"ID3\",-1)\n}\nelse if (get.global(\"ID4\")==CHIPID)\n{\n    set.global(\"ID4\",-1)\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "409d5182a08ebc46",
        "type": "switch",
        "z": "41d75d39e6ba8ad7",
        "name": "",
        "property": "identificador",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ID1",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID2",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID3",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID4",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 940,
        "y": 460,
        "wires": [
            [
                "29bae072c6bed91d",
                "034a6e82eca71e01"
            ],
            [
                "d47e93bdf56f8a62",
                "b8e78b939f58f767"
            ],
            [
                "159fae9f85631837",
                "fecf5e4fcace737b"
            ],
            [
                "6581655451515397",
                "94cea97aa79a0e77"
            ]
        ]
    },
    {
        "id": "4a75509532a0f075",
        "type": "inject",
        "z": "41d75d39e6ba8ad7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"CHIPID\":\"ESP3096728\",\"Uptime\":180006,\"Vcc\":3041,\"DHT11\":{\"Temperatura\":null,\"Humedad\":null},\"LED\":1,\"SWITCH\":1,\"Wifi\":{\"SSID\":\"HUAWEI P20 lite\",\"IP\":\"192.168.221.144\",\"RSSI\":-32}}",
        "payloadType": "str",
        "x": 180,
        "y": 700,
        "wires": [
            [
                "efb35cbfe8018b26"
            ]
        ]
    },
    {
        "id": "611793f6fce6e34e",
        "type": "comment",
        "z": "41d75d39e6ba8ad7",
        "name": "Configuracion ID",
        "info": "",
        "x": 750,
        "y": 60,
        "wires": []
    },
    {
        "id": "b8e78b939f58f767",
        "type": "ui_text",
        "z": "41d75d39e6ba8ad7",
        "group": "c1673a610ade2e81",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Batería:",
        "format": "{{msg.payload}} mV",
        "layout": "row-spread",
        "className": "",
        "x": 1460,
        "y": 380,
        "wires": []
    },
    {
        "id": "d47e93bdf56f8a62",
        "type": "ui_chart",
        "z": "41d75d39e6ba8ad7",
        "name": "",
        "group": "c1673a610ade2e81",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Evolucion Historica Batería",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "2500",
        "ymax": "3500",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1520,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "fecf5e4fcace737b",
        "type": "ui_text",
        "z": "41d75d39e6ba8ad7",
        "group": "4d369ccb1b278e87",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Batería:",
        "format": "{{msg.payload}} mV",
        "layout": "row-spread",
        "className": "",
        "x": 1460,
        "y": 480,
        "wires": []
    },
    {
        "id": "159fae9f85631837",
        "type": "ui_chart",
        "z": "41d75d39e6ba8ad7",
        "name": "",
        "group": "4d369ccb1b278e87",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Evolucion Historica Batería",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "2500",
        "ymax": "3500",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1516.4921875,
        "y": 432.4765625,
        "wires": [
            []
        ]
    },
    {
        "id": "94cea97aa79a0e77",
        "type": "ui_text",
        "z": "41d75d39e6ba8ad7",
        "group": "b14c532c2e6d89c2",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Batería:",
        "format": "{{msg.payload}} mV",
        "layout": "row-spread",
        "className": "",
        "x": 1100,
        "y": 540,
        "wires": []
    },
    {
        "id": "6581655451515397",
        "type": "ui_chart",
        "z": "41d75d39e6ba8ad7",
        "name": "",
        "group": "b14c532c2e6d89c2",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Evolucion Historica Batería",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "2500",
        "ymax": "3500",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1160,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "83bb5e9d1f9830f5",
        "type": "switch",
        "z": "41d75d39e6ba8ad7",
        "name": "",
        "property": "identificador",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ID1",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID2",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID3",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID4",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 990,
        "y": 680,
        "wires": [
            [
                "430dfbab61589655",
                "81ca13c4f6aaaac4"
            ],
            [
                "a94b76133cb70bc3",
                "c29659982f28f381"
            ],
            [
                "ab6771fb37b58753",
                "0c7f1f7626fb8c71"
            ],
            [
                "843d558738a9d9dc",
                "62bb44722338194b"
            ]
        ]
    },
    {
        "id": "430dfbab61589655",
        "type": "ui_gauge",
        "z": "41d75d39e6ba8ad7",
        "name": "",
        "group": "3832ea2a57b47cdd",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "ºC",
        "format": "{{value}}",
        "min": "-10",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1170,
        "y": 600,
        "wires": []
    },
    {
        "id": "843d558738a9d9dc",
        "type": "ui_gauge",
        "z": "41d75d39e6ba8ad7",
        "name": "",
        "group": "b14c532c2e6d89c2",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "ºC",
        "format": "{{value}}",
        "min": "-10",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1190,
        "y": 740,
        "wires": []
    },
    {
        "id": "ab6771fb37b58753",
        "type": "ui_gauge",
        "z": "41d75d39e6ba8ad7",
        "name": "",
        "group": "4d369ccb1b278e87",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "ºC",
        "format": "{{value}}",
        "min": "-10",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1250,
        "y": 700,
        "wires": []
    },
    {
        "id": "698651ea2897e040",
        "type": "switch",
        "z": "41d75d39e6ba8ad7",
        "name": "",
        "property": "identificador",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ID1",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID2",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID3",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID4",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 990,
        "y": 920,
        "wires": [
            [
                "d7d44255d9e860b5",
                "81ca13c4f6aaaac4"
            ],
            [
                "8bff9fec090f3460",
                "c29659982f28f381"
            ],
            [
                "105641e1cdaca85e",
                "0c7f1f7626fb8c71"
            ],
            [
                "60c5c29846d0e421",
                "62bb44722338194b"
            ]
        ]
    },
    {
        "id": "8bff9fec090f3460",
        "type": "ui_gauge",
        "z": "41d75d39e6ba8ad7",
        "name": "",
        "group": "c1673a610ade2e81",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1240,
        "y": 880,
        "wires": []
    },
    {
        "id": "d7d44255d9e860b5",
        "type": "ui_gauge",
        "z": "41d75d39e6ba8ad7",
        "name": "",
        "group": "3832ea2a57b47cdd",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1160,
        "y": 840,
        "wires": []
    },
    {
        "id": "60c5c29846d0e421",
        "type": "ui_gauge",
        "z": "41d75d39e6ba8ad7",
        "name": "",
        "group": "b14c532c2e6d89c2",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1180,
        "y": 980,
        "wires": []
    },
    {
        "id": "105641e1cdaca85e",
        "type": "ui_gauge",
        "z": "41d75d39e6ba8ad7",
        "name": "",
        "group": "4d369ccb1b278e87",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1240,
        "y": 940,
        "wires": []
    },
    {
        "id": "81ca13c4f6aaaac4",
        "type": "ui_chart",
        "z": "41d75d39e6ba8ad7",
        "name": "",
        "group": "3832ea2a57b47cdd",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Evolucion Historica DHT11",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1520,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "62bb44722338194b",
        "type": "ui_chart",
        "z": "41d75d39e6ba8ad7",
        "name": "",
        "group": "b14c532c2e6d89c2",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Evolucion Historica DHT11",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1520,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "0c7f1f7626fb8c71",
        "type": "ui_chart",
        "z": "41d75d39e6ba8ad7",
        "name": "",
        "group": "4d369ccb1b278e87",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Evolucion Historica DHT11",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1520,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "ca4665f8a6415984",
        "type": "switch",
        "z": "41d75d39e6ba8ad7",
        "name": "",
        "property": "identificador",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ID1",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID2",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID3",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID4",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 1090,
        "y": 1100,
        "wires": [
            [
                "8c1417cb904ee15b"
            ],
            [
                "e8ada3f8889b5fca"
            ],
            [
                "3b75fdac8381076d"
            ],
            [
                "6214bf38fcc5f92a"
            ]
        ]
    },
    {
        "id": "5894eee28c6c1587",
        "type": "function",
        "z": "41d75d39e6ba8ad7",
        "name": "",
        "func": "var timestamp = msg.payload;\nvar date = new Date(timestamp);\nmsg.payload={};\nvar mes=-1;\n\nif(date.getDate()==1)\n{\n    mes = mes+1;\n}\n\nvar dia = date.getDate() + 30*mes -1;\n\nmsg.payload=\"Dias: \"+dia+\"  Horas: \"+date.getHours()+\":\"+date.getMinutes()+\":\"+date.getSeconds();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 1100,
        "wires": [
            [
                "ca4665f8a6415984"
            ]
        ]
    },
    {
        "id": "e8ada3f8889b5fca",
        "type": "ui_text",
        "z": "41d75d39e6ba8ad7",
        "group": "c1673a610ade2e81",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Uptime:",
        "format": "{{msg.payload}} ms",
        "layout": "row-spread",
        "className": "",
        "x": 1440,
        "y": 1060,
        "wires": []
    },
    {
        "id": "3b75fdac8381076d",
        "type": "ui_text",
        "z": "41d75d39e6ba8ad7",
        "group": "4d369ccb1b278e87",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Uptime:",
        "format": "{{msg.payload}} ms",
        "layout": "row-spread",
        "className": "",
        "x": 1440,
        "y": 1120,
        "wires": []
    },
    {
        "id": "6214bf38fcc5f92a",
        "type": "ui_text",
        "z": "41d75d39e6ba8ad7",
        "group": "b14c532c2e6d89c2",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Uptime:",
        "format": "{{msg.payload}} ms",
        "layout": "row-spread",
        "className": "",
        "x": 1440,
        "y": 1160,
        "wires": []
    },
    {
        "id": "7f3ef964cbe8198b",
        "type": "ui_text",
        "z": "41d75d39e6ba8ad7",
        "group": "3832ea2a57b47cdd",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RSSI actual",
        "format": "{{msg.payload}} dBm",
        "layout": "row-spread",
        "className": "",
        "x": 1230,
        "y": 1200,
        "wires": []
    },
    {
        "id": "deccc19a6b564587",
        "type": "ui_text",
        "z": "41d75d39e6ba8ad7",
        "group": "c1673a610ade2e81",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RSSI actual:",
        "format": "{{msg.payload}} dBm",
        "layout": "row-spread",
        "className": "",
        "x": 1230,
        "y": 1240,
        "wires": []
    },
    {
        "id": "8d2d9fc0875908fd",
        "type": "ui_text",
        "z": "41d75d39e6ba8ad7",
        "group": "4d369ccb1b278e87",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RSSI actual:",
        "format": "{{msg.payload}} dBm",
        "layout": "row-spread",
        "className": "",
        "x": 1230,
        "y": 1300,
        "wires": []
    },
    {
        "id": "b830cdb2815d7e24",
        "type": "ui_text",
        "z": "41d75d39e6ba8ad7",
        "group": "b14c532c2e6d89c2",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RSSI actual:",
        "format": "{{msg.payload}} dBm",
        "layout": "row-spread",
        "className": "",
        "x": 1230,
        "y": 1340,
        "wires": []
    },
    {
        "id": "99fab6978b56ba5b",
        "type": "switch",
        "z": "41d75d39e6ba8ad7",
        "name": "",
        "property": "identificador",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ID1",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID2",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID3",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID4",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 1050,
        "y": 1280,
        "wires": [
            [
                "7f3ef964cbe8198b"
            ],
            [
                "deccc19a6b564587"
            ],
            [
                "8d2d9fc0875908fd"
            ],
            [
                "b830cdb2815d7e24"
            ]
        ]
    },
    {
        "id": "02715f060d3eb965",
        "type": "ui_text",
        "z": "41d75d39e6ba8ad7",
        "group": "3832ea2a57b47cdd",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SSID:",
        "format": "{{msg.payload}} ",
        "layout": "row-spread",
        "className": "",
        "x": 1210,
        "y": 1400,
        "wires": []
    },
    {
        "id": "29e8911a88d823a6",
        "type": "ui_text",
        "z": "41d75d39e6ba8ad7",
        "group": "c1673a610ade2e81",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SSID:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1210,
        "y": 1440,
        "wires": []
    },
    {
        "id": "bef0cd2c8e949d23",
        "type": "ui_text",
        "z": "41d75d39e6ba8ad7",
        "group": "4d369ccb1b278e87",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SSID:",
        "format": "{{msg.payload}} ",
        "layout": "row-spread",
        "className": "",
        "x": 1210,
        "y": 1500,
        "wires": []
    },
    {
        "id": "5bd75b02ce0363e3",
        "type": "ui_text",
        "z": "41d75d39e6ba8ad7",
        "group": "b14c532c2e6d89c2",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SSID",
        "format": "{{msg.payload}} dBm",
        "layout": "row-spread",
        "className": "",
        "x": 1210,
        "y": 1540,
        "wires": []
    },
    {
        "id": "3680305c19382d27",
        "type": "switch",
        "z": "41d75d39e6ba8ad7",
        "name": "",
        "property": "identificador",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ID1",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID2",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID3",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID4",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 1050,
        "y": 1480,
        "wires": [
            [
                "02715f060d3eb965"
            ],
            [
                "29e8911a88d823a6"
            ],
            [
                "bef0cd2c8e949d23"
            ],
            [
                "5bd75b02ce0363e3"
            ]
        ]
    },
    {
        "id": "7f1a6a96483e0c0b",
        "type": "change",
        "z": "41d75d39e6ba8ad7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.RSSI",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 1280,
        "wires": [
            [
                "99fab6978b56ba5b"
            ]
        ]
    },
    {
        "id": "ea97e4c3bcf12138",
        "type": "ui_text",
        "z": "41d75d39e6ba8ad7",
        "group": "3832ea2a57b47cdd",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP local:",
        "format": "{{msg.payload}} ",
        "layout": "row-spread",
        "className": "",
        "x": 1220,
        "y": 1580,
        "wires": []
    },
    {
        "id": "d36c401475db66b1",
        "type": "ui_text",
        "z": "41d75d39e6ba8ad7",
        "group": "c1673a610ade2e81",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP local:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1220,
        "y": 1620,
        "wires": []
    },
    {
        "id": "5963589f20a14995",
        "type": "ui_text",
        "z": "41d75d39e6ba8ad7",
        "group": "4d369ccb1b278e87",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP local:",
        "format": "{{msg.payload}} ",
        "layout": "row-spread",
        "className": "",
        "x": 1220,
        "y": 1680,
        "wires": []
    },
    {
        "id": "b78f58b3e2ba93cd",
        "type": "ui_text",
        "z": "41d75d39e6ba8ad7",
        "group": "b14c532c2e6d89c2",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP local",
        "format": "{{msg.payload}} ",
        "layout": "row-spread",
        "className": "",
        "x": 1220,
        "y": 1720,
        "wires": []
    },
    {
        "id": "9b951eb9d13ee5f3",
        "type": "switch",
        "z": "41d75d39e6ba8ad7",
        "name": "",
        "property": "identificador",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ID1",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID2",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID3",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "ID4",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 1050,
        "y": 1660,
        "wires": [
            [
                "ea97e4c3bcf12138"
            ],
            [
                "d36c401475db66b1"
            ],
            [
                "5963589f20a14995"
            ],
            [
                "b78f58b3e2ba93cd"
            ]
        ]
    },
    {
        "id": "2f0ad02292272ce5",
        "type": "ui_spacer",
        "z": "41d75d39e6ba8ad7",
        "name": "spacer",
        "group": "547832d6aed887d2",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "8f327d4f535ad4fc",
        "type": "ui_spacer",
        "z": "41d75d39e6ba8ad7",
        "name": "spacer",
        "group": "547832d6aed887d2",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "759329fc13f505d4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "3832ea2a57b47cdd",
        "type": "ui_group",
        "name": "Datos Sensores",
        "tab": "594cecd70ae88430",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c1673a610ade2e81",
        "type": "ui_group",
        "name": "Datos Sensores",
        "tab": "cb0a8f66055dc5e4",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4d369ccb1b278e87",
        "type": "ui_group",
        "name": "Datos Sensores",
        "tab": "3ea480f31c69cc51",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b14c532c2e6d89c2",
        "type": "ui_group",
        "name": "Datos Sensores",
        "tab": "56d00aae9c36eba0",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "547832d6aed887d2",
        "type": "ui_group",
        "name": "Medida de los sensores",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "594cecd70ae88430",
        "type": "ui_tab",
        "name": "HUERTO 1",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cb0a8f66055dc5e4",
        "type": "ui_tab",
        "name": "HUERTO 2",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3ea480f31c69cc51",
        "type": "ui_tab",
        "name": "HUERTO 3",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "56d00aae9c36eba0",
        "type": "ui_tab",
        "name": "HUERTO 4",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]