NodeRED/FOTA_Angel.json
[
    {
        "id": "d1ab0f0a131214d4",
        "type": "tab",
        "label": "FOTA",
        "disabled": false,
        "info": ""
    },
    {
        "id": "84c8dde276222ad5",
        "type": "http response",
        "z": "d1ab0f0a131214d4",
        "name": "OTA Response",
        "statusCode": "",
        "headers": {},
        "x": 1600,
        "y": 920,
        "wires": []
    },
    {
        "id": "b44513351a6e1ae6",
        "type": "http in",
        "z": "d1ab0f0a131214d4",
        "name": "OTA Manager",
        "url": "/esp8266-ota",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 760,
        "wires": [
            [
                "a5a2d1511cd7aa26"
            ]
        ]
    },
    {
        "id": "31e9cfdef56b221d",
        "type": "comment",
        "z": "d1ab0f0a131214d4",
        "name": "Firmware Upgrade",
        "info": "The system determines which firmware to send based\non the MAC address, version, and MD5 headers in the\nrequest from the ESP8266.\n\nFirstly, it checks if a firmware hash file with \nthe MAC address as the name exists, or else if a \nfirmware file with the version as the name exists.\nIf neither exist then no update is available.\n\nIt then reads the corresponding MD5 hash from the\nhash file and compares to the MD5 hash in the\nrequest.  If they match then the firmware is up\nto date and no update is required.\n\nOtherwise, it sends the contents of the firmware\nbin file and the MD5 hash value.",
        "x": 210,
        "y": 140,
        "wires": []
    },
    {
        "id": "f1d00d86bb320ac0",
        "type": "comment",
        "z": "d1ab0f0a131214d4",
        "name": "Firmware Management",
        "info": "",
        "x": 200,
        "y": 700,
        "wires": []
    },
    {
        "id": "8e80a3a8620c6ebe",
        "type": "http in",
        "z": "d1ab0f0a131214d4",
        "name": "OTA Delete",
        "url": "/esp8266-ota",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 1040,
        "wires": [
            [
                "963264da1b1d34df"
            ]
        ]
    },
    {
        "id": "31ef3de225bb0723",
        "type": "http in",
        "z": "d1ab0f0a131214d4",
        "name": "OTA Link",
        "url": "/esp8266-ota",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 191.440185546875,
        "y": 1138.3928089141846,
        "wires": [
            [
                "1594fb9ad9947251"
            ]
        ]
    },
    {
        "id": "22dd7084f316a92d",
        "type": "http response",
        "z": "d1ab0f0a131214d4",
        "name": "OTA Response",
        "x": 3160,
        "y": 440,
        "wires": []
    },
    {
        "id": "18cf5b95568a6b4e",
        "type": "file in",
        "z": "d1ab0f0a131214d4",
        "name": "Load Firmware",
        "filename": "",
        "format": "",
        "sendError": false,
        "x": 2620,
        "y": 480,
        "wires": [
            [
                "22dd7084f316a92d",
                "d0e4beee629dd824"
            ]
        ]
    },
    {
        "id": "91f628ae6d3ef070",
        "type": "change",
        "z": "d1ab0f0a131214d4",
        "name": "No Update",
        "rules": [
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "304",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2890,
        "y": 360,
        "wires": [
            [
                "22dd7084f316a92d"
            ]
        ]
    },
    {
        "id": "93bbecb839a269f9",
        "type": "change",
        "z": "d1ab0f0a131214d4",
        "name": "Forbidden",
        "rules": [
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "403",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Forbidden",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2880,
        "y": 220,
        "wires": [
            [
                "22dd7084f316a92d"
            ]
        ]
    },
    {
        "id": "d0e4beee629dd824",
        "type": "debug",
        "z": "d1ab0f0a131214d4",
        "name": "Update sent",
        "active": true,
        "console": "false",
        "complete": "req.headers.x-esp8266-sta-mac",
        "x": 2830,
        "y": 500,
        "wires": []
    },
    {
        "id": "39a180ab27039e48",
        "type": "change",
        "z": "d1ab0f0a131214d4",
        "name": "Save MD5 Hash",
        "rules": [
            {
                "t": "set",
                "p": "headers.x-MD5",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "change",
                "p": "filename",
                "pt": "msg",
                "from": "md5",
                "fromt": "str",
                "to": "bin",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2440,
        "y": 480,
        "wires": [
            [
                "18cf5b95568a6b4e"
            ]
        ]
    },
    {
        "id": "2be7e93061162290",
        "type": "switch",
        "z": "d1ab0f0a131214d4",
        "name": "Update type",
        "property": "req.headers.x-esp8266-mode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "spiffs",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "sketch",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "outputs": 2,
        "x": 550,
        "y": 280,
        "wires": [
            [
                "91f628ae6d3ef070"
            ],
            [
                "670a4035c4312e1d"
            ]
        ]
    },
    {
        "id": "54b9ba7cceb3ae6a",
        "type": "switch",
        "z": "d1ab0f0a131214d4",
        "name": "Compare MD5 hash",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "req.headers.x-esp8266-sketch-md5",
                "vt": "msg"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "outputs": 2,
        "x": 2200,
        "y": 360,
        "wires": [
            [
                "91f628ae6d3ef070",
                "96790498356d9f68"
            ],
            [
                "39a180ab27039e48",
                "ce117cdafd4dae73"
            ]
        ]
    },
    {
        "id": "32703d32f49fcbda",
        "type": "catch",
        "z": "d1ab0f0a131214d4",
        "name": "File error",
        "scope": [
            "18cf5b95568a6b4e",
            "d22d571b0cae1531"
        ],
        "x": 2700,
        "y": 420,
        "wires": [
            [
                "91f628ae6d3ef070",
                "779f3de852a9a92f"
            ]
        ]
    },
    {
        "id": "f4a17a39a41a4841",
        "type": "switch",
        "z": "d1ab0f0a131214d4",
        "name": "Check user agent",
        "property": "req.headers.user-agent",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "ESP8266-http-Update",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "outputs": 2,
        "x": 370,
        "y": 240,
        "wires": [
            [
                "93bbecb839a269f9"
            ],
            [
                "2be7e93061162290"
            ]
        ]
    },
    {
        "id": "670a4035c4312e1d",
        "type": "change",
        "z": "d1ab0f0a131214d4",
        "name": "Get MAC hash filename",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "firmware.directory",
                "tot": "flow"
            },
            {
                "t": "change",
                "p": "filename",
                "pt": "msg",
                "from": "$",
                "fromt": "re",
                "to": "req.headers.x-esp8266-sta-mac",
                "tot": "msg"
            },
            {
                "t": "change",
                "p": "filename",
                "pt": "msg",
                "from": "$",
                "fromt": "re",
                "to": ".md5",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 320,
        "wires": [
            [
                "7a801a833a6f3a1f"
            ]
        ]
    },
    {
        "id": "d22d571b0cae1531",
        "type": "file in",
        "z": "d1ab0f0a131214d4",
        "name": "Load Hash",
        "filename": "",
        "format": "utf8",
        "sendError": false,
        "x": 2010,
        "y": 360,
        "wires": [
            [
                "54b9ba7cceb3ae6a"
            ]
        ]
    },
    {
        "id": "8697edaa128486d5",
        "type": "change",
        "z": "d1ab0f0a131214d4",
        "name": "Get Version hash filename",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "firmware.directory",
                "tot": "flow"
            },
            {
                "t": "change",
                "p": "filename",
                "pt": "msg",
                "from": "$",
                "fromt": "re",
                "to": "req.headers.x-esp8266-version",
                "tot": "msg"
            },
            {
                "t": "change",
                "p": "filename",
                "pt": "msg",
                "from": "$",
                "fromt": "re",
                "to": ".md5",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1540,
        "y": 440,
        "wires": [
            [
                "2ac9a394bde0d70e",
                "87ccfcc6d417375a"
            ]
        ]
    },
    {
        "id": "779f3de852a9a92f",
        "type": "debug",
        "z": "d1ab0f0a131214d4",
        "name": "Firmware file error",
        "active": false,
        "console": "false",
        "complete": "error",
        "x": 2910,
        "y": 420,
        "wires": []
    },
    {
        "id": "a7adfc305516a423",
        "type": "http in",
        "z": "d1ab0f0a131214d4",
        "name": "OTA Request",
        "url": "/esp8266-ota/update",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 182.440185546875,
        "y": 231.8482208251953,
        "wires": [
            [
                "f4a17a39a41a4841",
                "c15e633cf18fc32e"
            ]
        ]
    },
    {
        "id": "111108afd25399be",
        "type": "switch",
        "z": "d1ab0f0a131214d4",
        "name": "",
        "property": "req.headers.x-esp8266-version",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 1150,
        "y": 440,
        "wires": [
            [
                "8697edaa128486d5"
            ],
            [
                "6f8202b81fced12f"
            ]
        ]
    },
    {
        "id": "6f8202b81fced12f",
        "type": "change",
        "z": "d1ab0f0a131214d4",
        "name": "Version in Request",
        "rules": [
            {
                "t": "set",
                "p": "req.headers.x-esp8266-version",
                "pt": "msg",
                "to": "req.params.version",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1310,
        "y": 500,
        "wires": [
            [
                "8697edaa128486d5"
            ]
        ]
    },
    {
        "id": "c15e633cf18fc32e",
        "type": "debug",
        "z": "d1ab0f0a131214d4",
        "name": "Update req",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 390,
        "y": 180,
        "wires": []
    },
    {
        "id": "fd49da0f4e4af6f3",
        "type": "debug",
        "z": "d1ab0f0a131214d4",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1210,
        "y": 380,
        "wires": []
    },
    {
        "id": "67ddc47b43726331",
        "type": "debug",
        "z": "d1ab0f0a131214d4",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1190,
        "y": 320,
        "wires": []
    },
    {
        "id": "87ccfcc6d417375a",
        "type": "debug",
        "z": "d1ab0f0a131214d4",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "filename",
        "x": 1750,
        "y": 500,
        "wires": []
    },
    {
        "id": "1cf6f08eefdc4681",
        "type": "debug",
        "z": "d1ab0f0a131214d4",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "filename",
        "x": 2010,
        "y": 500,
        "wires": []
    },
    {
        "id": "35e3b772c8d7388d",
        "type": "debug",
        "z": "d1ab0f0a131214d4",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "filename",
        "x": 2050,
        "y": 420,
        "wires": []
    },
    {
        "id": "96790498356d9f68",
        "type": "debug",
        "z": "d1ab0f0a131214d4",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "filename",
        "x": 2410,
        "y": 280,
        "wires": []
    },
    {
        "id": "ce117cdafd4dae73",
        "type": "debug",
        "z": "d1ab0f0a131214d4",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "filename",
        "x": 2410,
        "y": 380,
        "wires": []
    },
    {
        "id": "2ac9a394bde0d70e",
        "type": "fs-ops-access",
        "z": "d1ab0f0a131214d4",
        "name": "Check for MD5 file exists",
        "path": "",
        "pathType": "str",
        "filename": "filename",
        "filenameType": "msg",
        "read": true,
        "write": false,
        "throwerror": false,
        "x": 1810,
        "y": 460,
        "wires": [
            [
                "d22d571b0cae1531",
                "35e3b772c8d7388d"
            ],
            [
                "91f628ae6d3ef070",
                "1cf6f08eefdc4681"
            ]
        ]
    },
    {
        "id": "7a801a833a6f3a1f",
        "type": "fs-ops-access",
        "z": "d1ab0f0a131214d4",
        "name": "Check for MD5 file exists",
        "path": "",
        "pathType": "str",
        "filename": "filename",
        "filenameType": "msg",
        "read": true,
        "write": false,
        "throwerror": false,
        "x": 990,
        "y": 360,
        "wires": [
            [
                "d22d571b0cae1531",
                "67ddc47b43726331"
            ],
            [
                "111108afd25399be",
                "fd49da0f4e4af6f3"
            ]
        ]
    },
    {
        "id": "5e73d721761eb032",
        "type": "config",
        "z": "d1ab0f0a131214d4",
        "name": "Firmware Config",
        "properties": [
            {
                "p": "firmware.directory",
                "pt": "flow",
                "to": "/home/ubuntu/OTA/",
                "tot": "str"
            }
        ],
        "active": true,
        "x": 440,
        "y": 500,
        "wires": []
    },
    {
        "id": "c7534b557d97e718",
        "type": "mqtt in",
        "z": "d1ab0f0a131214d4",
        "name": "",
        "topic": "II12/ESP3097984/FOTA",
        "qos": "2",
        "datatype": "auto",
        "broker": "759329fc13f505d4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 200,
        "y": 500,
        "wires": [
            [
                "5e73d721761eb032"
            ]
        ]
    },
    {
        "id": "c7bb5a64691b4853",
        "type": "file",
        "z": "d1ab0f0a131214d4",
        "name": "Save md5 Checksum",
        "filename": "",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "x": 1260,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "703fd5d82ba5cc11",
        "type": "file in",
        "z": "d1ab0f0a131214d4",
        "name": "Read firmware",
        "filename": "",
        "format": "",
        "x": 720,
        "y": 940,
        "wires": [
            [
                "3e10fdf260e68b8d"
            ]
        ]
    },
    {
        "id": "8f36fd90eb0e2486",
        "type": "change",
        "z": "d1ab0f0a131214d4",
        "name": "Extract filename",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "firmware.directory",
                "tot": "flow"
            },
            {
                "t": "change",
                "p": "filename",
                "pt": "msg",
                "from": "$",
                "fromt": "re",
                "to": "req.files.firmware[0].originalname",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "req",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "res",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 940,
        "wires": [
            [
                "703fd5d82ba5cc11"
            ]
        ]
    },
    {
        "id": "1274c6585426a09c",
        "type": "change",
        "z": "d1ab0f0a131214d4",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "filename",
                "pt": "msg",
                "from": "bin$",
                "fromt": "re",
                "to": "md5",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 940,
        "wires": [
            [
                "c7bb5a64691b4853"
            ]
        ]
    },
    {
        "id": "b1c1660e3c582fa1",
        "type": "template",
        "z": "d1ab0f0a131214d4",
        "name": "Firmware Manager",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<html>\n    <head>\n        <title>ESP8266 OTA Firmware Manager</title>\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n        <link rel=\"stylesheet\" href=\"http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css\">\n        <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js\"></script>\n        <script src=\"http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js\"></script>\n        <style>\n            .file-btn-grp {\n                display: none;\n            }\n            body {\n                background-color: #f6f6f6;\n            }\n            .text_holder {\n                display: block;\n                max-width: 100%;\n                word-wrap: break-word;\n                line-height: 30px;\n            }\n            #main {\n                margin-top: 50px;\n                background-color: #ffffff;\n                border-radius: 5px;\n                width: 70%;\n                min-width: 500px;\n                border: 1px solid #545454;\n            }\n            .alert {\n                margin-top: 10px;\n                margin-bottom: 5px;\n            }\n            .link {\n                font-style: italic;\n            }\n            .listentry {\n                display: none;\n                list-style-type: none;\n            }\n        </style>\n\n    </head>\n    <body>\n        <div class=\"container\" id=\"main\">\n            <h1><small>ESP8266 OTA Firmware Manager</small></h1>\n            <h2><small>Upload New Firmware</small></h2>\n\n            <form role =\"form\" id=\"main_input_box\" action=\"esp8266-ota\" method=\"POST\" enctype=\"multipart/form-data\" class=\"form-inline\">\n                <input type=\"file\" accept=\".bin\" class=\"hidden\" id=\"fileUpload\" name=\"firmware\" placeholder=\"firmware.bin\">\n                <div class=\"form-group\">\n                <div class=\"input-group\">\n                    <span class=\"input-group-btn\">\n                        <button id=\"browse\" type=\"button\" class=\"btn btn-primary\">Browse...</button>\n                    </span>\n                    <input id=\"filename\" size=100 readonly=\"\" class=\"form-control\" placeholder=\"Firmware.bin\">\n                    <span class=\"input-group-btn\">\n                        <input type=\"submit\" value=\"Upload\" class=\"btn btn-primary add_button\">\n                    </span>\n                </div>\n                </div>\n            </form>\n\n            <h2><small>Current Firmware</small></h2>\n            <ul class=\"list-group\" id=\"list_of_items\">\n            </ul>\n        </div>\n\n        <div id=\"linkModal\" class=\"modal fade\" role=\"dialog\">\n            <div class=\"modal-dialog\">\n        \n                <!-- Modal content-->\n                <div class=\"modal-content\">\n                    <div class=\"modal-header\">\n                        <button type=\"button\" class=\"close\" data-dismiss=\"modal\">&times;</button>\n                        <h4 class=\"modal-title\">Create Symbolic Link</h4>\n                    </div>\n                    <div class=\"modal-body\">\n                        <form class=\"form-horizontal\" id=\"linkForm\" role=\"form\" action=\"#\" method=\"POST\">\n                            <div class=\"form-group\">\n                                <label class=\"control-label  col-sm-2\" for=\"linkName\">Link:</label> \n                                <div class=\"col-sm-10\">\n                                    <input id=\"linkName\" name=\"linkName\" class=\"form-control\"/>\n                                </div>\n                            </div>\n                            <div class=\"form-group\">\n                                <label class=\"control-label  col-sm-2\" for=\"linkFile\">To:</label> \n                                <div class=\"col-sm-10\">\n                                    <input class=\"form-control\" id=\"linkFile\" name=\"linkFile\"/>\n                                </div>\n                            </div>\n                        </form>\n                    </div>\n                    <div class=\"modal-footer\">\n                        <button type=\"submit\" class=\"btn btn-success link-create\">Create</button>\n                        <button type=\"button\" class=\"btn btn-warning\" data-dismiss=\"modal\">Cancel</button>\n                    </div>\n                </div>\n            </div>\n        </div>\n        \n        <script>\n\n            var deleteButton = \"<button id='delete' class='btn btn-warning'>Delete</button>\";\n            var linkButton = \"<button id='link' class='btn btn-success'>Link</button>\";\n            var oneButton = \"<div class='file-btn-grp btn-group pull-right'>\" + deleteButton + \"</div>\";\n            var twoButtons = \"<div class='file-btn-grp btn-group pull-right'>\" + deleteButton + linkButton + \"</div>\";\n            \n            function addListEntry(list, filename, linkname) {\n            \n                var entry;\n                \n                if (linkname === undefined) {\n                    entry = $(\"<li class='listentry list-group-item'><div class='text_holder'><span>\" \n                    + filename + \"</span>\" + twoButtons + \"</div></li>\");\n                } else {\n                    entry = $(\"<li class='listentry list-group-item'><div class='text_holder'><span class='link'>\" \n                    + filename + \"</span> <span class='glyphicon glyphicon-arrow-right'></span> \" \n                    + linkname + oneButton + \"</div></li>\");\n                }\n                \n                entry.mouseover(function(){\n                    $(this).find(\".btn-group\").fadeIn(\"fast\");\n                });\n                entry.mouseleave(function(){\n                    $(this).find(\".btn-group\").fadeOut(\"slow\");\n                });\n                \n                entry.on(\"click\", \"button#delete\", function(){\n                    var listItem = this.parentElement.parentElement.parentElement;\n                    var file = this.parentElement.parentElement.childNodes[0].childNodes[0].data;\n                    $.ajax({\n                        type: 'DELETE',\n                        data: {\"filename\": file},\n                        success: function(result) {\n                            $(listItem).fadeOut(\"slow\", function(){\n                                listItem.remove();\n                            });\n                        },\n                        error: function(result) {\n                            $(listItem).append(\"<div class='alert alert-danger'>\"\n                                + \"<a href='#' class='close' data-dismiss='alert'\"\n                                + \"aria-label='close'>&times;</a>\"\n                                + result.responseText + \"</div>\");\n                        }\n                    });\n                });\n           \n                entry.on(\"click\", \"button#link\", function(){\n                    var file = this.parentElement.parentElement.childNodes[0].childNodes[0].data;\n                    $(\"#linkName\").val(\"\");\n                    $(\"#linkFile\").prop(\"disabled\", true).val(file);\n                    $(\"#linkName\").parent().removeClass(\"has-error\");\n                    $(\"#linkModal\").modal();\n                    $('#linkModal').on('shown.bs.modal', function () {\n                        $('#linkName').focus();\n                    });\n                });\n                \n                if (list.children().length == 0) {\n                    list.append(entry);\n                    entry.fadeIn(\"slow\");\n                    return;\n                }\n\n                if (filename < $(\"li:first span:first\", list).text()) {\n                    $(\"li:first\", list).before(entry);\n                    entry.fadeIn(\"slow\");\n                    return;\n                }\n                if (filename > $(\"li:last span:first\", list).text()) {\n                    $(\"li:last\", list).after(entry);\n                    entry.fadeIn(\"slow\");\n                    return;\n                }\n                \n                var count = 0;\n                var $li = $(\"li\", list);\n                do {\n                    var index = parseInt($li.length / 2);\n                    var $compare = $li.eq(index);\n                    var compare = $(\"span:first\",$compare).text();\n                    if (filename === compare) {\n                        break;\n                    }\n                    else if (filename > compare) {\n                        $li = $li.slice(index, $li.length);\n                    } else {\n                        $li = $li.slice(0, index);\n                    }\n                } while ($li.length > 1);\n\n                if (filename === compare) {\n                    $compare.slideUp(\"fast\").slideDown(\"slow\");\n                    return;\n                } else if (filename < compare) { \n                    entry.insertBefore($compare); \n                } else { \n                    entry.insertAfter($compare); \n                }\n                entry.slideDown(\"slow\");\n            }\n            \n            \n            var files = String(\"{{payload.files}}\").split(',');\n            var links = String(\"{{payload.links}}\").split(',');\n            \n            var list_of_items = $(\"#list_of_items\");\n            \n            files.forEach(function(file,index) {\n                if (links[index] == \"\") {\n                    addListEntry(this, file.slice(0,-4));\n                } else {\n                    addListEntry(this, file.slice(0,-4), links[index].slice(0,-4));\n                }\n            },list_of_items);\n           \n           \n            $(\"#linkModal\").on(\"click\", \"button.link-create\", function(event){\n               event.preventDefault();\n               if ($(\"#linkName\").val() == \"\") {\n                    $('#linkName').focus();\n                    $('#linkName').parent().addClass(\"has-error\");\n                    return false;\n               }\n               $(\"#linkFile\").prop(\"disabled\",false);               \n               $.ajax({\n                    type: 'PUT',\n                    data: $(\"#linkForm\").serialize(),\n                    success: function(result) {\n                        $(\"#linkModal\").modal('hide');\n                        addListEntry(list_of_items, $('#linkName').val(), $('#linkFile').val());\n                    },\n                    error: function(result) {\n                        $(\"#linkFile\").prop(\"disabled\", true);\n                        $('#linkName').focus();\n                        $('#linkName').parent().addClass(\"has-error\");\n                        $(linkForm).append(\"<div id='linkError' class='alert alert-danger'>\"\n                             + \"<a href='#' class='close' data-dismiss='alert'\"\n                             + \"aria-label='close'>&times;</a>\"\n                             + result.responseText + \"</div>\");\n                    }\n                });\n            });\n            \n            $(\"#browse\").on('click', function () {\n                fileUpload.click();\n            });\n            \n            $(\"#fileUpload\").on('change', function () {\n                $(\"#filename\").val($(\"#fileUpload\").val().split('/').pop().split('\\\\').pop());\n            });\n            \n            var frm = $(\"#main_input_box\");\n            \n            frm.submit( function( e ) {\n                e.preventDefault();\n                if ($('#fileUpload').val() == \"\") return null;\n                $.ajax( {\n                    url: frm.attr('action'),\n                    type: frm.attr('method'),\n                    data: new FormData( this ),\n                    processData: false,\n                    contentType: false,\n                    success: function(result) {\n                        addListEntry(list_of_items, $('#fileUpload').val().slice(0,-4).split('\\\\').pop());\n                        $('#fileUpload').val('');\n                        $(':text').val('');\n                    },\n                    error: function(result) {\n                        $(\"#main_input_box\").append(\"<div class='alert alert-danger'>\"\n                             + \"<a href='#' class='close' data-dismiss='alert'\"\n                             + \"aria-label='close'>&times;</a>\"\n                             + result.responseText + \"</div>\");\n                    }\n\n                });\n            });\n        </script>\n    </body>\n</html>",
        "output": "str",
        "x": 690,
        "y": 760,
        "wires": [
            [
                "84c8dde276222ad5"
            ]
        ]
    },
    {
        "id": "4523e5f06d3c7cfd",
        "type": "catch",
        "z": "d1ab0f0a131214d4",
        "name": "File Error",
        "scope": [
            "f20ab83678bc5b5b",
            "e32e0a070a23d094",
            "801ad2127b1704b1",
            "ec584984da8f96ac",
            "a19ce902cb45a3c9"
        ],
        "x": 1260,
        "y": 800,
        "wires": [
            [
                "dcdec230e1fb648f"
            ]
        ]
    },
    {
        "id": "dcdec230e1fb648f",
        "type": "change",
        "z": "d1ab0f0a131214d4",
        "name": "Error",
        "rules": [
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "500",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "error.message",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1390,
        "y": 800,
        "wires": [
            [
                "84c8dde276222ad5"
            ]
        ]
    },
    {
        "id": "b215272ef951f8b2",
        "type": "change",
        "z": "d1ab0f0a131214d4",
        "name": "Change to MD5 filename",
        "rules": [
            {
                "t": "change",
                "p": "payload.filename",
                "pt": "msg",
                "from": "bin",
                "fromt": "str",
                "to": "md5",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 1040,
        "wires": [
            [
                "e32e0a070a23d094"
            ]
        ]
    },
    {
        "id": "1594fb9ad9947251",
        "type": "change",
        "z": "d1ab0f0a131214d4",
        "name": "Extract filename",
        "rules": [
            {
                "t": "change",
                "p": "payload.linkName",
                "pt": "msg",
                "from": "$",
                "fromt": "re",
                "to": ".bin",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload.linkFile",
                "pt": "msg",
                "from": "$",
                "fromt": "re",
                "to": ".bin",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 1140,
        "wires": [
            [
                "801ad2127b1704b1"
            ]
        ]
    },
    {
        "id": "219da1ec50256b84",
        "type": "change",
        "z": "d1ab0f0a131214d4",
        "name": "Change to MD5 Filename",
        "rules": [
            {
                "t": "change",
                "p": "payload.linkName",
                "pt": "msg",
                "from": "bin$",
                "fromt": "re",
                "to": "md5",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload.linkFile",
                "pt": "msg",
                "from": "bin$",
                "fromt": "re",
                "to": "md5",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 1140,
        "wires": [
            [
                "ec584984da8f96ac"
            ]
        ]
    },
    {
        "id": "963264da1b1d34df",
        "type": "change",
        "z": "d1ab0f0a131214d4",
        "name": "Extract filename",
        "rules": [
            {
                "t": "change",
                "p": "payload.filename",
                "pt": "msg",
                "from": "$",
                "fromt": "re",
                "to": ".bin",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 1040,
        "wires": [
            [
                "f20ab83678bc5b5b"
            ]
        ]
    },
    {
        "id": "a19ce902cb45a3c9",
        "type": "fs-ops-move",
        "z": "d1ab0f0a131214d4",
        "name": "Store firmware",
        "sourcePath": "req.files.firmware[0].destination",
        "sourcePathType": "msg",
        "sourceFilename": "req.files.firmware[0].filename",
        "sourceFilenameType": "msg",
        "destPath": "firmware.directory",
        "destPathType": "flow",
        "destFilename": "req.files.firmware[0].originalname",
        "destFilenameType": "msg",
        "link": false,
        "x": 440,
        "y": 860,
        "wires": [
            [
                "8f36fd90eb0e2486",
                "84c8dde276222ad5"
            ]
        ]
    },
    {
        "id": "801ad2127b1704b1",
        "type": "fs-ops-move",
        "z": "d1ab0f0a131214d4",
        "name": "Link firmware",
        "sourcePath": "",
        "sourcePathType": "str",
        "sourceFilename": "payload.linkFile",
        "sourceFilenameType": "msg",
        "destPath": "firmware.directory",
        "destPathType": "flow",
        "destFilename": "payload.linkName",
        "destFilenameType": "msg",
        "link": true,
        "x": 530,
        "y": 1140,
        "wires": [
            [
                "219da1ec50256b84"
            ]
        ]
    },
    {
        "id": "ec584984da8f96ac",
        "type": "fs-ops-move",
        "z": "d1ab0f0a131214d4",
        "name": "Link MD5",
        "sourcePath": "",
        "sourcePathType": "str",
        "sourceFilename": "payload.linkFile",
        "sourceFilenameType": "msg",
        "destPath": "firmware.directory",
        "destPathType": "flow",
        "destFilename": "payload.linkName",
        "destFilenameType": "msg",
        "link": true,
        "x": 920,
        "y": 1140,
        "wires": [
            [
                "84c8dde276222ad5"
            ]
        ]
    },
    {
        "id": "f20ab83678bc5b5b",
        "type": "fs-ops-delete",
        "z": "d1ab0f0a131214d4",
        "name": "Delete firmware",
        "path": "firmware.directory",
        "pathType": "flow",
        "filename": "payload.filename",
        "filenameType": "msg",
        "x": 540,
        "y": 1040,
        "wires": [
            [
                "b215272ef951f8b2"
            ]
        ]
    },
    {
        "id": "e32e0a070a23d094",
        "type": "fs-ops-delete",
        "z": "d1ab0f0a131214d4",
        "name": "Delete MD5 Hash",
        "path": "firmware.directory",
        "pathType": "flow",
        "filename": "payload.filename",
        "filenameType": "msg",
        "x": 970,
        "y": 1040,
        "wires": [
            [
                "84c8dde276222ad5"
            ]
        ]
    },
    {
        "id": "0f84af5083ff8c74",
        "type": "fs-ops-link",
        "z": "d1ab0f0a131214d4",
        "name": "Get Links",
        "path": "firmware.directory",
        "pathType": "flow",
        "filename": "payload.files",
        "filenameType": "msg",
        "link": "payload.links",
        "linkType": "msg",
        "x": 520,
        "y": 760,
        "wires": [
            [
                "b1c1660e3c582fa1"
            ]
        ]
    },
    {
        "id": "a5a2d1511cd7aa26",
        "type": "fs-ops-dir",
        "z": "d1ab0f0a131214d4",
        "name": "Firmware listing",
        "path": "firmware.directory",
        "pathType": "flow",
        "filter": "*.bin",
        "filterType": "str",
        "dir": "payload.files",
        "dirType": "msg",
        "x": 360,
        "y": 760,
        "wires": [
            [
                "0f84af5083ff8c74"
            ]
        ]
    },
    {
        "id": "3e10fdf260e68b8d",
        "type": "md5",
        "z": "d1ab0f0a131214d4",
        "name": "",
        "fieldToHash": "payload",
        "hashField": "payload",
        "hashFieldType": "msg",
        "x": 870,
        "y": 940,
        "wires": [
            [
                "1274c6585426a09c"
            ]
        ]
    },
    {
        "id": "4b224b7a7d6bc2c5",
        "type": "httpInMultipart",
        "z": "d1ab0f0a131214d4",
        "name": "OTA Upload",
        "url": "/esp8266-ota",
        "method": "post",
        "fields": "[{ \"name\": \"firmware\"}]",
        "swaggerDoc": "",
        "x": 190,
        "y": 900,
        "wires": [
            [
                "a19ce902cb45a3c9"
            ]
        ]
    },
    {
        "id": "69c813695b89aae9",
        "type": "comment",
        "z": "d1ab0f0a131214d4",
        "name": "Gestion de actualizaciones",
        "info": "",
        "x": 260,
        "y": 1300,
        "wires": []
    },
    {
        "id": "c255266abaab3655",
        "type": "ui_button",
        "z": "d1ab0f0a131214d4",
        "name": "",
        "group": "54f7a86bb1024036",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "ACTUALIZAR",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 1440,
        "wires": [
            [
                "500c6d628743853e"
            ]
        ]
    },
    {
        "id": "fa34fa49c26c4ba0",
        "type": "ui_button",
        "z": "d1ab0f0a131214d4",
        "name": "",
        "group": "03b5bf71738e3f11",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "ACTUALIZAR",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 1500,
        "wires": [
            [
                "ed17d4d5424f4836"
            ]
        ]
    },
    {
        "id": "49c94cdcb53ab07a",
        "type": "ui_button",
        "z": "d1ab0f0a131214d4",
        "name": "",
        "group": "e7572a7306abb0da",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "ACTUALIZAR",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 1560,
        "wires": [
            [
                "8a69a9227d00ddcb"
            ]
        ]
    },
    {
        "id": "4ac27118a7b7d1a2",
        "type": "ui_button",
        "z": "d1ab0f0a131214d4",
        "name": "",
        "group": "caf217567928ca0b",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "ACTUALIZAR",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 1620,
        "wires": [
            [
                "41fdc78e81cb87af"
            ]
        ]
    },
    {
        "id": "500c6d628743853e",
        "type": "function",
        "z": "d1ab0f0a131214d4",
        "name": "",
        "func": "var id=global.get(\"ID1\");\nmsg.payload={}\nmsg.topic=\"II12/\"+id+\"/FOTA\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1440,
        "wires": [
            [
                "28bfed38f0b369ea"
            ]
        ]
    },
    {
        "id": "ed17d4d5424f4836",
        "type": "function",
        "z": "d1ab0f0a131214d4",
        "name": "",
        "func": "var id=global.get(\"ID2\");\nmsg.payload={}\nmsg.topic=\"II12/\"+id+\"/FOTA\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1500,
        "wires": [
            [
                "28bfed38f0b369ea"
            ]
        ]
    },
    {
        "id": "8a69a9227d00ddcb",
        "type": "function",
        "z": "d1ab0f0a131214d4",
        "name": "",
        "func": "var id=global.get(\"ID3\");\nmsg.payload={}\nmsg.topic=\"II12/\"+id+\"/FOTA\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1560,
        "wires": [
            [
                "28bfed38f0b369ea"
            ]
        ]
    },
    {
        "id": "41fdc78e81cb87af",
        "type": "function",
        "z": "d1ab0f0a131214d4",
        "name": "",
        "func": "var id=global.get(\"ID4\");\nmsg.payload={}\nmsg.topic=\"II12/\"+id+\"/FOTA\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1620,
        "wires": [
            [
                "28bfed38f0b369ea"
            ]
        ]
    },
    {
        "id": "28bfed38f0b369ea",
        "type": "mqtt out",
        "z": "d1ab0f0a131214d4",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c7a3425e606353b2",
        "x": 870,
        "y": 1540,
        "wires": []
    },
    {
        "id": "5938a4bbabe933f0",
        "type": "ui_button",
        "z": "d1ab0f0a131214d4",
        "name": "",
        "group": "756f99e69c4296a5",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "ACTUALIZAR",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 1360,
        "wires": [
            [
                "907b9d4603068378",
                "167925b6702ac9ea",
                "aab85ec00dfb9371",
                "500c6d628743853e"
            ]
        ]
    },
    {
        "id": "907b9d4603068378",
        "type": "delay",
        "z": "d1ab0f0a131214d4",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 410,
        "y": 1480,
        "wires": [
            [
                "ed17d4d5424f4836"
            ]
        ]
    },
    {
        "id": "167925b6702ac9ea",
        "type": "delay",
        "z": "d1ab0f0a131214d4",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 410,
        "y": 1540,
        "wires": [
            [
                "8a69a9227d00ddcb"
            ]
        ]
    },
    {
        "id": "aab85ec00dfb9371",
        "type": "delay",
        "z": "d1ab0f0a131214d4",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 410,
        "y": 1600,
        "wires": [
            [
                "41fdc78e81cb87af"
            ]
        ]
    },
    {
        "id": "759329fc13f505d4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "54f7a86bb1024036",
        "type": "ui_group",
        "name": "Configuración-HUERTO1",
        "tab": "eda22f146f0db9bf",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "03b5bf71738e3f11",
        "type": "ui_group",
        "name": "Configuración-HUERTO2",
        "tab": "eda22f146f0db9bf",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e7572a7306abb0da",
        "type": "ui_group",
        "name": "Configuración-HUERTO3",
        "tab": "eda22f146f0db9bf",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "caf217567928ca0b",
        "type": "ui_group",
        "name": "Configuración-HUERTO4",
        "tab": "eda22f146f0db9bf",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c7a3425e606353b2",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "756f99e69c4296a5",
        "type": "ui_group",
        "name": "GLOBAL",
        "tab": "eda22f146f0db9bf",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "eda22f146f0db9bf",
        "type": "ui_tab",
        "name": "Configuración del Dispositivo",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]
