Proyecto/tiempoconbd.json
[
    {
        "id": "62ad4742b3a82170",
        "type": "tab",
        "label": "wheather forecast",
        "disabled": false,
        "info": ""
    },
    {
        "id": "dfefd42be31cab40",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "759329fc13f505d4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "153eebdcb599e117",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "Century Gothic,CenturyGothic,AppleGothic,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#33a6cc",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#b0ffb0",
                "baseFont": "Verdana,Verdana,Geneva,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": true
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "Century Gothic,CenturyGothic,AppleGothic,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "427deeed4a6fc641",
        "type": "ui_group",
        "name": "Primera sesión",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "086e4a74c726bc8e",
        "type": "ui_group",
        "name": "Leds",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dc59ca9569b31ea4",
        "type": "ui_group",
        "name": "Leds",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0c4636488d36c150",
        "type": "ui_group",
        "name": "Leds",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d4f47a436fa19936",
        "type": "ui_group",
        "name": "Sensores",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5cd297ddfdcd04be",
        "type": "ui_group",
        "name": "ControlLeds",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d1bd5f5047fbe178",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "b4eb3d3dca556878",
        "type": "ui_group",
        "name": "SENSORS DATA",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e18675c0e8491a0e",
        "type": "ui_group",
        "name": "CONTROL LEDS",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8a70b2265bdc7564",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "a3d889f921143d83",
        "type": "ui_group",
        "name": "Sensores",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c2a5a2bc3a268e8a",
        "type": "ui_group",
        "name": "Control Led",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "63141e0bc7f5efaa",
        "type": "ui_group",
        "name": "Temperaturas",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "06e76b933a80250c",
        "type": "ui_group",
        "name": "JSON",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "76cdf73b610a4b0e",
        "type": "ui_group",
        "name": "Prueba clase",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5696db282a62f6b6",
        "type": "ui_group",
        "name": "JSON",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fa1f67c2768074bf",
        "type": "ui_group",
        "name": "Conexiones",
        "tab": "",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7b6f6c6dda73bde9",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "3bcdf62cce52fdc5",
        "type": "ui_group",
        "name": "Sensores",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f15713f936b29d1f",
        "type": "ui_group",
        "name": "RSSI",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e0f0a34153bbe2bd",
        "type": "ui_group",
        "name": "Tiempos",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9adf1ed21b9bd616",
        "type": "ui_group",
        "name": "Charts",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "46ca52df871df34d",
        "type": "ui_group",
        "name": "Donuts",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "819581010d48bfd0",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "f605fa69.8f5008",
        "type": "mongodb",
        "hostname": "127.0.0.1",
        "connectOptions": "",
        "port": "27017",
        "db": "ejercicio",
        "name": ""
    },
    {
        "id": "45a7d5cc.b3cb3c",
        "type": "ui_group",
        "name": "Registros",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false
    },
    {
        "id": "eae61757.7a1bf8",
        "type": "ui_group",
        "name": "Ejemplo",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "de6fadbd64c80106",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "77f185cca62f1bc9",
        "type": "ui_group",
        "name": "Sensores",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fe10f8a8891c7f4d",
        "type": "ui_group",
        "name": "sensores",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "25e9a54a37e4b9f0",
        "type": "ui_group",
        "name": "Control Leds",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cc9d983029d50f09",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "f044db6a7bdb0105",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3363685c5d157dd0",
        "type": "ui_group",
        "name": "LEDs",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9a03cb27515e4c92",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "f5c7b05eba2f48dc",
        "type": "ui_group",
        "name": "Otras medidas",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2a56ed26b7d64bbe",
        "type": "ui_group",
        "name": "Conexión",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b91cc49b32457401",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "ca85f604d5693fc3",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "769c2b9d43586d43",
        "type": "ui_group",
        "name": "Sensores",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "177584986659d368",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "c445b29dfa0e36cb",
        "type": "ui_group",
        "name": "Humedad",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b09a2579a0feff28",
        "type": "ui_group",
        "name": "Presion",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e5a11b6f5ea78a4f",
        "type": "ui_group",
        "name": "Temperatura media",
        "tab": "",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "75ed35688252297a",
        "type": "ui_group",
        "name": "JSON",
        "tab": "",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e5a8e4cdf5d62546",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "1fe49b88ee685be8",
        "type": "ui_group",
        "name": "Gauge",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0312359caef9d9df",
        "type": "ui_group",
        "name": "Chart",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3697e5fd11b20f8e",
        "type": "ui_group",
        "name": "Control",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cb0fd1bb20aa6454",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "854a4ce8f3ed5209",
        "type": "ui_group",
        "name": "JSON",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "41ce2fc2798c901c",
        "type": "ui_group",
        "name": "Conexion",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c50fa4300faa74f7",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "3ab2e5e9fbd2455c",
        "type": "ui_group",
        "name": "Primera sesión",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bcd2bdea056631bd",
        "type": "ui_group",
        "name": "Leds",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "75c697a19c3b9641",
        "type": "ui_group",
        "name": "Leds",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8544a70ed56e3153",
        "type": "ui_group",
        "name": "Leds",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "06746fead446538a",
        "type": "ui_group",
        "name": "Sensores",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d8499e8c7f045530",
        "type": "ui_group",
        "name": "ControlLeds",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ff6b454bc6ca15bf",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "35e93d77580ef962",
        "type": "ui_group",
        "name": "SENSORS DATA",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c734ca9ddee0e4b9",
        "type": "ui_group",
        "name": "CONTROL LEDS",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "98ae3e363bdda708",
        "type": "ui_group",
        "name": "JSON",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6bd60ae60b37b1f7",
        "type": "ui_group",
        "name": "Prueba clase",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "05f6b44918d0f624",
        "type": "ui_group",
        "name": "JSON",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c5298e28f6f51f00",
        "type": "ui_group",
        "name": "Conexiones",
        "tab": "",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8ea93e291c686783",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "eaa90b4f6641ddd9",
        "type": "ui_group",
        "name": "Sensores",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a7eec556bef21d9f",
        "type": "ui_group",
        "name": "RSSI",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "87f8d9d8219ef804",
        "type": "ui_group",
        "name": "Tiempos",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7667aa8848fe4396",
        "type": "ui_group",
        "name": "Charts",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "11f100b3d3f3ca36",
        "type": "ui_group",
        "name": "Donuts",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "27e3d8a86be8ae30",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "d561ba01de2c3543",
        "type": "mongodb",
        "hostname": "127.0.0.1",
        "connectOptions": "",
        "port": "27017",
        "db": "ejercicio",
        "name": ""
    },
    {
        "id": "3615a1ca1b2afad1",
        "type": "ui_group",
        "name": "Registros",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false
    },
    {
        "id": "6ef25bb622bc305e",
        "type": "ui_group",
        "name": "Ejemplo",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7248e158bc5e1353",
        "type": "ui_group",
        "name": "Cantidad de datos",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "df7ffb88971cb0d2",
        "type": "ui_group",
        "name": "Filtro Temp",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a7c3c7e1025d343b",
        "type": "ui_group",
        "name": "10 últimos",
        "tab": "",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bc20b86a34bc490b",
        "type": "ui_group",
        "name": "5 últimos min",
        "tab": "",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b276f50334e45f5e",
        "type": "ui_group",
        "name": "5-15 min",
        "tab": "",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c19f77d53c2e4dd8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "feef434ba1df025c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "84b38e5d156f6b5d",
        "type": "ui_group",
        "name": "Coexión Wifi y MQTT _ ESP8266",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e54f02c604b128b2",
        "type": "ui_group",
        "name": "LED ROJO",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "76d77eade2eb23b4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "5b1eca372a0c48e4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "c64c1955ba92e0c5",
        "type": "ui_group",
        "name": "LED VERDE",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5f07c5a1471e6709",
        "type": "ui_group",
        "name": "SENSORES JSON",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cdc6a4f98c7aa8bf",
        "type": "ui_group",
        "name": "GRÁFICAS JSON",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "df7e0cd59d010349",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "266ca38170433b9c",
        "type": "ui_group",
        "name": "CONEXIÓN",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2225ed635bb19d66",
        "type": "ui_group",
        "name": "Lectura con Nodos",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "547131b582ddb567",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "df8af9adf10325b8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "63896bdbc8633a44",
        "type": "ui_group",
        "name": "Lectura con Funciones",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0e1bd57ffc55c4f9",
        "type": "ui_group",
        "name": "Último Registro",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4e6e5a7dc2eab2be",
        "type": "ui_group",
        "name": "Límite de consulta",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1d93448ebbe0d35e",
        "type": "ui_group",
        "name": "Consulta con umbral de temperatura",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "91b7008c0d7008fd",
        "type": "ui_group",
        "name": "Últ. 5 mins",
        "tab": "",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a5bc42d3dc461a64",
        "type": "ui_group",
        "name": "Últ. 15-5 mins",
        "tab": "",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "de488c594e0bd0da",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d42a61d7ed5b3263",
        "type": "ui_group",
        "name": "Humedad",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ef011a36b017e7cf",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "18c9ec7269459fa6",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "63a7affb3e7f2c67",
        "type": "ui_group",
        "name": "Primera sesión",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cf87d4c1c4a9b7a7",
        "type": "ui_group",
        "name": "Leds",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c78d4840209adcd5",
        "type": "ui_group",
        "name": "Leds",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5df6b37a0b680680",
        "type": "ui_group",
        "name": "Leds",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "eb93041310999ef6",
        "type": "ui_group",
        "name": "Sensores",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a22031ab803bd487",
        "type": "ui_group",
        "name": "ControlLeds",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2042639bb6a241df",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "687237424295a310",
        "type": "ui_group",
        "name": "SENSORS DATA",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "89c38bd7d35c6c63",
        "type": "ui_group",
        "name": "CONTROL LEDS",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c9052296e919976c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "81d60784533c6b70",
        "type": "ui_group",
        "name": "Sensores",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "236df5caacc4f0d5",
        "type": "ui_group",
        "name": "Control Led",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "06bd23751635f4d6",
        "type": "ui_group",
        "name": "Temperaturas",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2900971475e1e479",
        "type": "ui_group",
        "name": "JSON",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6f7d72ff1c89ac6c",
        "type": "ui_group",
        "name": "Prueba clase",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "870143f4b1e7735e",
        "type": "ui_group",
        "name": "JSON",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "054851d238be9735",
        "type": "ui_group",
        "name": "Conexiones",
        "tab": "",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "84d15decb42c4296",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "a32391882d38228e",
        "type": "ui_group",
        "name": "Sensores",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2888757d5c683415",
        "type": "ui_group",
        "name": "RSSI",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "da5d2e71c3081384",
        "type": "ui_group",
        "name": "Tiempos",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0158fbd812d7f82a",
        "type": "ui_group",
        "name": "Charts",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "df1cbfacfe8e9baf",
        "type": "ui_group",
        "name": "Donuts",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2a8106027a657464",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "f551bee13459c7e0",
        "type": "ui_group",
        "name": "Sensores",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "73ca927d85af3d7e",
        "type": "ui_group",
        "name": "sensores",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ac4ea27862d4425a",
        "type": "ui_group",
        "name": "Control Leds",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f650532f3c3d466c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "0f81f944f996112e",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1581e1a26a64d7e1",
        "type": "ui_group",
        "name": "LEDs",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "87e89743a0aa3777",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "a87fcd7fa0a85183",
        "type": "ui_group",
        "name": "Otras medidas",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "31fd5e6063053b7a",
        "type": "ui_group",
        "name": "Conexión",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "59a20672435c459d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "593543cfd90f0444",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f934c61b75743210",
        "type": "ui_group",
        "name": "Sensores",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "71f53a276dd065e3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "bb09595d4f76fbfe",
        "type": "ui_group",
        "name": "Humedad",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4549f81fe736b188",
        "type": "ui_group",
        "name": "Presion",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fc0d941926f49a4f",
        "type": "ui_group",
        "name": "Temperatura media",
        "tab": "",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "23a33afd8f51e1ff",
        "type": "ui_group",
        "name": "JSON",
        "tab": "",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "eb9c02709b44a27e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "e77f167c21f667e0",
        "type": "ui_group",
        "name": "Gauge",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "95e6495309edf80f",
        "type": "ui_group",
        "name": "Chart",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1a157c1f10144754",
        "type": "ui_group",
        "name": "Control",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "eb659debd5f3ac90",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "d1a6d76b6477cd0b",
        "type": "ui_group",
        "name": "JSON",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7d67d4ef72ac4d1c",
        "type": "ui_group",
        "name": "Conexion",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2234a93e23651d30",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "38d49471aca994ed",
        "type": "ui_group",
        "name": "Primera sesión",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7d9518cedc803c18",
        "type": "ui_group",
        "name": "Leds",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "589ac01629398259",
        "type": "ui_group",
        "name": "Leds",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8cb9164e2d5ab2e5",
        "type": "ui_group",
        "name": "Leds",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "50c477996eaaebee",
        "type": "ui_group",
        "name": "Sensores",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2b22dbfdefec421c",
        "type": "ui_group",
        "name": "ControlLeds",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e311cae91a52c062",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "e5500e887c39228c",
        "type": "ui_group",
        "name": "SENSORS DATA",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cc28521d9c81f2fe",
        "type": "ui_group",
        "name": "CONTROL LEDS",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6526c4bdd80329a5",
        "type": "ui_group",
        "name": "JSON",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b3acee220ac5f54a",
        "type": "ui_group",
        "name": "Prueba clase",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "10ba809cc5426e4d",
        "type": "ui_group",
        "name": "JSON",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f46cd2a2372246b6",
        "type": "ui_group",
        "name": "Conexiones",
        "tab": "",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "29cb7f6a72487c5c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "7327d35e9858e385",
        "type": "ui_group",
        "name": "Sensores",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0525d5e6f8a9784a",
        "type": "ui_group",
        "name": "RSSI",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a7cd3f2a9c793de2",
        "type": "ui_group",
        "name": "Tiempos",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "29cac72bb482b844",
        "type": "ui_group",
        "name": "Charts",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1df989ba87918147",
        "type": "ui_group",
        "name": "Donuts",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d899db467c941b1c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "56fecb96e5f65b70",
        "type": "mongodb",
        "hostname": "127.0.0.1",
        "connectOptions": "",
        "port": "27017",
        "db": "ejercicio",
        "name": ""
    },
    {
        "id": "0d5ed0b9bbd9c32e",
        "type": "ui_group",
        "name": "Registros",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false
    },
    {
        "id": "ad7bc0b1e828b1d2",
        "type": "ui_group",
        "name": "Ejemplo",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b7d0482a9da8b682",
        "type": "ui_group",
        "name": "Cantidad de datos",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1b624879ca527e0d",
        "type": "ui_group",
        "name": "Filtro Temp",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "491069f808f02599",
        "type": "ui_group",
        "name": "10 últimos",
        "tab": "",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7780b9ca80b93d5c",
        "type": "ui_group",
        "name": "5 últimos min",
        "tab": "",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "573740f5a9418719",
        "type": "ui_group",
        "name": "5-15 min",
        "tab": "",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "313774bf0ed2a00c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "dc5923915ea0bdcd",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "49bd2df834f99c3c",
        "type": "ui_group",
        "name": "Primera sesión",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a5f2b9fbbe9e918a",
        "type": "ui_group",
        "name": "Leds",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "de64506ae17c8f63",
        "type": "ui_group",
        "name": "Leds",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4da7c3c04f128d08",
        "type": "ui_group",
        "name": "Leds",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "471dd22eb251958a",
        "type": "ui_group",
        "name": "Sensores",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9b20d0dc6229d3c2",
        "type": "ui_group",
        "name": "ControlLeds",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1df782518ced09d4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "0e572a21765d88da",
        "type": "ui_group",
        "name": "SENSORS DATA",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b927f36792333004",
        "type": "ui_group",
        "name": "CONTROL LEDS",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "09f4116a67cce7b1",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "b1ae074ea3a8a714",
        "type": "ui_group",
        "name": "Sensores",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a81705dcadbe744a",
        "type": "ui_group",
        "name": "Control Led",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "79e9fe93ac240a32",
        "type": "ui_group",
        "name": "Temperaturas",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1b4bb14a7848f5f9",
        "type": "ui_group",
        "name": "JSON",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3f065989102248b5",
        "type": "ui_group",
        "name": "Prueba clase",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1b3ba50d51671c54",
        "type": "ui_group",
        "name": "JSON",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "11608395186ba016",
        "type": "ui_group",
        "name": "Conexiones",
        "tab": "",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "15d4537839d627d0",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "40664748dc373799",
        "type": "ui_group",
        "name": "Sensores",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7cb0c44c00b297dd",
        "type": "ui_group",
        "name": "RSSI",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8385b59f71cbdbaf",
        "type": "ui_group",
        "name": "Tiempos",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fd5a00e9b87fd80d",
        "type": "ui_group",
        "name": "Charts",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b891baa4a2b804ab",
        "type": "ui_group",
        "name": "Donuts",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a151a01aaff60930",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "303f73a45820f58c",
        "type": "ui_group",
        "name": "Sensores",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7036c7151660d255",
        "type": "ui_group",
        "name": "sensores",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "065495dcc6df69f0",
        "type": "ui_group",
        "name": "Control Leds",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "110408088b7dbd9a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "4ede20f03970e831",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "205656bd78088f78",
        "type": "ui_group",
        "name": "LEDs",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "54849b3306b52e76",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "db6dd7f58232c787",
        "type": "ui_group",
        "name": "Otras medidas",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2180eab66aa44549",
        "type": "ui_group",
        "name": "Conexión",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "651b83fd9d4563f9",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "a7e875323cbe1b00",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a7c0fcb79b8a1bb4",
        "type": "ui_group",
        "name": "Sensores",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "656ba13b73cc9af2",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "f6c7e78a4f20bd28",
        "type": "ui_group",
        "name": "Humedad",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "096b73b23e728e06",
        "type": "ui_group",
        "name": "Presion",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "64714cb104a90c86",
        "type": "ui_group",
        "name": "Temperatura media",
        "tab": "",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "82933bf36dde1613",
        "type": "ui_group",
        "name": "JSON",
        "tab": "",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "196e6dd86919efaa",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "4b1cb411de48075a",
        "type": "ui_group",
        "name": "Gauge",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "00dce30183bc97c1",
        "type": "ui_group",
        "name": "Chart",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "87965396e72f428f",
        "type": "ui_group",
        "name": "Control",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "236d4672f869b676",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "ee74df7de563c7e8",
        "type": "ui_group",
        "name": "JSON",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0e368bf0a277978f",
        "type": "ui_group",
        "name": "Conexion",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b627b27bfa35555b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "13406e4c110c59d3",
        "type": "ui_group",
        "name": "Primera sesión",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "23bf7c0b54fe049a",
        "type": "ui_group",
        "name": "Leds",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0b5e36f102ae3c7f",
        "type": "ui_group",
        "name": "Leds",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fbfd76508c42c181",
        "type": "ui_group",
        "name": "Leds",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f6dfa9d9ee285452",
        "type": "ui_group",
        "name": "Sensores",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6e1a176e6c159a6d",
        "type": "ui_group",
        "name": "ControlLeds",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "27cd0940f11ad4b5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "8e7b82d2b24d6fa8",
        "type": "ui_group",
        "name": "SENSORS DATA",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4c34f420a04f5d33",
        "type": "ui_group",
        "name": "CONTROL LEDS",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f2a4dfccfe17f1ba",
        "type": "ui_group",
        "name": "JSON",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "082d8505d91b141c",
        "type": "ui_group",
        "name": "Prueba clase",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "91a3ad2937f81898",
        "type": "ui_group",
        "name": "JSON",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5761139ffe07b0b0",
        "type": "ui_group",
        "name": "Conexiones",
        "tab": "",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "318ecb6be5812a73",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "99cd7d0ede35b9a7",
        "type": "ui_group",
        "name": "Sensores",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "061b7e22083359fb",
        "type": "ui_group",
        "name": "RSSI",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "31fa345ae73ed6fa",
        "type": "ui_group",
        "name": "Tiempos",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "130924dd123f089f",
        "type": "ui_group",
        "name": "Charts",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "99358d862fba8dd2",
        "type": "ui_group",
        "name": "Donuts",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a897117ecdd3884b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "e1a719441fdf3cae",
        "type": "mongodb",
        "hostname": "127.0.0.1",
        "connectOptions": "",
        "port": "27017",
        "db": "ejercicio",
        "name": ""
    },
    {
        "id": "c362e612814c5343",
        "type": "ui_group",
        "name": "Registros",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false
    },
    {
        "id": "5895c4cfeb13adbe",
        "type": "ui_group",
        "name": "Ejemplo",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8d3f65199d337d2f",
        "type": "ui_group",
        "name": "Cantidad de datos",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d614afdc1a85ceef",
        "type": "ui_group",
        "name": "Filtro Temp",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "113a645167377289",
        "type": "ui_group",
        "name": "10 últimos",
        "tab": "",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8efacbdd613ffa14",
        "type": "ui_group",
        "name": "5 últimos min",
        "tab": "",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4f6840d3f5e6f35c",
        "type": "ui_group",
        "name": "5-15 min",
        "tab": "",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3fc0bf1fd07b0d2c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "4b03a32cb1a1621a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "0468653c3a945d7d",
        "type": "ui_group",
        "name": "Primera sesión",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1e13cfa10b75aebd",
        "type": "ui_group",
        "name": "Leds",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8765952d95625120",
        "type": "ui_group",
        "name": "Leds",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3bea8167ab25b1ce",
        "type": "ui_group",
        "name": "Leds",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bda7e5378caa3361",
        "type": "ui_group",
        "name": "Sensores",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bf0597823d522a69",
        "type": "ui_group",
        "name": "ControlLeds",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f1dfc146bd73b712",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "1cd5a5b17f0ffb26",
        "type": "ui_group",
        "name": "SENSORS DATA",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "064f8094298e4c26",
        "type": "ui_group",
        "name": "CONTROL LEDS",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5768573a2a09fcbc",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "1ee6c5ba2d20ff33",
        "type": "ui_group",
        "name": "Sensores",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "94aa35dd036d1909",
        "type": "ui_group",
        "name": "Control Led",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b90e594620bccb0c",
        "type": "ui_group",
        "name": "Temperaturas",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6cf55b4fb380da2e",
        "type": "ui_group",
        "name": "JSON",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e441e9928d74e6d5",
        "type": "ui_group",
        "name": "Prueba clase",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "db0818f05cb6b730",
        "type": "ui_group",
        "name": "JSON",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e9b4c45056b279d9",
        "type": "ui_group",
        "name": "Conexiones",
        "tab": "",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "47cafeb47e7a13b8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "9a3b606910a6eaf1",
        "type": "ui_group",
        "name": "Sensores",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "54db386ac53f7585",
        "type": "ui_group",
        "name": "RSSI",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f5e1b99ecd88d4a1",
        "type": "ui_group",
        "name": "Tiempos",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "974ac5f26fbc5eb5",
        "type": "ui_group",
        "name": "Charts",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f649e0c65b69b02b",
        "type": "ui_group",
        "name": "Donuts",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4bf01c9840d7d006",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "9d1f37674539395b",
        "type": "ui_group",
        "name": "Sensores",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8a2efac273258ca7",
        "type": "ui_group",
        "name": "sensores",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fbb82850ff550354",
        "type": "ui_group",
        "name": "Control Leds",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5698e77a761f8b2f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "4f6899d3cd8aa692",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3083bf57649e1421",
        "type": "ui_group",
        "name": "LEDs",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5ce5693d25b80296",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "3734a3fa392993b0",
        "type": "ui_group",
        "name": "Otras medidas",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "411c08ae58afd862",
        "type": "ui_group",
        "name": "Conexión",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7d6a7a3616b9f923",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "852b0f082af7ab23",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fa2cc7cab7faa72b",
        "type": "ui_group",
        "name": "Sensores",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "eebcbec5fb56e116",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "1d79e17858f034fc",
        "type": "ui_group",
        "name": "Humedad",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5356254a36981a77",
        "type": "ui_group",
        "name": "Presion",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "de1b25e91175d319",
        "type": "ui_group",
        "name": "Temperatura media",
        "tab": "",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a798839f70ebf0c0",
        "type": "ui_group",
        "name": "JSON",
        "tab": "",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "aa26d1110d30a366",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "100399afaf685c22",
        "type": "ui_group",
        "name": "Gauge",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0755235d822899fc",
        "type": "ui_group",
        "name": "Chart",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e76b97dc285d41eb",
        "type": "ui_group",
        "name": "Control",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9db68f33c291a698",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "65f7dbf230272602",
        "type": "ui_group",
        "name": "JSON",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "da1dc38b7cfe9028",
        "type": "ui_group",
        "name": "Conexion",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2b07cf6bf89a12b0",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "9fc5bfeb36d5a138",
        "type": "ui_group",
        "name": "Primera sesión",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ea2cc3cdddf81021",
        "type": "ui_group",
        "name": "Leds",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "07bfcab768742450",
        "type": "ui_group",
        "name": "Leds",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7bcb35549829ccd4",
        "type": "ui_group",
        "name": "Leds",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "509e2e3b36d9eeec",
        "type": "ui_group",
        "name": "Sensores",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "43916a736c610b3d",
        "type": "ui_group",
        "name": "ControlLeds",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9d0babe9cd823d30",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "f97ea6f03ec8c2c5",
        "type": "ui_group",
        "name": "SENSORS DATA",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "abbc357aafcddcfe",
        "type": "ui_group",
        "name": "CONTROL LEDS",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "49034d04996d8e8d",
        "type": "ui_group",
        "name": "JSON",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "999ed7177d98bd54",
        "type": "ui_group",
        "name": "Prueba clase",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0c978054e813d2c8",
        "type": "ui_group",
        "name": "JSON",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d44dc1f35419ef2c",
        "type": "ui_group",
        "name": "Conexiones",
        "tab": "",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6b33e4606fa85da7",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "9227cd67b003b8e5",
        "type": "ui_group",
        "name": "Sensores",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6bdaddc9f0e3e206",
        "type": "ui_group",
        "name": "RSSI",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "283fa6e6045aaf66",
        "type": "ui_group",
        "name": "Tiempos",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b559d835bda30d35",
        "type": "ui_group",
        "name": "Charts",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f39ae0f813f30d9b",
        "type": "ui_group",
        "name": "Donuts",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "613cbeda812d52d4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "fca6e797ae6e674a",
        "type": "mongodb",
        "hostname": "127.0.0.1",
        "connectOptions": "",
        "port": "27017",
        "db": "ejercicio",
        "name": ""
    },
    {
        "id": "fe5f3c4731f7c613",
        "type": "ui_group",
        "name": "Registros",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false
    },
    {
        "id": "d60663673acfe668",
        "type": "ui_group",
        "name": "Ejemplo",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "cd16b0fbee092bcc",
        "type": "ui_group",
        "name": "Cantidad de datos",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e31f0a88f017a5a1",
        "type": "ui_group",
        "name": "Filtro Temp",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "eff9102f91030592",
        "type": "ui_group",
        "name": "10 últimos",
        "tab": "",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1adc99cb83d548b7",
        "type": "ui_group",
        "name": "5 últimos min",
        "tab": "",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2b24bd2c6e7e40e7",
        "type": "ui_group",
        "name": "5-15 min",
        "tab": "",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9eb1999215990b37",
        "type": "ui_group",
        "name": "Group 7",
        "tab": "",
        "order": 7,
        "disp": true,
        "width": 6
    },
    {
        "id": "0943c820aa5c41ad",
        "type": "ui_group",
        "name": "Group 3",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": 6
    },
    {
        "id": "62c03664e14844c6",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e3de37ac72a72b81",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "62c03664e14844c6",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "137703e8ddcf4dad",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "cb8d8d19a9e8cecb",
        "type": "ui_group",
        "name": "Filtro Temp",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ae06716f598e9d18",
        "type": "ui_group",
        "name": "5 últimos min",
        "tab": "",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2e209121b0bb7959",
        "type": "ui_group",
        "name": "Group 3",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": 6
    },
    {
        "id": "77229be7c844d830",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "7e7f3fc9f818d890",
        "type": "telegram bot",
        "botname": "minuevobot2020_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "5d97458751b35556",
        "type": "telegram bot",
        "botname": "Tiempo_Inf_Ind_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "b09c85fcd0f6605a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "4a0055c8269b29f7",
        "type": "ui_group",
        "name": "DATOS DE SENSORES",
        "tab": "89aa0579594a4a90",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "264a3044cc588808",
        "type": "ui_group",
        "name": "CONTROL LEDS",
        "tab": "89aa0579594a4a90",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "89aa0579594a4a90",
        "type": "ui_tab",
        "name": "SENSORES",
        "icon": "PRIMER EJEMPLO",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ac83aa9c28e1b4a3",
        "type": "ui_tab",
        "name": "Ejemplo Mongo",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2a34d59e0198f90b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "6fea07de8fa5f872",
        "type": "ui_group",
        "name": "Sensores",
        "tab": "c972aaaf267df0ef",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cbb1824f4ce21905",
        "type": "ui_group",
        "name": "Leds",
        "tab": "c972aaaf267df0ef",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "651ec8ed83b79009",
        "type": "ui_group",
        "name": "Sensores",
        "tab": "5bfdecdd46802e08",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8cdd3d1664d3dced",
        "type": "ui_group",
        "name": "Datos Conexión",
        "tab": "5bfdecdd46802e08",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7ef1000d84fbc7fb",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "8131502ff8e7bf30",
        "type": "ui_group",
        "name": "Luz",
        "tab": "2698f28d46d2cae9",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c972aaaf267df0ef",
        "type": "ui_tab",
        "name": "PRIMER FLUJO",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5bfdecdd46802e08",
        "type": "ui_tab",
        "name": "TAREA JSON I",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2698f28d46d2cae9",
        "type": "ui_tab",
        "name": "TAREA JSON II",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8b372206d395494d",
        "type": "mongodb",
        "hostname": "localhost",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "tiempo",
        "name": ""
    },
    {
        "id": "12c41d0ab7836cd6",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "1ccfbcc5f6b7f540",
        "type": "ui_group",
        "name": "Gauge",
        "tab": "6a98a86c25d3e189",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d433f7e04daea79f",
        "type": "ui_group",
        "name": "Chart",
        "tab": "6a98a86c25d3e189",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "94c7a945e90c6897",
        "type": "ui_group",
        "name": "Control",
        "tab": "6a98a86c25d3e189",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6a98a86c25d3e189",
        "type": "ui_tab",
        "name": "Tarea: Primer Flujo Node-RED",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3078cfa5085a08d6",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "4a489b2e1d611aa5",
        "type": "ui_group",
        "name": "Información JSON",
        "tab": "ff4393c70d87c91e",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e3bfa54199655a6a",
        "type": "ui_group",
        "name": "Datos Conexión",
        "tab": "ff4393c70d87c91e",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ff4393c70d87c91e",
        "type": "ui_tab",
        "name": "Segunda Sesión",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "29fc5b4cc0900cea",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "5e222c3195a47a6d",
        "type": "telegram bot",
        "botname": "minuevobot2020_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "73c4d30481751827",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "ed602ebdbfccf337",
        "type": "ui_group",
        "name": "Sensores",
        "tab": "2a6bd441b5db5916",
        "order": 1,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c266ebe940183779",
        "type": "ui_group",
        "name": "Control led",
        "tab": "2a6bd441b5db5916",
        "order": 1,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2a6bd441b5db5916",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "9a911ef18057b80e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "c5bf9f7613c4a0e8",
        "type": "ui_group",
        "name": "Primera sesión",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d104c54d06893b4f",
        "type": "ui_group",
        "name": "Leds",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5c93cd73264ca809",
        "type": "ui_group",
        "name": "Leds",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "48e168f39221ac75",
        "type": "ui_group",
        "name": "Leds",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8f6e2c09f141e38b",
        "type": "ui_group",
        "name": "Sensores",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "770d64592365b6b0",
        "type": "ui_group",
        "name": "ControlLeds",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "56c1b887ab9b0514",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "9e3fa2060e4778a1",
        "type": "ui_group",
        "name": "SENSORS DATA",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f37fe5d33c26416b",
        "type": "ui_group",
        "name": "CONTROL LEDS",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8adea68023e5b91b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "df8daa3b1c9db4a6",
        "type": "ui_group",
        "name": "Sensores",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7ebe6aad7725c978",
        "type": "ui_group",
        "name": "Control Led",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a746f5c161eed90e",
        "type": "ui_group",
        "name": "Temperaturas",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7365e462554e5df5",
        "type": "ui_group",
        "name": "JSON",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a1f7ec235dc66812",
        "type": "ui_group",
        "name": "Prueba clase",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dbc7c5bb3404be7c",
        "type": "ui_group",
        "name": "JSON",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5e3f9df74d394177",
        "type": "ui_group",
        "name": "Conexiones",
        "tab": "",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "780a9933fef8fd6f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "66347de77674b2d6",
        "type": "ui_group",
        "name": "Sensores",
        "tab": "82b2dc82069dc9c8",
        "order": 1,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "df341dbc6d280aaf",
        "type": "ui_group",
        "name": "RSSI",
        "tab": "86386bcc7c68fdcc",
        "order": 2,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "82b2dc82069dc9c8",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "c9c92e0f81ff4551",
        "type": "ui_tab",
        "name": "Tab 2",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "69bd5a47f48078ec",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "86386bcc7c68fdcc",
        "type": "ui_tab",
        "name": "Tab 3",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bde6f1bb7356a6b3",
        "type": "ui_group",
        "name": "Tiempos",
        "tab": "c9c92e0f81ff4551",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d01a6ced1bb2e74a",
        "type": "ui_tab",
        "name": "Ejemplo Mongo",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "acc88923688867fd",
        "type": "mongodb",
        "hostname": "localhost",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "tiempo",
        "name": ""
    },
    {
        "id": "e0c1bcc9631dbf50",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "4c3777bf92e9f9dc",
        "type": "ui_group",
        "name": "Sensores",
        "tab": "4d29a62d2e76c3aa",
        "order": 1,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "98b77ab4b2c8ccec",
        "type": "ui_group",
        "name": "Control led",
        "tab": "4d29a62d2e76c3aa",
        "order": 1,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4d29a62d2e76c3aa",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "6c2d6980534a82aa",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "62c1cc6a3a209c48",
        "type": "inject",
        "z": "62ad4742b3a82170",
        "name": "start flow",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 91.70001220703125,
        "y": 382.00000381469727,
        "wires": [
            [
                "de44b850244c4959",
                "e00fa8225743e24b"
            ]
        ]
    },
    {
        "id": "420e27686b4f6ae0",
        "type": "xml",
        "z": "62ad4742b3a82170",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 790,
        "y": 660,
        "wires": [
            [
                "b8fcdcae4ce7eeed",
                "1fe590e4eaa745cb",
                "ae5e6396759555dc",
                "2227feb1bb9b279a",
                "786910789ad9f736",
                "ac5411cc837b372a",
                "399ccd8cbeb58a06",
                "c288080f4567622b",
                "4788647e57353636",
                "9ddec2af4028e68e",
                "2b3fdca942dc2a19",
                "0b21577943bf581c",
                "86af10fb9f490ede",
                "6b372b59246fb8b2",
                "ed69c975a9aee704"
            ]
        ]
    },
    {
        "id": "b8fcdcae4ce7eeed",
        "type": "debug",
        "z": "62ad4742b3a82170",
        "name": "whole xml",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1005.0000076293945,
        "y": 231.99999713897705,
        "wires": []
    },
    {
        "id": "1fe590e4eaa745cb",
        "type": "change",
        "z": "62ad4742b3a82170",
        "name": "max. temp today",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.root.prediccion[0].dia[0].temperatura[0].maxima[0]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1037.0000076293945,
        "y": 299.99999809265137,
        "wires": [
            [
                "363dda6467c327e8"
            ]
        ]
    },
    {
        "id": "363dda6467c327e8",
        "type": "debug",
        "z": "62ad4742b3a82170",
        "name": "max. temp today",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1240.0000076293945,
        "y": 299.99999809265137,
        "wires": []
    },
    {
        "id": "ae5e6396759555dc",
        "type": "change",
        "z": "62ad4742b3a82170",
        "name": "max. temp tomorrow",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.root.prediccion[0].dia[1].temperatura[0].maxima[0]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1041.3000030517578,
        "y": 418.00000047683716,
        "wires": [
            [
                "b6a4dbb5441283e2"
            ]
        ]
    },
    {
        "id": "b6a4dbb5441283e2",
        "type": "debug",
        "z": "62ad4742b3a82170",
        "name": "max. temp tomorrow",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1269.300006866455,
        "y": 417,
        "wires": []
    },
    {
        "id": "2227feb1bb9b279a",
        "type": "change",
        "z": "62ad4742b3a82170",
        "name": "min. temp today",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.root.prediccion[0].dia[0].temperatura[0].minima[0]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1025.3000030517578,
        "y": 359,
        "wires": [
            [
                "3b64657bb36a78d7"
            ]
        ]
    },
    {
        "id": "3b64657bb36a78d7",
        "type": "debug",
        "z": "62ad4742b3a82170",
        "name": "min. temp today",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1252.300006866455,
        "y": 360,
        "wires": []
    },
    {
        "id": "786910789ad9f736",
        "type": "change",
        "z": "62ad4742b3a82170",
        "name": "min. temp tomorrow",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.root.prediccion[0].dia[1].temperatura[0].minima[0]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1039.599998474121,
        "y": 472.0000014305115,
        "wires": [
            [
                "04ad29b5eacbe97f"
            ]
        ]
    },
    {
        "id": "04ad29b5eacbe97f",
        "type": "debug",
        "z": "62ad4742b3a82170",
        "name": "min. temp tomorrow",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1263.6000061035156,
        "y": 472.0000014305115,
        "wires": []
    },
    {
        "id": "de44b850244c4959",
        "type": "function",
        "z": "62ad4742b3a82170",
        "name": "Fecha actual",
        "func": "var fecha = new Date(msg.payload);\n\nmsg.payload = fecha.toLocaleString(\"es-ES\",{\"timeZone\":\"Europe/Madrid\"});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 1140,
        "wires": [
            [
                "0caca278253ce6fd",
                "bd6b73ec6b35504d"
            ]
        ]
    },
    {
        "id": "0caca278253ce6fd",
        "type": "debug",
        "z": "62ad4742b3a82170",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 1040,
        "wires": []
    },
    {
        "id": "ac5411cc837b372a",
        "type": "change",
        "z": "62ad4742b3a82170",
        "name": "prob lluvia 6 a 12",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.root.prediccion[0].dia[0].prob_precipitacion[4]._",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 540,
        "wires": [
            [
                "d67000440806a75d",
                "bd6b73ec6b35504d"
            ]
        ]
    },
    {
        "id": "d67000440806a75d",
        "type": "debug",
        "z": "62ad4742b3a82170",
        "name": "prob lluvia proximas 6h",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 540,
        "wires": []
    },
    {
        "id": "399ccd8cbeb58a06",
        "type": "change",
        "z": "62ad4742b3a82170",
        "name": "estado cielo 6 a 12",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.root.prediccion[0].dia[0].estado_cielo[4].$.descripcion",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 600,
        "wires": [
            [
                "c29aec3cae2ef2d8",
                "bd6b73ec6b35504d"
            ]
        ]
    },
    {
        "id": "c29aec3cae2ef2d8",
        "type": "debug",
        "z": "62ad4742b3a82170",
        "name": "estado cielo proximas 6h",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 600,
        "wires": []
    },
    {
        "id": "c288080f4567622b",
        "type": "change",
        "z": "62ad4742b3a82170",
        "name": "prop lluvia tomorrow",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.root.prediccion[0].dia[1].prob_precipitacion[0]._",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 1020,
        "wires": [
            [
                "9d1d9d81d82268a7",
                "bd6b73ec6b35504d"
            ]
        ]
    },
    {
        "id": "9d1d9d81d82268a7",
        "type": "debug",
        "z": "62ad4742b3a82170",
        "name": "prop lluvia tomorrow",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1400,
        "y": 1020,
        "wires": []
    },
    {
        "id": "4788647e57353636",
        "type": "change",
        "z": "62ad4742b3a82170",
        "name": "estado cielo tomorrow",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.root.prediccion[0].dia[1].estado_cielo[0].$.descripcion",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 1080,
        "wires": [
            [
                "cd9591560daedb9f",
                "bd6b73ec6b35504d"
            ]
        ]
    },
    {
        "id": "cd9591560daedb9f",
        "type": "debug",
        "z": "62ad4742b3a82170",
        "name": "estado cielo tomorrow",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1400,
        "y": 1080,
        "wires": []
    },
    {
        "id": "8662d14a180b4ae6",
        "type": "inject",
        "z": "62ad4742b3a82170",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "{ }",
        "payloadType": "json",
        "x": 1510,
        "y": 320,
        "wires": [
            [
                "71f76e7947b0524e"
            ]
        ]
    },
    {
        "id": "e0506332e839ce29",
        "type": "comment",
        "z": "62ad4742b3a82170",
        "name": "borrar una coleccion",
        "info": "inyectar un JSON vacío: {}\nseleccionar \"remove\" en la configuración del nodo mongoDB ",
        "x": 1661.0897674560547,
        "y": 256.99421787261963,
        "wires": []
    },
    {
        "id": "71f76e7947b0524e",
        "type": "mongodb out",
        "z": "62ad4742b3a82170",
        "mongodb": "8b372206d395494d",
        "name": "",
        "collection": "datos_json",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 1800,
        "y": 320,
        "wires": []
    },
    {
        "id": "ab1d105470600704",
        "type": "mongodb out",
        "z": "62ad4742b3a82170",
        "mongodb": "acc88923688867fd",
        "name": "",
        "collection": "datos_json",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 1580,
        "y": 1240,
        "wires": []
    },
    {
        "id": "9ddec2af4028e68e",
        "type": "change",
        "z": "62ad4742b3a82170",
        "name": "prob lluvia 12 a 18",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.root.prediccion[0].dia[0].prob_precipitacion[5]._",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 660,
        "wires": [
            [
                "1cbf809bc2a5812e",
                "bd6b73ec6b35504d"
            ]
        ]
    },
    {
        "id": "1cbf809bc2a5812e",
        "type": "debug",
        "z": "62ad4742b3a82170",
        "name": "prob lluvia proximas 6h",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 660,
        "wires": []
    },
    {
        "id": "2b3fdca942dc2a19",
        "type": "change",
        "z": "62ad4742b3a82170",
        "name": "estado cielo 12 a 18",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.root.prediccion[0].dia[0].estado_cielo[5].$.descripcion",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 720,
        "wires": [
            [
                "4e78a903f645bdf2",
                "bd6b73ec6b35504d"
            ]
        ]
    },
    {
        "id": "4e78a903f645bdf2",
        "type": "debug",
        "z": "62ad4742b3a82170",
        "name": "estado cielo proximas 6h",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 720,
        "wires": []
    },
    {
        "id": "0b21577943bf581c",
        "type": "change",
        "z": "62ad4742b3a82170",
        "name": "prob lluvia 18 a 24",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.root.prediccion[0].dia[0].prob_precipitacion[6]._",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 780,
        "wires": [
            [
                "384e7137a24d3766",
                "bd6b73ec6b35504d"
            ]
        ]
    },
    {
        "id": "384e7137a24d3766",
        "type": "debug",
        "z": "62ad4742b3a82170",
        "name": "prob lluvia proximas 6h",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 780,
        "wires": []
    },
    {
        "id": "86af10fb9f490ede",
        "type": "change",
        "z": "62ad4742b3a82170",
        "name": "estado cielo 18 a 24",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.root.prediccion[0].dia[0].estado_cielo[6].$.descripcion",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 840,
        "wires": [
            [
                "a4c4107d1ac45e26",
                "bd6b73ec6b35504d"
            ]
        ]
    },
    {
        "id": "a4c4107d1ac45e26",
        "type": "debug",
        "z": "62ad4742b3a82170",
        "name": "estado cielo proximas 6h",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 840,
        "wires": []
    },
    {
        "id": "6b372b59246fb8b2",
        "type": "change",
        "z": "62ad4742b3a82170",
        "name": "prob lluvia 0 a 6",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.root.prediccion[0].dia[1].prob_precipitacion[3]._",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 900,
        "wires": [
            [
                "b74ec0672ee94567",
                "bd6b73ec6b35504d"
            ]
        ]
    },
    {
        "id": "b74ec0672ee94567",
        "type": "debug",
        "z": "62ad4742b3a82170",
        "name": "prob lluvia proximas 6h",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 900,
        "wires": []
    },
    {
        "id": "ed69c975a9aee704",
        "type": "change",
        "z": "62ad4742b3a82170",
        "name": "estado cielo 0 a 6",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.root.prediccion[0].dia[1].estado_cielo[3].$.descripcion",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 960,
        "wires": [
            [
                "3ab42734dee352f1",
                "bd6b73ec6b35504d"
            ]
        ]
    },
    {
        "id": "3ab42734dee352f1",
        "type": "debug",
        "z": "62ad4742b3a82170",
        "name": "estado cielo proximas 6h",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 960,
        "wires": []
    },
    {
        "id": "bd6b73ec6b35504d",
        "type": "json",
        "z": "62ad4742b3a82170",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1370,
        "y": 1240,
        "wires": [
            [
                "ab1d105470600704"
            ]
        ]
    },
    {
        "id": "e00fa8225743e24b",
        "type": "http request",
        "z": "62ad4742b3a82170",
        "name": "AEMET http request",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://www.aemet.es/xml/municipios/localidad_29067.xml",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 500,
        "y": 400,
        "wires": [
            [
                "420e27686b4f6ae0"
            ]
        ]
    },
    {
        "id": "7374fcd0a56cc578",
        "type": "function",
        "z": "62ad4742b3a82170",
        "name": "mensaje bienvenida",
        "func": "if(msg.payload.content.substring(0,1)!=\"/\")\n{\n msg.payload.content=\"Hola \" +msg.originalMessage.from.first_name+  \", soy el bot de Informática Industrial. Puedo responderte a estos comandos:\\n/start\\n/consulta\";\n return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 1420,
        "wires": [
            [
                "225154235085a256",
                "fab5bfc312c799d9"
            ]
        ]
    },
    {
        "id": "ab2550743a91da07",
        "type": "mongodb in",
        "z": "62ad4742b3a82170",
        "mongodb": "8b372206d395494d",
        "name": "",
        "collection": "datos_json",
        "operation": "find",
        "x": 982.2073822021484,
        "y": 1514.8522872924805,
        "wires": [
            [
                "4a6d8fe1731c8951",
                "ecaf0367aa9adbbc"
            ]
        ]
    },
    {
        "id": "4a6d8fe1731c8951",
        "type": "function",
        "z": "62ad4742b3a82170",
        "name": "mensaje respuesta",
        "func": "var fecha=msg.payload[10].payload;\nvar hora = parseInt(fecha.slice(-8,-6));\nvar intervalo;\nvar PropLluviaHoy;\nvar Est_Hoy;\n\nif (hora>=0 && hora<6) {\nintervalo=\"(6h-12h)\";\nPropLluviaHoy=msg.payload[9].payload\nEst_Hoy=msg.payload[8].payload;\n}\nelse if (hora>=6 && hora<12) {\nintervalo=\"(12h-18h)\";\nPropLluviaHoy=msg.payload[7].payload\nEst_Hoy=msg.payload[6].payload;\n}\nelse if (hora>=12 && hora<18) {\nintervalo=\"(18h-24h)\";\nPropLluviaHoy=msg.payload[5].payload\nEst_Hoy=msg.payload[4].payload;\n}\nelse if (hora>=18 && hora<24) {\nintervalo=\"(0h-6h)\";\nPropLluviaHoy=msg.payload[3].payload\nEst_Hoy=msg.payload[2].payload;\n}\n\nvar PropLluviaTmrr=msg.payload[1].payload;\nvar Est_Tmrr=msg.payload[0].payload;\n\nmsg.payload=msg.mensaje;\n\nmsg.payload.content=\"Según la AEMET la predicción para las próximas horas \"+intervalo+\" es de cielo \"+Est_Hoy+\" y probabilidad de lluvia de \"+PropLluviaHoy+\"%. Mañana la previsión es de cielo \"+Est_Tmrr+\" y probabilidad de lluvia de \"+PropLluviaTmrr+\"%.\\nPredicción elaborada: \"+fecha;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250.2074127197266,
        "y": 1514.8522872924805,
        "wires": [
            [
                "8f5901b746ea9685",
                "225154235085a256"
            ]
        ]
    },
    {
        "id": "8f5901b746ea9685",
        "type": "debug",
        "z": "62ad4742b3a82170",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1510.2074127197266,
        "y": 1514.8522872924805,
        "wires": []
    },
    {
        "id": "edff48b2b8f6eafe",
        "type": "telegram receiver",
        "z": "62ad4742b3a82170",
        "name": "",
        "bot": "5d97458751b35556",
        "saveDataDir": "",
        "filterCommands": true,
        "x": 530.2074127197266,
        "y": 1334.8522872924805,
        "wires": [
            [
                "7374fcd0a56cc578",
                "a7da0771ca34bc25"
            ],
            []
        ]
    },
    {
        "id": "3f7545552d1a6405",
        "type": "telegram command",
        "z": "62ad4742b3a82170",
        "name": "",
        "command": "/consulta",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "5d97458751b35556",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 500.20741271972656,
        "y": 1514.8522872924805,
        "wires": [
            [
                "b07ff78ddc3779fe"
            ],
            []
        ]
    },
    {
        "id": "e28fa0cc6d00a909",
        "type": "telegram command",
        "z": "62ad4742b3a82170",
        "name": "",
        "command": "/start",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "5d97458751b35556",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 490.20741271972656,
        "y": 1434.8522872924805,
        "wires": [
            [
                "7374fcd0a56cc578"
            ],
            []
        ]
    },
    {
        "id": "225154235085a256",
        "type": "telegram sender",
        "z": "62ad4742b3a82170",
        "name": "",
        "bot": "5d97458751b35556",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1330.2074127197266,
        "y": 1374.8522872924805,
        "wires": [
            []
        ]
    },
    {
        "id": "fab5bfc312c799d9",
        "type": "debug",
        "z": "62ad4742b3a82170",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1050.2074127197266,
        "y": 1294.8522872924805,
        "wires": []
    },
    {
        "id": "a7da0771ca34bc25",
        "type": "debug",
        "z": "62ad4742b3a82170",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 730.2074127197266,
        "y": 1314.8522872924805,
        "wires": []
    },
    {
        "id": "ecaf0367aa9adbbc",
        "type": "debug",
        "z": "62ad4742b3a82170",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1210.2074127197266,
        "y": 1594.8522872924805,
        "wires": []
    },
    {
        "id": "b07ff78ddc3779fe",
        "type": "function",
        "z": "62ad4742b3a82170",
        "name": "ultimo registro",
        "func": "msg.mensaje=msg.payload;\nmsg.limit=11;\nmsg.sort={\"_id\":-1};\nmsg.payload={};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700.2074127197266,
        "y": 1514.8522872924805,
        "wires": [
            [
                "ab2550743a91da07"
            ]
        ]
    },
    {
        "id": "4d5b5c9ee3319750",
        "type": "mongodb in",
        "z": "62ad4742b3a82170",
        "mongodb": "8b372206d395494d",
        "name": "",
        "collection": "datos_json",
        "operation": "find",
        "x": 1780,
        "y": 420,
        "wires": [
            [
                "2ee5303d0f28052c"
            ]
        ]
    },
    {
        "id": "fc9c538cd832fe8b",
        "type": "inject",
        "z": "62ad4742b3a82170",
        "name": "comprobar",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 1560,
        "y": 420,
        "wires": [
            [
                "4d5b5c9ee3319750"
            ]
        ]
    },
    {
        "id": "2ee5303d0f28052c",
        "type": "debug",
        "z": "62ad4742b3a82170",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2030,
        "y": 420,
        "wires": []
    },
    {
        "id": "cbd610b78a1a4dbb",
        "type": "comment",
        "z": "62ad4742b3a82170",
        "name": "comprobar una coleccion",
        "info": "",
        "x": 1730,
        "y": 380,
        "wires": []
    }
]